<div  id="offer-settings">
    <div class="row-fluid">
        <div class="form-group col-xs-6 span6">
            <label for="offerCode"><localize key="merchelloMarketing_offerCode" /> <small><localize key="merchelloMarketing_mustUniqueOfferCode" /></small></label>
            <input id="offerCode" data-ng-required="true" name="offerCode" required type="text" class="form-control col-xs-8 span8" data-ng-model="offer.offerCode" placeholder="eg. 10OFF" />
        </div>
    </div>
    <div class="row-fluid">
        <div class="form-group col-xs-6 span6">
            <label class="label-checkbox"><input name="expires" type="checkbox" data-ng-model="offer.offerExpires" data-ng-click="toggleOfferExpires()"> <span><localize key="merchelloMarketing_offerSetExpires" /></span></label>
        </div>
        <div class="form-group col-xs-6 span6">
            <label class="label-checkbox"><input name="expires" type="checkbox" data-ng-model="offer.active" data-ng-disabled="!offer.hasRewards() || !offer.componentsConfigured()"> <span>This offer is active</span></label>
            <div class="well well-active" data-ng-show="!offer.hasRewards() || !offer.isConfigured()">
                <strong>To set active:</strong> Assign and configure rewards and any constraints.
            </div>
        </div>
    </div>

    <merchello-slide-open-panel hide-close="true" is-open="offer.offerExpires">
    <div class="row-fluid date-settings">
        <label><localize key="merchelloMarketing_offerValidDates"></localize><small><localize key="merchelloMarketing_offerValidDatesInfo"></localize></small></label>
        <filter-by-date-range filter-start-date="offer.offerStartsDate" filter-end-date="offer.offerEndsDate" hide-dates-label="true" hide-filter-button="true"></filter-by-date-range>
    </div>
    </merchello-slide-open-panel>
</div>