<div class="row-fluid">
    <div class="form-group col-xs-6 span6">
        <label for="sku"><localize key="merchelloMarketing_offerCode" /> <small><localize key="merchelloMarketing_mustUniqueOfferCode" /></small></label>
        <input id="sku" data-ng-required="true" name="offerCode" required type="text" class="form-control col-xs-8 span8" data-ng-model="offer.offerCode" placeholder="eg. 10OFF" />
    </div>

    <div class="form-group col-xs-6 span6">
       <!-- <label for="barcode"><localize key="merchelloVariant_barcode" /> <small><localize key="merchelloVariant_barcodeExamples" /></small></label>
        <input id="barcode" name="barcode" type="text" class="form-control col-xs-8 span8" data-ng-model="productVariant.barcode" />
        -->
    </div>
</div>
