@inherits Umbraco.Web.Mvc.UmbracoViewPage<ContentModels.Catalog>
@using System.Web.Mvc.Html
@using Merchello.Web.Models.Ui.Rendering
@using ContentModels = Umbraco.Web.PublishedContentModels;
@{
    Layout = "Master.cshtml";

    var title = Model.Categories == null ? Model.Name : Model.Categories.Name;
    var categories = Model.Categories != null ? Model.Categories.Children().ToArray() : Enumerable.Empty<ProductCollection>();
}

@Html.Partial("_Headline")

<h3>@title</h3>

@foreach (var cat in categories)
{
    <div>
        <h4>@cat.Name</h4>
        <div class="row">
            @foreach (var p in cat.GetProducts(1, 3))
            {
                <div class="col-md-4">
                    @Html.Partial("_ProductBox", p)
                </div>
            }
        </div>
    </div>
}


