@inherits Merchello.Web.Mvc.MerchelloTemplatePage
@using Merchello.FastTrack.Ui
@using Merchello.Web
@{
    Layout = "Master.cshtml";
}

<div class="hk_order">
    <div class="row hk_category_specs">
        <div class="col-md-12">
            <h2 class="hk_shop"> Order</h2>
        </div>
    </div>
</div>
@if (Model.Content.HasProperty("brief") && Model.Content.HasValue("brief"))
{
    @Umbraco.Field("brief")
}
@Html.Partial("_ShoppingCart")

