@using System.Web.Mvc.Html
@using Merchello.Web
@using Merchello.Web.Search
@inherits Umbraco.Web.Mvc.UmbracoViewPage<FtCategory>
@{
	Layout = "FastTrack.cshtml";
}

@Html.Partial("_Headline")

<div class="container-fluid">
    @Html.Partial("_ProductBoxList", Model.Products)
</div>
