@inherits Umbraco.Web.Mvc.UmbracoTemplatePage<FtChangePassword>
@{
	Layout = "FastTrack.cshtml";
}
@Html.Partial("_Headline")
<div class="row">
    <div class="col-md-6">
        @Html.Action("ChangePasswordForm", "CustomerMembership", new { area = "FastTrack" })
    </div>
</div>