@inherits Umbraco.Web.Mvc.UmbracoTemplatePage<FtForgotPassword>
@{
    Layout = "Master.cshtml";

    Merchello.Web.Store.Models.StoreViewData viewdata = null;
    if (ViewData.ContainsKey("MerchelloViewData"))
    {
        viewdata = (Merchello.Web.Store.Models.StoreViewData)ViewData["MerchelloViewData"];
    }
}

@if (viewdata != null && viewdata.Success == true)
{
    <div class="row hk_account_forms">
        <div class="col-md-6">
            @(string.Join("<br />", viewdata.Messages.ToArray()))
        </div>
    </div>
}
else
{
    <div class="row hk_account_forms">
        <div class="col-md-6">
            @Html.Action("ForgotPasswordForm", "CustomerMembership", new { area = "FastTrack" })
        </div>
    </div>
}

