@inherits Umbraco.Web.Mvc.UmbracoTemplatePage<FtLogin>
@using ContentModels = Umbraco.Web.PublishedContentModels;
@{
	Layout = "Master.cshtml";
}
<div class="row hk_account_forms">
    <div class="col-md-6">
    	
                @Html.Action("LoginForm", "CustomerMembership", new { area = "FastTrack" })
    </div>
    <div class="col-md-6">
                @Html.Action("RegisterForm", "CustomerMembership", new { area = "FastTrack" })
    </div>
</div>
