@using Merchello.Core
@inherits Umbraco.Web.Mvc.UmbracoViewPage<FtStore>
@{
	Layout = "Master.cshtml";

}
@**@
<div class="jumbotron">
    <h1>@Model.Headline</h1>
    @Html.Raw(Model.Brief)
</div>


@if (Model.FeaturedProducts.Any())
{
    <section id="categories" class="container hk_categories">
        <div class="hk_page-header hk_highlighted">
            <h2>highlighted</h2>
        </div>
        @foreach (var row in Model.FeaturedProducts.ToArray().Split(4))
        {
            <div class="row">
                @foreach (var fp in row)
                {
                    <div class="col-xs-3 col-xl-3 col-md-3 col-sm-6 ">
                        @Html.Partial("_ProductBox", fp)
                    </div>
                }
            </div>
        }

    </section>
}