@inherits Merchello.Web.Mvc.MerchelloTemplatePage
@{
	Layout = "Checkout.cshtml";
}
<div class="row">

    <div class="col-md-6" data-muitarget="checkoutaddresses">
       @RenderBody()
    </div>

    <div class="col-md-6">
        @Html.Action("BasketSummary", "CheckoutSummary", new { area = "FastTrack"})
    </div>

</div>