@inherits Merchello.Web.Mvc.MerchelloViewPage<ContentModels.Tests>
@using Merchello.Core
@using Merchello.Core.Models
@using Merchello.Web
@using ContentModels = Umbraco.Web.PublishedContentModels;
@{
    Layout = null;

    var discount = new ItemCacheLineItem(LineItemType.Discount, "Test discount", "manual", 1, 2, new ExtendedDataCollection());
    CurrentCustomer.Basket().AddItem(discount);
}

<span>Manually added test coupon</span>