.active, .active td, .active:hover, .active td:hover { background-color: #f0f9ee; }

.well h3 { margin: 0; }
.well h4 { margin-bottom: 5px; }
.well .add { margin-bottom: 20px; }

blockquote p { font-size: 1em; line-height: 1.5em; }
blockquote + cite { margin-left: 20px; font-style: italic; }
blockquote + cite:before { content: '-'; }

.closed { opacity: 0; max-height: 0; overflow: hidden; -webkit-transition: all 0.5s ease; -moz-transition: all 0.5s ease; -ms-transition: all 0.5s ease; -o-transition: all 0.5s ease; transition: all 0.5s ease; }
.closed.control-group { margin-bottom: 0 !important; padding-bottom: 0; border-bottom: solid 1px #fff; }
.closed.well { padding: 0; margin-bottom: 0; min-height: 0; }

.open { opacity: 1; max-height: 99999px; -webkit-transition: all 0.5s ease; -moz-transition: all 0.5s ease; -ms-transition: all 0.5s ease; -o-transition: all 0.5s ease; transition: all 0.5s ease; }
.open.control-group { padding-bottom: 30px; margin-bottom: 25px !important; border-bottom: 1px solid #f8f8f8; }
.open.well { padding: 19px; margin-bottom: 20px; }

.row-fluid { -moz-box-sizing: border-box; -webkit-box-sizing: border-box; -ms-box-sizing: border-box; -o-box-sizing: border-box; box-sizing: border-box; }

p.span3 { vertical-align: middle; }

.dropdown-menu { width: 100%; }
.dropdown-menu .header { padding: 3px 20px; cursor: auto; }
.dropdown-menu > li > a { color: #049cdb; }

p.warning { color: #f57020; }

.umb-panel-header h1.umb-headline:hover { border-bottom: none; }

.break { padding: 0 10px; height: 30px; line-height: 30px; display: inline-block; float: left; }

.merchello-panel-body { position: absolute; top: 101px; bottom: 0; left: 0; right: 0; width: 100%; clear: both; overflow: auto; }
.merchello-panel-body a { color: #049cdb; }
.merchello-panel-body .btn { color: #000; }
.merchello-panel-body .btn-primary { color: #fff; }
.merchello-panel-body .label { font-size: 1em; line-height: 20px; text-shadow: none; }
.merchello-panel-body .label-success { background: #8ecf7f; }
.merchello-panel-body .label-warning { background: #f9af82; }
.merchello-panel-body .label-info { background: #8cd0ec; }
.merchello-panel-body .icon-loading:before { font-size: 1.15em; vertical-align: top; padding-top: 1px; }

.merchello-pane { padding: 30px 20px; }
.merchello-pane.row-fluid { -moz-box-sizing: border-box; -webkit-box-sizing: border-box; -ms-box-sizing: border-box; -o-box-sizing: border-box; box-sizing: border-box; }
.merchello-pane div.warning { padding: 30px 20px; margin-bottom: 20px; background: #feede3; border: solid 1px #f57020; color: #f57020; }

.merchello-controls { margin-left: 240px; padding-top: 5px; -moz-box-sizing: border-box; -webkit-box-sizing: border-box; -ms-box-sizing: border-box; -o-box-sizing: border-box; box-sizing: border-box; width: auto; }
.merchello-controls label small { padding-top: 0; }

.merchello-control-label, .merchello-section-label { text-align: left; float: left; padding-top: 8px; width: 160px; }
.merchello-control-label small, .merchello-section-label small { display: block; color: #b3b3b3; padding-top: 5px; padding-bottom: 10px; font-size: 11px; line-height: 13px; }

.control-group { overflow: hidden; -moz-box-sizing: border-box; -webkit-box-sizing: border-box; -ms-box-sizing: border-box; -o-box-sizing: border-box; box-sizing: border-box; }

*[class*="icon"].large { font-size: 2.5em; float: left; display: inline-block; margin-right: 10px; line-height: .8em; }
*[class*="icon"].large + p { display: inline-block; width: 90%; }

.reorder { margin: 0; list-style-type: none; }
.reorder li { margin-bottom: 0; padding-top: 10px; border-top: solid 1px #e3e3e3; overflow: hidden; }
.reorder li:first-child { border-top: none; }

table.merchello-selectable-table tr td { cursor: pointer; }

.merchello-striped-table i { font-size: 1.7em; }

.active td { border-top: solid 1px #cfebc9; }

.table-hover tbody .active:hover > td, .table-hover tbody .active td:hover > td, .active .table-hover tbody td:hover > td { background-color: #e0f2dc; }

.table .text-right { text-align: right; }
.table th { border-top: none; }

table.sortable th { cursor: pointer; }
table.sortable th.sorted { font-color: #f57020; }
table.sortable th.sorted.desc { font-style: italic; }

td.name { width: 45%; }

.order-items tr:last-of-type td, .customer-orders tr:last-of-type td { font-weight: bold; }

.order-items ul { margin: 0; padding: 0; list-style-type: none; }
.order-items li { display: inline-block; margin: 0; padding: 0; }
.order-items li:before { content: '|'; padding-right: 5px; }
.order-items li:first-child::before { content: ''; padding-right: 0; }
.order-items a { font-size: 1.2em; }
.order-items input[type="checkbox"] { margin-top: 2px; }

.product-options td:first-of-type, .product-options th:first-of-type { width: 30%; }
.product-options input[type="text"] { margin-bottom: 0; }
.product-options small { display: block; color: #999; font-size: 11px; }

.settings-table th:last-of-type, .settings-table td:last-of-type { width: 123px; padding-right: 0; }

.adjustment-table td:first-child { width: 55%; }

.shipping-table td:first-child { width: 30%; }
.shipping-table td:nth-child(3) { width: 20%; }
.shipping-table td:nth-child(4) { width: 10%; }

td.edit { text-align: center; }
td.edit .btn { display: inline-block; margin: 0 auto; }

td.adr, td.org { display: table-cell; }

input[type="radio"], input[type="checkbox"] { margin-top: -2px; }
td input[type="radio"], td input[type="checkbox"] { margin-top: 2px; }
input[type="radio"][disabled="disabled"] + span, input[type="checkbox"][disabled="disabled"] + span { color: #CCCCCC; font-style: italic; }

.input-append .add-on, .input-prepend .add-on { background: #ececec; }

.label-checkbox { margin: 5px 0; }

.form-horizontal .controls { padding-top: 6px; }
.form-horizontal .controls[class*="span"]:first-child { margin-left: 180px; }
.form-horizontal .form-control { padding: 1px 5px; border: solid 1px #ccc; }

.edit-address form { margin: 0; }
.edit-address .controls-row { margin-left: 0 !important; }
.edit-address input, .edit-address select { margin-top: 10px; }
.edit-address a { margin-top: 20px; }

.radio-group + .open { margin-top: 1.5em; }

.country-dropdown .btn { height: 30px; }

.dropdown-list .options { background: white; border: solid 1px #ccc; list-style-type: none; }
.dropdown-list .options li { line-height: 30px; font-size: 14px; }
.dropdown-list .options a { cursor: pointer; display: block; padding: 0 10px; }
.dropdown-list .options a:hover { background: #e4e4e4; color: black; }

.tags { display: inline-block; width: 48%; vertical-align: top; float: right; }
.tags .tag { display: inline-block; border-radius: 6px; background-color: #afdda4; border: 1px solid #53a93f; color: green; padding: 3px 5px; margin: 0 10px 5px 0; cursor: pointer; }
.tags .tag:hover { color: #f57020; text-decoration: none; border-color: #f57020; background: #fcceb2; }
.tags .tag:after { content: "\e1a4"; padding-left: 5px; font-family: 'icomoon'; line-height: 20px; vertical-align: top; }
.tags + input[type="text"] { width: 30%; }

.vcard .photo { border: solid 3px #53a93f; max-width: 30%; }
.vcard .pull-right { margin-top: 24px; line-height: 15px; }

.org, .street-address, .extended-address, .country-name, .email { display: block; }

.adr { display: block; margin-bottom: 1em; }

.date-time { display: block; margin-left: 20px; color: #b3b3b3; font-variant: small-caps; }

.notes { margin: 0; padding: 0; list-style-type: none; }
.notes li { padding-top: 30px; margin-top: 20px; border-top: dashed 1px #dfdfdf; }
.notes li:first-child { margin-top: 0; padding-top: 0; border-top: none; }
.notes #new { color: #f78f51; }
.notes #new blockquote { border-left-color: #f57020; }
.notes #new .date-time { color: #f9af82; }

.customer-details ul { margin: 0; padding: 0; list-style-type: none; }

.gravatar { margin-bottom: 10px; color: #53a93f; }
.gravatar *[class*="span"] { float: none; display: inline-block; vertical-align: middle; }
.gravatar .span3 { width: 23%; }
.gravatar .span7 { padding-left: 2%; }
.gravatar img { border: solid 3px #53a93f; }

.bar-graph li { display: inline-block; margin-right: .8%; text-align: center; color: #d9d9d9; margin-left: -4px; }
.bar-graph li:last-child { margin-right: 0; }
.bar-graph li:first-child { margin-left: 0; }
.graph li { height: 5px; overflow: hidden; text-indent: -9999em; background: #d9d9d9; cursor: pointer; vertical-align: bottom; }
.graph li:hover { background: #f8f8f8; }
.day li { width: 3.4%; }
.week li { width: 13.6%; }
.month li { width: 2.5%; }
.ninety li { width: .81%; margin-right: .3%; overflow: hidden; text-indent: -9999em; }
.ninety .key li:nth-child(5n), .ninety .key li:first-child { text-indent: 0; overflow: visible; }

.bar-graph ol { margin-left: 0; margin-bottom: 10px; padding-bottom: 10px; }
.bar-graph .graph { border-bottom: solid 1px #d9d9d9; }
.bar-graph .mid { background: #8cd0ec; }
.bar-graph .high { background: #8ecf7f; }
.bar-graph .low { background: #f9af82; }

@media screen and (max-width: 88em) { .day li { margin-right: .8%; }
  .month li { margin-right: .8%; }
  .ninety li { margin-right: .3%; } }
