
//Umbraco Sections
.sections img { max-width: 40%; }

//Main Sections
.merchello-panel-body { position: absolute; top: 101px; bottom: 0; left: 0; right: 0; width: 100%; clear: both; overflow: auto; }

.merchello-pane { margin: 30px 20px; }

.merchello-controls { margin-left: 240px; padding-top: 5px; }

.merchello-control-label { text-align: left; float: left; padding-top: 8px; width: 160px; }

//Tables
table.merchello-selectable-table {
    tr {
        td { cursor: pointer; }
    }
}

//Forms
.form-horizontal { 
    .controls { padding-top: 6px; }
}