.active, .active td, .active:hover, .active td:hover {
  background-color: #f0f9ee;
  border-top: solid 1px #cfebc9; }

.well a {
  color: #53a93f; }
.well .btn {
  color: #fff; }

.merchello-panel-body {
  position: absolute;
  top: 101px;
  bottom: 0;
  left: 0;
  right: 0;
  width: 100%;
  clear: both;
  overflow: auto; }

.merchello-pane {
  margin: 30px 20px; }

.merchello-controls {
  margin-left: 240px;
  padding-top: 5px; }

.merchello-control-label {
  text-align: left;
  float: left;
  padding-top: 8px;
  width: 160px; }

table.merchello-selectable-table tr td {
  cursor: pointer; }

.table-hover tbody .active:hover > td, .table-hover tbody .active td:hover > td, .active .table-hover tbody td:hover > td {
  background-color: #e0f2dc; }

.add {
  margin-bottom: 20px; }

input[type="radio"], input[type="checkbox"] {
  margin-top: -2px; }

.input-append .add-on, .input-prepend .add-on {
  height: 14px;
  line-height: 14px;
  background: #ececec; }

.label-checkbox {
  margin: 5px 0; }

.form-horizontal .controls {
  padding-top: 6px; }
.form-horizontal .form-control {
  padding: 1px 5px;
  border: solid 1px #ccc; }

.tags {
  margin: 10px 0; }
  .tags .tag {
    border-radius: 6px;
    background-color: #EFEFEF;
    border: 1px solid #DDD;
    padding: 5px;
    margin-right: 10px; }
    .tags .tag:hover {
      color: red;
      text-decoration: none; }

