<div data-ng-show="providersLoaded">
    <div class="merchello-section-label">
        <h4>
            {{country.name}}
            <!-- ACTION: Delete Country -->
            <a data-ng-click="deleteCountry()" class="btn btn-default btn-trash btn-xs btn-mini pull-right"><i class="icon-trash"></i></a>
        </h4>
        <!-- ACTION: Add Shipping Provider to Country -->
        <a data-ng-click="addShippingProviderDialogOpen()" data-ng-show="availableProviders.length > 0"><i class="icon-add"></i> Add Provider</a><br /><br />
    </div>
    <!-- Shipping Provider -->
    <div class="merchello-controls" data-ng-repeat="shippingGatewayProvider in assignedProviders" class="merchello-shipping-gateway-provider">
        <h5 class="row-fluid col-xs-12 span12">
            {{shippingGatewayProvider.name}}
            <!-- ACTION: Add Shipping Method to Provider -->
            <a data-ng-click="addAddShipMethodDialogOpen(shippingGatewayProvider)" class="pull-right"><i class="icon-add"></i> Add Method</a>
        </h5>
        <!-- Shipping Methods -->
        <table class="table table-striped merchello-striped-table settings-table shipping-table">
            <tbody>
            <tr data-ng-repeat="gatewayMethod in shippingGatewayProvider.shippingGatewayMethods">
                <td>{{gatewayMethod.shipMethod.name}}</td>
                <td></td>
                <td></td>
                <td class="edit">
                    <div class="btn-group">
                        <!-- ACTION: Edit Method's Province Rates -->
                        <a class="btn btn-default btn-action btn-xs btn-mini" data-ng-show="country.provinces.length > 0" data-ng-click="editShippingMethodRegionsOpen(gatewayMethod)"><i class="icon-globe-alt"></i></a>
                        <!-- ACTION: Edit Shipping Method -->
                        <a class="btn btn-default btn-action btn-xs btn-mini" data-ng-show="gatewayMethod.dialogEditorView.editorView !== ''" data-ng-click="editShippingMethodDialogOpen(gatewayMethod)"><i class="icon-edit"></i></a>
                        <!-- ACTION: Remove Shipping Method -->
                        <a data-ng-click="deleteShipMethodOpen(gatewayMethod.shipMethod)" class="btn btn-warning btn-trash btn-xs btn-mini"><i class="icon-trash"></i></a>
                    </div>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
</div>