<merchello enableLogging="false" defaultCountryCode="US" version="0.9.1">

    <typeFieldDefinitions>

        <!-- valid elements

        <customerAddress>
            <type alias="Custom" descriptiveName="Custom" typeKey="A9C5D25C-C825-49F7-B532-14202B8EE61C" />
        </customerAddress>

        <basket />
        <shipMethod />
        <invoiceItem/>
        <paymentMethod/>
        <product />
        
        -->
        
    </typeFieldDefinitions>
</merchello>
