<merchello enableLogging="false" defaultCountryCode="US" version="0.9.4">
  <settings>
    <setting alias="DefaultApplyPaymentStrategy"  value="Merchello.Core.Strategies.Payment.PaymentApplicationStrategy, Merchello.Core" />
    <setting alias="DefaultSkuSeparator" value="-" />
  </settings>
  <typeFieldDefinitions /> 
</merchello>