<div class="umb-panel merchello-side-panel" ng-controller="Merchello.Sales.Dialogs.InvoiceHeaderController" data-ng-show="loaded">
    <div class="umb-modalcolumn-header">
        <h4><localize key="merchelloSales_invoice" /></h4>
    </div>

    <div class="umb-panel-body with-header with-footer">
        <div class="control-group row-fluid">
            <div class="form-group">
                <label><localize key="merchelloSales_invoiceNumberPrefix" /></label>
                <input type="text" data-ng-model="dialogData.invoice.invoiceNumberPrefix" class="col-xs-6 span6" />
            </div>
        </div>
        <div class="control-group row-fluid">
            <div class="form-group">
                <label><localize key="merchelloSales_poNumber" /></label>
                <input type="text" data-ng-model="dialogData.invoice.poNumber" class="col-xs-6 span6" />
            </div>
        </div>
    </div>

    <div class="umb-panel-footer" >
        <div class="umb-el-wrap umb-panel-buttons">
            <div class="btn-toolbar umb-btn-toolbar pull-right">

                <a href data-ng-click="close()" class="btn btn-link">
                    <localize key="general_cancel">Cancel</localize>
                </a>

                <button class="btn btn-primary"
                        data-ng-click="submit(dialogData)">
                    <localize key="buttons_save">Save</localize>
                </button>
            </div>
        </div>
    </div>
</div>