<div class="umb-panel merchello-side-panel" ng-controller="Merchello.Sales.Dialogs.EditShipmentController" data-ng-show="loaded">
    <div class="umb-overlay umb-overlay-right">
        <div class="umb-overlay__form">

            <div class="umb-overlay-header">
                <h4 class="umb-overlay__title"><localize key="general_edit" /> <localize key="merchelloGeneral_shipment" /></h4>
            </div>

            <div class="umb-overlay-container form-horizontal merchello-panel-body">




                <div class="form-group control-group">
                    <label for="carrier"><localize key="merchelloShipping_carrier" /></label>
                    <input name="carrier" data-ng-model="dialogData.shipment.carrier" type="text" class="col-xs-6 span6" />
                </div>
                <div class="form-group control-group">
                    <label for="trackingNo"><localize key="merchelloGeneral_trackingNumber" />:</label>
                    <input name="trackingNo" data-ng-model="dialogData.shipment.trackingCode" type="text" class="col-xs-6 span6" />
                </div>
                <div class="form-group control-group">
                    <label for="trackingUrl"><localize key="merchelloGeneral_trackingUrl" /></label>
                    <input name="trackingNo" data-ng-model="dialogData.shipment.trackingUrl" type="text" class="col-xs-6 span6" />
                </div>
                <div class="form-group control-group">
                    <label><localize key="merchelloShipping_shipmentStatus">Shipment Status</localize></label>
                    <select name="status" class="col-xs-6 span6" data-ng-model="dialogData.shipment.shipmentStatus" data-ng-options="option.name for option in dialogData.shipmentStatuses"></select>
                </div>
                <div class="merchello-list-view">
                    
                    <div class="umb-table">
                        <div class="umb-table-head">
                            <div class="umb-table-row">
                                <div class="umb-table-cell"><localize key="general_add" /></div>
                                <div class="umb-table-cell umb-table__name umb-table__name__large"><localize key="merchelloVariant_product" /></div>
                                <div class="umb-table-cell"><localize key="merchelloGeneral_quantity" /></div>
                            </div>
                            <div class="umb-table-body">
                                <div class="umb-table-row" data-ng-repeat="lineitem in dialogData.shipment.items">
                                    <div class="umb-table-cell"><input type="checkbox" data-ng-model="lineitem.selected" data-ng-disabled="checkboxDisabled()" /></div>
                                    <div class="umb-table-cell umb-table__name umb-table__name__large">
                                        <div class="unflexed">
                                            {{lineitem.name}}
                                            <small><localize key="merchelloGeneral_sku" />: {{lineitem.sku}}</small>
                                        </div>
                                    </div>
                                    <div class="umb-table-cell">{{lineitem.quantity}}</div>
                                </div>
                            </div>
                        </div>
                    </div>

                </div>
            </div>

            <div class="umb-overlay-drawer">
                <div class="umb-overlay-drawer__align-right">

                    <div class="umb-button">
                        <a href data-ng-click="close()" class="btn btn-link">
                            <localize key="general_cancel"></localize>
                        </a>
                    </div>

                    <div class="umb-button">
                        <button class="btn btn-success" data-ng-click="save()">
                            <localize key="buttons_save" /> <localize key="merchelloGeneral_shipment" />
                        </button>
                    </div>

                </div>
            </div>
        </div>
    </div>
</div>

