<div class="umb-panel merchello-side-panel merchello" ng-controller="Merchello.Sales.Dialogs.ManageAdjustmentsController">

    <div class="umb-overlay umb-overlay-right">
        <div class="umb-overlay__form">

            <div class="umb-overlay-header">
                <h4 class="umb-overlay__title"><localize key="merchelloSales_manageAdjustments">Manage Adjustments</localize></h4>
            </div>

            <div class="umb-overlay-container form-horizontal merchello-panel-body">

                <h5><localize key="merchelloOrder_sales" /> / <localize key="merchelloOrderView_invoiceNumber" />{{ invoiceNumber }}</h5>
                <!--<invoice-itemization-table invoice="dialogData.invoice" payment-methods="dialogData.paymentMethods" pre-values-loaded="preValuesLoaded" all-payments="dialogData.allPayments" payments="dialogData.payments" currency-symbol="dialogData.currencySymbol"></invoice-itemization-table>-->

                <h4><localize key="merchelloSales_adjustments"></localize></h4>
                <table class="table table-striped adjustment-table">
                    <thead>
                        <tr>
                            <th><localize key="merchelloSales_tblPaymentsDescription">Description</localize></th>
                            <th class="text-right"><localize key="merchelloSales_tblPaymentsAmount">Amount</localize></th>
                            <th></th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr data-ng-show="adjustments.length > 0" data-ng-repeat="item in adjustments">

                            <td>{{item.name}}</td>
                            <td>
                                <span data-ng-show="item.price < 0">({{item.absPrice() | currency : dialogData.currencySymbol}})</span>
                                <span data-ng-show="item.price >= 0">{{item.absPrice() | currency : dialogData.currencySymbol}}</span>
                            </td>
                            <td class="text-right">
                                <merchello-delete-icon do-delete="deleteAdjustment(item)"></merchello-delete-icon>
                            </td>
                        </tr>
                        <tr data-ng-show="adjustments.length === 0">
                            <td colspan="3">
                                <p>
                                    <localize key="content_listViewNoItems">There are no items show in the list.</localize>
                                </p>
                            </td>
                        </tr>
                    </tbody>
                </table>

                <div class="well">
                    
                    <h4><localize key="merchelloSales_addAdjustment"></localize></h4>
                    <form name="adjustmentFrm" id="adjustmentFrm">

                        <div class="form-group control-group">
                            <label><localize key="placeholders_enterDescription"></localize></label>
                            <input type="text" data-ng-model="name" class="form-control adjustment-desc" />
                        </div>
  
                        <div class="control-group">
                            <div class="row-fluid">
                                <div class="span6 adjustment-amount">
                                    <div class="form-group">
                                        <label><localize key="merchelloGeneral_amount"></localize></label>
                                        <div class="input-prepend">
                                            <span class="add-on">{{dialogData.currencySymbol}}</span>
                                            <input type="number" data-ng-model="amount">
                                        </div>
                                    </div>
                                </div>
                                <div class="span6 adjustment-radio">
                                    <label>
                                        <input type="radio" data-ng-model="operator" value="-"> <localize key="merchelloGeneral_decrease"></localize>
                                    </label>
                                    <label>
                                        <input type="radio" data-ng-model="operator" value="+"> <localize key="merchelloGeneral_increase"></localize>
                                    </label>
                                </div>                           
                            </div>
                        </div>
                        
                        <div class="control-group">
                            <div class="row-fluid">
                                <div class="span6 adjustment-radio">
                                    <label>
                                        <input type="checkbox" ng-model="isTaxable"> Taxable?
                                    </label>
                                </div>
                                <div class="span6">
                                    <div class="pull-right">
                                        <br/>
                                        <button class="btn btn-info" ng-click="addAdjustment()" prevent-default>Add</button>
                                    </div>
                                </div>
                            </div>
                        </div>

                    </form>

                </div>
            </div>
            <div class="umb-overlay-drawer">
                <div class="umb-overlay-drawer__align-right">
                    
                    <div class="umb-button">
                        <a href data-ng-click="close()" class="btn btn-link">
                            <localize key="general_cancel"></localize>
                        </a>
                    </div>

                    <div class="umb-button">
                        <button class="btn btn-success" data-ng-click="save()">
                            <localize key="buttons_save"></localize>
                        </button>
                    </div>
                    
                </div>
            </div>
        </div>
    </div>
</div>