<!-- Add a Shipping Method Flyout -->
<div class="well col-xs-12 span12" data-ng-class="{ 'open': flyoutModel.isOpen, 'closed': !flyoutModel.isOpen }">
    <button class="btn close" data-ng-click="flyoutModel.close()"><i class="icon-delete"></i></button>
    <h4>Add/Edit a Shipping Method & Rate for {{flyoutModel.model.shipMethod.name}}</h4>
    <div class="form-group row-fluid">
        <label for="method-name">Name</label>
        <input name="method-name" data-ng-model="flyoutModel.model.shipMethod.name" class="col-xs-6 span6" type="text" />
        {{country.name}} - {{provider.name}}
    </div>

    <div class="form-group row-fluid">
        <label for="method-type">Method</label>
        <div class="col-xs-4 span4 row-fluid">
            <select name="method-type" class="col-xs-11 span11">
                <option>Vary by Weight</option>
            </select>
        </div>
        <!-- The fields below display depending on the selection. Vary by weight will show start/end weight fields. Vary by price will show start/end price fields. Free will show no fields -->
        <div class="input-append col-xs-1 span1">
            <input type="text" class="col-xs-7 span7" />
            <span class="add-on">lbs</span> <!-- This value is pulled in by lbs or g/kg depending on the user's preferred system in settings -->
        </div>
        <span class="text-center break">-</span>
        <div class="input-append col-xs-1 span1">
            <input type="text" class="col-xs-7 span7" />
            <span class="add-on">lbs</span> <!-- This value is pulled in by lbs or g/kg depending on the user's preferred system in settings -->
        </div>
    </div>

    <div class="form-group row-fluid">
        <label for="shipping-cost">Shipping Cost</label>
        <div class="input-prepend col-xs-6 span6">
            <span class="add-on">$</span> <!-- This value is pulled in by the user's currency settings -->
            <input type="text" class="col-xs-3 span3" />
        </div>
    </div>

    <h5>Adjust for Individual Regions</h5>

    <table class="table table-striped merchello-striped-table settings-table adjustment-table">
        <thead>
            <tr>
                <th>Region</th>
                <th>Adjust Rate</th>
                <th>Adjust By</th>
            </tr>
        </thead>
        <tbody>
            <tr data-ng-repeat="province in flyoutModel.model.shipMethod.provinceData">
                <td>
                    <label><input type="checkbox" data-ng-model="province.isSupportedDestination"/>
                    {{province.name}}</label>
                </td>
                <td>
                    <div class="input-prepend">
                        <span class="add-on">$</span>
                        <input type="number" data-ng-model="province.adjustRate" class="span5" />
                    </div>
                </td>
                <td>
                    <label><input type="radio" /> dollars</label>
                    <label><input type="radio" /> percent</label>
                </td>
            </tr>
        </tbody>
    </table>

    <div>
        <input type="submit" class="btn" value="Cancel" data-ng-click="flyoutModel.close()" />
        <input type="submit" class="btn btn-primary" value="Save" data-ng-click="flyoutModel.confirm()" />
    </div>
</div>