<div>
    <div>
        <h3 class="row-fluid col-xs-5 span5 clear">{{selectedCatalog.name}}</h3>
        <div class="pull-right btn-group">
            <a class="btn-standard btn" data-ng-click="selectCatalogDialogOpen()">Select Catalog</a>
            <a data-ng-click="addEditWarehouseCatalogDialogOpen(primaryWarehouse, selectedCatalog)" class="btn-default btn">
                <i class="icon-edit"></i>
            </a>
            <a class="btn-warning btn">
                <i class="icon-trash"></i>
            </a>
        </div>
    </div>
    <div class="clear span9">{{selectedCatalog.description}}</div>
</div>