<div>
    <h3 class="row-fluid col-xs-5 span5 clear">{{country.name}}</h3>
    <div class="btn-group pull-right">
        <a data-ng-click="addEditShippingProviderDialogOpen(country)" class="btn btn-primary merchello-button-right"><i class="icon-add"></i> Provider</a>
        <a data-ng-click="deleteCountry(country)" class="btn btn-warning"><i class="icon-trash"></i></a>
    </div>
    <div data-ng-repeat="shippingGatewayProvider in country.shippingGatewayProviders" class="merchello-shipping-gateway-provider clear">
        <h4 class="row-fluid col-xs-5 span5 clear" data-ng-bind="shippingGatewayProvider.name"></h4>
        <a data-ng-click="addEditShippingMethodDialogOpen(country, shippingGatewayProvider)" class="btn btn-primary pull-right merchello-button-right"><i class="icon-add"></i> Method</a>
        <table class="table table-striped merchello-striped-table settings-table shipping-table clear">
            <tbody>
                <tr data-ng-repeat="fixedRateShipMethod in shippingGatewayProvider.shipMethods">
                    <td>{{fixedRateShipMethod.shipMethod.name}}</td>
                    <td>{{fixedRateShipMethod.tierRange().low}} - {{fixedRateShipMethod.tierRange().high}}</td>
                    <td>{{fixedRateShipMethod.tierPriceRange().low}} - {{fixedRateShipMethod.tierPriceRange().high}}</td>
                    <td class="edit">
                    <div class="btn-group">
                        <a class="btn btn-default btn-xs btn-mini"><i class="icon-globe-alt"></i></a>
                        <a data-ng-click="addEditShippingMethodDialogOpen(country, shippingGatewayProvider, fixedRateShipMethod)" class="btn btn-default btn-xs btn-mini"><i class="icon-edit"></i></a>
                        <a data-ng-click="removeMethodFromProvider(shippingGatewayProvider, fixedRateShipMethod)" class="btn btn-warning btn-xs btn-mini"><i class="icon-trash"></i></a>
                    </div>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</div>
