<div>
    <h3>{{country.name}}</h3>
    <a data-ng-click="openProviderFlyout(country)" class="btn btn-primary merchello-button-right">Add a Provider</a>
    <div data-ng-repeat="shippingGatewayProvider in country.shippingGatewayProviders" class="merchello-shipping-gateway-provider">
        <h4>{{shippingGatewayProvider.name}}</h4>
        <a data-ng-click="addEditShippingMethodFlyoutOpen(country, shippingGatewayProvider)" class="btn btn-primary merchello-button-right">Add a Method</a>
        <fixed-rate-method-flyout model="addEditShippingMethodFlyout" on-confirm="addEditShippingMethodFlyoutConfirm()" is-visible="visible.addEditShippingMethodFlyout" country="country" provider="shippingGatewayProvider"></fixed-rate-method-flyout>
        <table class="table table-striped merchello-striped-table settings-table shipping-table">
            <thead>
                <tr>
                    <th colspan="3">{{fixedRateShipMethod[0].gatewayResource.name}}</th>
                </tr>
            </thead>
            <tbody>
                <tr data-ng-repeat="fixedRateShipMethod in shippingGatewayProvider.shipMethods">
                    <td>{{fixedRateShipMethod.shipMethod.name}}</td>
                    <td>{{fixedRateShipMethod.tierRange().low}} - {{fixedRateShipMethod.tierRange().high}}</td>
                    <td>{{fixedRateShipMethod.tierPriceRange().low}} - {{fixedRateShipMethod.tierPriceRange().high}}</td>
                    <td class="edit">
                        <a data-ng-click="addEditShippingMethodFlyoutOpen(country, shippingGatewayProvider, fixedRateShipMethod)" class="btn btn-default btn-xs btn-mini">edit</a>
                        <a data-ng-click="removeFixedRateMethodFromProvider(shippingGatewayProvider, fixedRateShipMethod)" class="btn btn-warning btn-xs btn-mini">x</a></td>
                </tr>
            </tbody>
        </table>
    </div>
</div>
