@inherits Umbraco.Web.Mvc.UmbracoViewPage<CheckoutModel>
@using Merchello.Bazaar
@using Merchello.Bazaar.Models.ViewModels
@{
    Layout = "Master.cshtml";
    System.Web.Mvc.HtmlHelper.ClientValidationEnabled = true;
    System.Web.Mvc.HtmlHelper.UnobtrusiveJavaScriptEnabled = true;
}

<div class="row">
    
    <div class="col-md-12">
        <h1>@Model.Name</h1>
    </div>

</div>

@Html.ThemedPartial(Model, "CheckoutAddressesForm", Model.CheckoutAddressForm)

