@inherits Umbraco.Web.Mvc.UmbracoViewPage<CheckoutConfirmationModel>
@using System.Web.Mvc
@using Merchello.Bazaar
@using Merchello.Bazaar.Models.ViewModels
@using Merchello.Web.Discounts.Coupons
@{
    Layout = "Master.cshtml";
}

<div class="container-fluid">
	<div class="row">
    <div class="col-sm-12 col-md-12">
        <h1>@Model.Name</h1>
    </div>

    @Html.ThemedPartial(Model, "CheckoutConfirmationForm", Model.CheckoutConfirmationForm)
        
    @Html.ThemedPartial(Model, "RedeemCouponOfferForm", Model.RedeemCouponOfferForm, new ViewDataDictionary { { "CouponRedemptionResult", (ICouponRedemptionResult)ViewBag.CouponRedemptionResult } })
	</div>
</div>