img {
	max-width:100%;
}

ol, ul {
    list-style: none;
}

.second-form {
    border: 1px solid #ccc;
}

#featured {
    .product-list {
        padding: 2.5em 16% 2.5em calc(274px + 4.4%);
        margin: 1.5em 0 1.5em calc(-274px - 4.4%);
        background: #fdf8e9;
    }
}

#add-item-price {
    margin-bottom: 1em;
}

.price {
    font-size: 2em;
    .sale-price {
        color: red;
        margin-right: .5em;
    }
    .original-price {
        text-decoration: line-through;
    }
}

.add-to-cart {

    div.inventory {
        margin: 1em;
        padding-bottom: 1em;
    padding-left: 1em;
    text-align: center;
    padding-right: 1.25em;
    }

    div.price {
        padding: 1em;
    }

}
// checkout addresses form
#addresses-form {
    h2 { font-size: 1.25em; }
    .vcard { display: none; }
    #shipping-address { display: none; }
    #customer-address-labels { display: none; }
}

td.align-right {
    text-align: right;
}

span.field-validation-error {
        margin-left: 1em;
        color: red;
}
.vcard {
    h5, h4, h3, h2 { font-size: 1.5em; }
    .fn { display: block; }
    .adr { display: block; }
    .street-address { display: block; }
    .extended-address { display: block; }
    .email { display: block; }
    .country-name { display: block; }
}

// Checkout Confirmation
#checkout-confirmation {
    .payment-method-form {
        display: none;
    }
}
// ------------------------------------
// Account pages 
// ------------------------------------

#btn-profile-open { margin-top: 1em;}

.account {
    h2 { font-size: 1.25em; }
    #message { display: none; }
    #profile-form { display: none; }
    #address-form { display: none; }
    table tr.default-address {
        background-color: #eeeeee;
    }
}

.customer-addresses {
    tr { 
    }

    caption {  
        line-height: 2em;
    }
}

#update-account-form {
    #change-password-form { display: none; }
}