<div>
    <label class="label-checkbox">
        <input type="radio" data-ng-model="operator" value="e"/> <span>is <strong>Equal to</strong> (=)</span>
    </label>
    <label class="label-checkbox">
        <input type="radio" data-ng-model="operator" value="lt"/> <span>is <strong>Less Than</strong> (&lt;)</span>
    </label>
    <label class="label-checkbox">
        <input type="radio" data-ng-model="operator" value="lte"/> <span>is <strong>Less Than or Equal to</strong> (&lt;=)</span>
    </label>
    <label class="label-checkbox">
        <input type="radio" data-ng-model="operator" value="gt"/> <span>is <strong>Greater Than</strong> (&gt;)</span>
    </label>
    <label class="label-checkbox">
        <input type="radio" data-ng-model="operator" value="gte"/> <span>is <strong>Greater Than or Equal to</strong> (&gt;=)</span>
    </label>
</div>