<div class="merchello-icons">
    <a class="merchello-icon merchello-icon-add" data-ng-show="showAdd" ng-click="doAdd()" title="{{addTitle}}" prevent-default>
        <i class="icon icon-add"></i>
    </a>
    <a class="merchello-icon merchello-icon-edit" data-ng-show="showEdit" ng-click="doEdit()" title="{{editTitle}}" prevent-default>
        <i class="icon icon-edit"></i>
    </a>
    <a class="merchello-icon merchello-icon-activate" data-ng-show="showActivate" ng-click="doActivate()" title="{{activateTitle}}" prevent-default>
        <i class="icon icon-lightbulb-active"></i>
    </a>
    <a class="merchello-icon merchello-icon-delete" data-ng-show="showDelete" ng-click="doDelete()" title="{{deleteTitle}}" prevent-default>
        <i class="icon icon-trash"></i>
    </a>
</div>