<div>
    <!-- ACTION: Return To Invoice -->
    <a class="btn btn-default btn-action" href="#/merchello/merchello/saleoverview/{{key}}">Return to Invoice</a>
    <!-- ACTION: View Payment Information -->
    <a class="btn btn-default btn-action" href="#/merchello/merchello/ordershipments/{{key}}" data-ng-hide='hideShipments'>Shipments</a>
    <!-- ACTION: View Payment Information -->
    <a class="btn btn-default btn-action" href="#/merchello/merchello/invoicepayments/{{key}}" data-ng-hide='hidePayments'>Payments</a>
</div>