@inherits Umbraco.Web.Mvc.UmbracoViewPage<Merchello.Web.Store.Models.StoreShipRateQuoteModel>
@using System.Web.Mvc.Html
@using Merchello.FastTrack.Ui
@using Merchello.Web.Models.Ui
@using Merchello.Web.Store.Controllers
@using Umbraco.Web

<h3>Shipping Rate Quote</h3>
@using (Html.BeginUmbracoForm<CheckoutShipRateQuoteController>("SaveShipRateQuote", new { area = "Merchello" }))
{
    <div class="row">
        <div class="col-md-12 form-group">
            @Html.LabelFor(x => x.ShippingQuotes)
            @Html.DropDownListFor(x => x.ShipMethodKey, Model.ShippingQuotes, new { @class = "form-control"})
        </div>
    </div>

    <div>
        @Html.AntiForgeryToken()
        <a href="@ExampleUiHelper.CheckoutWorkflow.GetPageForStage(CheckoutStage.ShippingAddress).Url" class="btn btn-default">Back</a>
        <input type="submit" class="btn btn-default pull-right" value="Save"/>
    </div>
}

