<div class="merchello-pane row-fluid edit-customer">
    <div class="control-group umb-control-group">
        <label class="merchello-section-label" for="customer-note">Customer Overview</label>
        <div class="merchello-controls row-fluid">
            <div class="form-group span12">
                <label for="firstName">*First Name:</label>
                <div><span class="error validation-error" data-ng-show="customerCreate.firstName.$invalid">First Name is a required field.</span></div>
                <input name="firstName" type="text" class="span5" data-ng-model="customerCreate.firstName" required />
                <label for="lastName">*Last Name:</label>
                <div><span class="error validation-error" data-ng-show="customerCreate.lastName.$invalid">Last Name is a required field.</span></div>
                <input name="lastName" type="text" class="span5" data-ng-model="customerCreate.lastName" required />
                <label for="email">*Login/Email Address:</label>
                <div><span class="error validation-error" data-ng-show="customerCreate.email.$invalid">Login/Email is a required field and must contain a valid email address.</span></div>
                <input name="email" type="email" class="span5" data-ng-model="customerCreate.email" required />
            </div>
        </div>
    </div>
    <div class="control-group umb-control-group">
        <!-- Shipping Address -->
        <label class="merchello-section-label" for="customer-note">Shipping Address</label>
        <div class="merchello-controls row-fluid">
            <div class="form-group span12">
                <label for="shippingFullName">Full Name:</label>
                <input name="shippingFullName" type="text" class="span5" data-ng-model="shippingAddressCreate.fullName" />
                <label for="shippingOrg">Company:</label>
                <input name="shippingOrg" type="text" class="span5" data-ng-model="shippingAddressCreate.company" />
                <label for="shippingPhone">Phone:</label>
                <input name="shippingPhone" type="tel" class="span5" data-ng-model="shippingAddressCreate.phone" />
                <label for="shippingStreetAddress">*Address:</label>
                <input name="shippingStreetAddress" type="text" class="span5" data-ng-model="shippingAddressCreate.address1" />
                <label for="shippingExtendedAddress">Address Line 2:</label>
                <input name="shippingExtendedAddress" type="text" class="span5" data-ng-model="shippingAddressCreate.address2" />
                <label for="shippingLocality">*City:</label>
                <input name="shippingLocality" type="text" class="span5" data-ng-model="shippingAddressCreate.locality" />
                <label for="shippingCountryName">*Country:</label>
                <select name="shippingCountryName" class="span3" data-ng-model="filters.shippingCountry" data-ng-change="updateShippingCountry(filters.shippingCountry)" data-ng-options="option.name for option in countries"></select>
                <label for="shippingRegionInput">{{provinceLabel}}:</label>
                <input name="shippingRegionInput" type="text" class="span3" data-ng-show="!doesCountryHaveProvinces(filters.shippingCountry)" data-ng-model="shippingAddressCreate.region" />
                <select name="shippingRegionSelect" class="span3" data-ng-show="doesCountryHaveProvinces(filters.shippingCountry)" data-ng-model="filters.shippingProvince" data-ng-change="updateShippingProvince(filters.shippingProvince)" data-ng-options="option.name for option in filters.shippingCountry.provinces"></select>
                <label for="shippingPostalCode">*Zip Code:</label>
                <input name="shippingPostalCode" type="text" class="span3" data-ng-model="shippingAddressCreate.postalCode" />
                <div>
                    <input type="checkbox" data-ng-model="shippingAddressCreate.isDefault" /> Primary Shipping Address
                </div><br />
                <div>
                    <input type="checkbox" data-ng-model="BillingSameAsShipping" /> Billing Address Same As Shipping Address
                </div><br />
            </div>
        </div>
    </div>
    <div class="control-group umb-control-group" data-ng-show="!BillingSameAsShipping">
        <!-- Billing Address -->
        <label class="merchello-section-label" for="customer-note">Billing Address</label>
        <div class="merchello-controls row-fluid">
            <div class="form-group span12">
                <label for="fullName">Full Name:</label>
                <input name="fullName" type="text" class="span5" data-ng-model="billingAddressCreate.fullName" />
                <label for="org">Company:</label>
                <input name="org" type="text" class="span5" data-ng-model="billingAddressCreate.company" />
                <label for="phone">Phone:</label>
                <input name="phone" type="tel" class="span5" data-ng-model="billingAddressCreate.phone" />
                <label for="streetAddress">*Address:</label>
                <input name="streetAddress" type="text" class="span5" data-ng-model="billingAddressCreate.address1" />
                <label for="extendedAddress">Address Line 2:</label>
                <input name="extendedAddress" type="text" class="span5" data-ng-model="billingAddressCreate.address2" />
                <label for="locality">*City:</label>
                <input name="locality" type="text" class="span5" data-ng-model="billingAddressCreate.locality" />
                <label for="countryName">*Country:</label>
                <select name="countryName" class="span3" data-ng-model="filters.billingCountry" data-ng-change="updateBillingCountry(filters.billingCountry)" data-ng-options="option.name for option in countries"></select>
                <label for="regionInput">{{provinceLabel}}:</label>
                <input name="regionInput" type="text" class="span3" data-ng-show="!doesCountryHaveProvinces(filters.billingCountry)" data-ng-model="billingAddressCreate.region" />
                <select name="regionSelect" class="span3" data-ng-show="doesCountryHaveProvinces(filters.billingCountry)" data-ng-model="filters.billingProvince" data-ng-change="updateBillingProvince(filters.billingProvince)" data-ng-options="option.name for option in filters.billingCountry.provinces"></select>
                <label for="postalCode">*Zip Code:</label>
                <input name="postalCode" type="text" class="span3" data-ng-model="billingAddressCreate.postalCode" />

                <div>
                    <input type="checkbox" data-ng-model="billingAddressCreate.isDefault" /> Primary Billing Address
                </div><br />
            </div>
        </div>
    </div>
    <div class="control-group umb-control-group">
        <div class="btn-toolbar pull-right umb-btn-toolbar">
            <div class="btn-group">
                      <!-- ACTION: Save Customer -->
                      <a data-ng-click="cancelCreateCustomer()" class="btn btn-primary"><!--<localize key="buttons_cancel" />-->Cancel</a>
                  </div>
            <div class="btn-group">
                <!-- ACTION: Save Customer -->
                <a data-ng-click="saveCustomer(true)" class="btn btn-primary"><!--<localize key="buttons_save" />-->Next</a>
            </div>
            <div class="btn-group">
                <a data-ng-click="saveCustomer(false)" class="btn btn-primary"><!--<localize key="buttons_save" />-->Create New Customer</a>
            </div>
        </div>
    </div>
</div>