<div class="umb-panel merchello-side-panel" ng-controller="Merchello.Dashboards.Settings.Notifications.Dialogs.NotificationsEditTemplateController">
	<div class="umb-modalcolumn-header">
		<h4>Edit <b>{{dialogData.name}}</b></h4>
	</div>
	<div class="umb-panel-body with-header with-footer">

		<!-- Flyout when Edit is clicked -->
		<form name="editTemplateForm" class="well" data-ng-class="{ 'open': flyouts.editTemplate, 'closed': !flyouts.editTemplate }">
			<div class="form-group">
				<label>Header</label>
				<textarea class="col-xs-12 span12" rows="4" data-ng-model="dialogData.header"></textarea>
			</div>
			<div class="form-group">
				<label>Footer</label>
				<textarea class="col-xs-12 span12" rows="4" data-ng-model="dialogData.footer"></textarea>
			</div>
		</form>

		<p>You may add basic HTML tags to your email header and footer templates such as &lt;br /&gt; to create a new line of text.</p>

	</div>

	<div class="umb-panel-footer">
		<div class="umb-el-wrap umb-panel-buttons">
			<div class="btn-toolbar umb-btn-toolbar pull-right">

				<a href data-ng-click="close()" class="btn btn-link">
					<localize key="general_cancel">Cancel</localize>
				</a>

				<button class="btn btn-primary"
						data-ng-click="submit(dialogData)">
					<localize key="buttons_save">Save</localize>
				</button>

			</div>
		</div>
	</div>
</div>

