<div data-ng-controller="Merchello.Backoffice.NotificationMessageEditorController" data-ng-show="loaded" class="merchello">

    <!-- This is the umb-panel directive. We removed it because the ui-codemirror directive doesn't work nested under another directive.-->
    <div class="umb-panel umb-editor-wrapper">

        <div class="umb-editor-header umb-panel-header">
            <div class="umb-panel-header-content-wrapper">

                <div class="umb-panel-header-content">
                    <div class="umb-panel-header-left-side -top-position">
                        <div class="umb-panel-header-title-wrapper">
                            <div class="umb-panel-header-name">
                                {{notificationMessage.name}} <localize key="merchelloNotifications_notifications" />
                            </div>
                        </div>
                        <div class="umb-editor-header__actions-menu">

                            <div class="pull-right" style="position: relative;" data-ng-show="context !== 'createproduct'">
                                <!-- options button -->
                                <a class="btn btn-info" href="#" data-toggle="dropdown">
                                    <localize key="general_actions">Actions</localize>
                                    <span class="caret"></span>
                                </a>
                                <!-- actions -->
                                <ul class="dropdown-menu umb-actions" role="menu" aria-labelledby="dLabel">
                                    <li><a data-ng-click="deleteMessage()"><localize key="general_delete" /></a></li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>

                <merchello-tabs tabs="tabs"></merchello-tabs>
            </div>
        </div>

        <!-- This is the merchello-panel directive. We removed it because the ui-codemirror directive doesn't work nested under another directive.-->
        <div class="merchello-panel-body umb-editor-container umb-panel-body umb-scrollable row-fluid">
            <div class="umb-pane">
                <div class="form-horizontal tab-content row-fluid" data-ng-show="preValuesLoaded">
                    <div class="merchello-pane">

                        <div class="umb-property">
                            <div class="control-group umb-control-group">
                                <div class="umb-el-wrap">
                                    <label class="control-label">
                                        <localize key="merchelloNotificationsEdit_notificationSettings" />
                                        <small><localize key="merchelloNotificationsEdit_notificationSettingsHelper" /></small>
                                    </label>
                                    <div class="controls">
                                        <div class="control-group">
                                            <div class="row-fluid">
                                                <div class="form-group col-xs-6 span6">
                                                    <label for="send"><localize key="merchelloNotificationsEdit_sendTo" /> </label>
                                                    <input name="send" type="text" class="col-xs-8 span8" data-ng-model="notificationMessage.recipients" />
                                                </div>
                                                <div class="form-group col-xs-6 span6">
                                                    <label><localize key="merchelloNotificationsEdit_replyTo" /></label>
                                                    <input type="text" class="col-xs-8 span8" data-ng-model="notificationMessage.replyTo" />
                                                </div>
                                            </div>
                                        </div>

                                        <div class="control-group">
                                            <div class="row-fluid">
                                                <div class="form-group col-xs-6 span6">
                                                    <label for="emailFrom">From Address</label>
                                                    <input name="emailFrom" type="text" class="col-xs-8 span8" data-ng-model="notificationMessage.fromAddress" required />
                                                </div>
                                                
                                                <div class="form-group col-xs-6 span6">
                                                    <label for="event"><localize key="merchelloNotificationsEdit_attachedEvent" /> </label>
                                                    <select name="event" class="col-xs-8 span8" data-ng-model="notificationMessage.monitorKey" data-ng-options="n.monitorKey as n.name for n in notificationMonitors" disabled></select>
                                                </div>
                                            </div>
                                        </div>

                                        <div class="control-group">
                                            <div class="row-fluid">
                                                <div class="form-group col-xs-12 span12">
                                                    <label for="send"><localize key="general_name" /> / Subject</label>
                                                    <input name="send" type="text" class="col-xs-10 span10" data-ng-model="notificationMessage.name" />
                                                </div>
                                            </div>
                                        </div>

                                        <label class="label-checkbox">
                                            <input type="checkbox" data-ng-model="notificationMessage.sendToCustomer" />
                                            <span><localize key="merchelloNotificationsEdit_emailCustomer" /></span>
                                        </label>

                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="umb-property">
                            <div class="control-group umb-control-group">
                                <div class="umb-el-wrap">
                                    <!-- Template pane -->
                                    <input type="hidden" data-ng-bind="" />
                                    <label class="control-label">
                                        <localize key="merchelloNotificationsEdit_emailTemplate" />
                                        <small><localize key="merchelloNotificationsEdit_emailTemplateHelper" /></small>
                                    </label>
                                    
                                    <div class="controls">
                                        <div class="row-fluid col-xs-11 span11">
                                            <ng-form data-ng-if="!notificationMessage.bodyTextIsFilePath">
                                                <label for="template"><localize key="merchelloNotificationsEdit_emailTemplateEditBody" /></label>
                                                <textarea name="messageTemplate" id="messageTemplate" data-ng-model="notificationMessage.bodyText" class="col-xs-12 span12" rows="10"></textarea>
                                            </ng-form>
                                            <notification-razor-template-selection data-ng-if="notificationMessage.bodyTextIsFilePath" message="notificationMessage" monitor="currentMonitor" ready="loaded" save="save()"></notification-razor-template-selection>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <merchello-spinner />
                    </div>
                </div>
            </div>
        </div>
        <merchello-drawer>
            
            <div class="umb-editor-drawer-content__right-side">
                <div class="btn-group umb-button-group">
                    <div class="umb-button">
                        <button type="button" data-ng-disabled="emailTemplate.$invalid" data-ng-click="save()" hotkey="ctrl+s" hotkey-when-hidden="true" class="btn btn-success"><localize key="buttons_save"/></button>
                    </div> 
                </div>
            </div>
        </merchello-drawer>

    </div>
</div>