<div ng-controller="Merchello.Backoffice.Reports.SalesSearchController">

    <div class="umb-panel umb-editor-wrapper">

        <div class="umb-editor-header umb-panel-header">
            <div class="umb-panel-header-content-wrapper">

                <div class="umb-panel-header-content">
                    <div class="umb-panel-header-left-side -top-position">
                        <div class="umb-panel-header-title-wrapper">
                            <div class="umb-panel-header-name">
                                <localize key="merchelloTree_reports" />
                            </div>
                        </div>
                    </div>
                </div>

            </div>
        </div>

        <merchello-panel>            
            <div class="merchello-pane">
                <div class="row">
                    <div class="span6">
                        Search Here
                    </div>
                    <div class="span6">
                        <merchello-date-range-button reload="reload" start-date="salesSearchSnapshot.startDate" end-date="salesSearchSnapshot.endDate"></merchello-date-range-button>
                        <div style="float:right;">
                            <label class="checkbox inline" ng-repeat="status in salesSearchSnapshot.invoiceStatuses">
                                <input type="checkbox" ng-model="status.checked"> {{status.name}}
                            </label>
                        </div>
                    </div>
                </div>
                
                <h2 ng-show="salesSearchSnapshot.Search">{{salesSearchSnapshot.Search}}</h2>

                <div class="merchello-list-view umb-listview">
                    <table class="table table-striped">
                        <thead>
                            <tr>
                                <th nowrap="nowrap"><localize key="merchelloGeneral_item" /></th>
                                <th><localize key="merchelloReports_quantitySold" /></th>
                                <th><localize key="merchelloGeneral_totals" /></th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr data-ng-repeat="result in salesSearchSnapshot.products">
                                <td nowrap="nowrap">{{result.name}}</td>
                                <td>{{result.quantity}}</td>
                                <td>{{result.total | currency: total.currency.symbol}}</td>
                            </tr>
                        </tbody>
                    </table>
                </div>

            </div>
        </merchello-panel>
    </div>

</div>