<div data-ng-controller="Merchello.Backoffice.ShippingProvidersController" data-ng-show="loaded" class="merchello">

    <div class="umb-panel umb-editor-wrapper">
        <div class="umb-editor-header umb-panel-header">
            <div class="umb-panel-header-content-wrapper">

                <div class="umb-panel-header-content">
                    <div class="umb-panel-header-left-side -top-position">
                        <div class="umb-panel-header-title-wrapper">
                            <div class="umb-panel-header-name">
                                {{selectedCatalog.name}}: <localize key="merchelloShipping_shippingProvidersMethodsTitle" />
                            </div>
                        </div>
                        <div class="umb-editor-header__actions-menu">
                            <div class="pull-right" style="position: relative;">
                                <a class="btn btn-info" href="#" data-toggle="dropdown">
                                    <localize key="general_actions">Actions</localize>
                                    <span class="caret"></span>
                                </a>
                                <ul class="dropdown-menu umb-actions" role="menu" aria-labelledby="dLabel">
                                    <li class="action"><a data-ng-click="addCountry()"><localize key="merchelloShipping_addCountry"></localize></a></li>
                                    <li class="action sep" data-ng-show="primaryWarehouse.warehouseCatalogs.length > 1"><a data-ng-click="changeSelectedCatalogOpen()"><localize key="merchelloShipping_selectCatalog" /></a></li>
                                    <li class="action"><a data-ng-click="addEditWarehouseCatalogDialogOpen()"><localize key="merchelloShipping_addCatalog"></localize></a></li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>

                <merchello-tabs tabs="tabs"></merchello-tabs>
            </div>
        </div>

        <merchello-panel>
            <div class="row-fluid">
                <div class="span9 panel-right-padding">
                    <!-- Shipping Countries -->
                    <div data-ng-repeat="country in countries | orderBy: 'sortHelper'" class="merchello-shipping-country">
                        <ship-country-gateway-providers country="country" reload="loadCountries()" delete="deleteCountryDialog(country)"></ship-country-gateway-providers>
                        <hr><br>
                    </div>
                </div>
                <div class="span3">

                    <div class="well warehouse-info" data-ng-show="visible.warehouseListPanel">
                        <div class="pull-right">
                            <merchello-edit-icon do-edit="addEditWarehouseDialogOpen(primaryWarehouse)"></merchello-edit-icon>
                        </div>
                        <h4>
                            <localize key="merchelloShipping_warehouse"></localize>
                        </h4>
                        <merchello-address address="primaryWarehouseAddress" data-ng-show="!primaryWarehouseAddress.isEmpty()"></merchello-address>
                    </div>

                    <div class="well catalog-info" data-ng-show="visible.catalogPanel">
                        <div class="pull-right">
                            <merchello-icon-bar show-edit="true" show-delete="!selectedCatalog.isDefault" do-edit="addEditWarehouseCatalogDialogOpen(selectedCatalog)" do-delete="deleteWarehouseCatalogOpen()"></merchello-icon-bar>
                        </div>

                        <h4>Current Catalog</h4>
                        <p>{{selectedCatalog.name}}</p>
                        <p>{{selectedCatalog.description}}</p>
                    </div>
                </div>
            </div>
        </merchello-panel>
    </div>
</div>