@using System.Web.Mvc.Html
@using Merchello.FastTrack.Ui
@model Merchello.Core.Gateways.GatewayMethodUiAttribute
@{
    switch (Model.Alias)
    {
        case "CashPaymentMethod":
            @Html.Action("PaymentForm", "CashPayment", new { area = "FastTrack" })
            break;
        case "BrainTree.StandardTransaction":
            <h3>Braintree credit card</h3>
            break;
        case "BrainTree.PayPal.OneTime":
            @Html.Action("PaymentForm", "BraintreePayPal", new { area = "FastTrack" })
            break;
        case "PayPal.ExpressCheckout":
            <h3>PayPal ExpressCheckout</h3>
            break;
    }
}