<div class="umb-panel merchello-side-panel" ng-controller="Merchello.Providers.Dialogs.BraintreeStandardAuthorizeCapturePaymentController">
    <div class="umb-overlay umb-overlay-right">
        <form class="umb-overlay__form" action="/" method="post" id="cardForm">

            <div class="umb-overlay-header">
                <h4 class="umb-overlay__title">Authorize Capture {{dialogData.paymentMethodName}} Payment</h4>
            </div>

            <div class="umb-overlay-container form-horizontal merchello-panel-body">
                <!-- Loader -->
                <div class="pager" data-ng-show="!loaded">
                    <p>Please wait, connecting to braintree</p>
                    <p><img src="/umbraco/assets/img/loader.gif" /></p>
                </div>
                <div class="braintree" data-ng-show="loaded">
                    <div class="control-group">
                        <div class="form-group">
                            <label class="hosted-fields--label" for="amount">Amount</label>
                            <div class="input-prepend">
                                <span class="add-on">{{dialogData.currencySymbol}}</span>
                                <input class="col-xs-4 span4" type="text" id="amount" name="amount" data-ng-model="dialogData.amount">
                            </div>
                            <div class="error" data-ng-show="cardForm.amount.$invalid && wasFormSubmitted">Amount between {{0 | currency: dialogData.currencySymbol }} & {{ dialogData.invoiceBalance | currency: dialogData.currencySymbol }}.</div>
                        </div>                        
                    </div>

                    <label class="hosted-fields--label" for="card-number">Card Number</label>
                    <div id="card-number" class="hosted-field"></div>

                    <label class="hosted-fields--label" for="expiration-date">Expiration Date</label>
                    <div id="expiration-date" class="hosted-field"></div>

                    <label class="hosted-fields--label" for="cvv">CVV</label>
                    <div id="cvv" class="hosted-field"></div>

                    <label class="hosted-fields--label" for="postal-code">Postal Code</label>
                    <div id="postal-code" class="hosted-field"></div>
                </div>
            </div>

            <div class="umb-overlay-drawer">
                <div class="umb-overlay-drawer__align-right">
                   
                    
                    <div class="umb-button" data-ng-show="loaded">
                        <a href data-ng-click="close()" class="btn btn-link">
                            <localize key="general_cancel"></localize>
                        </a>
                    </div>

                    <div class="umb-button" data-ng-show="loaded">
                        <input type="submit" class="btb btn-success" value="Purchase" id="submit" />
                    </div>

                </div>
            </div>


        </form>
    </div>
</div>