<div class="umb-panel merchello-side-panel" ng-controller="Merchello.GatewayProviders.Dialogs.CashPaymentMethodRefundPaymentController">

    <div class="umb-overlay umb-overlay-right">
        <form class="umb-overlay__form" name="refundForm" id="refundForm">

            <div class="umb-overlay-header">
                <h4 class="umb-overlay__title"><localize key="merchelloOrder_refundPayment" /></h4>
            </div>

            <div class="umb-overlay-container form-horizontal merchello-panel-body">


                <div class="control-group row-fluid">
                    <h4><localize key="merchelloOrder_refundMethod" /> {{dialogData.paymentMethodName}}</h4>
                    <div data-ng-show="dialogData.warning !== undefined && dialogData.warning != ''">
                        <p class="text-warning">{{ dialogData.warning }}</p>
                    </div>
                </div>


                <div class="control-group row-fluid">
                    <label for="amount">*Amount</label>
                    <div class="error" data-ng-show="refundForm.amount.$invalid && wasFormSubmitted">Amount between {{0 | currency: currencySymbol }} & {{ dialogData.appliedAmount | currency: currencySymbol }}.</div>
                    <div class="input-prepend col-xs-12 span12">
                        <span class="add-on">{{dialogData.currencySymbol}}</span>
                        <input name="amount" class="col-xs-4 span4" type="text" data-ng-model="dialogData.amount">
                    </div>
                </div>

            </div>

            <div class="umb-overlay-drawer">
                <div class="umb-overlay-drawer__align-right">

                    <div class="btn-toolbar umb-btn-toolbar pull-right">

                        <a href data-ng-click="close()" class="btn btn-link">
                            <localize key="general_cancel">Cancel</localize>
                        </a>

                        <button class="btn btn-primary"
                                data-ng-click="save()">
                            <localize key="merchelloOrder_refundPayment" />
                        </button>

                    </div>
                </div>
            </div>
        </form>
    </div>
</div>