<div class="product-option-list merchello-list-view umb-listview" data-ng-show="preValuesLoaded">
    
    <div class="umb-editor-sub-header">

        <div class="umb-editor-sub-header__content-left">
            <div class="umb-editor-sub-header__section">
                <localize key="merchelloProductOptions_editOptions"></localize>
            </div>
        </div>

        <div class="umb-editor-sub-header__content-right">
            <div class="umb-editor-sub-header__section">
                <form class="form-search -no-margin-bottom pull-right ng-pristine ng-valid" novalidate data-ng-show="hasFilter">
                    <div class="inner-addon left-addon">
                        <i class="icon icon-search" ng-click="enterSearch($event)"></i>
                        <input type="text" class="form-control search-input ng-pristine ng-valid" data-ng-model="options.filter" on-keyup="search()" prevent-enter-submit no-dirty-check localize="placeholder" placeholder="@general_typeToSearch">
                    </div>
                </form>
            </div>
        </div>

    </div>


        <div class="merchello-controls">
                                               
            <div class="umb-table">

                <div class="umb-table-head">
                    <div class="umb-table-row">
                        <div class="umb-table-cell"></div>
                        <div class="umb-table-cell umb-table__name"><localize key="merchelloTableCaptions_optionName" /></div>
                        <div class="umb-table-cell"><localize key="merchelloTableCaptions_optionUi" /></div>
                        <div class="umb-table-cell"><localize key="merchelloTableCaptions_optionValues" /></div>
                        <div class="umb-table-cell"><localize key="merchelloTableCaptions_shared" /></div>
                        <div class="umb-table-cell"></div>
                    </div>
                </div>
                
                <div class="umb-table-body" data-ng-hide="queryResult.totalItems > 0">
                    <div class="umb-table-row">
                        <div class="umb-empty-state -center">
                            <p class="faded"><localize key="content_listViewNoItems">There are no items show in the list.</localize></p>
                        </div>                
                    </div>
                </div>

                <div class="umb-table-body" data-ui-sortable="sortableOptions" data-ng-model="queryResult.items" data-ng-show="queryResult.totalItems > 0">
                    <div class="umb-table-row sortable" data-ng-class="{ sortable : !isShared  }" data-ng-repeat="option in queryResult.items">
                        <div class="umb-table-cell">
                            <span data-ng-show="queryResult.items.length > 1 && !sharedOnly">
                                <merchello-sort-icon data-ng-if="queryResult.items.length > 1 && !sharedOnly"></merchello-sort-icon>
                            </span>                            
                        </div>
                        <div class="umb-table-cell umb-table__name"><a prevent-default data-ng-click="edit(option)">{{getColumnValue('name', option)}}</a></div>
                        <div class="umb-table-cell">{{ option.uiOption }}</div>
                        <div data-ng-bind="getColumnValue('values', option)" class="umb-table-cell"></div>
                        <div data-ng-bind="getColumnValue('shared', option)" class="umb-table-cell"></div>
                        <div class="umb-table-cell">
                            <merchello-icon-bar show-add="false" show-edit="true" show-delete="showDelete(option)" do-edit="edit(option)" do-delete="delete(option)"></merchello-icon-bar>
                        </div>
                    </div>
                </div>
            </div>
            
            <div class="flex justify-center">
                <div class="umb-pagination pagination" ng-show="pagination.length > 1">
                    <ul>
                        <li ng-class="{disabled:options.pageNumber <= 1}">
                            <a href="#" ng-click="prev()" prevent-default>
                                <localize key="general_previous">Previous</localize>
                            </a>
                        </li>

                        <li ng-repeat="pgn in pagination"
                            ng-class="{active:pgn.isActive}">

                            <a href="#" ng-click="goToPage(pgn.val - 1)" prevent-default
                               ng-bind="pgn.name ? pgn.name : pgn.val"
                               ng-if="pgn.val != '...'"></a>
                            <span ng-bind="pgn.val" ng-if="pgn.val == '...'"></span>
                        </li>

                        <li ng-class="{disabled:options.pageNumber >= listViewResultSet.totalPages}">
                            <a href="#" ng-click="next()" prevent-default>
                                <localize key="general_next">Next</localize>
                            </a>
                        </li>
                    </ul>
                </div>
            </div>

            <div class="text-center">
                <hr/>
                <merchello-add-icon do-add="add()"></merchello-add-icon>
            </div>
        </div>


</div>