<div class="umb-panel merchello-side-panel" ng-controller="Merchello.Dashboards.Settings.Shipping.Dialogs.ShippingProviderController">
    <div class="umb-modalcolumn-header">
        <h4><localize key="merchelloShippingProvider_addProvider" /></h4>
    </div>
    <div class="umb-panel-body with-header with-footer">
        <div class="form-group row-fluid provider-dropdown">
            <label for="provider-name"><localize key="merchelloShippingProvider_selectProvider" /></label>
            <div class="input-append col-xs-12 span12">
                <select name="availableProviders" data-ng-model="dialogData.provider" data-ng-options="p.name for p in dialogData.availableProviders track by p.key" data-ng-change="prepareDropdown('resources')"></select>
            </div>
        </div>
        <div class="form-group row-fluid provider-dropdown" data-ng-show="isProviderSelected()">
            <label for="provider-name"><localize key="merchelloShippingProvider_selectResource" /></label>
            <div class="input-append col-xs-12 span12">
                <select name="availableResources" data-ng-model="dialogData.resource" data-ng-options="p.name for p in dialogData.provider.resources track by p.serviceCode"></select>
            </div>
        </div>
    </div>
	<div class="umb-panel-footer" >
		<div class="umb-el-wrap umb-panel-buttons">
	        <div class="btn-toolbar umb-btn-toolbar pull-right">
	        	<a href data-ng-click="close()" class="btn btn-link">
	        		<localize key="general_cancel"></localize>
				</a>
				<button class="btn btn-primary" data-ng-click="save()">
					<localize key="buttons_save"></localize>
				</button>
	        </div>
		</div>
	</div>
</div>