<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <configSections>
        <section name="merchello" type="Merchello.Core.Configuration.Outline.MerchelloSection, Merchello.Core" />
      <section name="Examine" type="Examine.Config.ExamineSettings, Examine" requirePermission="false" />
      <section name="ExamineLuceneIndexSets" type="Examine.LuceneEngine.Config.IndexSets, Examine" requirePermission="false" />

      <sectionGroup name="umbracoConfiguration">
        <section name="settings" type="Umbraco.Core.Configuration.UmbracoSettings.UmbracoSettingsSection, Umbraco.Core" requirePermission="false" />
        <section name="BaseRestExtensions" type="Umbraco.Core.Configuration.BaseRest.BaseRestSection, Umbraco.Core" requirePermission="false" />
        <section name="FileSystemProviders" type="Umbraco.Core.Configuration.FileSystemProvidersSection, Umbraco.Core" requirePermission="false" />
        <section name="dashBoard" type="Umbraco.Core.Configuration.Dashboard.DashboardSection, Umbraco.Core" requirePermission="false" />
      </sectionGroup>

    </configSections>

  <umbracoConfiguration>
    <settings>
      <content>
        <errors>
          <error404>1</error404>
        </errors>
        <notifications>
          <email>your@email.here</email>
        </notifications>
        <PropertyContextHelpOption>text</PropertyContextHelpOption>
        <PreviewBadge>
          <![CDATA[<a id="umbracoPreviewBadge" style="position: absolute; top: 0; right: 0; border: 0; width: 149px; height: 149px; background: url('{1}/preview/previewModeBadge.png') no-repeat;z-index: 9999999;" href="#" OnClick="javascript:window.top.location.href = '{0}/endPreview.aspx?redir={2}'"><span style="display:none;">In Preview Mode - click to end</span></a>]]>
        </PreviewBadge>
        <UmbracoLibraryCacheDuration>1800</UmbracoLibraryCacheDuration>
        <MacroErrors>inline</MacroErrors>
        <disallowedUploadFiles>ashx,aspx,ascx,config,cshtml,vbhtml,asmx,air,axd,swf,xml,html,htm,svg,php,htaccess</disallowedUploadFiles>
        <defaultDocumentTypeProperty>Textstring</defaultDocumentTypeProperty>
      </content>
      <security>
        <keepUserLoggedIn>false</keepUserLoggedIn>
        <hideDisabledUsersInBackoffice>false</hideDisabledUsersInBackoffice>
      </security>
      <requestHandler>
        <useDomainPrefixes>false</useDomainPrefixes>
        <addTrailingSlash>true</addTrailingSlash>
      </requestHandler>
      <templates>
        <defaultRenderingEngine>Mvc</defaultRenderingEngine>
      </templates>
      <scheduledTasks>
      </scheduledTasks>
      <distributedCall enable="false">
        <user>0</user>
        <servers>
        </servers>
      </distributedCall>
      <web.routing trySkipIisCustomErrors="false" internalRedirectPreservesTemplate="false" disableAlternativeTemplates="false" disableFindContentByIdPath="false" umbracoApplicationUrl="">
      </web.routing>
    </settings>
    <BaseRestExtensions />
    <FileSystemProviders />
    <dashBoard />
  </umbracoConfiguration>
 
  <appSettings>
    <add key="syntax" value="SqlServer" />
    <!--add key="syntax" value="SqlCe" /-->
    
    <add key="merchelloConfigurationStatus" value="2.2.0" />
    
    <add key="sendTestEmail" value="true" />
  </appSettings>
  <connectionStrings>

    <!--add name="umbracoDbDsn" connectionString="Data Source=|DataDirectory|\Merchello.sdf" providerName="System.Data.SqlServerCe.4.0" /-->
    <!--add name="umbracoDbDsn" connectionString="Data Source=|DataDirectory|\Umbraco.sdf" providerName="System.Data.SqlServerCe.4.0" /-->

    <add name="umbracoDbDSN" connectionString="server=omen;database=merchellolocal;user id=merchello;password=merchello" providerName="System.Data.SqlClient" />

  </connectionStrings>

  <Examine>
    <ExamineIndexProviders>
      <providers>
        <add name="MerchelloProductIndexer" type="Merchello.Examine.Providers.ProductIndexer, Merchello.Examine" dataService="Merchello.Tests.IntegrationTests.TestHelpers.TestMerchelloDataService, Merchello.Tests.IntegrationTests" runAsync="false" />
        <add name="MerchelloInvoiceIndexer" type="Merchello.Examine.Providers.InvoiceIndexer, Merchello.Examine" dataService="Merchello.Tests.IntegrationTests.TestHelpers.TestMerchelloDataService, Merchello.Tests.IntegrationTests" runAsync="false" />
        <add name="MerchelloOrderIndexer" type="Merchello.Examine.Providers.OrderIndexer, Merchello.Examine" dataService="Merchello.Tests.IntegrationTests.TestHelpers.TestMerchelloDataService, Merchello.Tests.IntegrationTests" runAsync="false" />
        <add name="MerchelloCustomerIndexer" type="Merchello.Examine.Providers.CustomerIndexer, Merchello.Examine" dataService="Merchello.Tests.IntegrationTests.TestHelpers.TestMerchelloDataService, Merchello.Tests.IntegrationTests" runAsync="false" />
      </providers>
    </ExamineIndexProviders>

    <ExamineSearchProviders defaultProvider="MerchelloProductSearcher">
      <providers>
        <add name="MerchelloProductSearcher" type="Examine.LuceneEngine.Providers.LuceneSearcher, Examine" />
        <add name="MerchelloInvoiceSearcher" type="Examine.LuceneEngine.Providers.LuceneSearcher, Examine" />
        <add name="MerchelloOrderSearcher" type="Examine.LuceneEngine.Providers.LuceneSearcher, Examine" />
        <add name="MerchelloCustomerSearcher" type="Examine.LuceneEngine.Providers.LuceneSearcher, Examine" />
      </providers>
    </ExamineSearchProviders>

  </Examine>


  <ExamineLuceneIndexSets>
      <IndexSet SetName="MerchelloProductIndexSet" IndexPath="../../App_Data/Merchello/Product/" />
      <IndexSet SetName="MerchelloInvoiceIndexSet" IndexPath="../../App_Data/Merchello/Invoice/" />
      <IndexSet SetName="MerchelloOrderIndexSet" IndexPath="../../App_Data/Merchello/Order/" />
      <IndexSet SetName="MerchelloCustomerIndexSet" IndexPath="../../App_Data/Merchello/Customer/" />
  </ExamineLuceneIndexSets>


  <merchello enableLogging="true" logLocalization="en">

    <settings>
      <setting alias="DefaultSkuSeparator" value="-" />

      <!-- 
    Overrides the Payment Method's IPaymentResponse ApproveOrderCreation indicating an order should always be created no matter
    if the payment has been collected or not. 
    -->
      <setting alias="AlwaysApproveOrderCreation" value="false" />

      <!--
    Settting introduced in version 1.1.0.  If true, Merchello will automatically attempt to 
    update the database schema (if required) when the bootstrapper detects a Merchello version update
    -->
      <setting alias="AutoUpdateDbSchema" value="true" />

      <!--
    Setting introduced in version 1.3.0.  Value indicates the maximum number of days to store
    anonymous customer records.  After the number of days, a maintenance routine will remove the 
    records from the database.
    Requires that you add the the following scheduled task in umbracoSettings.config
    <task log="true" alias="removeAnonymousCustomers" interval="14400" url="http://localhost/umbraco/Merchello/ScheduledTasksApi/RemoveAnonymousCustomers/">
    -->
      <setting alias="AnonymousCustomersMaxDays" value="7" />
      <!--
     Sets the number of days to persist an anonymous customer cookie.  If value is less than or equal to 0,
     the cookie will expire immediately, e.g. a session cookie.
    -->
      <setting alias="AnonymousCustomerCookieExpiresDays" value="31" />

      <!--
    If true, Merchello will quote shipments based on an item's sale price if it's on sale.
    -->
      <setting alias="QuoteShipmentUsingOnSalePrice" value="false" />
      
      <!--
    The following two settings are used to control the Examine index sizes for application start.
    Alternatively you can add
    <Examine RebuildOnAppStart="false">
    -->
      <setting alias="ExamineUseGetAllOnRebuild" value="false" />
      <setting alias="IndexCompletedOrdersMaxDays" value="90" />
      <setting alias="IndexActiveCustomersMaxDays" value="360" />

    </settings>

    <!-- A comma delimited list of Umbraco MemberTypes to be considered as Merchello Customers -->
    <customer memberTypes="Customer,MerchelloCustomer" />

    <backoffice>
      <!-- 1.11.0 adds default attributes localizeArea and localizeName with respective values of merchelloTree and the id att value e.g. products, sales, etc. -->
      <tree id="products" title="Products" icon="icon-barcode" routePath="merchello/merchello/productlist/manage" visible="true" sortOrder="1" />
      <tree id="sales" title="Sales" icon="icon-receipt-dollar" routePath="merchello/merchello/saleslist/manage" visible="true" sortOrder="2">
        <childSettings>
          <!--
                Sets the order where self managed entity collection providers (like Unpaid invoices) are listed in the tree.
                If set to true, the resolved collections will be listed before the user defined collections.  False will list them
                after.
            -->
          <setting alias="selfManagedProvidersBeforeStaticProviders" value="true" />
        </childSettings>
        <selfManagedEntityCollectionProviders>
          <!--
                attribute: key - the provider key defined in the EntityCollectionProviderAttribute decorating the EntityCollectionProvider
                attribute: icon - is the icon displayed in the tree
                attribute: visible - indicates whether or not the collection should provider should create a tree node
                attribute: ref - not actually used, it is only here so that they can be managed more easily
               -->
          <entityCollectionProvider key="A8120A01-E9BF-4204-ADDD-D9553F6F24FE" icon="icon-bills" visible="true" ref="Unpaid invoices" />
          <entityCollectionProvider key="82015B97-11E8-4E57-8258-A59E1D378E04" icon="icon-bills" visible="true" ref="Partially paid invoices" />
          <entityCollectionProvider key="072E0671-31BE-41E4-8CF9-4AEEC6CC5BC6" icon="icon-bills" visible="true" ref="Paid invoices" />
          <entityCollectionProvider key="5FD6E5EB-0B7C-41A4-B863-7AEC31BE84C0" icon="icon-truck" visible="true" ref="Unfulfilled orders" />
          <entityCollectionProvider key="A9A288F3-DA98-4712-9E90-F9F909F2C26A" icon="icon-truck" visible="true" ref="Open orders" />
          <entityCollectionProvider key="68B57648-7550-4702-8223-C5574B7C0604" icon="icon-truck" visible="true" ref="Fulfilled orders" />
          <entityCollectionProvider key="F7441106-C21A-434E-AF72-BEE42CD0A273" icon="icon-truck" visible="true" ref="Cancelled orders" />
        </selfManagedEntityCollectionProviders>
      </tree>
      <tree id="customers" title="Customers" icon="icon-user-glasses" routePath="merchello/merchello/customerlist/manage" visible="true" sortOrder="3" />
      <tree id="marketing" title="Marketing" icon="icon-energy-saving-bulb" routePath="merchello/merchello/offerslist/manage" visible="true" sortOrder="4" />
      <tree id="reports" title="Reports" icon="icon-slideshow" routePath="merchello/merchello/reportsdashboard/manage" visible="true" sortOrder="5" />
      <tree id="gateways" title="Gateway Providers" icon="icon-settings" routePath="merchello/merchello/gatewayproviderlist/manage" visible="true" sortOrder="6" />
    </backoffice>

    <contentFinderCulture>
      <!-- You can set slug prefixes for products for each culture if you need to.
    e.g. with the following settings, en-US product URLs will be /en/[slug]
    <route cultureName="en-US" productSlugPrefix="en" />
    -->
    </contentFinderCulture>

    <pluggable>
      <object alias="CustomerContext" type="Merchello.Web.CustomerContext, Merchello.Web" />
      <object alias="BasketCheckoutCustomerManager" type="Merchello.Web.CheckoutManagers.BasketCheckoutCustomerManager, Merchello.Web" />
      <object alias="BasketCheckoutOfferManager" type="Merchello.Web.CheckoutManagers.BasketCheckoutOfferManager, Merchello.Web" />
      <object alias="BasketCheckoutShippingManager" type="Merchello.Web.CheckoutManagers.BasketCheckoutShippingManager, Merchello.Web" />
      <object alias="BasketCheckoutExtendedManager" type="Merchello.Web.CheckoutManagers.BasketCheckoutExtendedManager, Merchello.Web" />
      <object alias="BasketCheckoutPaymentManager" type="Merchello.Web.CheckoutManagers.BasketCheckoutPaymentManager, Merchello.Web" />
      <object alias="RemoteLogger" type="Merchello.Web.Logging.DefaultEmptyRemoteLogger, Merchello.Web" />
      <object alias="PluginViewEditorProvider" type="Merchello.Web.Pluggable.PluginViewEditorProvider, Merchello.Web" />
    </pluggable>

    <strategies>
      <strategy alias="DefaultPackaging" type="Merchello.Core.Strategies.Packaging.DefaultWarehousePackagingStrategy, Merchello.Core" />
      <strategy alias="DefaultShipmentRateQuote" type="Merchello.Core.Gateways.Shipping.DefaultShipmentRateQuoteStrategy, Merchello.Core" />
      <strategy alias="DefaultInvoiceTaxRateQuote" type="Merchello.Core.Gateways.Taxation.FixedRate.FixedRateTaxCalculationStrategy, Merchello.Core" />
      <strategy alias="DefaultAnonymousBasketConversionStrategy" type="Merchello.Web.Workflow.BasketConversionByDiscardingPreviousCustomerBasket, Merchello.Web" />
      <!--strategy alias="DefaultAnonymousBasketConversionStrategy" type="Merchello.Web.Workflow.BasketConversionByCombiningAnonymousBasket, Merchello.Web" /-->
    </strategies>

    <taskChains>
      <taskChain alias="SalesPreparationInvoiceCreate">
        <tasks>
          <task type="Merchello.Core.Chains.InvoiceCreation.SalesPreparation.AddBillingInfoToInvoiceTask, Merchello.Core" />
          <task type="Merchello.Core.Chains.InvoiceCreation.SalesPreparation.ConvertItemCacheItemsToInvoiceItemsTask, Merchello.Core" />
          <task type="Merchello.Web.Workflow.InvoiceCreation.SalesPreparation.AddCouponDiscountsToInvoiceTask, Merchello.Web" />
          <task type="Merchello.Core.Chains.InvoiceCreation.SalesPreparation.ApplyTaxesToInvoiceTax, Merchello.Core" />
          <task type="Merchello.Core.Chains.InvoiceCreation.SalesPreparation.ValidateCommonCurrency, Merchello.Core" />
          <task type="Merchello.Web.Workflow.InvoiceCreation.SalesPreparation.AddNotesToInvoiceTask, Merchello.Web" />
        </tasks>
      </taskChain>
      <taskChain alias="CheckoutManagerInvoiceCreate">
        <tasks>
          <task type="Merchello.Core.Chains.InvoiceCreation.CheckoutManager.AddBillingInfoToInvoiceTask, Merchello.Core" />
          <task type="Merchello.Core.Chains.InvoiceCreation.CheckoutManager.ConvertItemCacheItemsToInvoiceItemsTask, Merchello.Core" />
          <task type="Merchello.Web.Workflow.InvoiceCreation.CheckoutManager.AddCouponDiscountsToInvoiceTask, Merchello.Web" />
          <task type="Merchello.Core.Chains.InvoiceCreation.CheckoutManager.ApplyTaxesToInvoiceTask, Merchello.Core" />
          <task type="Merchello.Core.Chains.InvoiceCreation.CheckoutManager.ValidateCommonCurrency, Merchello.Core" />
          <task type="Merchello.Core.Chains.InvoiceCreation.CheckoutManager.AddInvoiceNumberPrefixTask, Merchello.Core" />
          <task type="Merchello.Web.Workflow.InvoiceCreation.CheckoutManager.AddNotesToInvoiceTask, Merchello.Web" />
        </tasks>
      </taskChain>
      <taskChain alias="OrderPreparationOrderCreate">
        <tasks>
          <task type="Merchello.Core.Chains.OrderCreation.ConvertInvoiceItemsToOrderItemsTask, Merchello.Core" />
        </tasks>
      </taskChain>
      <taskChain alias="OrderPreparationShipmentCreate">
        <tasks>
          <task type="Merchello.Core.Chains.ShipmentCreation.AddShippableOrderLineItemsToShipmentTask, Merchello.Core" />
          <task type="Merchello.Core.Chains.ShipmentCreation.RemoveShipmentOrderItemsFromInventoryAndPersistShipmentTask, Merchello.Core" />
          <task type="Merchello.Core.Chains.ShipmentCreation.SetOrderStatusTask, Merchello.Core" />
        </tasks>
      </taskChain>
      <!--
       Used to modify persisted data before returning to the UI
       -->
      <taskChain alias="MerchelloHelperProductDataModifiers">
        <tasks>
          <task type="Merchello.Web.DataModifiers.Product.IncludeTaxInProductPriceDataModifierTask, Merchello.Web" />
        </tasks>
      </taskChain>
      <taskChain alias="ItemCacheValidation">
        <!-- Added Merchello Version 1.11.0
      This chain validates basket and wish list items against values in the back office to assert that the customer has not
      added items to their basket that were subsequently changed in the back office prior to checkout.  The process is needed
      as the relation between the basket and wish list items are decoupled from the actual persisted values.
      -->
        <tasks>
          <task type="Merchello.Web.Validation.Tasks.ValidateProductsExistTask, Merchello.Web" />
          <!--
                The following task is intended to assert that pricing and/or on sale value has not changed in the back office since the
                customer has placed an item into their basket or wish list. If you have made custom pricing modifications in your
                implementation, you may either remove this task or adjust your code to add a new extended data value
                merchLineItemAllowsValidation = false
                to the line item so that it is skipped in the validation process.
            -->
          <task type="Merchello.Web.Validation.Tasks.ValidateProductPriceTask, Merchello.Web" />
          <!--
                Validates that products are still in inventory
            -->
          <task type="Merchello.Web.Validation.Tasks.ValidateProductInventoryTask, Merchello.Web" />
        </tasks>
      </taskChain>
      <taskChain alias="CopyProduct">
        <tasks>
          <task type="Merchello.Core.Chains.CopyEntity.Product.CopyProductOptionsTask, Merchello.Core" />
          <!-- we have to save here to generate the variants -->
          <task type="Merchello.Core.Chains.CopyEntity.Product.SaveProductCopyTask, Merchello.Core" />
          <task type="Merchello.Core.Chains.CopyEntity.Product.AddProductToWarehouseCatalogsTask, Merchello.Core" />
          <task type="Merchello.Core.Chains.CopyEntity.Product.MapProductVariantDataTask, Merchello.Core" />
          <task type="Merchello.Core.Chains.CopyEntity.Product.CopyProductCollectionsTask, Merchello.Core" />
          <task type="Merchello.Core.Chains.CopyEntity.Product.CopyDetachedContentTask, Merchello.Core" />
        </tasks>
      </taskChain>
    </taskChains>

    <typeFieldDefinitions>
      <lineItem>
        <type alias="CcFee" descriptiveName="Fee applied to invoices for credit card charges" typeKey="676A3E0D-AC88-4D61-850A-403E8C359FDE" />
      </lineItem>
      <!--
    <itemCache>
      <type alias="WeddingRegistry" descriptiveName="Wedding Registry" typeKey="64F43CDF-6313-4B45-AE39-C32646F37041" />
    </itemCache>
    <product />
    
    -->
    </typeFieldDefinitions>

    <!-- Introduced patternFormatter in version 1.1.1 -->
    <patternFormatter>

      <!-- patterns to search and replace can be 
          
          <replace alias="Company" pattern="{{Company}}" replacement="Merchello" replacementInMonitor="false" />
          -->

      <!--
          Depending on the model passed to the "Monitor" responsible for populating the replacements, some of these values will be empty.  For example,
          a MonitorModel that only contains shipment information will not be able to populate Billing information ...
          -->

      <!-- INVOICE -->
      <replace alias="InvoiceKey" pattern="{{InvoiceKey}}" />
      <replace alias="InvoiceNumber" pattern="{{InvoiceNumber}}" />
      <replace alias="InvoiceDate" pattern="{{InvoiceDate}}" />

      <replace alias="InvoiceStatus" pattern="{{InvoiceStatus}}" />
      <replace alias="TotalDiscountPrice" pattern="{{TotalDiscountPrice}}" />
      <replace alias="TotalShippingPrice" pattern="{{TotalShippingPrice}}" />
      <replace alias="TotalCustomPrice" pattern="{{TotalCustomPrice}}" />
      <replace alias="TotalTaxPrice" pattern="{{TotalTaxPrice}}" />
      <replace alias="TotalItemPrice" pattern="{{TotalItemPrice}}" />
      <replace alias="TotalItemPlusCustom" pattern="{{TotalItemPlusCustom}}" />
      <replace alias="TotalPrice" pattern="{{TotalPrice}}" />

      <!-- ADDRESS -->
      <replace alias="BillToName" pattern="{{BillToName}}" />
      <replace alias="BillToAddress1" pattern="{{BillToAddress1}}" />
      <replace alias="BillToAddress2" pattern="{{BillToAddress2}}" />
      <replace alias="BillToLocality" pattern="{{BillToLocality}}" />
      <replace alias="BillToRegion" pattern="{{BillToRegion}}" />
      <replace alias="BillToPostalCode" pattern="{{BillToPostalCode}}" />
      <replace alias="BillToCountryCode" pattern="{{BillToCountryCode}}" />
      <replace alias="BillToEmail" pattern="{{BillToEmail}}" />
      <replace alias="BillToPhone" pattern="{{BillToPhone}}" />
      <replace alias="BillToCompany" pattern="{{BillToCompany}}" />

      <replace alias="ShippedDate" pattern="{{ShippedDate}}" />
      <replace alias="ShipToAddress1" pattern="{{ShipToAddress1}}" />
      <replace alias="ShipToAddress2" pattern="{{ShipToAddress2}}" />
      <replace alias="ShipToLocality" pattern="{{ShipToLocality}}" />
      <replace alias="ShipToRegion" pattern="{{ShipToRegion}}" />
      <replace alias="ShipToPostalCode" pattern="{{ShipToPostalCode}}" />
      <replace alias="ShipToCountryCode" pattern="{{ShipToCountryCode}}" />
      <replace alias="ShipToName" pattern="{{ShipToName}}" />
      <replace alias="ShipToEmail" pattern="{{ShipToEmail}}" />
      <replace alias="ShipToPhone" pattern="{{ShipToPhone}}" />
      <replace alias="ShipToOrganization" pattern="{{ShipToOrganization}}" />
      <replace alias="ShipToName" pattern="{{ShipToName}}" />
      <replace alias="TrackingCode" pattern="{{TrackingCode}}" />
      <replace alias="ShipMethodName" pattern="{{ShipMethodName}}" />
      <!-- ITERATING THROUGH LINE ITEMS -->


      <!-- LINE ITEMS
        these must be between the IterationStart[Invoice.Items] and IterationEnd[Invoice.Items] so they get repeated in the iteration -
        the pattern is then dynamically changed to
        
        Item.Sku.0 - Item.Name.0 - Item.Price.0 ...
        Item.Sku.1 - Item.Name.1 - Item.Price.1 ...
        Item.Sku.2 - Item.Name.2 - Item.Price.2 ...
        
        before the formatter performs it's replacements the message 
        -->
      <replace alias="LineItemSku" pattern="{{Item.Sku}}" />
      <replace alias="LineItemName" pattern="{{Item.Name}}" />
      <replace alias="LineItemUnitPrice" pattern="{{Item.UnitPrice}}" />
      <replace alias="LineItemQuantity" pattern="{{Item.Quantity}}" />
      <replace alias="LineItemTotalPrice" pattern="{{Item.TotalPrice}}" />

      <!-- PAYMENT -->
      <replace alias="PaymentMethodName" pattern="{{PaymentMethodName}}" />
      <replace alias="PaymentAmount" pattern="{{PaymentAmount}}" />
      <replace alias="PamentReferenceNumber" pattern="{{ReferenceNumber}}" />

    </patternFormatter>


    <currencyFormats>
      <!-- Define currency formats by code.
        PR: https://github.com/Merchello/Merchello/pull/1422
      <format currencyCode="sek" format="{1:0.00}{0}" />
    -->
    </currencyFormats>

    <countries>
      <!-- http://madskristensen.net/post/xml-country-list -->
      <country code="AF" iso="4">Afghanistan</country>
      <country code="AL" iso="8">Albania</country>
      <country code="DZ" iso="12">Algeria</country>
      <country code="AS" iso="16">American Samoa</country>
      <country code="AD" iso="20">Andorra</country>
      <country code="AO" iso="24">Angola</country>
      <country code="AI" iso="660">Anguilla</country>
      <country code="AQ" iso="10">Antarctica</country>
      <country code="AG" iso="28">Antigua And Barbuda</country>
      <country code="AR" iso="32">Argentina</country>
      <country code="AM" iso="51">Armenia</country>
      <country code="AW" iso="533">Aruba</country>
      <country code="AU" iso="36">Australia</country>
      <country code="AT" iso="40">Austria</country>
      <country code="AZ" iso="31">Azerbaijan</country>
      <country code="BS" iso="44">Bahamas</country>
      <country code="BH" iso="48">Bahrain</country>
      <country code="BD" iso="50">Bangladesh</country>
      <country code="BB" iso="52">Barbados</country>
      <country code="BY" iso="112">Belarus</country>
      <country code="BE" iso="56">Belgium</country>
      <country code="BZ" iso="84">Belize</country>
      <country code="BJ" iso="204">Benin</country>
      <country code="BM" iso="60">Bermuda</country>
      <country code="BT" iso="64">Bhutan</country>
      <country code="BO" iso="68">Bolivia</country>
      <country code="BA" iso="70">Bosnia And Herzegovina</country>
      <country code="BW" iso="72">Botswana</country>
      <country code="BV" iso="74">Bouvet Island</country>
      <country code="BR" iso="76">Brazil</country>
      <country code="IO" iso="86">British Indian Ocean Territory</country>
      <country code="BN" iso="96">Brunei Darussalam</country>
      <country code="BG" iso="100">Bulgaria</country>
      <country code="BF" iso="854">Burkina Faso</country>
      <country code="BI" iso="108">Burundi</country>
      <country code="KH" iso="116">Cambodia</country>
      <country code="CM" iso="120">Cameroon</country>
      <country code="CA" iso="124">Canada</country>
      <country code="CV" iso="132">Cape Verde</country>
      <country code="KY" iso="136">Cayman Islands</country>
      <country code="CF" iso="140">Central African Republic</country>
      <country code="TD" iso="148">Chad</country>
      <country code="CL" iso="152">Chile</country>
      <country code="CN" iso="156">China</country>
      <country code="CX" iso="162">Christmas Island</country>
      <country code="CC" iso="166">Cocos (Keeling) Islands</country>
      <country code="CO" iso="170">Colombia</country>
      <country code="KM" iso="174">Comoros</country>
      <country code="CG" iso="178">Congo</country>
      <country code="CK" iso="184">Cook Islands</country>
      <country code="CR" iso="188">Costa Rica</country>
      <country code="CI" iso="384">Cote D'Ivoire</country>
      <country code="HR" iso="191">Croatia (Local Name: Hrvatska)</country>
      <country code="CU" iso="192">Cuba</country>
      <country code="CY" iso="196">Cyprus</country>
      <country code="CZ" iso="203">Czech Republic</country>
      <country code="DK" iso="208">Denmark</country>
      <country code="DJ" iso="262">Djibouti</country>
      <country code="DM" iso="212">Dominica</country>
      <country code="DO" iso="214">Dominican Republic</country>
      <country code="EC" iso="218">Ecuador</country>
      <country code="EG" iso="818">Egypt</country>
      <country code="SV" iso="222">El Salvador</country>
      <country code="GQ" iso="226">Equatorial Guinea</country>
      <country code="ER" iso="232">Eritrea</country>
      <country code="EE" iso="233">Estonia</country>
      <country code="ET" iso="210">Ethiopia</country>
      <country code="FK" iso="238">Falkland Islands (Malvinas)</country>
      <country code="FO" iso="234">Faroe Islands</country>
      <country code="FJ" iso="242">Fiji</country>
      <country code="FI" iso="246">Finland</country>
      <country code="FR" iso="250">France</country>
      <country code="FX" iso="249">France, Metropolitan</country>
      <country code="GF" iso="254">French Guiana</country>
      <country code="PF" iso="258">French Polynesia</country>
      <country code="TF" iso="260">French Southern Territories</country>
      <country code="GA" iso="266">Gabon</country>
      <country code="GM" iso="270">Gambia</country>
      <country code="GE" iso="268">Georgia</country>
      <country code="DE" iso="276">Germany</country>
      <country code="GH" iso="288">Ghana</country>
      <country code="GI" iso="292">Gibraltar</country>
      <country code="GR" iso="300">Greece</country>
      <country code="GL" iso="304">Greenland</country>
      <country code="GD" iso="308">Grenada</country>
      <country code="GP" iso="312">Guadeloupe</country>
      <country code="GU" iso="316">Guam</country>
      <country code="GT" iso="320">Guatemala</country>
      <country code="GN" iso="324">Guinea</country>
      <country code="GW" iso="624">Guinea-Bissau</country>
      <country code="GY" iso="328">Guyana</country>
      <country code="HT" iso="332">Haiti</country>
      <country code="HM" iso="334">Heard Island &amp; Mcdonald Islands</country>
      <country code="HN" iso="340">Honduras</country>
      <country code="HK" iso="344">Hong Kong</country>
      <country code="HU" iso="348">Hungary</country>
      <country code="IS" iso="352">Iceland</country>
      <country code="IN" iso="356">India</country>
      <country code="ID" iso="360">Indonesia</country>
      <country code="IR" iso="364">Iran, Islamic Republic Of</country>
      <country code="IQ" iso="368">Iraq</country>
      <country code="IE" iso="372">Ireland</country>
      <country code="IL" iso="376">Israel</country>
      <country code="IT" iso="380">Italy</country>
      <country code="JM" iso="388">Jamaica</country>
      <country code="JP" iso="392">Japan</country>
      <country code="JO" iso="400">Jordan</country>
      <country code="KZ" iso="398">Kazakhstan</country>
      <country code="KE" iso="404">Kenya</country>
      <country code="KI" iso="296">Kiribati</country>
      <country code="KP" iso="408">Korea, Democratic People'S Republic Of</country>
      <country code="KR" iso="410">Korea, Republic Of</country>
      <country code="KW" iso="414">Kuwait</country>
      <country code="KG" iso="417">Kyrgyzstan</country>
      <country code="LA" iso="418">Lao People'S Democratic Republic</country>
      <country code="LV" iso="428">Latvia</country>
      <country code="LB" iso="422">Lebanon</country>
      <country code="LS" iso="426">Lesotho</country>
      <country code="LR" iso="430">Liberia</country>
      <country code="LY" iso="434">Libyan Arab Jamahiriya</country>
      <country code="LI" iso="438">Liechtenstein</country>
      <country code="LT" iso="440">Lithuania</country>
      <country code="LU" iso="442">Luxembourg</country>
      <country code="MO" iso="446">Macau</country>
      <country code="MK" iso="807">Macedonia, The Former Yugoslav Republic Of</country>
      <country code="MG" iso="450">Madagascar</country>
      <country code="MW" iso="454">Malawi</country>
      <country code="MY" iso="458">Malaysia</country>
      <country code="MV" iso="462">Maldives</country>
      <country code="ML" iso="466">Mali</country>
      <country code="MT" iso="470">Malta</country>
      <country code="MH" iso="584">Marshall Islands</country>
      <country code="MQ" iso="474">Martinique</country>
      <country code="MR" iso="478">Mauritania</country>
      <country code="MU" iso="480">Mauritius</country>
      <country code="YT" iso="175">Mayotte</country>
      <country code="MX" iso="484">Mexico</country>
      <country code="FM" iso="583">Micronesia, Federated States Of</country>
      <country code="MD" iso="498">Moldova, Republic Of</country>
      <country code="MC" iso="492">Monaco</country>
      <country code="MN" iso="496">Mongolia</country>
      <country code="MS" iso="500">Montserrat</country>
      <country code="MA" iso="504">Morocco</country>
      <country code="MZ" iso="508">Mozambique</country>
      <country code="MM" iso="104">Myanmar</country>
      <country code="NA" iso="516">Namibia</country>
      <country code="NR" iso="520">Nauru</country>
      <country code="NP" iso="524">Nepal</country>
      <country code="NL" iso="528">Netherlands</country>
      <country code="AN" iso="530">Netherlands Antilles</country>
      <country code="NC" iso="540">New Caledonia</country>
      <country code="NZ" iso="554">New Zealand</country>
      <country code="NI" iso="558">Nicaragua</country>
      <country code="NE" iso="562">Niger</country>
      <country code="NG" iso="566">Nigeria</country>
      <country code="NU" iso="570">Niue</country>
      <country code="NF" iso="574">Norfolk Island</country>
      <country code="MP" iso="580">Northern Mariana Islands</country>
      <country code="NO" iso="578">Norway</country>
      <country code="OM" iso="512">Oman</country>
      <country code="PK" iso="586">Pakistan</country>
      <country code="PW" iso="585">Palau</country>
      <country code="PA" iso="591">Panama</country>
      <country code="PG" iso="598">Papua New Guinea</country>
      <country code="PY" iso="600">Paraguay</country>
      <country code="PE" iso="604">Peru</country>
      <country code="PH" iso="608">Philippines</country>
      <country code="PN" iso="612">Pitcairn</country>
      <country code="PL" iso="616">Poland</country>
      <country code="PT" iso="620">Portugal</country>
      <country code="PR" iso="630">Puerto Rico</country>
      <country code="QA" iso="634">Qatar</country>
      <country code="RE" iso="638">Reunion</country>
      <country code="RO" iso="642">Romania</country>
      <country code="RU" iso="643">Russian Federation</country>
      <country code="RW" iso="646">Rwanda</country>
      <country code="SH" iso="654">Saint Helena</country>
      <country code="KN" iso="659">Saint Kitts And Nevis</country>
      <country code="LC" iso="662">Saint Lucia</country>
      <country code="PM" iso="666">Saint Pierre And Miquelon</country>
      <country code="VC" iso="670">Saint Vincent And The Grenadines</country>
      <country code="WS" iso="882">Samoa</country>
      <country code="SM" iso="674">San Marino</country>
      <country code="ST" iso="678">Sao Tome And Principe</country>
      <country code="SA" iso="682">Saudi Arabia</country>
      <country code="SN" iso="686">Senegal</country>
      <country code="SC" iso="690">Seychelles</country>
      <country code="SL" iso="694">Sierra Leone</country>
      <country code="SG" iso="702">Singapore</country>
      <country code="SK" iso="703">Slovakia (Slovak Republic)</country>
      <country code="SI" iso="705">Slovenia</country>
      <country code="SB" iso="90">Solomon Islands</country>
      <country code="SO" iso="706">Somalia</country>
      <country code="ZA" iso="710">South Africa</country>
      <country code="ES" iso="724">Spain</country>
      <country code="LK" iso="144">Sri Lanka</country>
      <country code="SD" iso="736">Sudan</country>
      <country code="SR" iso="740">Suriname</country>
      <country code="SJ" iso="744">Svalbard And Jan Mayen Islands</country>
      <country code="SZ" iso="748">Swaziland</country>
      <country code="SE" iso="752">Sweden</country>
      <country code="CH" iso="756">Switzerland</country>
      <country code="SY" iso="760">Syrian Arab Republic</country>
      <country code="TW" iso="158">Taiwan, Province Of China</country>
      <country code="TJ" iso="762">Tajikistan</country>
      <country code="TZ" iso="834">Tanzania, United Republic Of</country>
      <country code="TH" iso="764">Thailand</country>
      <country code="TG" iso="768">Togo</country>
      <country code="TK" iso="772">Tokelau</country>
      <country code="TO" iso="776">Tonga</country>
      <country code="TT" iso="780">Trinidad And Tobago</country>
      <country code="TN" iso="788">Tunisia</country>
      <country code="TR" iso="792">Turkey</country>
      <country code="TM" iso="795">Turkmenistan</country>
      <country code="TC" iso="796">Turks And Caicos Islands</country>
      <country code="TV" iso="798">Tuvalu</country>
      <country code="UG" iso="800">Uganda</country>
      <country code="UA" iso="804">Ukraine</country>
      <country code="AE" iso="784">United Arab Emirates</country>
      <country code="GB" iso="826">United Kingdom</country>
      <country code="US" iso="840">United States</country>
      <country code="UM" iso="581">United States Minor Outlying Islands</country>
      <country code="UY" iso="858">Uruguay</country>
      <country code="UZ" iso="860">Uzbekistan</country>
      <country code="VU" iso="548">Vanuatu</country>
      <country code="VA" iso="336">Vatican City State (Holy See)</country>
      <country code="VE" iso="862">Venezuela</country>
      <country code="VN" iso="704">Viet Nam</country>
      <country code="VG" iso="92">Virgin Islands (British)</country>
      <country code="VI" iso="850">Virgin Islands (U.S.)</country>
      <country code="WF" iso="876">Wallis And Futuna Islands</country>
      <country code="EH" iso="732">Western Sahara</country>
      <country code="YE" iso="887">Yemen</country>
      <country code="YU" iso="891">Yugoslavia</country>
      <country code="ZR" iso="180">Zaire</country>
      <country code="ZM" iso="894">Zambia</country>
      <country code="ZW" iso="716">Zimbabwe</country>

      <regions>
        <region code="US" requirePostalCode="false">
          <province name="Alabama" code="AL" />
          <province name="Alaska" code="AK" />
          <province name="Arizona" code="AZ" />
          <province name="Arkansas" code="AR" />
          <province name="California" code="CA" />
          <province name="Colorado" code="CO" />
          <province name="Connecticut" code="CT" />
          <province name="Delaware" code="DE" />
          <province name="Florida" code="FL" />
          <province name="Georgia" code="GA" />
          <province name="Hawaii" code="HI" />
          <province name="Idaho" code="ID" />
          <province name="Illinois" code="IL" />
          <province name="Indiana" code="IN" />
          <province name="Iowa" code="IA" />
          <province name="Kansas" code="KS" />
          <province name="Kentucky" code="KY" />
          <province name="Louisiana" code="LA" />
          <province name="Maine" code="ME" />
          <province name="Maryland" code="MD" />
          <province name="Massachusetts" code="MA" />
          <province name="Michigan" code="MI" />
          <province name="Minnesota" code="MN" />
          <province name="Mississippi" code="MS" />
          <province name="Missouri" code="MO" />
          <province name="Montana" code="MT" />
          <province name="Nebraska" code="NE" />
          <province name="Nevada" code="NV" />
          <province name="New Hampshire" code="NH" />
          <province name="New Jersey" code="NJ" />
          <province name="New Mexico" code="NM" />
          <province name="New York" code="NY" />
          <province name="North Carolina" code="NC" />
          <province name="North Dakota" code="ND" />
          <province name="Ohio" code="OH" />
          <province name="Oklahoma" code="OK" />
          <province name="Oregon" code="OR" />
          <province name="Pennsylvania" code="PA" />
          <province name="Rhode Island" code="RI" />
          <province name="South Carolina" code="SC" />
          <province name="South Dakota" code="SD" />
          <province name="Tennessee" code="TN" />
          <province name="Texas" code="TX" />
          <province name="Utah" code="UT" />
          <province name="Vermont" code="VT" />
          <province name="Virginia" code="VA" />
          <province name="Washington" code="WA" />
          <province name="West Virginia" code="WV" />
          <province name="Wisconsin" code="WI" />
          <province name="Wyoming" code="WY" />
          <province name="American Samoa" code="AS" />
          <province name="District of Columbia" code="DC" />
          <province name="Federated States of Micronesia" code="FM" />
          <province name="Guam" code="GU" />
          <province name="Marshall Islands" code="MH" />
          <province name="Northern Mariana Islands" code="MP" />
          <province name="Palau" code="PW" />
          <province name="Puerto Rico" code="PR" />
          <province name="Virgin Islands" code="VI" />
          <province name="Armed Forces - Africa, Canada, Europe" code="AE" />
          <province name="Armed Forces Americas" code="AA" />
          <province name="Armed Forces Pacific" code="AP" />
        </region>
        <region code="CA" requirePostalCode="false">
          <province name="Alberta" code="AB" />
          <province name="British Columbia" code="BC" />
          <province name="Manitoba" code="MB" />
          <province name="New Brunswick" code="NB" />
          <province name="Newfoundland and Labrador" code="NL" />
          <province name="Northwest Territories" code="NT" />
          <province name="Nova Scotia" code="NS" />
          <province name="Nunavut" code="NU" />
          <province name="Ontario" code="ON" />
          <province name="Prince Edward Island" code="PE" />
          <province name="Quebec" code="QC" />
          <province name="Saskatchewan" code="SK" />
          <province name="Yukon" code="YT" />
        </region>
      </regions>
    </countries>

  </merchello>



  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
			<dependentAssembly>
				<assemblyIdentity name="System.Net.Http.Formatting" publicKeyToken="31BF3856AD364E35" culture="neutral" />
				<bindingRedirect oldVersion="0.0.0.0-5.2.3.0" newVersion="5.2.3.0" />
			</dependentAssembly>

      <!-- Old asp.net ajax assembly bindings -->
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Extensions" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="1.0.0.0-1.1.0.0" newVersion="4.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Extensions.Design" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="1.0.0.0-1.1.0.0" newVersion="4.0.0.0" />
      </dependentAssembly>

      <!-- Ensure correct version of MVC -->
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Helpers" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="0.0.0.0-2.0.0.0" newVersion="2.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.WebPages" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="0.0.0.0-3.0.0.0" newVersion="3.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.WebPages.Razor" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="0.0.0.0-2.0.0.0" newVersion="2.0.0.0" />
      </dependentAssembly>

      <!-- Ensure correct version of HtmlAgilityPack -->
      <dependentAssembly>
        <assemblyIdentity name="HtmlAgilityPack" publicKeyToken="bd319b19eaf3b43a" culture="neutral" />
        <bindingRedirect oldVersion="1.4.5.0-1.4.6.0" newVersion="1.4.6.0" />
      </dependentAssembly>

      <dependentAssembly>
        <assemblyIdentity name="System.Net.Http" publicKeyToken="b03f5f7f11d50a3a" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.0.0.0" newVersion="4.0.0.0" />
      </dependentAssembly>

      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-12.0.0.0" newVersion="12.0.0.0" />
      </dependentAssembly>

      <dependentAssembly>
        <assemblyIdentity name="System.Web.Mvc" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="0.0.0.0-5.2.7.0" newVersion="5.2.7.0" />
      </dependentAssembly>

      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Owin" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.0.1.0" newVersion="4.0.1.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Owin.Security.OAuth" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.0.1.0" newVersion="4.0.1.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Owin.Security" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.0.1.0" newVersion="4.0.1.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Owin.Security.Cookies" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.0.1.0" newVersion="4.0.1.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Net.Http.Formatting" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-5.2.3.0" newVersion="5.2.3.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="log4net" publicKeyToken="669e0ddf0bb1aa2a" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-2.0.8.0" newVersion="2.0.8.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" /></startup><system.data>
    <DbProviderFactories>
      <remove invariant="MySql.Data.MySqlClient" />
      <add name="MySQL Data Provider" invariant="MySql.Data.MySqlClient" description=".Net Framework Data Provider for MySQL" type="MySql.Data.MySqlClient.MySqlClientFactory, MySql.Data, Version=6.9.9.0, Culture=neutral, PublicKeyToken=c5687fc88969c44d" />
    </DbProviderFactories>
  </system.data></configuration>
