<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <section name="merchello" type="Merchello.Core.Configuration.Outline.MerchelloSection, Merchello.Core" />
    </configSections>


    <connectionStrings>
     <add name="umbracoDbDSN" connectionString="server=moria.mindfly.biz;database=merchello_test;user id=merchelloTester;password=merchelloTester" providerName="System.Data.SqlClient" />
     <!--add name="umbracoDbDSN" connectionString="Datasource=|DataDirectory|UmbracoPetaPocoTests.sdf" providerName="System.Data.SqlServerCe.4.0"/-->
    </connectionStrings>

    <merchello enableLogging="false" defaultCountryCode="US" version="0.9.1">

        <typeFieldDefinitions>

        </typeFieldDefinitions>

    </merchello>

</configuration>