<div class="umb-panel merchello-side-panel" ng-controller="Merchello.Common.Dialogs.EditAddressController">

    <div class="umb-overlay umb-overlay-right">
        <form name="editAddressForm" id="editAddressForm" class="umb-overlay__form">

            <div class="umb-overlay-header">
                <h4 class="umb-overlay__title"><localize key="merchelloSales_editAddress" /></h4>
            </div>

            <div class="umb-overlay-container form-horizontal merchello-panel-body">
                <div data-ng-show="dialogData.warning !== undefined && dialogData.warning != ''">
                    <p class="text-warning">{{ dialogData.warning }}</p>
                </div>
                <div class="row-fluid">
                    <div class="form-group control-group">
                        <label for="name"><localize key="merchelloCustomers_fullName"/>:</label>
                        <input name="name" type="text" class="span12" data-ng-model="address.name"/>
                    </div>
                    <div class="form-group control-group">
                        <label for="org"><localize key="merchelloCustomers_company"/>:</label>
                        <input name="org" type="text" class="span12" data-ng-model="address.organization"/>
                    </div>
                    <div class="form-group control-group">
                        <label for="address1">*<localize key="merchelloCustomers_address"/>:</label>
                        <!--<div class="error" data-ng-show="editAddressForm.address1.$invalid && wasFormSubmitted">Address is a required field.</div>-->
                        <input name="address1" type="text" class="span12" data-ng-model="address.address1" required/>
                    </div>
                    <div class="form-group control-group">
                        <label for="address2"><localize key="merchelloCustomers_addressLine2"/>:</label>
                        <input name="address2" type="text" class="span12" data-ng-model="address.address2"/>
                    </div>
                    <div class="form-group control-group">
                        <label for="locality"><localize key="merchelloCustomers_city"/>:</label>
                        <!--<div class="error" data-ng-show="editAddressForm.locality.$invalid && wasFormSubmitted">City is a required field.</div>-->
                        <input name="locality" type="text" class="span12" data-ng-model="address.locality" required/>
                    </div>
                    <div class="form-group control-group"><label for="country"><localize key="merchelloCustomers_country"/>:</label>
                        <!--<div class="error" data-ng-show="$scope.dialogData.filters.country.id == -1 && wasFormSubmitted">Country is a required field.</div>-->
                        <select name="country" class="span12" data-ng-model="dialogData.selectedCountry" data-ng-options="option.name for option in dialogData.countries"></select></div>
                    <div class="form-group control-group">
                        <label for="region"><localize key="merchelloCustomers_stateOrProvince"/>:</label>
                        <input name="region" type="text" class="span12" data-ng-hide="dialogData.selectedCountry.provinces.length > 0" data-ng-model="dialogData.address.region"/>
                        <select name="regionSelect" class="span12" data-ng-hide="dialogData.selectedCountry.provinces.length === 0" data-ng-model="dialogData.selectedProvince" data-ng-options="option.name for option in dialogData.selectedCountry.provinces"></select>
                    </div>
                    <div class="form-group control-group">
                        <label for="postalCode"><localize key="merchelloCustomers_zipOrPostalCode"/>:</label>
                        <input name="postalCode" type="text" class="span12" data-ng-model="address.postalCode" required/>
                    </div>
                    <div class="form-group control-group">
                        <label for="phone" data-ng-hide="!dialogData.showPhone"><localize key="merchelloCustomers_phone"/>:</label>
                        <input name="phone" type="tel" class="span12" data-ng-hide="!dialogData.showPhone" data-ng-model="dialogData.address.phone"/>
                    </div>
                    <div class="form-group control-group">
                        <label for="email" data-ng-hide="!dialogData.showEmail"><localize key="merchelloCustomers_email"/>:</label>
                        <input name="email" type="email" class="span12" data-ng-hide="!dialogData.showEmail" data-ng-model="dialogData.address.email"/>
                    </div>
                </div>
            </div>

            <div class="umb-overlay-drawer">
                <div class="umb-overlay-drawer__align-right">
                    
                    <div class="umb-button">
                        <a href data-ng-click="close()" class="btn btn-link">
                            <localize key="general_cancel"></localize>
                        </a>
                    </div>

                    <div class="umb-button">
                        <button class="btn btn-success" data-ng-click="save()">
                            <localize key="buttons_save"></localize>
                        </button>
                    </div>

                </div>
            </div>

        </form>
    </div>
</div>