<div class="umb-panel merchello-side-panel" data-ng-controller="Merchello.Common.Dialogs.ListViewSettingsController" data-ng-show="loaded">
    <div class="umb-modalcolumn-header">
        <h4><localize key="merchelloSettings_listViewSettingsTitle" /> ({{dialogData.entityType}})</h4>
    </div>
    <div class="umb-panel-body with-header with-footer">
        <form>
            <label class="label-checkbox" style="display: block"><input type="checkbox" data-ng-model="dialogData.settings.stickyList"> <span><localize key="merchelloSettings_stickyListView" /></span></label>
            <label class="label-checkbox" style="display: block"><input type="checkbox" data-ng-model="dialogData.settings.stickyCollectionList"> <span><localize key="merchelloSettings_stickyCollectionView" /></span></label>
            <label class="label-checkbox" style="display: block" data-ng-hide="dialogData.entityType === 'Offer'"><input type="checkbox" data-ng-model="dialogData.settings.stickListingTab"> <span data-ng-bind-html="stickListTabTitle"></span></label>
        </form>

        <div id="settingsComponent"></div>
    </div>

    <div class="umb-panel-footer">
        <div class="umb-el-wrap umb-panel-buttons">
            <div class="btn-toolbar umb-btn-toolbar pull-right">

                <a href data-ng-click="close()" class="btn btn-link">
                    <localize key="general_cancel"></localize>
                </a>

                <button class="btn-success"
                        data-ng-click="submit(dialogData)">
                    <localize key="buttons_save"></localize>
                </button>

            </div>
        </div>
    </div>
</div>