<div ng-controller="Merchello.Product.Dialogs.ProductAddController">
    <div class="umb-dialog-body with-footer">
        <div class="umb-pane">

            <form name="addProductForm" id="addProductForm">

                <div class="form-control control-group">
                    <label for="name"><localize key="merchelloProducts_newProductName" /></label>
                    <div class="error" data-ng-show="addProductForm.name.$invalid && wasFormSubmitted"><localize key="merchelloProducts_nameIsRequired">Name is a required field.</localize></div>
                    <input name="name" id="name" data-ng-model="product.name" class="form-control umb-editor" type="text" data-ng-required="true" />
                </div>
                <div class="form-control control-group">
                    <label for="sku">
                        <localize key="merchelloProducts_newProductSku" /><span data-ng-show="isUnique">
                            <i class="icon-check"></i>
                        </span>
                    </label>
                    <div class="error" data-ng-show="addProductForm.sku.$invalid && wasFormSubmitted"><localize key="merchelloProducts_skuIsRequired">SKU is a required field.</localize> </div>
                    <div class="error" data-ng-show="!isUnique"><localize key="merchelloProducts_skuIsNotUnique">SKU is not unique</localize></div>
                    <input name="sku" id="sku" data-ng-model="product.sku" class="form-control umb-editor" data-ng-blur="checkUniqueSku(productVariant.sku)" type="text" data-ng-required="true" />
                </div>
                <div class="form-control control-group">
                    <label for="price"><localize key="merchelloGeneral_price" /></label>
                    <div class="input-prepend" style="display: block; padding-bottom: 10px;">
                        <span class="add-on">{{currencySymbol}}</span>
                        <input id="price" name="price" required data-ng-pattern="/^\d+(\.\d+)?$/" type="number" data-ng-model="product.price" />
                    </div>
                </div>
                <div class="form-control control-group">
                    <detached-content-type-select entity-type="Product" selected-content-type="contentType" save="saveContentType(contentType)"></detached-content-type-select>
                </div>

            </form>
        </div>
    </div>

    <div class="umb-dialog-footer btn-toolbar umb-btn-toolbar">
        <!--<button class="btn btn-info" ng-click="nav.hideDialog(true)">
            <localize key="buttons_somethingElse" class="ng-isolate-scope ng-scope">Do something else</localize>
        </button>-->
        <a href data-ng-click="nav.hideNavigation()" class="btn btn-link"><localize key="general_cancel"></localize></a>

        <button class="btn btn-success" data-ng-click="save()">
            <localize key="buttons_save">Save</localize>
        </button>

    </div>
</div>