<fasttrack>

  <settings>
    
    <!-- Gets the xpath to the location of the "store" content type or whatever is configured -->
    <setting alias="StoreRootXpath" value="//root/" />
    
    <!--The Umbraco ContentTypeAlias for the "store" ContentType.-->
    <setting alias="ContentTypeAliasStore" value="ftStore" />
    
    <!--The Umbraco ContentTypeAlias for the "basket" ContentType-->
    <setting alias="ContentTypeAliasBasket" value="ftBasket" />
    
    <!--The Umbraco ContentTypeAlias for the "catalog" ContentType.-->
    <setting alias="ContentTypeAliasCatalog" value="ftCatalog" />
    
    <!--The Umbraco ContentTypeAlias for the "checkout" ContentTypes-->
    <setting alias="ContentTypeAliasCheckout" value="ftCheckout" />

    <!--The Umbraco ContentTypeAlias for the "receipt" ContentType.-->
    <setting alias="ContentTypeAliasReceipt" value="ftReceipt" />
    
    <!--The Umbraco ContentTypeAlias for the "account" ContentType.-->
    <setting alias="ContentTypeAliasAccount" value="ftAccount" />
    
    <!-- The Umbraco ContentTypeAlias for the "checkout password" ContentType -->
    <setting alias="ContentTypeAliasChangePassword" value="ftChangePassword" />
  </settings>

</fasttrack>