<div data-ng-controller="Merchello.Backoffice.InvoicePaymentsController" data-ng-show="loaded" class="merchello">

    <div class="umb-panel umb-editor-wrapper">

        <div class="umb-editor-header umb-panel-header">
            <div class="umb-panel-header-content-wrapper">

                <div class="umb-panel-header-content">
                    <div class="umb-panel-header-left-side -top-position">
                        <div class="umb-panel-header-title-wrapper">
                            <div class="umb-panel-header-name">
                                <localize key="merchelloOrder_sales" /> / <localize key="merchelloOrderView_invoiceNumber" />{{invoice.invoiceNumber}}
                            </div>
                        </div>
                    </div>
                </div>

                <merchello-tabs tabs="tabs"></merchello-tabs>
            </div>
        </div>

        <merchello-panel>
            <!-- Main Content Area -->
            <div class="merchello-pane primary">
                <div class="control-group umb-control-group">
                    <!--<div class="merchello-section-label">
                      <localize key="merchelloPayment_paymentInfo"/>
                      <small>Payment methods &amp; dates</small>
                    </div>-->
                    <div class="row-fluid">

                        <div data-ng-repeat="payment in payments" data-ng-show="preValuesLoaded">

                            <h4>
                                <localize key="merchelloPayment_paymentMethod" />: {{payment.paymentMethodName}}
                            </h4>

                            <div ng-show="hasExtendedDataKey(payment.extendedData.items, 'merchAvsCvvData')">
                                <h5>AVS/CVV</h5>
                                {{ showAvsCvvData(payment.extendedData.items) }}
                            </div>

                            <div class="btn-toolbar pull-right umb-btn-toolbar">
                                <button class="btn btn-info text-right" data-ng-click="openVoidPaymentDialog(payment)" data-ng-show="showVoid(payment)"><localize key="merchelloButtons_void" /></button>
                                <button class="btn btn-info text-right" data-ng-show="showRefund(payment)" data-ng-click="openRefundPaymentDialog(payment)"><localize key="merchelloButtons_refund" /></button>
                            </div>

                            <h5><localize key="merchelloGeneral_history">History</localize></h5>

                            <div class="merchello-list-view clearfix">
                                <table class="table">
                                    <thead>
                                    <tr>
                                        <th><localize key="merchelloTableCaptions_date">Date</localize></th>
                                        <th><localize key="merchelloTableCaptions_description">Description</localize></th>
                                        <th class="text-right"><localize key="merchelloTableCaptions_amount">Amount</localize></th>
                                        <th class="text-center"></th>
                                    </tr>
                                    </thead>
                                    <tbody>
                                    <tr data-ng-repeat="applied in payment.appliedPayments">
                                        <td>{{applied.createDate | date : settings.dateFormat }}</td>
                                        <td>{{applied.description}} 
                                            <span ng-show="hasExtendedDataKey(payment.extendedData.items, 'merchTransactionId')">
                                                ({{payment.extendedData.getValue('merchTransactionId')}})
                                            </span></td>
                                        <td class="text-right">{{applied.amount | currency: currencySymbol }}</td>
                                        <td class="text-center">
                                            <button class="btn btn-default" data-ng-click="voidPayment()" data-ng-hide="true">
                                                <localize key="actions_delete"/>
                                            </button>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td colspan="2" class="text-right"><localize key="merchelloSales_balanceDue">Balance due</localize>:</td>
                                        <td class="text-right">{{remainingBalance | currency : currencySymbol }}</td>
                                        <td></td>
                                    </tr>
                                    </tbody>
                                </table>

                            </div>
                        </div>

                    </div>

                </div>
            </div>
        </merchello-panel>
    </div>
</div>