@inherits Umbraco.Web.Mvc.UmbracoViewPage<Merchello.Web.Store.Models.StorePaymentModel>
@using System.Web.Mvc.Html
@using Merchello.FastTrack.Controllers.Payment
@using Merchello.Web.Store.Controllers.Payment
@using Umbraco.Web


<h3>Cash Payment</h3>
@using (Html.BeginUmbracoForm<CashPaymentController>("Process", new { area = "Merchello" }))
{
    <div>
        @Html.AntiForgeryToken()
        @Html.Partial("_RequireJsSubmitBtn", Model)
    </div>
}