<div class="umb-panel merchello-side-panel" data-ng-controller="Merchello.Plugin.GatewayProviders.Payments.Dialogs.AuthorizeNetGatewayProviderController">
	
    <div class="umb-modalcolumn-header">
        <h4><strong>Authorize.NET Provider Configuration</strong></h4>
    </div>

    <div class="umb-panel-body with-header with-footer">
        
        <div class="control-group row-fluid">
            <p>API Login Id<br /></p>
            <div class="col-xs-12 span12">
                <input class="col-xs-12 span12" type="text" data-ng-model="authorizeNetSettings.LoginId">
            </div>
        </div>
        <div class="control-group row-fluid">
            <p>Transaction Key<br /></p>
            <div class="col-xs-12 span12">
                <input class="col-xs-12 span12" type="text" data-ng-model="authorizeNetSettings.TransactionKey">
            </div>
        </div>
        <div class="control-group row-fluid">
            <label class="checkbox col-xs-12 span12">
                <input type="checkbox" data-ng-model="authorizeNetSettings.UseSandbox"> Use Sandbox
            </label>
            <label class="checkbox col-xs-12 span12">
                <input type="checkbox" data-ng-model="dialogData.provider.encryptExtendedData"> Encrypt Provider Configuration
            </label>
        </div>
        <ul>
            <li>Delimited Data: {{authorizeNetSettings.DelimitedData}}</li>
            <li>Delimited Char: {{authorizeNetSettings.DelimitedChar}}</li>                
            <li>Relay Response: {{authorizeNetSettings.RelayResponse}}</li>
            <li>API Version: {{authorizeNetSettings.ApiVersion}}</li>
        </ul>

    </div>
	
</div>


<div class="umb-panel-footer" >
	<div class="umb-el-wrap umb-panel-buttons">
	    <div class="btn-toolbar umb-btn-toolbar pull-right">

	        <a href data-ng-click="close()" class="btn btn-link">
	        	<localize key="general_cancel">Cancel</localize>
			</a>

			<a href
				class="btn btn-primary"
				data-ng-click="submit(dialogData)">
				<localize key="buttons_save">Save</localize>
			</a>

	    </div>
	</div>
</div>
