<merchello enableLogging="true" logLocalization="en">

  <settings>
    <setting alias="DefaultSkuSeparator" value="-" />

    <!-- 
    Overrides the Payment Method's IPaymentResponse ApproveOrderCreation indicating an order should always be created no matter
    if the payment has been collected or not. 
    -->
    <setting alias="AlwaysApproveOrderCreation" value="false" />

    <!--
    Settting introduced in version 1.1.0.  If true, Merchello will automatically attempt to 
    update the database schema (if required) when the bootstrapper detects a Merchello version update
    -->
    <setting alias="AutoUpdateDbSchema" value ="true" />
    
    <!--
    Setting introduced in version 1.3.0.  Value indicates the maximum number of days to store
    anonymous customer records.  After the number of days, a maintenance routine will remove the 
    records from the database.
    Requires that you add the the following scheduled task in umbracoSettings.config
    <task log="true" alias="removeAnonymousCustomers" interval="14400" url="http://localhost/umbraco/Merchello/ScheduledTasksApi/RemoveAnonymousCustomers/">
    -->
    <setting alias="AnonymousCustomersMaxDays" value="31" />

    <!--
    The following two settings are used to control the Examine index sizes for application start.
    Alternatively you can add
    <Examine RebuildOnAppStart="false">
    -->
    <setting alias="ExamineUseGetAllOnRebuild" value="false" />
    <setting alias="IndexCompletedOrdersMaxDays" value="90" />
    <setting alias="IndexActiveCustomersMaxDays" value="360" />

    <setting alias="MerchelloTemplatesBasePath" value="~/Views/Merchello/" />
    <setting alias="NotificationTemplateBasePath" value="~/Views/Merchello/Notification/" />

    <!--
    This setting allows the implementer to specify what HTML element should be used when selecting option choices
    in the back office.  This requires custom razor coding in your templates and it not implemented in any of the Merchello starter kits.
    -->
    <setting alias="EnableProductOptionUiElementSelection" value="false" />
  </settings>

  <checkoutContextSettings>
    <setting alias="InvoiceNumberPrefix" value="FT" />
    <setting alias="ApplyTaxesToInvoice" value="true" />
    <setting alias="RaiseCustomerEvents" value="false" />
    <setting alias="ResetCustomerManagerDataOnVersionChange" value="false" />
    <setting alias="ResetPaymentManagerDataOnVersionChange" value="true" />
    <setting alias="ResetExtendedManagerDataOnVersionChange" value="true" />
    <setting alias="ResetShippingManagerDataOnVersionChange" value="true" />
    <setting alias="ResetOfferManagerDataOnVersionChange" value="true" />
    <setting alias="EmptyBasketOnPaymentSuccess" value="true" />
  </checkoutContextSettings>

  <!-- A comma delimited list of Umbraco MemberTypes to be considered as Merchello Customers -->
  <!-- lower cased variants added for 7.4.0 which mandates casing -->
  <customer memberTypes="customer,Customer,merchelloCustomer,MerchelloCustomer" />

    <optionUi>
        <setting alias="Select List" value="select" />
        <setting alias="Radio Buttons" value="radio" />
    </optionUi>

  <backoffice>
   <!-- 1.11.0 adds default attributes localizeArea and localizeName with respective values of merchelloTree and the id att value e.g. products, sales, etc. -->
    <tree id="products" title="Products" icon="icon-barcode" routePath="merchello/merchello/productlist/manage" visible="true" sortOrder="1" />
    <tree id="sales" title="Sales" icon="icon-receipt-dollar" routePath="merchello/merchello/saleslist/manage" visible="true" sortOrder="2">
        <childSettings>
            <!--
                Sets the order where self managed entity collection providers (like Unpaid invoices) are listed in the tree.
                If set to true, the resolved collections will be listed before the user defined collections.  False will list them
                after.
            -->
            <setting alias="selfManagedProvidersBeforeStaticProviders" value="true" />
        </childSettings>
        <selfManagedEntityCollectionProviders>
            <!--
                attribute: key - the provider key defined in the EntityCollectionProviderAttribute decorating the EntityCollectionProvider
                attribute: icon - is the icon displayed in the tree
                attribute: visible - indicates whether or not the collection should provider should create a tree node
                attribute: ref - not actually used, it is only here so that they can be managed more easily
               -->
            <entityCollectionProvider key="A8120A01-E9BF-4204-ADDD-D9553F6F24FE" icon="icon-bills" visible="true" ref="Unpaid invoices" />
            <entityCollectionProvider key="82015B97-11E8-4E57-8258-A59E1D378E04" icon="icon-bills" visible="true" ref="Partially paid invoices" />
            <entityCollectionProvider key="072E0671-31BE-41E4-8CF9-4AEEC6CC5BC6" icon="icon-bills" visible="true" ref="Paid invoices" />
            <entityCollectionProvider key="5FD6E5EB-0B7C-41A4-B863-7AEC31BE84C0" icon="icon-truck" visible="true" ref="Unfulfilled orders" />
            <entityCollectionProvider key="A9A288F3-DA98-4712-9E90-F9F909F2C26A" icon="icon-truck" visible="true" ref="Open orders" />
            <entityCollectionProvider key="68B57648-7550-4702-8223-C5574B7C0604" icon="icon-truck" visible="true" ref="Fulfilled orders" />
        </selfManagedEntityCollectionProviders>
    </tree>
    <tree id="customers" title="Customers" icon="icon-user-glasses" routePath="merchello/merchello/customerlist/manage" visible="true" sortOrder="3" />
    <tree id="marketing" title="Marketing" icon="icon-energy-saving-bulb" routePath="merchello/merchello/offerslist/manage" visible="true" sortOrder="4" />
    <tree id="reports" title="Reports" icon="icon-slideshow" routePath="merchello/merchello/reportsdashboard/manage" visible="true" sortOrder="5" />
    <tree id="gateways" title="Gateway Providers" icon="icon-settings" routePath="merchello/merchello/gatewayproviderlist/manage" visible="true" sortOrder="6" />
  </backoffice>

<contentFinderCulture>
    <!-- You can set slug prefixes for products for each culture if you need to.
    e.g. with the following settings, en-US product URLs will be /en/[slug]
    <route cultureName="en-US" productSlugPrefix="en" />
    -->
</contentFinderCulture>

  <pluggable>
    <object alias="CustomerContext" type="Merchello.Web.CustomerContext, Merchello.Web" />
    <object alias="BasketCheckoutCustomerManager" type="Merchello.Web.CheckoutManagers.BasketCheckoutCustomerManager, Merchello.Web" />
    <object alias="BasketCheckoutOfferManager" type="Merchello.Web.CheckoutManagers.BasketCheckoutOfferManager, Merchello.Web" />
    <object alias="BasketCheckoutShippingManager" type="Merchello.Web.CheckoutManagers.BasketCheckoutShippingManager, Merchello.Web" />
    <object alias="BasketCheckoutExtendedManager" type="Merchello.Web.CheckoutManagers.BasketCheckoutExtendedManager, Merchello.Web" />
    <object alias="BasketCheckoutPaymentManager" type="Merchello.Web.CheckoutManagers.BasketCheckoutPaymentManager, Merchello.Web" />
    <object alias="RemoteLogger" type="Merchello.Web.Logging.DefaultEmptyRemoteLogger, Merchello.Web" />
    <object alias="PluginViewEditorProvider" type="Merchello.Web.Pluggable.PluginViewEditorProvider, Merchello.Web" />
  </pluggable>

  <strategies>
    <strategy alias="DefaultPackaging" type="Merchello.Core.Strategies.Packaging.DefaultWarehousePackagingStrategy, Merchello.Core" />
    <strategy alias="DefaultShipmentRateQuote" type="Merchello.Core.Gateways.Shipping.DefaultShipmentRateQuoteStrategy, Merchello.Core" />
    <strategy alias="DefaultInvoiceTaxRateQuote" type="Merchello.Core.Gateways.Taxation.FixedRate.FixedRateTaxCalculationStrategy, Merchello.Core" />
    <strategy alias="DefaultAnonymousBasketConversionStrategy" type="Merchello.Web.Workflow.BasketConversionByDiscardingPreviousCustomerBasket, Merchello.Web" />
    <!--strategy alias="DefaultAnonymousBasketConversionStrategy" type="Merchello.Web.Workflow.BasketConversionByCombiningAnonymousBasket, Merchello.Web" /-->
  </strategies>

  <taskChains>
    <taskChain alias="SalesPreparationInvoiceCreate">
      <tasks>
        <task type="Merchello.Core.Chains.InvoiceCreation.SalesPreparation.AddBillingInfoToInvoiceTask, Merchello.Core" />
        <task type="Merchello.Core.Chains.InvoiceCreation.SalesPreparation.ConvertItemCacheItemsToInvoiceItemsTask, Merchello.Core" />
        <task type="Merchello.Web.Workflow.InvoiceCreation.SalesPreparation.AddCouponDiscountsToInvoiceTask, Merchello.Web" />
        <task type="Merchello.Core.Chains.InvoiceCreation.SalesPreparation.ApplyTaxesToInvoiceTax, Merchello.Core" />
        <task type="Merchello.Core.Chains.InvoiceCreation.SalesPreparation.ValidateCommonCurrency, Merchello.Core" />
        <task type="Merchello.Web.Workflow.InvoiceCreation.SalesPreparation.AddNotesToInvoiceTask, Merchello.Web" />
      </tasks>
    </taskChain>
    <taskChain alias="CheckoutManagerInvoiceCreate">
      <tasks>
        <task type="Merchello.Core.Chains.InvoiceCreation.CheckoutManager.AddBillingInfoToInvoiceTask, Merchello.Core" />
        <task type="Merchello.Core.Chains.InvoiceCreation.CheckoutManager.ConvertItemCacheItemsToInvoiceItemsTask, Merchello.Core" />
        <task type="Merchello.Web.Workflow.InvoiceCreation.CheckoutManager.AddCouponDiscountsToInvoiceTask, Merchello.Web" />
        <task type="Merchello.Core.Chains.InvoiceCreation.CheckoutManager.ApplyTaxesToInvoiceTask, Merchello.Core" />
        <task type="Merchello.Core.Chains.InvoiceCreation.CheckoutManager.ValidateCommonCurrency, Merchello.Core" />
        <task type="Merchello.Core.Chains.InvoiceCreation.CheckoutManager.AddInvoiceNumberPrefixTask, Merchello.Core" />
        <task type="Merchello.Web.Workflow.InvoiceCreation.CheckoutManager.AddNotesToInvoiceTask, Merchello.Web" />
      </tasks>
    </taskChain>
    <taskChain alias="OrderPreparationOrderCreate">
        <tasks>
            <task type="Merchello.Core.Chains.OrderCreation.ConvertInvoiceItemsToOrderItemsTask, Merchello.Core" />    
        </tasks>
    </taskChain>
      <taskChain alias="OrderPreparationShipmentCreate">
          <tasks>
              <task type="Merchello.Core.Chains.ShipmentCreation.AddShippableOrderLineItemsToShipmentTask, Merchello.Core" />
              <task type="Merchello.Core.Chains.ShipmentCreation.RemoveShipmentOrderItemsFromInventoryAndPersistShipmentTask, Merchello.Core" />
              <task type="Merchello.Core.Chains.ShipmentCreation.SetOrderStatusTask, Merchello.Core" />
          </tasks>
      </taskChain>
      <!--
       Used to modify persisted data before returning to the UI
       -->
      <taskChain alias="MerchelloHelperProductDataModifiers">
        <tasks>
            <task type="Merchello.Web.DataModifiers.Product.IncludeTaxInProductPriceDataModifierTask, Merchello.Web" />
        </tasks>
      </taskChain>
      <taskChain alias="ItemCacheValidation">
      <!-- Added Merchello Version 1.11.0
      This chain validates basket and wish list items against values in the back office to assert that the customer has not
      added items to their basket that were subsequently changed in the back office prior to checkout.  The process is needed
      as the relation between the basket and wish list items are decoupled from the actual persisted values.
      -->
        <tasks>
            <task type="Merchello.Web.Validation.Tasks.ValidateProductsExistTask, Merchello.Web" />
            <!--
                The following task is intended to assert that pricing and/or on sale value has not changed in the back office since the
                customer has placed an item into their basket or wish list. If you have made custom pricing modifications in your
                implementation, you may either remove this task or adjust your code to add a new extended data value
                merchLineItemAllowsValidation = false
                to the line item so that it is skipped in the validation process.
            -->
            <task type="Merchello.Web.Validation.Tasks.ValidateProductPriceTask, Merchello.Web" />
            <!--
                Validates that products are still in inventory
            -->
            <task type="Merchello.Web.Validation.Tasks.ValidateProductInventoryTask, Merchello.Web" />
        </tasks>
      </taskChain>
      <taskChain alias="CopyProduct">
        <tasks>
          <task type="Merchello.Core.Chains.CopyEntity.Product.CopyProductOptionsTask, Merchello.Core" />
          <!-- we have to save here to generate the variants -->
          <task type="Merchello.Core.Chains.CopyEntity.Product.SaveProductCopyTask, Merchello.Core" />
          <task type="Merchello.Core.Chains.CopyEntity.Product.AddProductToWarehouseCatalogsTask, Merchello.Core" />
          <task type="Merchello.Core.Chains.CopyEntity.Product.MapProductVariantDataTask, Merchello.Core" />
          <task type="Merchello.Core.Chains.CopyEntity.Product.CopyProductCollectionsTask, Merchello.Core" />
          <task type="Merchello.Core.Chains.CopyEntity.Product.CopyDetachedContentTask, Merchello.Core" />
        </tasks>
      </taskChain>
  </taskChains>

  <typeFieldDefinitions>
    <lineItem>
        <type alias="CcFee" descriptiveName="Fee applied to invoices for credit card charges" typeKey="676A3E0D-AC88-4D61-850A-403E8C359FDE" />
    </lineItem>
    <!--
    <itemCache>
      <type alias="WeddingRegistry" descriptiveName="Wedding Registry" typeKey="64F43CDF-6313-4B45-AE39-C32646F37041" />
    </itemCache>
    <product />
    
    -->
  </typeFieldDefinitions>

    <!-- Introduced patternFormatter in version 1.1.1 -->
    <patternFormatter>

        <!-- patterns to search and replace can be 
          
          <replace alias="Company" pattern="{{Company}}" replacement="Merchello" replacementInMonitor="false" />
          -->

        <!--
          Depending on the model passed to the "Monitor" responsible for populating the replacements, some of these values will be empty.  For example,
          a MonitorModel that only contains shipment information will not be able to populate Billing information ...
          -->

        <!-- INVOICE -->
        <replace alias="InvoiceKey" pattern="{{InvoiceKey}}" />
        <replace alias="InvoiceNumber" pattern="{{InvoiceNumber}}" />
        <replace alias="InvoiceDate" pattern="{{InvoiceDate}}" />

        <replace alias="InvoiceStatus" pattern="{{InvoiceStatus}}" />
        <replace alias="TotalDiscountPrice" pattern="{{TotalDiscountPrice}}" />
        <replace alias="TotalShippingPrice" pattern="{{TotalShippingPrice}}" />
        <replace alias="TotalCustomPrice" pattern="{{TotalCustomPrice}}" />
        <replace alias="TotalTaxPrice" pattern="{{TotalTaxPrice}}" />
        <replace alias="TotalItemPrice" pattern="{{TotalItemPrice}}" />
        <replace alias="TotalItemPlusCustom" pattern="{{TotalItemPlusCustom}}" />
        <replace alias="TotalPrice" pattern="{{TotalPrice}}" />

        <!-- ADDRESS -->
        <replace alias="BillToName" pattern="{{BillToName}}" />
        <replace alias="BillToAddress1" pattern="{{BillToAddress1}}" />
        <replace alias="BillToAddress2" pattern="{{BillToAddress2}}" />
        <replace alias="BillToLocality" pattern="{{BillToLocality}}" />
        <replace alias="BillToRegion" pattern="{{BillToRegion}}" />
        <replace alias="BillToPostalCode" pattern="{{BillToPostalCode}}" />
        <replace alias="BillToCountryCode" pattern="{{BillToCountryCode}}" />
        <replace alias="BillToEmail" pattern="{{BillToEmail}}" />
        <replace alias="BillToPhone" pattern="{{BillToPhone}}" />
        <replace alias="BillToCompany" pattern="{{BillToCompany}}" />

        <replace alias="ShippedDate" pattern="{{ShippedDate}}" />
        <replace alias="ShipToAddress1" pattern="{{ShipToAddress1}}" />
        <replace alias="ShipToAddress2" pattern="{{ShipToAddress2}}" />
        <replace alias="ShipToLocality" pattern="{{ShipToLocality}}" />
        <replace alias="ShipToRegion" pattern="{{ShipToRegion}}" />
        <replace alias="ShipToPostalCode" pattern="{{ShipToPostalCode}}" />     
        <replace alias="ShipToCountryCode" pattern="{{ShipToCountryCode}}" />
        <replace alias="ShipToName" pattern="{{ShipToName}}" />
        <replace alias="ShipToEmail" pattern="{{ShipToEmail}}" />
        <replace alias="ShipToPhone" pattern="{{ShipToPhone}}" />
        <replace alias="ShipToOrganization" pattern="{{ShipToOrganization}}" />
        <replace alias="ShipToName" pattern="{{ShipToName}}" />
        <replace alias="TrackingCode" pattern="{{TrackingCode}}" />
        <replace alias="ShipMethodName" pattern="{{ShipMethodName}}" />
        <!-- ITERATING THROUGH LINE ITEMS -->


        <!-- LINE ITEMS
        these must be between the IterationStart[Invoice.Items] and IterationEnd[Invoice.Items] so they get repeated in the iteration -
        the pattern is then dynamically changed to
        
        Item.Sku.0 - Item.Name.0 - Item.Price.0 ...
        Item.Sku.1 - Item.Name.1 - Item.Price.1 ...
        Item.Sku.2 - Item.Name.2 - Item.Price.2 ...
        
        before the formatter performs it's replacements the message 
        -->
        <replace alias="LineItemSku" pattern="{{Item.Sku}}" />
        <replace alias="LineItemName" pattern="{{Item.Name}}" />
        <replace alias="LineItemUnitPrice" pattern="{{Item.UnitPrice}}" />
        <replace alias="LineItemQuantity" pattern="{{Item.Quantity}}" />
        <replace alias="LineItemTotalPrice" pattern="{{Item.TotalPrice}}" />

        <!-- PAYMENT -->
        <replace alias="PaymentMethodName" pattern="{{PaymentMethodName}}" />
        <replace alias="PaymentAmount" pattern="{{PaymentAmount}}" />
        <replace alias="PamentReferenceNumber" pattern="{{ReferenceNumber}}" />

    </patternFormatter>


  <currencyFormats>
    <!-- Define currency formats by code.
        PR: https://github.com/Merchello/Merchello/pull/1422
      <format currencyCode="sek" format="{1:0.00}{0}" />
    -->
  </currencyFormats>

  <!--    Country provinces are used by Shipping and Taxations providers  -->
  <regionalProvinces>
    <region code="US" requirePostalCode="false">
      <provinces>
        <province name="Alabama" code="AL" />
        <province name="Alaska" code="AK" />
        <province name="Arizona" code="AZ" />
        <province name="Arkansas" code="AR" />
        <province name="California" code="CA" />
        <province name="Colorado" code="CO" />
        <province name="Connecticut" code="CT" />
        <province name="Delaware" code="DE" />
        <province name="Florida" code="FL" />
        <province name="Georgia" code="GA" />
        <province name="Hawaii" code="HI" />
        <province name="Idaho" code="ID" />
        <province name="Illinois" code="IL" />
        <province name="Indiana" code="IN" />
        <province name="Iowa" code="IA" />
        <province name="Kansas" code="KS" />
        <province name="Kentucky" code="KY" />
        <province name="Louisiana" code="LA" />
        <province name="Maine" code="ME" />
        <province name="Maryland" code="MD" />
        <province name="Massachusetts" code="MA" />
        <province name="Michigan" code="MI" />
        <province name="Minnesota" code="MN" />
        <province name="Mississippi" code="MS" />
        <province name="Missouri" code="MO" />
        <province name="Montana" code="MT" />
        <province name="Nebraska" code="NE" />
        <province name="Nevada" code="NV" />
        <province name="New Hampshire" code="NH" />
        <province name="New Jersey" code="NJ" />
        <province name="New Mexico" code="NM" />
        <province name="New York" code="NY" />
        <province name="North Carolina" code="NC" />
        <province name="North Dakota" code="ND" />
        <province name="Ohio" code="OH" />
        <province name="Oklahoma" code="OK" />
        <province name="Oregon" code="OR" />
        <province name="Pennsylvania" code="PA" />
        <province name="Rhode Island" code="RI" />
        <province name="South Carolina" code="SC" />
        <province name="South Dakota" code="SD" />
        <province name="Tennessee" code="TN" />
        <province name="Texas" code="TX" />
        <province name="Utah" code="UT" />
        <province name="Vermont" code="VT" />
        <province name="Virginia" code="VA" />
        <province name="Washington" code="WA" />
        <province name="West Virginia" code="WV" />
        <province name="Wisconsin" code="WI" />
        <province name="Wyoming" code="WY" />
        <province name="American Samoa" code="AS" />
        <province name="District of Columbia" code="DC" />
        <province name="Federated States of Micronesia" code="FM" />
        <province name="Guam" code="GU" />
        <province name="Marshall Islands" code="MH" />
        <province name="Northern Mariana Islands" code="MP" />
        <province name="Palau" code="PW" />
        <province name="Puerto Rico" code="PR" />
        <province name="Virgin Islands" code="VI" />
        <province name="Armed Forces - Africa, Canada, Europe" code="AE" />
        <province name="Armed Forces Americas" code="AA" />
        <province name="Armed Forces Pacific" code="AP" />
      </provinces>
    </region>
    <region code="CA" requirePostalCode="false">
      <provinces>
        <province name="Alberta" code="AB" />
        <province name="British Columbia" code="BC" />
        <province name="Manitoba" code="MB" />
        <province name="New Brunswick" code="NB" />
        <province name="Newfoundland and Labrador" code="NL" />
        <province name="Northwest Territories" code="NT" />
        <province name="Nova Scotia" code="NS" />
        <province name="Nunavut" code="NU" />
        <province name="Ontario" code="ON" />
        <province name="Prince Edward Island" code="PE" />
        <province name="Quebec" code="QC" />
        <province name="Saskatchewan" code="SK" />
        <province name="Yukon" code="YT" />
      </provinces>
    </region>
  </regionalProvinces>

</merchello>
