<div class="umb-panel" ng-controller="Merchello.Dashboards.Settings.Shipping.Dialogs.TaxationMethodController">
	<div class="umb-panel-body no-header with-footer">
	    
	    <div class="well col-xs-6 span6">
	        <h4>Add/Edit a Taxation Method & Rate for {{dialogData.method.shipMethod.name}}</h4>
	        <div class="form-group row-fluid">
	            <label for="method-name">Name</label>
	            <input name="method-name" data-ng-model="dialogData.method.shipMethod.name" class="col-xs-12 span12" type="text" />
	        </div>

	        <div class="form-group row-fluid">
	            <label for="method-type">Method</label>
	            <div class="col-xs-6 span6 row-fluid">
	                <select name="method-type" class="col-xs-12 span12" data-ng-model="dialogData.method.gatewayResource" data-ng-options="r.name for r in dialogData.gatewayResources track by r.serviceCode" data-ng-disabled="dialogData.method.shipMethod.key.length > 0">
	                </select>
	            </div>
	        </div>

	        <div data-ng-hide="dialogData.method.shipMethod.provinces.length == 0">
	            <h5>Adjust for Individual Regions</h5>

	            <table class="table merchello-striped-table settings-table adjustment-table col-xs-6 span6">
	                <thead>
	                    <tr>
	                        <th class="span1 col-xs-1"><input type="checkbox" data-ng-model="allProvinces" data-ng-change="toggleAllProvinces()" /></th>
	                        <th>Region</th>
	                        <th>Adjust Rate</th>
	                        <th>Adjust By</th>
	                    </tr>
	                </thead>
	                <tbody>
	                    <tr data-ng-repeat="province in dialogData.method.shipMethod.provinces">
	                        <td class="span1 col-xs-1">
	                            <input type="checkbox" data-ng-model="province.allowShipping"/>
	                        </td>
	                        <td>
	                            {{province.name}}
	                        </td>
	                        <td>
	                            <div class="input-prepend">
	                                <span class="add-on" data-ng-show="province.rateAdjustmentType == 1">$</span>
	                                <input type="number" data-ng-model="province.rateAdjustment" class="span1 col-xs-1" />
	                                <span class="add-on" data-ng-show="province.rateAdjustmentType == 2">%</span>
	                            </div>
	                        </td>
	                        <td>
	                            <label><input type="radio" data-ng-model="province.rateAdjustmentType" value="1" /> $</label>
	                            <label><input type="radio" data-ng-model="province.rateAdjustmentType" value="2" /> %</label>
	                        </td>
	                    </tr>
	                </tbody>
	            </table>
	        </div>

	    </div>
	</div>

	<div class="umb-panel-footer" >
		<div class="umb-el-wrap umb-panel-buttons">
	        <div class="btn-toolbar umb-btn-toolbar pull-right">

	        	<a href data-ng-click="close()" class="btn btn-link">
	        		<localize key="general_cancel">Cancel</localize>
				</a>

				<button
					class="btn btn-primary"
					data-ng-click="submit(dialogData)">
					<localize key="buttons_save">Save</localize>
				</button>

	        </div>
		</div>
	</div>
</div>