<div class="umb-panel merchello-side-panel constraint-product-selector" ng-controller="Merchello.Customer.Dialogs.ProductSelectionFilterController" data-ng-show="loaded">

    <div class="umb-overlay umb-overlay-right">
        <div class="umb-overlay__form">

            <div class="umb-overlay-header">
                <h4 class="umb-overlay__title"><localize key="merchelloProductEdit_selectMerchelloProduct" />s</h4>
            </div>

            <div class="umb-overlay-container form-horizontal merchello-panel-body">

                <div class="merchello-pane">
                    <!-- selected products -->
                    <div class="add-product-controls">
                        <strong><localize key="merchelloProductEdit_selectProducts" /></strong>
                        <span class="merchello-icons pull-right">
                            <a class="merchello-icon" data-ng-click="context = 'search'" prevent-default="">
                                <i class="icon icon-add"></i>
                            </a>
                        </span>
                    </div>
                    <div data-ng-repeat="p in selectedProducts" class="col-xs-11 well" data-ng-show="selectedProducts.length > 0">
                        <span class="merchello-icons pull-right">
                            <a class="merchello-icon" data-ng-click="removeProduct(p)" prevent-default="">
                                <i class="icon icon-trash"></i>
                            </a>
                        </span>
                        <span class="product-name">{{p.product.name}}</span>
                        <small class="product-info">{{p.product.sku}} <span class="price"><localize key="merchelloGeneral_price" />: {{p.product.price | currency : currencySymbol}}</span></small>
                        <div data-ng-show="p.product.hasVariants()">
                            <div class="control-group variant-selection">
                                <label data-ng-repeat="variant in p.selectedVariants"><input type="checkbox" value="{{variant.key}}" data-ng-model="variant.checked" /> {{variant.name}}</label>
                            </div>
                        </div>
                    </div>

                </div>

                <form class="form-horizontal product-selection-form" data-ng-show="context === 'search'">
                    <div class="merchello-pane">

                        <div class="form-group control-group row-fluid">

                            <div class="col-xs-7 span7 controls">
                                <label for="productFilter"><localize key="merchelloGeneral_filterBy" /></label>
                                <input id="productFilter" class="form-control span8" name="productFilter" data-ng-model="filtertext" localize="placeholder" placeholder="@placeholders_filter" />
                                <button id="productFilterGo" class="btn" data-ng-click="getFilteredProducts(filtertext)"><localize key="merchelloGeneral_filter">Filter</localize></button>
                            </div>


                        </div>

                    </div>

                    <div class="merchello-pane">
                        <div class="col-xs-2 span2" data-ng-show="dialogData.products.length > 0">
                            <select name="limitSelect" class="col-xs-2 span2" data-ng-model="limitAmount" data-ng-change="limitChanged(limitAmount)">
                                <option selected value="5">5</option>
                                <option value="10">10</option>
                                <option value="50">50</option>
                                <option value="100">100</option>
                            </select>
                        </div>

                        <merchello-pager></merchello-pager>
                    </div>

                    <table class="table table-hover merchello-selectable-table sortable">
                        <thead>
                            <tr>
                                <th data-ng-click="changeSortOrder('name')" data-ng-class="{'sorted': sortProperty == 'name' ||  sortProperty == '-name'}">
                                    <i data-ng-class="{'icon-navigation-up': sortProperty == 'name', 'icon-navigation-down': sortProperty == '-name'}"></i> <localize key="merchelloVariant_product" />
                                </th>
                                <th data-ng-click="changeSortOrder('sku')" data-ng-class="{'sorted': sortProperty == 'sku' ||  sortProperty == '-sku'}">
                                    <i data-ng-class="{'icon-navigation-up': sortProperty == 'sku', 'icon-navigation-down': sortProperty == '-sku'}"></i> <localize key="merchelloVariant_sku" />
                                </th>
                                <th data-ng-click="changeSortOrder('price')" data-ng-class="{'sorted': sortProperty == 'price' ||  sortProperty == '-price'}">
                                    <i data-ng-class="{'icon-navigation-down': sortProperty == 'price', 'icon-navigation-up': sortProperty == '-price'}"></i> <localize key="merchelloGeneral_price" />
                                </th>
                                <th>&nbsp;</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr data-ng-repeat="product in products"
                                data-ng-class="{active: product.selected}">
                                <td>{{product.name}}</td>
                                <td>{{product.sku}}</td>
                                <td data-ng-hide="product.hasVariants">{{product.price | currency : currencySymbol}}</td>
                                <td data-ng-show="product.hasVariants">{{product.variantsMinimumPrice() | currency : currencySymbol}} - {{product.variantsMaximumPrice() | currency : currencySymbol}}</td>
                                <td>
                                    <span class="merchello-icons">
                                        <a class="merchello-icon merchello-icon-edit" data-ng-click="addProduct(product)" data-ng-show="!productIsSelected(product)" title="buttons_select" prevent-default="">
                                            <i class="icon icon-add"></i>
                                        </a>
                                    </span>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </form>


            </div>

            <div class="umb-overlay-drawer">
                <div class="umb-overlay-drawer__align-right">

                    <div class="umb-button">
                        <a href data-ng-click="close()" class="btn btn-link">
                            <localize key="general_cancel"></localize>
                        </a>
                    </div>

                    <div class="umb-button">
                        <button class="btn btn-success" data-ng-click="save()" data-ng-disabled="selectedProducts.length === 0">
                            <localize key="buttons_save"></localize>
                        </button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
