<div class="umb-panel merchello-side-panel" ng-controller="Merchello.Customer.Dialogs.CustomerAddressAddEditController">
    <div class="umb-modalcolumn-header">
        <h4>Add/Edit {{toTitleCase(dialogData.customerAddress.addressType)}} Address</h4>
    </div>
    <form name="editAddressForm" id="editAddressForm">
        <div class="umb-panel-body with-header with-footer">
            <div class="form-group row-fluid">
                <label for="label">*Label:</label>
                <div class="error" data-ng-show="editAddressForm.label.$invalid && wasFormSubmitted">Label is a required field.</div>
                <input name="label" type="text" class="span12" placeholder="My House" data-ng-model="dialogData.customerAddress.label" required />
                <label for="fullName">Full Name:</label>
                <input name="fullName" type="text" class="span12" data-ng-model="dialogData.customerAddress.fullName" />
                <label for="org">Company:</label>
                <input name="org" type="text" class="span12" data-ng-model="dialogData.customerAddress.company" />
                <label for="address1">*Address:</label>
                <div class="error" data-ng-show="editAddressForm.address1.$invalid && wasFormSubmitted">Address is a required field.</div>
                <input name="address1" type="text" class="span12" data-ng-model="dialogData.customerAddress.address1" required />
                <label for="address2">Address Line 2:</label>
                <input name="address2" type="text" class="span12" data-ng-model="dialogData.customerAddress.address2" />
                <label for="locality">*City:</label>
                <div class="error" data-ng-show="editAddressForm.locality.$invalid && wasFormSubmitted">City is a required field.</div>
                <input name="locality" type="text" class="span12" data-ng-model="dialogData.customerAddress.locality" required />
                <label for="country">*Country:</label>
                <select name="country" class="span12" data-ng-model="dialogData.selectedCountry" data-ng-change="updateProvinceList()" data-ng-options="option.name for option in dialogData.countries"></select>
                <label for="region">State/Province:</label>
                <input name="region" type="text" class="span12" data-ng-show="dialogData.selectedCountry.provinces.length === 0" data-ng-model="currentAddress.region" />
                <select name="regionSelect" class="span12" data-ng-show="dialogData.selectedCountry.provinces.length > 0" data-ng-model="dialogData.selectedProvince"  data-ng-options="option.name for option in dialogData.selectedCountry.provinces"></select>
                <label for="postalCode">*Zip/Postal Code:</label>
                <div class="error" data-ng-show="editAddressForm.postalCode.$invalid && wasFormSubmitted">Zip/Postal Code is a required field.</div>
                <input name="postalCode" type="text" class="span12" data-ng-model="dialogData.customerAddress.postalCode" required />
                <div>
                    <input type="checkbox" data-ng-model="dialogData.customerAddress.isDefault" data-ng-disabled="dialogData.setDefault" /> Primary Address
                </div><br />
                <label for="phone">Phone:</label>
                <input name="phone" type="tel" class="span12" data-ng-model="dialogData.customerAddress.phone" />
            </div>
        </div>
        <div class="umb-panel-footer">
            <div class="umb-el-wrap umb-panel-buttons">
                <div class="btn-toolbar umb-btn-toolbar pull-right">
                    <!-- ACTION: Cancel -->
                    <a href data-ng-click="close()" class="btn btn-link"><localize key="general_cancel"></localize></a>
                    <!-- ACTION: Submit DialogData -->
                    <button class="btn btn-primary" data-ng-click="save()">Save</button>
                </div>
            </div>
        </div>
    </form>
</div>