// Global Styles

// Bootstrap Overides
.navbar {
    border-radius: 0;
}

// Custom Styles

// Product Thumbnail
.thumbnail {
}

// Generic Price

.price {
    font-size: 17px;

    .price-sale, &.price-onsale {
        color: #ed4949;

        .glyphicon {
            font-size: 19px;
        }
    }

    .original-price {
        color: #333;
        text-decoration: line-through;
        margin-left: .5rem;
    }
}

// Category/Collection Listing
.productcategorylist {
    a.media, a.media:visited {
        display: inline-block;
        margin: 0 0 30px 0;
        padding: 12px;
        color: #333;

        &:hover, &:focus {
            color: #333;
            text-decoration: none;
            background-color: #fbfbfb;
        }
    }
}

.fn {
        font-weight: bold;
    }

.adr {
    
    .street-address, .extended-address, .postal-code { display: block; }
}