<div class="umb-panel merchello-side-panel" ng-controller="Merchello.Dashboards.Catalog.Dialogs.ProductDuplicateVariantsController">
	<div class="umb-modalcolumn-header">
		<h4>Duplicate Variants Based on Selected Items</h4>
	</div>
	<div class="umb-panel-body with-header with-footer">

		<!-- Flyout when a Duplicate Variant button is clicked -->
		<form class="form-group row-fluid">
			<label for="new-style">What {{dialogData.name}} do you want to add to the new variants?</label> <!-- Size should be replaced with whatever option name they are choosing to duplicate -->
			<input name="new-style" class="col-xs-3 span3" data-ng-model="dialogData.newChoiceName" type="text" />
		</form>

	</div>

	<div class="umb-panel-footer">
		<div class="umb-el-wrap umb-panel-buttons">
			<div class="btn-toolbar umb-btn-toolbar pull-right">

				<a href data-ng-click="close()" class="btn btn-link">
					<localize key="general_cancel">Cancel</localize>
				</a>

				<button class="btn btn-primary"
						data-ng-click="submit(dialogData)">
					<localize key="buttons_save">Save</localize>
				</button>

			</div>
		</div>
	</div>
</div>

