<div class="umb-panel merchello-side-panel" ng-controller="Merchello.Dashboards.Settings.Payment.Dialogs.PaymentDeleteController">
    <div class="umb-modalcolumn-header">
        <h4><localize key="merchelloPayment_deletePayment" /></h4>
    </div>
    <div class="umb-panel-body with-header with-footer">
        
        <form name="deleteManualPaymentMethodForm">
            <h4><localize key="merchelloMethodDelete_deleteConfirmation" /> '{{dialogData.name}}'?</h4>
        </form>

    </div>

	<div class="umb-panel-footer" >
		<div class="umb-el-wrap umb-panel-buttons">
	        <div class="btn-toolbar umb-btn-toolbar pull-right">

	        	<a href data-ng-click="close()" class="btn btn-link">
	        		<localize key="general_cancel"></localize>
				</a>

				<button
					class="btn btn-primary"
					data-ng-click="submit(dialogData)">
					<localize key="general_delete"></localize>
				</button>

	        </div>
		</div>
	</div>
</div>

