@inherits Umbraco.Web.Mvc.UmbracoViewPage<CheckoutModel>
@using Merchello.Bazaar
@using Merchello.Bazaar.Models.ViewModels
@{
    Layout = "Master.cshtml";
    System.Web.Mvc.HtmlHelper.ClientValidationEnabled = true;
    System.Web.Mvc.HtmlHelper.UnobtrusiveJavaScriptEnabled = true;
}

<div class="container-fluid">
    <div class="row-fluid">
        <h1>@Model.Name</h1>
    </div>

    @Html.ThemedPartial(Model, "CheckoutAddressesForm", Model.CheckoutAddressForm)

</div>