@inherits Umbraco.Web.Mvc.UmbracoViewPage<CheckoutModel>
@using Merchello.Bazaar
@using Merchello.Bazaar.Models.ViewModels
@{
    Layout = "Master.cshtml";
}

<div class="container-fluid">
    <div class="row-fluid span12">
        <h1>@Model.Name</h1>
    </div>
    
    <div class="row-fluid">
        <div class="span8">
            <div class="span6 text-center">
                <h2>Billing Address</h2>
            </div>
            <div class="span6 text-center">
                <h2>Shipping Address</h2>
            </div>
        </div>
    </div>

    <div class="row-fluid">
        
        <div class="span8">
            <div class="row-fluid">
                <div class="span6">
                    @Html.ThemedPartial(Model, "CheckoutAddressForm", Model.BillingAddress)
                </div>
                <div class="span6">
                    @Html.ThemedPartial(Model, "CheckoutAddressForm", Model.BillingAddress)
                </div>
            </div>
        </div>
        <div class="span3 offset1">
            @Html.ThemedPartial(Model, "SaleSummary", Model.SaleSummary)

            <div class="control-group">
                <button type="submit" class="btn btn-primary">Continue Checkout</button>
            </div>    
        </div>
    </div>
</div>