@inherits Umbraco.Web.Mvc.UmbracoViewPage<CheckoutModel>
@using Merchello.Bazaar.Models
@using Umbraco.Web
@{
    Layout = "Master.cshtml";
}
<div class="row">
    <div class="span6">
        <h1>@Model.Name</h1>
    </div>
</div>
