<div class="umb-panel merchello-side-panel" ng-controller="Merchello.Dashboards.Order.Dialogs.FulfillShipmentController">
    <div class="umb-modalcolumn-header">
        <h4>Fulfill Shipment</h4>
    </div>
    <div class="umb-panel-body with-header with-footer">
        
        <div class="well">
            <button class="btn close"><i class="icon-delete"></i></button>
            <h3>Fulfill Manually</h3>
            <div class="control-group row-fluid">
                <label for="trackingNo">Tracking Number:</label>
                <input name="trackingNo" data-ng-model="dialogData.trackingNumber" type="text" class="col-xs-6 span6" />
                <label for="provider">Via</label>
                <label>{{shipMethod.name}}</label>
                <!--<select name="provider" disabled="disabled" class="col-xs-6 span6"><option>{{shipMethod}}</option></select>-->
                <!--<label><input type="checkbox" checked="checked" /> Email shipment notification to the customer</label>-->
            </div>
            
            <table class="">
                <tbody>
                    <tr data-ng-repeat="lineitem in dialogData.items">
                        <td><input type="checkbox" data-ng-disabled="lineitem.backOrder" data-ng-model="lineitem.selected" /></td>
                        <td>
                            <h4>{{lineitem.name}}</h4>
                            <span>SKU: {{lineitem.sku}}</span>
                        </td>
                        <td class="text-right">{{lineitem.quantity}} x <strong>{{lineitem.price | currency : currencySymbol}}</strong></td>
                        <td class="text-right">{{lineitem.quantity * lineitem.price | currency : currencySymbol}}</td>
                    </tr>
                </tbody>
            </table>

        </div>

    </div>

	<div class="umb-panel-footer" >
		<div class="umb-el-wrap umb-panel-buttons">
	        <div class="btn-toolbar umb-btn-toolbar pull-right">

	        	<a href data-ng-click="close()" class="btn btn-link">
	        		<localize key="general_cancel">Cancel</localize>
				</a>

				<button
					class="btn btn-primary"
					data-ng-click="submit(dialogData)">
					Fulfill Shipment
				</button>

	        </div>
		</div>
	</div>
</div>

