<?xml version="1.0" encoding="utf-8"?>
<dashBoard xmlns:xdt="http://schemas.microsoft.com/XML-Document-Transform">
    <section alias="MerchelloDashboard" xdt:Transform="InsertIfMissing">
        <areas>
          <area>merchello</area>
        </areas>
        <tab caption="Welcome">
          <control showOnce="false" addPanel="true" panelCaption="">
                ~/App_Plugins/Merchello/BackOffice/Merchello/dashboard.html
              </control>
        </tab>
        <tab caption="Settings">
          <control showOnce="false" addPanel="true" panelCaption="">
                ~/App_Plugins/Merchello/BackOffice/Merchello/settings.html
              </control>
        </tab>
      </section>
</dashBoard>