<?xml version="1.0"?>
<Examine  xmlns:xdt="http://schemas.microsoft.com/XML-Document-Transform">
  <ExamineIndexProviders>
    <providers>
      <add xdt:Transform="InsertIfMissing" name="MerchelloProductIndexer" type="Merchello.Examine.Providers.ProductIndexer, Merchello.Examine" />
      <add xdt:Transform="InsertIfMissing" name="MerchelloInvoiceIndexer" type="Merchello.Examine.Providers.InvoiceIndexer, Merchello.Examine" />
      <add xdt:Transform="InsertIfMissing" name="MerchelloOrderIndexer" type="Merchello.Examine.Providers.OrderIndexer, Merchello.Examine" />
      <add xdt:Transform="InsertIfMissing" name="MerchelloCustomerIndexer" type="Merchello.Examine.Providers.CustomerIndexer, Merchello.Examine" />
    </providers>
  </ExamineIndexProviders>
  <ExamineSearchProviders>
    <providers>
      <add xdt:Transform="InsertIfMissing" name="MerchelloProductSearcher" type="Examine.LuceneEngine.Providers.LuceneSearcher, Examine" />
      <add xdt:Transform="InsertIfMissing" name="MerchelloInvoiceSearcher" type="Examine.LuceneEngine.Providers.LuceneSearcher, Examine" />
      <add xdt:Transform="InsertIfMissing" name="MerchelloOrderSearcher" type="Examine.LuceneEngine.Providers.LuceneSearcher, Examine" />
      <add xdt:Transform="InsertIfMissing" name="MerchelloCustomerSearcher" type="Examine.LuceneEngine.Providers.LuceneSearcher, Examine" />
    </providers>
  </ExamineSearchProviders>
</Examine>