.btn-merchello, .btn-merchello:visited  {
    background-color:#000;
    color:#fff;
    border:none;
    border-radius:2px;
    text-align:center;
    padding:10px 0;
    font-weight:bold;
    width:100%;
    &:hover, &:focus {
        background-color:#f36f21;
        color:#fff;
    }
}

.recentlyupdatedddl{
    margin-bottom:8px;
}