.merchello-controls, .merchello-list {

  //.list-icons {
      .hover-hide {
        cursor: pointer;
      }
      .hover-show {
        cursor: pointer;
        visibility: hidden;
      }

      li {
        &:hover {
          .hover-show {
            visibility: visible;
          }
          .hover-hide {
            visibility: hidden;
          }
        }
      }

  //}
}