.merchello-controls, .merchello-list {

    .hover-hide {
        cursor: pointer;
    }

    .hover-show {
        cursor: pointer;
        visibility: hidden;
    }

    li {
        &:hover {
            .hover-show {
                visibility: visible;
            }

            .hover-hide {
                visibility: hidden;
            }
        }
    }

    .dropdown-menu-right {
        right: 0;
        left: auto;
    }

    .dropdown-menu-left {
        right: auto;
        left: 0;
    }
}
