.merchello {
    .customer-avatar {
        margin-right: 10px;
    }

    .sales-history, .item-cache {
        h4 {
            margin-bottom: .5em;

            small {
                margin-top: .25em;
                display: block;
                color: #b6b6b6;
            }
        }
    }
}
