.merch-language-select {
  .dropdown-menu {
    width: inherit;
  }
}

.detached-content-select {
  display: inline-block;
  text-align: left;
  label {
    font-weight: bold;
  }
}

    .control-label {
      width: 160px;
      position: absolute;
    }
