.merchello-icons {
  margin: -6px 0;
  display: inline-block;
  &.merchello-icons-interactive {
    opacity: 0;
    transition: opacity .15s ease-in-out;
    -moz-transition: opacity .15s ease-in-out;
    -webkit-transition: opacity .15s ease-in-out;
  }

  .merchello-icon {
    display: inline-block;
    padding: 4px 6px;
    margin: 2px;
    cursor: pointer;
    background: #fff;
    border: 1px solid #b6b6b6;
    border-radius: 200px;
    text-decoration: none !important;

    .icon {
      display: block;
      font-size: 16px !important;
      color: #5f5f5f;
    }

    &:hover {
      color: white;
      background: #2e8aea;
      border-color: #2e8aea;
      text-decoration: none;
      > .icon {
        color: white;
      }
    }
  }
}

.merchello-icon-container {
  text-align: right;
  &.merchello-icons-interactive {
    &:hover {
      cursor: pointer;
      .merchello-icons {
        opacity: 1;
      }
    }
  }
}

.well {
  .merchello-icon {
    background: #F8F8F8;
  }
}
