<form novalidate name="offerForm" data-ng-controller="Merchello.Backoffice.OfferEditController"
      data-ng-show="loaded" data-ng-submit="save()" class="merchello">

    <div class="umb-panel umb-editor-wrapper" val-show-validation>

        <div class="umb-editor-header umb-panel-header">
            <div class="umb-panel-header-content-wrapper">

                <div class="umb-panel-header-content">
                    <div class="umb-panel-header-left-side -top-position">
                        <div class="umb-panel-header-title-wrapper">
                            <input type="text"
                                   class="umb-panel-header-name-input"
                                   localize="placeholder"
                                   placeholder="@merchelloPlaceholders_enterOffer"
                                   name="headerName"
                                   ng-model="offerSettings.name"
                                   umb-auto-focus
                                   val-server-field="Name"
                                   required />
                        </div>
                        <div class="umb-editor-header__actions-menu">
                            <div class="pull-right" style="position: relative;" data-ng-show="context !== 'create'">
                                <a class="btn btn-info" href="#" data-toggle="dropdown">
                                    <localize key="general_actions">Actions</localize>
                                    <span class="caret"></span>
                                </a>
                                <ul class="dropdown-menu umb-actions" role="menu" aria-labelledby="dLabel">
                                    <li><a data-ng-click="openDeleteOfferDialog()" data-ng-show="context !== 'create'"><localize key="merchelloButtons_delete" /></a></li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>

                <merchello-tabs tabs="tabs"></merchello-tabs>
            </div>
        </div>


        <merchello-panel>
            <div class="row-fluid" data-ng-show="preValuesLoaded">

                <div class="umb-property">
                    <div class="control-group umb-control-group">
                        <div class="umb-el-wrap">
                            <label class="control-label">
                                <localize key="merchelloMarketing_offerInfo" />
                                <small><localize key="merchelloMarketing_configOffer" /></small>
                            </label>

                            <div class="controls">

                                <offer-main-properties settings="settings" offer="offerSettings" context="context" toggle-offer-expires="toggleOfferExpires()"></offer-main-properties>

                            </div>
                        </div>
                    </div>
                </div>


                <div data-ng-show="offerSettings.key !== ''">

                    <div class="umb-property">
                        <div class="control-group umb-control-group">
                            <div class="umb-el-wrap">
                                <label class="control-label">
                                    <localize key="merchelloMarketing_offerRewardsInfo" />
                                    <small><localize key="merchelloMarketing_offerRewardsConfig" /></small>
                                </label>

                                <div class="controls">
                                    <offer-components settings="settings" offer-settings="offerSettings" save-offer-settings="saveOffer()" pre-values-loaded="preValuesLoaded" components="allComponents" component-type="Reward"></offer-components>

                                    <div class="row-fluid" data-ng-show="hasReward">
                                        <div class="form-group col-xs-5 span5 offset6 each-matching">
                                            <label for="lineItemName"><localize key="merchelloMarketing_lineItemNameInfo"></localize></label>
                                            <input type="text" class="form-control col-xs-8 span8" ng-model="lineItemName" data-ng-change="setLineItemName(lineItemName)" />
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="umb-property">
                        <div class="control-group umb-control-group">
                            <div class="umb-el-wrap">
                                
                                <label class="control-label">
                                    <localize key="merchelloMarketing_offerConstraintsInfo"/>
                                    <small><localize key="merchelloMarketing_offerConstraintsConfig"/></small>
                                </label>

                                <div class="controls">
                                    <offer-components settings="settings" offer-settings="offerSettings" save-offer-settings="saveOffer()" pre-values-loaded="preValuesLoaded" components="allComponents" component-type="Constraint"></offer-components>
                                </div>

                            </div>
                        </div>
                    </div>

                </div>

            </div>
        </merchello-panel>

        <merchello-drawer>

            <div class="umb-editor-drawer-content__right-side">
                <div class="btn-group umb-button-group">
                    <div class="umb-button">
                        <button data-ng-disabled="offerForm.$invalid" type="button" data-ng-click="saveOffer(offerForm)" hotkey="ctrl+s" hotkey-when-hidden="true" class="btn btn-success"><localize key="buttons_save" /></button>
                    </div>
                </div>
            </div>

        </merchello-drawer>

    </div>
</form>