<form novalidate name="offerForm" data-ng-controller="Merchello.Backoffice.OfferEditController"
      data-ng-show="loaded" data-ng-submit="save()">
    <umb-panel val-show-validation>
        <umb-header>
            <div class="span7">
                <umb-content-name ng-model="offerSettings.name" localize="placeholder" placeholder="@merchelloPlaceholders_enterOffer">
                </umb-content-name>
            </div>
            <div class="span5">
                <div class="btn-toolbar pull-right umb-btn-toolbar">
                    <div class="btn-group">
                        <a data-ng-click="deleteOfferDialog()" data-ng-show="context !== 'create'" class="btn btn-danger"><localize key="merchelloButtons_delete" /></a>
                        <a data-ng-disabled="offerForm.$invalid" data-ng-click="save(offerForm)" class="btn btn-success"><localize key="buttons_save" /></a>
                    </div>
                </div>
            </div>
            <merchello-tabs tabs="tabs"></merchello-tabs>
        </umb-header>

        <merchello-panel>
            <div class="tab-content row-fluid" data-ng-show="preValuesLoaded">
                <div class="merchello-pane">

                    <div class="control-group umb-control-group">
                        <label class="merchello-control-label">
                            <localize key="merchelloMarketing_offerInfo"/>
                            <small><localize key="merchelloMarketing_configOffer" /></small>
                        </label>
                        <div class="merchello-controls">
                            <offer-main-properties settings="settings" offer="offerSettings" context="context"></offer-main-properties>

                        </div>
                    </div>



                </div>
                <!-- /merchello-pane -->
            </div>
        </merchello-panel>
    </umb-panel>
</form>