<div ng-controller="Merchello.Backoffice.OffersListController" ng-show="loaded">
    <umb-panel>
        <umb-header>
            <div class="span7">
                <div class="umb-headline-editor-wrapper">
                    <h1><localize key="merchelloMarketing_currentOffers" /></h1>
                </div>
            </div>
            <div class="span5">
                <div class="btn-toolbar pull-right umb-btn-toolbar">
                    <div class="btn-group">
                        <a data-ng-click="providerSelectDialogOpen()" class="btn btn-primary"><localize key="merchelloMarketing_newOffer" /></a>
                    </div>
                </div>
            </div>
            <merchello-tabs tabs="tabs"></merchello-tabs>
        </umb-header>

        <merchello-panel>
            <div class="merchello-pane">
                <form class="form-horizontal row-fluid" id="offer-filter">
                    <div class="controls pull-right" style="margin-left: 0;" data-ng-show="offers.length > 0">
                        <span style="line-height: 30px; margin-left: -2em;">Show:&nbsp;</span>
                        <select name="limitSelect" class="form-control span9 col-xs-9" data-ng-model="limitAmount" data-ng-change="limitChanged(limitAmount)">
                            <option value="2" data-ng-show="testing">2</option>
                            <option value="10">10</option>
                            <option value="25">25</option>
                            <option value="50">50</option>
                            <option value="100">100</option>
                        </select>
                    </div>
                    <div class="form-group control-group span10">
                        <label class="control-label" for="offerFilter">Filter Offers:</label>
                        <div class="controls">
                            <input type="text" id="offerFilter" class="form-control span8" name="offerFilter" data-ng-model="filterText" localize="placeholder" placeholder="@placeholders_filter" />
                            <!-- ACTION: Filter Sales  -->
                            <button type="submit" id="offersFilterGo" class="btn" data-ng-click="getFilteredOffers(filterText)"><localize key="merchelloGeneral_filter" /></button>
                        </div>
                    </div>
                </form>
                <reset-list-filters></reset-list-filters>
            </div>
            <div class="merchello-pane" data-ng-show="preValuesLoaded">

                <merchello-pager></merchello-pager>

                <table class="table table-hover merchello-selectable-table sortable">
                    <thead>
                    <tr>
                        <!--<th></th>-->
                        <th>
                           <localize key="merchelloTableCaptions_name"/>
                        </th>
                        <th>
                            <localize key="merchelloMarketing_offerCode"/>
                        </th>
                        <th>
                            <localize key="merchelloMarketing_offerType" />
                        </th>
                        <th>
                            <localize key="merchelloMarketing_offerRewardsInfo" />
                        </th>
                        <th>
                            <localize key="merchelloTableCaptions_startDate" />
                        </th>
                        <th>
                            <localize key="merchelloTableCaptions_endDate" />
                        </th>
                        <th>
                            <localize key="merchelloTableCaptions_active" />
                        </th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr data-ng-repeat="offer in offers">
                        <td><a data-ng-href="{{getEditUrl(offer)}}">{{offer.name}}</a></td>
                        <td>{{ offer.offerCode }}</td>
                        <td>{{ getOfferType(offer) }}</td>
                        <td>{{ getOfferReward(offer) }}</td>
                        <td data-ng-show="offer.offerExpires">{{ offer.offerStartsDate | date : settings.dateFormat }}</td>
                        <td data-ng-show="offer.offerExpires">{{ offer.offerEndsDate | date : settings.dateFormat }}</td>
                        <td data-ng-hide="offer.offerExpires">-</td>
                        <td data-ng-hide="offer.offerExpires">-</td>
                        <td data-ng-show="offer.active && !offer.expired"><localize key="general_yes" /></td>
                        <td data-ng-show="!offer.active"><localize key="general_no" /></td>
                        <td data-ng-show="offer.active && offer.expired"><localize key="merchelloGeneral_expired" /></td>
                    </tr>
                    </tbody>
                </table>

                <merchello-pager></merchello-pager>

                <!-- Prompt to create products if no products in the catalog -->
                <div class="pager well" data-ng-show="offers.length == 0">
                    <h5><localize key="merchelloMarketing_noOffer"/></h5>
                    <p><localize key="merchelloMarketing_newOfferPrompt"/></p>
                    <button data-ng-click="providerSelectDialogOpen()" class="btn btn-primary"><localize key="merchelloMarketing_newOffer" /></button>
                </div>

            </div>
        </merchello-panel>

    </umb-panel>
</div>
