<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <system.serviceModel>
        <bindings>
            <basicHttpBinding>
                <binding name="BasicHttpsBinding_IPaymentRequest">
                    <security mode="Transport" />
                </binding>
            </basicHttpBinding>
        </bindings>
        <client>
            <endpoint address="https://paymentrequest.api.epay.eu/v1/PaymentRequestSOAP.svc"
                binding="basicHttpBinding" bindingConfiguration="BasicHttpsBinding_IPaymentRequest"
                contract="IPaymentRequest" name="BasicHttpsBinding_IPaymentRequest" />
        </client>
    </system.serviceModel>
</configuration>