<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
    <section name="merchello" type="Merchello.Core.Configuration.Outline.MerchelloSection, Merchello.Core" />    
  </configSections>


  <connectionStrings>
    <add name="umbracoDbDSN" connectionString="server=moria.mindfly.biz;database=merchello_tests;user id=merchelloTester;password=merchelloTester" providerName="System.Data.SqlClient" />
  </connectionStrings>
  
  <merchello enableLogging="false" defaultCountryCode="US">

    <typeFieldDefinitions>
      
      <customerAddress>
        <type alias="Residential" descriptiveName="Residential" typeKey="D32D7B40-2FF2-453F-9AC5-51CF1A981E46"  />
        <type alias="Commercial" descriptiveName="Commercial" typeKey="5C2A8638-EA32-49AD-8167-EDDFB45A7360"  />
        <type alias="Custom" descriptiveName="Custom" typeKey="A9C5D25C-C825-49F7-B532-14202B8EE61C" />
      </customerAddress>

      <basket>
        <type alias="Basket" descriptiveName="Standard Basket" typeKey="C53E3100-2DFD-408A-872E-4380383FAD35"  />
        <type alias="Wishlist" descriptiveName="Wishlist" typeKey="B3EBB9E0-C7CE-4BA6-B379-BEDA3465D6D5"  />
      </basket>

      <shipMethod>
        <type alias="FlatRate" descriptiveName="Flat Rate" typeKey="1D0B73CF-AE9D-4501-83F5-FA0B2FEE1236"  />
        <type alias="PercentTotal" descriptiveName="Percent of Total" typeKey="B056DA45-3FB0-49AE-8349-6FCEB1465DF6"  />
        <type alias="Carrier" descriptiveName="Carrier" typeKey="4311536A-9554-43D4-8422-DEAAD214B469"  />
      </shipMethod>

      <invoiceItem>
        <type alias="Product" descriptiveName="Product" typeKey="576CB1FB-5C0D-45F5-8CCD-94F63D174902"  />
        <type alias="Charge" descriptiveName="Charge or Fee" typeKey="5574BB84-1C96-4F7E-91FB-CFD7C11162A0"  />
        <type alias="Shipping" descriptiveName="Shipping" typeKey="7E69FFD2-394C-44BF-9442-B86F67AEC110"  />
        <type alias="Tax" descriptiveName="Tax" typeKey="3F4830C8-FB7C-4393-831D-3953525541B3"  />
        <type alias="Credit" descriptiveName="Credit" typeKey="18DEF584-E92A-42F5-9F6F-A49034DAB34F"  />
      </invoiceItem>
      
      <product />

      <paymentMethod>
        <type alias="Cash" descriptiveName="Cash" typeKey="9C9A7E61-D79C-4ECC-B0E0-B2A502F252C5" />
        <type alias="CreditCard" descriptiveName="Credit Card" typeKey="CB1354FE-B30C-449E-BD5C-CD50BCBD804A" />
        <type alias="PurchaseOrder" descriptiveName="Purchase Order" typeKey="2B588AE0-7B76-430F-9341-270A8C943E7E" />        
      </paymentMethod>

    </typeFieldDefinitions>
    
  </merchello>
  
</configuration>