<?xml version="1.0" encoding="utf-8" ?>
<configuration>

  <appSettings>
    <add key="syntax" value="SqlServer" />
    <!--add key="syntax" value="SqlCe" /-->
  </appSettings>
  
  <connectionStrings>
    <remove name="umbracoDbDSN" />
    <add name="umbracoDbDSN" connectionString="Data Source=|DataDirectory|\Merchello.sdf;Flush Interval=1;" providerName="System.Data.SqlServerCe.4.0" />
    <!-- Important: If you're upgrading Umbraco, do not clear the connection string / provider name during your web.config merge. -->
  </connectionStrings>

</configuration>