.braintree {
  /* Braintree Hosted Fields styling classes*/
  .braintree-hosted-fields-focused {
    border: 1px solid #0275d8;
    box-shadow: inset 0 1px 1px rgba(0,0,0,.075),0 0 8px rgba(102,175,233,.6);
  }

  .braintree-hosted-fields-focused.focused-invalid {
    border: 1px solid #ebcccc;
    box-shadow: inset 0 1px 1px rgba(0,0,0,.075),0 0 8px rgba(100,100,0,.6);
  }

  @media (max-width: 670px) {
    .form-group {
      width: 100%;
    }

    .btn {
      white-space: normal;
    }
  }
}