<?xml version="1.0" encoding="utf-8" ?>
<configuration>

    <configSections>
        <sectionGroup name="merchello">
            <section name="merchelloCountries" type="Merchello.Core.Configuration.Sections.MerchelloCountriesSection, Merchello.Core" requirePermission="false" />
        </sectionGroup>
    </configSections>

    <merchello>
        <merchelloCountries configSource="merchelloCountries.config" />
    </merchello>

</configuration>