<?xml version="1.0" encoding="utf-8" ?>
<configuration>

    <configSections>
        <sectionGroup name="merchello">
            <section name="merchelloSettings" type="Merchello.Core.Configuration.Sections.MerchelloSettingsSection, Merchello.Core" requirePermission="false" />
        </sectionGroup>
    </configSections>

    <merchello>
        <merchelloSettings configSource="merchelloSettings.config" />
    </merchello>

</configuration>