<?xml version="1.0" encoding="utf-8" ?>
<configuration>

    <configSections>
        <sectionGroup name="merchello">
            <section name="settings" type="Merchello.Core.Configuration.Sections.MerchelloCountries, Merchello.Core" requirePermission="false" />
        </sectionGroup>
    </configSections>

    <merchello>
        <settings configSource="merchelloCountries.config" />
    </merchello>

</configuration>