<?xml version="1.0" encoding="utf-8" ?>
<configuration>

    <configSections>
        <sectionGroup name="merchello">
            <section name="merchelloExtensibility" type="Merchello.Core.Configuration.Sections.MerchelloExtensibilitySection, Merchello.Core" requirePermission="false" />
        </sectionGroup>
    </configSections>

    <merchello>
        <merchelloExtensibility configSource="merchelloExtensibility.config" />
    </merchello>

</configuration>