<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE root [<!ELEMENT fastTrack ANY>
<!ATTLIST fastTrack id ID #REQUIRED>
<!ELEMENT ftAccount ANY>
<!ATTLIST ftAccount id ID #REQUIRED>
<!ELEMENT ftBasket ANY>
<!ATTLIST ftBasket id ID #REQUIRED>
<!ELEMENT ftCatalog ANY>
<!ATTLIST ftCatalog id ID #REQUIRED>
<!ELEMENT ftCategory ANY>
<!ATTLIST ftCategory id ID #REQUIRED>
<!ELEMENT ftCheckout ANY>
<!ATTLIST ftCheckout id ID #REQUIRED>
<!ELEMENT ftLogin ANY>
<!ATTLIST ftLogin id ID #REQUIRED>
<!ELEMENT ftProduct ANY>
<!ATTLIST ftProduct id ID #REQUIRED>
<!ELEMENT ftReceipt ANY>
<!ATTLIST ftReceipt id ID #REQUIRED>
<!ELEMENT ftStore ANY>
<!ATTLIST ftStore id ID #REQUIRED>
]>
<root id="-1">
  <ftStore id="1083" key="8855af7f-fb0c-44b4-bc75-d7bb7e1d0250" parentID="-1" level="1" creatorID="0" sortOrder="0" createDate="2016-08-05T12:50:05" updateDate="2016-09-01T08:22:29" nodeName="Home" urlName="home" path="-1,1083" isDoc="" nodeType="1079" creatorName="admin" writerName="admin" writerID="0" template="1078" nodeTypeAlias="ftStore">
    <umbracoNaviHide>0</umbracoNaviHide>
    <brief><![CDATA[<p><span>Example store which has been developed to help get you up and running quickly with Merchello. It's designed to show you how to implement common features, and </span><span>you can grab the source code from here</span><span>, just fork/clone/download and open up Merchello.sln</span></p>]]></brief>
    <featuredProducts><![CDATA[696b698d-a897-434c-b749-163d121b4193]]></featuredProducts>
    <storeName><![CDATA[FastTrack Store]]></storeName>
    <ftCatalog id="1084" key="e3712a0e-1fa7-4ea1-818d-cd16bb5d0a57" parentID="1083" level="2" creatorID="0" sortOrder="0" createDate="2016-08-05T12:51:58" updateDate="2016-08-11T15:07:38" nodeName="Catalog" urlName="catalog" path="-1,1083,1084" isDoc="" nodeType="1059" creatorName="admin" writerName="admin" writerID="0" template="1058" nodeTypeAlias="ftCatalog">
      <umbracoNaviHide>0</umbracoNaviHide>
      <categories><![CDATA[8d50adde-bb9d-429f-889d-4cac80921ba3]]></categories>
      <ftCategory id="1090" key="1847d152-daff-4211-8e07-931ccf0b8159" parentID="1084" level="3" creatorID="0" sortOrder="0" createDate="2016-08-05T12:57:21" updateDate="2016-08-11T15:22:41" nodeName="Funny T-Shirts" urlName="funny-t-shirts" path="-1,1083,1084,1090" isDoc="" nodeType="1061" creatorName="admin" writerName="admin" writerID="0" template="1060" nodeTypeAlias="ftCategory">
        <umbracoNaviHide>0</umbracoNaviHide>
        <products><![CDATA[8d0c273b-1626-4bb3-942b-489d94b304ae]]></products>
      </ftCategory>
      <ftCategory id="1091" key="5a6ec2a0-53c3-43ae-8dc5-4ac785f8e6ae" parentID="1084" level="3" creatorID="0" sortOrder="1" createDate="2016-08-05T12:57:38" updateDate="2016-08-11T15:22:49" nodeName="Geeky T-Shirts" urlName="geeky-t-shirts" path="-1,1083,1084,1091" isDoc="" nodeType="1061" creatorName="admin" writerName="admin" writerID="0" template="1060" nodeTypeAlias="ftCategory">
        <umbracoNaviHide>0</umbracoNaviHide>
        <products><![CDATA[2abbd4f9-7c9f-41c7-9add-ea723d8836c4]]></products>
      </ftCategory>
      <ftCategory id="1092" key="c7328746-cd9e-4110-aff3-f5ea079e1be7" parentID="1084" level="3" creatorID="0" sortOrder="2" createDate="2016-08-05T12:58:14" updateDate="2016-08-11T15:22:58" nodeName="Sad T-Shirts" urlName="sad-t-shirts" path="-1,1083,1084,1092" isDoc="" nodeType="1061" creatorName="admin" writerName="admin" writerID="0" template="1060" nodeTypeAlias="ftCategory">
        <umbracoNaviHide>0</umbracoNaviHide>
        <products><![CDATA[4dfb471a-ee5a-4067-80db-b618873b729a]]></products>
      </ftCategory>
    </ftCatalog>
    <ftBasket id="1085" key="9240a057-3155-40e1-b80a-f2798e4677a7" parentID="1083" level="2" creatorID="0" sortOrder="1" createDate="2016-08-05T12:52:10" updateDate="2016-08-11T15:08:57" nodeName="Basket" urlName="basket" path="-1,1083,1085" isDoc="" nodeType="1057" creatorName="admin" writerName="admin" writerID="0" template="1056" nodeTypeAlias="ftBasket">
      <umbracoNaviHide>0</umbracoNaviHide>
      <pageTitle><![CDATA[Your Merchello Basket]]></pageTitle>
      <metaDescription><![CDATA[An example Merchello basket page]]></metaDescription>
    </ftBasket>
    <ftCheckout id="1086" key="3d4dea55-ec60-4c81-ac1b-45c9cb6bdf63" parentID="1083" level="2" creatorID="0" sortOrder="2" createDate="2016-08-05T12:54:51" updateDate="2016-08-11T15:09:10" nodeName="Checkout" urlName="checkout" path="-1,1083,1086" isDoc="" nodeType="1063" creatorName="admin" writerName="admin" writerID="0" template="1113" nodeTypeAlias="ftCheckout">
      <umbracoNaviHide>0</umbracoNaviHide>
      <checkoutStage><![CDATA[BillingAddress]]></checkoutStage>
      <ftCheckout id="1105" key="a3ece120-9cc5-4ebb-b3d7-2ec7a7882850" parentID="1086" level="3" creatorID="0" sortOrder="0" createDate="2016-08-08T11:33:33" updateDate="2016-08-11T15:09:17" nodeName="Shipping Address" urlName="shipping-address" path="-1,1083,1086,1105" isDoc="" nodeType="1063" creatorName="admin" writerName="admin" writerID="0" template="1115" nodeTypeAlias="ftCheckout">
        <umbracoNaviHide>0</umbracoNaviHide>
        <checkoutStage><![CDATA[ShippingAddress]]></checkoutStage>
      </ftCheckout>
      <ftCheckout id="1106" key="a29b6978-2010-4f3b-b761-16dd70a71764" parentID="1086" level="3" creatorID="0" sortOrder="1" createDate="2016-08-08T11:33:50" updateDate="2016-08-11T15:09:24" nodeName="Ship Rate Quote" urlName="ship-rate-quote" path="-1,1083,1086,1106" isDoc="" nodeType="1063" creatorName="admin" writerName="admin" writerID="0" template="1114" nodeTypeAlias="ftCheckout">
        <umbracoNaviHide>0</umbracoNaviHide>
        <checkoutStage><![CDATA[ShipRateQuote]]></checkoutStage>
      </ftCheckout>
      <ftCheckout id="1107" key="85ab3ee8-dd75-463e-87d2-8c5677ded7a5" parentID="1086" level="3" creatorID="0" sortOrder="2" createDate="2016-08-08T11:34:14" updateDate="2016-08-11T15:09:33" nodeName="Payment Method" urlName="payment-method" path="-1,1083,1086,1107" isDoc="" nodeType="1063" creatorName="admin" writerName="admin" writerID="0" template="1112" nodeTypeAlias="ftCheckout">
        <umbracoNaviHide>0</umbracoNaviHide>
        <checkoutStage><![CDATA[PaymentMethod]]></checkoutStage>
      </ftCheckout>
      <ftCheckout id="1108" key="fea73374-0226-41d2-aca4-bb993551e683" parentID="1086" level="3" creatorID="0" sortOrder="3" createDate="2016-08-08T11:34:34" updateDate="2016-08-11T15:09:41" nodeName="Payment" urlName="payment" path="-1,1083,1086,1108" isDoc="" nodeType="1063" creatorName="admin" writerName="admin" writerID="0" template="1111" nodeTypeAlias="ftCheckout">
        <umbracoNaviHide>0</umbracoNaviHide>
        <checkoutStage><![CDATA[Payment]]></checkoutStage>
      </ftCheckout>
    </ftCheckout>
    <ftReceipt id="1087" key="2eb3752d-34ff-4da8-91d1-15548334da34" parentID="1083" level="2" creatorID="0" sortOrder="3" createDate="2016-08-05T12:55:07" updateDate="2016-08-11T15:10:04" nodeName="Receipt" urlName="receipt" path="-1,1083,1087" isDoc="" nodeType="1077" creatorName="admin" writerName="admin" writerID="0" template="1076" nodeTypeAlias="ftReceipt">
      <umbracoNaviHide>1</umbracoNaviHide>
      <headline><![CDATA[Thank you for your order]]></headline>
    </ftReceipt>
    <ftLogin id="1088" key="9ed56784-8e21-447d-84e2-5f23bb73667d" parentID="1083" level="2" creatorID="0" sortOrder="4" createDate="2016-08-05T12:55:28" updateDate="2016-08-11T15:10:22" nodeName="Login" urlName="login" path="-1,1083,1088" isDoc="" nodeType="1065" creatorName="admin" writerName="admin" writerID="0" template="1064" nodeTypeAlias="ftLogin">
      <umbracoNaviHide>0</umbracoNaviHide>
      <headline><![CDATA[Login or Create Account]]></headline>
    </ftLogin>
    <ftAccount id="1089" key="976d4720-3126-40af-b2f9-a1071bb9875b" parentID="1083" level="2" creatorID="0" sortOrder="5" createDate="2016-08-05T12:55:39" updateDate="2016-08-11T15:10:45" nodeName="Account" urlName="account" path="-1,1083,1089" isDoc="" nodeType="1052" creatorName="admin" writerName="admin" writerID="0" template="1051" nodeTypeAlias="ftAccount">
      <umbracoNaviHide>0</umbracoNaviHide>
      <headline><![CDATA[My Account]]></headline>
    </ftAccount>
  </ftStore>
</root>