<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE root [ 
<!ELEMENT account ANY>
<!ATTLIST account id ID #REQUIRED>
<!ELEMENT basket ANY>
<!ATTLIST basket id ID #REQUIRED>
<!ELEMENT catalog ANY>
<!ATTLIST catalog id ID #REQUIRED>
<!ELEMENT category ANY>
<!ATTLIST category id ID #REQUIRED>
<!ELEMENT checkout ANY>
<!ATTLIST checkout id ID #REQUIRED>
<!ELEMENT compositionContent ANY>
<!ATTLIST compositionContent id ID #REQUIRED>
<!ELEMENT compositionMeta ANY>
<!ATTLIST compositionMeta id ID #REQUIRED>
<!ELEMENT CompositionUmbracoFields ANY>
<!ATTLIST CompositionUmbracoFields id ID #REQUIRED>
<!ELEMENT login ANY>
<!ATTLIST login id ID #REQUIRED>
<!ELEMENT product ANY>
<!ATTLIST product id ID #REQUIRED>
<!ELEMENT receipt ANY>
<!ATTLIST receipt id ID #REQUIRED>
<!ELEMENT store ANY>
<!ATTLIST store id ID #REQUIRED>

]>
<root id="-1">
  <store id="1097" key="11accf7d-a9aa-4de2-a313-0a9dbcd48aa4" parentID="-1" level="1" creatorID="0" sortOrder="0" createDate="2016-05-10T11:24:20" updateDate="2016-05-11T16:15:53" nodeName="Home" urlName="home" path="-1,1097" isDoc="" nodeType="1096" creatorName="admin" writerName="admin" writerID="0" template="1091" nodeTypeAlias="store">
    <headline><![CDATA[Merchello FastTrack Store]]></headline>
    <brief><![CDATA[<p><span>Example store which has been developed to help get you up and running quickly with Merchello. It's designed to show you how to implement common features, and </span>you can grab the source code from here<span>, just fork/clone/download and open up Merchello.sln</span></p>]]></brief>
    <storeName><![CDATA[FastTrack Store]]></storeName>
    <featuredProducts><![CDATA[5cc633f3-9d4b-4a3a-b28f-a5b535c678d3]]></featuredProducts>
    <catalog id="1107" key="3f2ffc72-e1fd-4bce-9a3c-b80ef9a3dde7" parentID="1097" level="2" creatorID="0" sortOrder="0" createDate="2016-05-11T13:08:55" updateDate="2016-05-17T11:08:25" nodeName="Catalog" urlName="catalog" path="-1,1097,1107" isDoc="" nodeType="1106" creatorName="admin" writerName="admin" writerID="0" template="1105" nodeTypeAlias="catalog">
      <categories><![CDATA[09fa8ed2-3b88-4a68-bf3e-bedabee1b4e9]]></categories>
      <category id="1117" key="b844e63f-3f3c-47a5-b7a3-c8acc15bbbd9" parentID="1107" level="3" creatorID="0" sortOrder="0" createDate="2016-05-11T21:17:23" updateDate="2016-06-01T11:54:44" nodeName="Funny T-Shirts" urlName="funny-t-shirts" path="-1,1097,1107,1117" isDoc="" nodeType="1111" creatorName="admin" writerName="admin" writerID="0" template="1158" nodeTypeAlias="category">
        <products><![CDATA[e29fe4cd-4fa8-4657-b83f-605b089ae75f]]></products>
      </category>
      <category id="1118" key="0848d1ec-ede4-4922-ad2f-03cb8788ebee" parentID="1107" level="3" creatorID="0" sortOrder="1" createDate="2016-05-11T21:17:40" updateDate="2016-06-01T11:54:50" nodeName="Geeky T-Shirts" urlName="geeky-t-shirts" path="-1,1097,1107,1118" isDoc="" nodeType="1111" creatorName="admin" writerName="admin" writerID="0" template="1158" nodeTypeAlias="category">
        <products><![CDATA[f1f8dc83-15f5-43ba-b106-4c272688879d]]></products>
      </category>
      <category id="1119" key="d8fc077e-84bd-475c-86f6-ba197d1d4b3e" parentID="1107" level="3" creatorID="0" sortOrder="2" createDate="2016-05-11T21:17:56" updateDate="2016-06-01T11:54:56" nodeName="Sad T-Shirts" urlName="sad-t-shirts" path="-1,1097,1107,1119" isDoc="" nodeType="1111" creatorName="admin" writerName="admin" writerID="0" template="1158" nodeTypeAlias="category">
        <products><![CDATA[28792b0c-9090-47ea-9c0c-bb32201c0979]]></products>
      </category>
    </catalog>
    <basket id="1098" key="629c31d1-9ba0-496c-bed1-d82afa354ebe" parentID="1097" level="2" creatorID="0" sortOrder="1" createDate="2016-05-10T11:24:51" updateDate="2016-05-11T13:09:06" nodeName="Basket" urlName="basket" path="-1,1097,1098" isDoc="" nodeType="1093" creatorName="admin" writerName="admin" writerID="0" template="1085" nodeTypeAlias="basket">
      <pageTitle><![CDATA[Your Merchello Basket]]></pageTitle>
      <metaDescription><![CDATA[An example Merchello basket page]]></metaDescription>
    </basket>
    <checkout id="1099" key="7fcfdd55-48a9-4818-b98d-7087f1d9da31" parentID="1097" level="2" creatorID="0" sortOrder="2" createDate="2016-05-10T11:25:04" updateDate="2016-05-28T09:40:12" nodeName="Checkout" urlName="checkout" path="-1,1097,1099" isDoc="" nodeType="1094" creatorName="admin" writerName="admin" writerID="0" template="1121" nodeTypeAlias="checkout">
      <umbracoNaviHide>1</umbracoNaviHide>
      <checkoutStage><![CDATA[BillingAddress]]></checkoutStage>
      <checkout id="1120" key="cba45146-3eee-4223-ad94-6e8d4e5a38ce" parentID="1099" level="3" creatorID="0" sortOrder="0" createDate="2016-05-12T08:43:05" updateDate="2016-05-12T11:37:45" nodeName="Shipping Address" urlName="shipping-address" path="-1,1097,1099,1120" isDoc="" nodeType="1094" creatorName="admin" writerName="admin" writerID="0" template="1122" nodeTypeAlias="checkout">
        <pageTitle><![CDATA[Shipping Address]]></pageTitle>
        <headline><![CDATA[Checkout - Step 2 of 5]]></headline>
        <umbracoNaviHide>0</umbracoNaviHide>
        <checkoutStage><![CDATA[ShippingAddress]]></checkoutStage>
      </checkout>
      <checkout id="1123" key="523f0ab9-e0c5-4a43-b567-874b744198bd" parentID="1099" level="3" creatorID="0" sortOrder="1" createDate="2016-05-12T09:28:17" updateDate="2016-05-12T11:37:45" nodeName="Ship Rate Quote" urlName="ship-rate-quote" path="-1,1097,1099,1123" isDoc="" nodeType="1094" creatorName="admin" writerName="admin" writerID="0" template="1127" nodeTypeAlias="checkout">
        <headline><![CDATA[Checkout - Step 3 of 5]]></headline>
        <umbracoNaviHide>0</umbracoNaviHide>
        <checkoutStage><![CDATA[ShipRateQuote]]></checkoutStage>
      </checkout>
      <checkout id="1124" key="b4ad3c6a-87cd-4d5c-a3b1-40ab5f8649e6" parentID="1099" level="3" creatorID="0" sortOrder="2" createDate="2016-05-12T09:28:34" updateDate="2016-05-12T18:25:29" nodeName="Payment Method" urlName="payment-method" path="-1,1097,1099,1124" isDoc="" nodeType="1094" creatorName="admin" writerName="admin" writerID="0" template="1128" nodeTypeAlias="checkout">
        <headline><![CDATA[Checkout - Step 4 of 5]]></headline>
        <brief><![CDATA[<p>At this stage we need to select the payment method and apply any discounts.</p>]]></brief>
        <umbracoNaviHide>0</umbracoNaviHide>
        <checkoutStage><![CDATA[PaymentMethod]]></checkoutStage>
      </checkout>
      <checkout id="1140" key="d4f6f316-ccae-4cee-ab21-1df0dd70dd78" parentID="1099" level="3" creatorID="0" sortOrder="3" createDate="2016-05-14T12:04:29" updateDate="2016-05-15T00:12:49" nodeName="Payment" urlName="payment" path="-1,1097,1099,1140" isDoc="" nodeType="1094" creatorName="admin" writerName="admin" writerID="0" template="1129" nodeTypeAlias="checkout">
        <headline><![CDATA[Checkout - Step 5 of 5]]></headline>
        <umbracoNaviHide>0</umbracoNaviHide>
        <checkoutStage><![CDATA[Payment]]></checkoutStage>
      </checkout>
    </checkout>
    <receipt id="1143" key="0a197a59-2426-48fb-ba75-d0ec640298e2" parentID="1097" level="2" creatorID="0" sortOrder="3" createDate="2016-05-14T14:54:08" updateDate="2016-05-14T15:25:27" nodeName="Receipt" urlName="receipt" path="-1,1097,1143" isDoc="" nodeType="1142" creatorName="admin" writerName="admin" writerID="0" template="1141" nodeTypeAlias="receipt">
      <headline><![CDATA[Thank you for your order]]></headline>
      <umbracoNaviHide>1</umbracoNaviHide>
    </receipt>
    <login id="1153" key="34f71d79-4004-46d1-bf53-cfb2755168fa" parentID="1097" level="2" creatorID="0" sortOrder="4" createDate="2016-05-18T13:30:25" updateDate="2016-05-18T14:20:40" nodeName="Login" urlName="login" path="-1,1097,1153" isDoc="" nodeType="1152" creatorName="admin" writerName="admin" writerID="0" template="1149" nodeTypeAlias="login">
      <headline><![CDATA[Login or Create Account]]></headline>
      <umbracoNaviHide>1</umbracoNaviHide>
    </login>
    <account id="1151" key="9dd00f0a-1b6f-424f-b13a-1e4d8985912d" parentID="1097" level="2" creatorID="0" sortOrder="5" createDate="2016-05-18T12:55:42" updateDate="2016-05-18T13:31:19" nodeName="Account" urlName="account" path="-1,1097,1151" isDoc="" nodeType="1147" creatorName="admin" writerName="admin" writerID="0" template="1148" nodeTypeAlias="account">
      <headline><![CDATA[My Account]]></headline>
      <umbracoNaviHide>1</umbracoNaviHide>
    </account>
  </store>
</root>