<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE root [<!ELEMENT fastTrack ANY>
<!ATTLIST fastTrack id ID #REQUIRED>
<!ELEMENT ftAccount ANY>
<!ATTLIST ftAccount id ID #REQUIRED>
<!ELEMENT ftBasket ANY>
<!ATTLIST ftBasket id ID #REQUIRED>
<!ELEMENT ftCatalog ANY>
<!ATTLIST ftCatalog id ID #REQUIRED>
<!ELEMENT ftCategory ANY>
<!ATTLIST ftCategory id ID #REQUIRED>
<!ELEMENT ftCheckout ANY>
<!ATTLIST ftCheckout id ID #REQUIRED>
<!ELEMENT ftLogin ANY>
<!ATTLIST ftLogin id ID #REQUIRED>
<!ELEMENT ftProduct ANY>
<!ATTLIST ftProduct id ID #REQUIRED>
<!ELEMENT ftReceipt ANY>
<!ATTLIST ftReceipt id ID #REQUIRED>
<!ELEMENT ftStore ANY>
<!ATTLIST ftStore id ID #REQUIRED>
]>
<root id="-1">
  <ftStore id="1093" key="666347da-bc29-49d0-b61e-5b6386ef1716" parentID="-1" level="1" creatorID="0" sortOrder="0" createDate="2016-08-30T09:41:24" updateDate="2016-08-30T09:41:24" nodeName="Store" urlName="store" path="-1,1093" isDoc="" nodeType="1083" creatorName="admin" writerName="admin" writerID="0" template="1068" nodeTypeAlias="ftStore">
    <brief><![CDATA[<p>Example store which has been developed to help get you up and running quickly with Merchello. 
                                            It's designed to show you how to implement common features, and you can grab the source code from here, just fork/clone/download and open up Merchello.sln</p>]]></brief>
    <storeName><![CDATA[FastTrack Store]]></storeName>
    <featuredProducts><![CDATA[e4efdcdd-185d-4642-b441-13b098d30e08]]></featuredProducts>
    <ftCatalog id="1094" key="f53ea3d5-703b-4566-8faf-656a3102888e" parentID="1093" level="2" creatorID="0" sortOrder="0" createDate="2016-08-30T09:41:24" updateDate="2016-08-30T09:41:24" nodeName="Catalog" urlName="catalog" path="-1,1093,1094" isDoc="" nodeType="1077" creatorName="admin" writerName="admin" writerID="0" template="1062" nodeTypeAlias="ftCatalog">
      <categories><![CDATA[31fb6798-0045-4614-b317-beb944e0b99a]]></categories>
      <ftCategory id="1095" key="d2063484-9dce-4ba2-a759-3401f1af6875" parentID="1094" level="3" creatorID="0" sortOrder="0" createDate="2016-08-30T09:41:24" updateDate="2016-08-30T09:41:24" nodeName="Funny T-Shirts" urlName="funny-t-shirts" path="-1,1093,1094,1095" isDoc="" nodeType="1078" creatorName="admin" writerName="admin" writerID="0" template="1063" nodeTypeAlias="ftCategory">
        <products><![CDATA[620eee96-b29b-47bd-afb1-27d16f181d1c]]></products>
      </ftCategory>
      <ftCategory id="1096" key="b7eb156a-ae82-460e-a2e5-aab8fce8ea4c" parentID="1094" level="3" creatorID="0" sortOrder="1" createDate="2016-08-30T09:41:24" updateDate="2016-08-30T09:41:24" nodeName="Geeky T-Shirts" urlName="geeky-t-shirts" path="-1,1093,1094,1096" isDoc="" nodeType="1078" creatorName="admin" writerName="admin" writerID="0" template="1063" nodeTypeAlias="ftCategory">
        <products><![CDATA[15b7dabd-c0a6-46b8-9ce9-d367e0178f8c]]></products>
      </ftCategory>
      <ftCategory id="1097" key="73ba35cb-f587-4284-b2f5-b96ac31f98aa" parentID="1094" level="3" creatorID="0" sortOrder="2" createDate="2016-08-30T09:41:25" updateDate="2016-08-30T09:41:25" nodeName="Sad T-Shirts" urlName="sad-t-shirts" path="-1,1093,1094,1097" isDoc="" nodeType="1078" creatorName="admin" writerName="admin" writerID="0" template="1063" nodeTypeAlias="ftCategory">
        <products><![CDATA[dbbe70f2-a6c6-4ada-a367-03bffe4e8fdc]]></products>
      </ftCategory>
    </ftCatalog>
    <ftBasket id="1098" key="507f4e55-5d28-4497-b382-aabac0c39344" parentID="1093" level="2" creatorID="0" sortOrder="1" createDate="2016-08-30T09:41:25" updateDate="2016-08-30T09:41:25" nodeName="Basket" urlName="basket" path="-1,1093,1098" isDoc="" nodeType="1076" creatorName="admin" writerName="admin" writerID="0" template="1061" nodeTypeAlias="ftBasket" />
    <ftCheckout id="1099" key="6797ab82-25de-45df-88dd-4654ca5ed4a7" parentID="1093" level="2" creatorID="0" sortOrder="2" createDate="2016-08-30T09:41:25" updateDate="2016-08-30T09:41:25" nodeName="Checkout" urlName="checkout" path="-1,1093,1099" isDoc="" nodeType="1079" creatorName="admin" writerName="admin" writerID="0" template="1057" nodeTypeAlias="ftCheckout">
      <checkoutStage><![CDATA[BillingAddress]]></checkoutStage>
      <ftCheckout id="1100" key="e95f87c5-7bf2-4656-9356-39f132434f41" parentID="1099" level="3" creatorID="0" sortOrder="0" createDate="2016-08-30T09:41:25" updateDate="2016-08-30T09:41:25" nodeName="Shipping Address" urlName="shipping-address" path="-1,1093,1099,1100" isDoc="" nodeType="1079" creatorName="admin" writerName="admin" writerID="0" template="1073" nodeTypeAlias="ftCheckout">
        <checkoutStage><![CDATA[ShippingAddress]]></checkoutStage>
      </ftCheckout>
      <ftCheckout id="1101" key="a35df856-ea58-46f2-9204-5afce095e193" parentID="1099" level="3" creatorID="0" sortOrder="1" createDate="2016-08-30T09:41:25" updateDate="2016-08-30T09:41:25" nodeName="Ship Rate Quote" urlName="ship-rate-quote" path="-1,1093,1099,1101" isDoc="" nodeType="1079" creatorName="admin" writerName="admin" writerID="0" template="1072" nodeTypeAlias="ftCheckout">
        <checkoutStage><![CDATA[ShipRateQuote]]></checkoutStage>
      </ftCheckout>
      <ftCheckout id="1102" key="20c30541-edde-49e0-b57b-23792dda86b9" parentID="1099" level="3" creatorID="0" sortOrder="2" createDate="2016-08-30T09:41:25" updateDate="2016-08-30T09:41:25" nodeName="Payment Method" urlName="payment-method" path="-1,1093,1099,1102" isDoc="" nodeType="1079" creatorName="admin" writerName="admin" writerID="0" template="1070" nodeTypeAlias="ftCheckout">
        <checkoutStage><![CDATA[PaymentMethod]]></checkoutStage>
      </ftCheckout>
      <ftCheckout id="1103" key="b4453090-10c8-4a96-8b67-8888b069a51b" parentID="1099" level="3" creatorID="0" sortOrder="3" createDate="2016-08-30T09:41:25" updateDate="2016-08-30T09:41:25" nodeName="Payment" urlName="payment" path="-1,1093,1099,1103" isDoc="" nodeType="1079" creatorName="admin" writerName="admin" writerID="0" template="1069" nodeTypeAlias="ftCheckout">
        <checkoutStage><![CDATA[Payment]]></checkoutStage>
      </ftCheckout>
    </ftCheckout>
    <ftReceipt id="1104" key="16581d64-0519-4ba1-a922-21c6842f1def" parentID="1093" level="2" creatorID="0" sortOrder="3" createDate="2016-08-30T09:41:25" updateDate="2016-08-30T09:41:25" nodeName="Receipt" urlName="receipt" path="-1,1093,1104" isDoc="" nodeType="1082" creatorName="admin" writerName="admin" writerID="0" template="1067" nodeTypeAlias="ftReceipt" />
    <ftLogin id="1105" key="1b85b39a-083b-4802-a62c-189071d48b45" parentID="1093" level="2" creatorID="0" sortOrder="4" createDate="2016-08-30T09:41:25" updateDate="2016-08-30T09:41:25" nodeName="Login" urlName="login" path="-1,1093,1105" isDoc="" nodeType="1080" creatorName="admin" writerName="admin" writerID="0" template="1065" nodeTypeAlias="ftLogin" />
    <ftAccount id="1106" key="6abc755f-de8d-491b-8fcd-fe523527fdb1" parentID="1093" level="2" creatorID="0" sortOrder="5" createDate="2016-08-30T09:41:25" updateDate="2016-08-30T09:41:25" nodeName="Account" urlName="account" path="-1,1093,1106" isDoc="" nodeType="1075" creatorName="admin" writerName="admin" writerID="0" template="1060" nodeTypeAlias="ftAccount" />
  </ftStore>
</root>