<div class="umb-panel merchello-side-panel" ng-controller="Merchello.EntityCollections.Dialogs.SpecFilterCollectionAddController">
    
    <div class="umb-overlay umb-overlay-right">
        <div class="umb-overlay__form">
            <div class="umb-overlay-header">
                <h4 class="umb-overlay__title">Add {{ dialogData.entityType}} Filter Group</h4>
            </div>

            <div class="umb-overlay-container form-horizontal merchello-panel-body">
               
                <form name="collectionForm" id="collectionForm">
                    <div class="form-group row-fluid">
                        <label for="name"><localize key="general_name" />:</label>
                        <input name="name" type="text" class="span6" data-ng-model="dialogData.filterGroup.name" required />
                        <div class="error" data-ng-show="collectionForm.name.$invalid && wasFormSubmitted">
                            <localize key="merchelloValidation_nameFieldRequired"/>
                        </div>
                    </div>
                </form>

            </div>

            <div class="umb-overlay-drawer">
                <div class="umb-overlay-drawer__align-right">

                    <div class="umb-button">
                        <a href data-ng-click="close()" class="btn btn-link">
                            <localize key="general_cancel"></localize>
                        </a>
                    </div>

                    <div class="umb-button">
                        <button class="btn btn-success" data-ng-click="save()">
                            <localize key="buttons_save">Save</localize>
                        </button>
                    </div>
                </div>

            </div>
        </div>
    </div>
    
</div>