<div data-ng-show="preValuesLoaded" class="merchello-list-view umb-listview clearfix">
    
    <div class="umb-editor-sub-header">

        <div class="umb-editor-sub-header__content-left">
            <div class="umb-editor-sub-header__section">
                <localize key="merchelloSpecFilters_editSpecFilter"></localize>
            </div>
        </div>

    </div>
    
    <div class="umb-table">

        <div class="umb-table-head">
            <div class="umb-table-row">
                <div class="umb-table-cell not-fixed umb-table__name">
                    <a  data-ng-show="collections.length > 0" data-ng-click="openSort()" class="sort-icon" prevent-default><localize key="merchelloTableCaptions_filterGroup" /></a>
                    <span data-ng-hide="collections.length > 0"><localize key="merchelloTableCaptions_filterGroup" /></span>
                </div>
                <div class="umb-table-cell"><localize key="merchelloTableCaptions_filters" /></div>
                <div class="umb-table-cell"></div>
            </div> 
        </div>

        <div class="umb-table-body" data-ng-show="collections.length > 0">
            <div class="umb-table-row" data-ng-repeat="group in collections">
                <div class="umb-table-cell not-fixed umb-table__name">
                    <a prevent-default data-ng-click="edit(group)">{{getColumnValue('name', group)}}</a>
                </div>
                <div class="umb-table-cell">
                    <span data-ng-bind="getColumnValue('filters', group)"></span>
                </div>
                <div class="umb-table-cell">
                    <merchello-icon-bar show-add="false" show-edit="true" show-delete="showDelete(group)" do-edit="edit(group)" do-delete="delete(group)"></merchello-icon-bar>
                </div>
            </div>

        </div>
        <div class="umb-table-body" data-ng-hide="collections.length > 0">
            <div class="umb-table-row">
                <div class="umb-empty-state -center">
                    <p class="faded"><localize key="content_listViewNoItems">There are no items show in the list.</localize></p>
                </div>                
            </div>
        </div>
    </div>
    
    <hr/>

    <div class="text-center">
        <merchello-add-icon do-add="add()"></merchello-add-icon>
    </div>

</div>