
<div class="umb-dialog umb-pane" data-ng-controller="Merchello.Editors.Product.CreateController">
	<div class="umb-dialog-body" auto-scale="90">
	<h5>Create a new Product</h5>

	<form role="form">

        <div class="form-group">
            <label for="productname">Product Name</label>
            <input id="productname" data-ng-model="productname" placeholder="Product Name" class="form-control" />
        </div>
        <div class="form-group">
            <label for="sku">SKU</label>
            <input id="sku" data-ng-model="sku" placeholder="SKU" class="form-control" />
        </div>
        <div class="form-group">
            <label for="price">Price</label>
            <input id="price" data-ng-model="price" placeholder="Price" class="form-control" />
        </div>

        <a href="#" class="btn btn-primary" data-ng-click="create()">
	        Create Product
        </a>

	</form>
			
	</div>
	
	<div class="btn-toolbar umb-btn-toolbar">
		<button class="btn btn-primary" data-ng-click="nav.hideDialog()">Do something else</button>
	</div>
</div>
