<link href="/App_Plugins/Merchello/Common/Css/merchello.css" rel="stylesheet">

<form novalidate name="productForm" 
      ng-controller="Merchello.Editors.Product.EditController" 
      ng-show="loaded" 
      ng-submit="save()">
    <umb-panel val-show-validation>

        <umb-header>

            <div class="span4">
                 <umb-content-name 
                    ng-model="product.name" 
                    placeholder="Enter a product name">
                </umb-content-name>
            </div>


            <div class="span8">
                <div class="btn-toolbar pull-right umb-btn-toolbar">
                    
                    <div class="btn-group">
                        
                        <button type="submit" class="btn btn-success">Save</button>

                    </div>
                </div>
            </div>

        </umb-header>
        
        <div class="merchello-panel-body row-fluid">
            <div class="tab-content form-horizontal">
                <div class="merchello-pane">
                    
                    <!-- Property classes from Umbraco styles -->
                    <div class="">
                        <div class="" >
                        
                            <div class="">
                                <label class="merchello-control-label">
                                    Inventory & Variants
                                    <small>Configure the options for this product</small>
                                </label>

                                <div class="merchello-controls">

                                    <div class="row">
                                        <div class="form-group col-xs-6 span6">
                                            <label for="price">Price</label>
                                            <input id="price" name="price" class="form-control" data-ng-model="product.price" />
                                        </div>

                                        <div class="form-group col-xs-6 span6">
                                            <label for="compareatprice">Compare at Price</label>
                                            <input id="compareatprice" name="compareatprice" class="form-control" data-ng-model="product.salePrice" />
                                        </div>
                                    </div>

                                    <div class="row">
                                        <div class="form-group col-xs-6 span6">
                                            <label for="sku">Base Sku <small>Must have a unique SKU</small></label>
                                            <input id="Text2" name="sku" class="form-control" data-ng-model="product.sku" />
                                        </div>

                                        <div class="form-group col-xs-6 span6">
                                            <label for="barcode">Barcode <small>e.g. UPC, ISBN</small></label>
                                            <input id="barcode" name="barcode" class="form-control" data-ng-model="product.barcode" />
                                        </div>
                                    </div>

                                    <div class="row">
                                        <label><input name="chargetaxes" type="checkbox" data-ng-model="product.taxable"> Charge Taxes</label>
                                    </div>

                                </div>
                            </div>

                        </div>
                    </div>
                    
                </div>
            </div>
        </div>

    </umb-panel>
</form>