<form novalidate name="productForm" 
      ng-controller="Merchello.Editors.Product.EditController" 
      ng-show="loaded" 
      ng-submit="save()">
    <umb-panel val-show-validation>

        <umb-header>

            <div class="span4">
                 <umb-content-name 
                    ng-model="product.name" 
                    placeholder="Enter a product name">
                </umb-content-name>
            </div>


            <div class="span8">
                <div class="btn-toolbar pull-right umb-btn-toolbar">
                    
                    <div class="btn-group">
                        
                        <button type="submit" class="btn btn-success">Save</button>

                    </div>
                </div>
            </div>

        </umb-header>
        
        <div class="umb-panel-body umb-scrollable row-fluid">
            <div class="tab-content form-horizontal">
                <div class="umb-pane">
                    
                    <!-- Property classes from Umbraco styles -->
                    <div class="umb-property">
                        <div class="control-group umb-control-group" >
                        
                            <div class="umb-el-wrap">
                                <label class="control-label">
                                    Inventory & Variants
                                    <small>Configure the options for this product</small>
                                </label>

                                <div class="controls controls-row">

                                    <div>
                                        <label for="price">Price</label>
                                        <input id="price" name="price" data-ng-model="product.price" />

                                        <label for="compareatprice">Compare at Price</label>
                                        <input id="compareatprice" name="compareatprice" data-ng-model="product.salePrice" />
                                    </div>

                                    <div>
                                        <label for="sku">Base Sku <small>Must have a unique SKU</small></label>
                                        <input id="Text2" name="sku" data-ng-model="product.sku" />

                                        <label for="barcode">Barcode <small>e.g. UPC, ISBN</small></label>
                                        <input id="barcode" name="barcode" data-ng-model="product.barcode" />
                                    </div>

                                    <div>
                                        <label><input name="chargetaxes" type="checkbox" data-ng-model="product.taxable"> Charge Taxes</label>
                                    </div>

                                </div>
                            </div>

                        </div>
                    </div>
                    
                </div>
            </div>
        </div>

    </umb-panel>
</form>