<link href="/App_Plugins/Merchello/Common/Css/merchello.css" rel="stylesheet">

<div 
    ng-controller="Merchello.Dashboards.Order.ListController"
    ng-show="loaded">

    <umb-panel>

        <umb-header>

            <div class="span4">
                <div class="umb-headline-editor-wrapper">
                     <h1>Orders</h1>
                </div>
            </div>


            <div class="span8">
                <div class="btn-toolbar pull-right umb-btn-toolbar">
                    
                    <div class="btn-group">
                        
                        <button type="submit" class="btn btn-success">New Order</button>

                    </div>
                </div>
            </div>

        </umb-header>
        
        <div class="merchello-panel-body">

            <a class="btn" href="#/merchello/merchello/OrderView/keygoeshere">Click to go to the OrderView.html page/view</a>

        </div>
            
    </umb-panel>
</div>
