<link href="/App_Plugins/Merchello/Common/Css/merchello.css" rel="stylesheet">

<div 
    ng-controller="Merchello.Editors.Product.EditController"
    ng-show="loaded">

    <umb-panel>

        <umb-header>

            <div class="span4">
                <div class="umb-headline-editor-wrapper">
                     <h1>{{product.name}}</h1>
                </div>
            </div>


            <div class="span8">

            </div>

        </umb-header>
        
        <div class="merchello-panel-body">
            <div class="">
                <div class="merchello-pane">

                    <p>stuff</p>
                    
                </div>
            </div>
        </div>

    </umb-panel>
</div>
