<link href="/App_Plugins/Merchello/Common/Css/merchello.css" rel="stylesheet">

<form novalidate name="productVariantForm" 
      data-ng-controller="Merchello.Editors.ProductVariant.EditController" 
      data-ng-show="loaded" 
      data-ng-submit="save()">
    <umb-panel val-show-validation>

        <umb-header>

            <div class="span4">
                 <umb-content-name 
                    ng-model="productVariant.name" 
                    placeholder="Enter a product name">
                </umb-content-name>
            </div>


            <div class="span8">
                <div class="btn-toolbar pull-right umb-btn-toolbar">
                    
                    <div class="btn-group">
                        
                        <button type="submit" class="btn btn-success">Save</button>

                    </div>
                </div>
            </div>

        </umb-header>
        
        <div class="merchello-panel-body row-fluid">
            <div class="tab-content">
                <div class="merchello-pane">
                    
                    <!-- Property classes from Umbraco styles -->
                    <div class="control-group umb-control-group">
                        <label class="merchello-control-label">
                            Variant Information
                            <small>Configure this variant</small>
                        </label>

                        <div class="merchello-controls">

                            <div data-ng-show="creatingVariant">
                                <h3>Create A Variant</h3>
                                <p>You can add more variants down below, but to keep it simple... let's just start with one.</p>
                            </div>

                            <div class="row-fluid">
                                <div class="form-group col-xs-6 span6">
                                    <label for="price">Price</label>
                                    <input id="price" name="price" type="text" class="form-control span8" data-ng-model="productVariant.price" />
                                </div>

                                <div class="form-group col-xs-6 span6">
                                    <label for="saleprice">Sale Price</label>
                                    <input id="saleprice" name="saleprice" type="text" class="form-control span8" data-ng-model="productVariant.salePrice" />
                                </div>
                            </div>

                            <div class="row-fluid">
                                <div class="form-group col-xs-6 span6">
                                    <label for="sku">Base Sku <small>Must have a unique SKU</small></label>
                                    <input id="Text2" name="sku" type="text" class="form-control span8" data-ng-model="productVariant.sku" />
                                </div>

                                <div class="form-group col-xs-6 span6">
                                    <label for="barcode">Barcode <small>e.g. UPC, ISBN</small></label>
                                    <input id="barcode" name="barcode" type="text" class="form-control span8" data-ng-model="productVariant.barcode" />
                                </div>
                            </div>
                                    
                            <div class="row">
                                <div class="form-group col-xs-6 span6">
                                    <label for="sku">Manufacturer</label>
                                    <input id="Text1" name="sku" type="text" class="form-control span8"  />
                                </div>

                                <div class="form-group col-xs-6 span6">
                                    <label for="barcode">Manufacturer's Model No.</label>
                                    <input id="Text3" name="barcode" type="text" class="form-control span8"  />
                                </div>
                            </div>

                            <div class="row">
                                <div class="form-group col-xs-6 span6">
                                    <label class="label-checkbox"><input name="onsale" type="checkbox" data-ng-model="productVariant.hasDigitalDownload"> This variant has digital goods</label>
                                    <label class="label-checkbox"><input name="onsale" type="checkbox" data-ng-show="creatingVariant" data-ng-model="productVariant.hasOptions"> This variant has options (like size or color)</label>
                                    <label class="label-checkbox"><input name="onsale" type="checkbox" data-ng-model="productVariant.taxable"> This variant is taxable</label>
                                </div>
                                <div class="form-group col-xs-6 span6">
                                    <label class="label-checkbox"><input name="chargetaxes" type="checkbox" data-ng-model="productVariant.trackInventory" data-ng-disabled="productVariant.hasOptions"> Track inventory for this variant</label>
                                    <label class="label-checkbox"><input name="shippable" type="checkbox" data-ng-model="productVariant.shippable"> This variant is shippable</label>
                                </div>
                            </div>

                        </div>
                    </div>

                    <div class="control-group umb-control-group" data-ng-class="{ 'open': productVariant.hasDigitalDownload, 'closed': (!productVariant.hasDigitalDownload) }" >
                        <label class="merchello-control-label">
                            Digital Downloads
                            <small>Add a file to your product variant</small>
                        </label>

                        <div class="merchello-controls">

                            <div><a data-ng-click="chooseMedia()" class="btn btn-primary">Choose Media</a></div>

                        </div>
                    </div>
              
                    <div class="control-group umb-control-group" data-ng-class="{ 'open': productVariant.hasOptions, 'closed': (!productVariant.hasOptions) }" >
                        <label class="merchello-control-label">
                            Multiple Options
                            <small>help text</small>
                        </label>

                        <div class="merchello-controls row-fluid">

                            <div class="well span10">
                                <table class="table">
                                    <tr>
                                        <th>
                                            Option Name
                                        </th>
                                        <th>
                                            Option Values
                                        </th>
                                    </tr>
                                    <tr data-ng-repeat="option in product.productOptions">
                                        <td>
                                            <input class="form-control" type="text" data-ng-model="option.name" />
                                        </td>
                                        <td>
                                            <tag-manager tags="tags"></tag-manager>
                                            <span data-ng-repeat="choice in option.choices">
                                                {{choice.name}},
                                            </span>
                                        </td>
                                    </tr>
                                </table>

                                <div>
                                    <a data-ng-click="addOption()" class="btn add">Add Another Option</a>
                                </div>

                                <div>
                                    <a data-ng-click="update()" class="btn btn-primary add">Update</a>
                                </div>
                            </div>

                            <div class="span10">
                                <table class="table">
                                    <tr>
                                        <th>
                                            Variant
                                        </th>
                                        <th>
                                            Price
                                        </th>
                                        <th>
                                            SKU <small>(optional)</small>
                                        </th>
                                        <th>
                                            Barcode <small>(optional)</small>
                                        </th>
                                        <th>
                                            Inventory
                                        </th>
                                    </tr>
                                    <tr data-ng-repeat="variant in product.productVariants">
                                        <td>
                                            <input type="checkbox" data-ng-model="variant.selected"/>
                                            <span data-ng-repeat="attribute in variant.productAttributes">
                                                <span>{{variant.name}}</span>
                                                <span data-ng-show="!$last"> / </span>
                                            </span>                                                    
                                        </td>
                                        <td>
                                            <input class="form-control input-mini" data-ng-model="variant.price" />
                                        </td>
                                        <td>
                                            <input class="form-control input-mini" data-ng-model="variant.sku" />
                                        </td>
                                        <td>
                                            <input class="form-control input-mini" data-ng-model="variant.barcode" />
                                        </td>
                                        <td>
                                            <input class="form-control input-mini" data-ng-model="variant.inventory" />
                                        </td>
                                    </tr>
                                </table>
                            </div>

                            <div class="row span10">

                                <div class="warning">
                                    <i class="icon-alert large"></i>
                                    <p>Important: If you choose to track inventory, it must be set manually for each variant (listed below) once this product has been saved.  However, you can set a base default inventory, applied to <strong>all</strong> variants here.</p>
                                </div>

                                <div class="form-group col-xs-6 span6">
                                    <label for="base-inventory">Base Inventory</label>
                                    <input id="base-inventory" name="base-inventory" class="form-control"  />
                                </div>

                            </div>

                        </div>
                    </div>


                    <div class="control-group umb-control-group" data-ng-class="{ 'open': (productVariant.trackInventory && !productVariant.hasOptions), 'closed': (!productVariant.trackInventory || productVariant.hasOptions) }">
                        <label class="merchello-control-label">
                            Inventory Tracking
                            <small>Set preferences for handling out of stock and adjust inventory for this variant</small>
                        </label>

                        <div class="merchello-controls row-fluid">

                            <div class="well span10">
                                <p>How do you want to handle out of stock inventory?</p>

                                <div class="radio-group">
                                    <label class="label-radio"><input name="onsale" type="radio" value="noSale" checked="checked"> Stop selling</label>
                                    <label class="label-radio"><input name="onsale" type="radio" value="sale" data-ng-model="productVariant.outOfStockPurchase"> Continue selling and...</label>
                                </div>

                                <div class="form-group row-fluid" data-ng-class="{ 'open': productVariant.outOfStockPurchase, 'closed': (!productVariant.outOfStockPurchase) }">
                                    <div class="span12 col-xs-12">
                                        <label for="outOfStockMessage">Post the following message:</label>
                                        <textarea id="outOfStockMessage" rows="3" name="outOfStockMessage" class="col-xs-5 span5" ></textarea>
                                    </div>
                                    <div class="span12 col-xs-12">
                                        <label for="stopSellingAmount">Stop selling at negative...</label>
                                        <div class="input-append col-xs-12 span12"><input id="stopSellingAmount" name="stopSellingAmount" class="col-xs-2 span2" type="text" /><span class="add-on">items</span></div>
                                    </div>
                                </div>
                            </div>

                            <div class="span10">
                                <table class="table table-striped">
                                    <tr>
                                        <th></th>
                                        <th class="name">Warehouses</th>
                                        <th>Stock</th>
                                        <th>Add a Few...</th>
                                        <th>Set To...</th>
                                    </tr>
                                    <tr>
                                        <td class="span1"><input name="onsale" type="checkbox" disabled="disabled"></td>
                                        <td class="name">Warehouse 1</td>
                                        <td>11</td>
                                        <td><input type="text" class="span8" /></td>
                                        <td><input type="text" class="span8" /></td>
                                    </tr>
                                </table>
                            </div>

                        </div>
                    </div>

                    <div class="control-group umb-control-group" data-ng-class="{ 'open': productVariant.shippable, 'closed': (!productVariant.shippable) }">
                        <label class="merchello-control-label">
                            Shipping Information
                            <small>Set shipping variables: Weight, dimensions, and vendor</small>
                        </label>

                        <div class="merchello-controls">

                            <div class="row-fluid">
                                <div class="form-group span6 col-xs-6">
                                    <label for="weight">Weight <small>(in pounds)</small></label>
                                    <input type="text" id="weight" name="weight" class="form-control col-xs-8 span8" data-ng-model="productVariant.weight" />
                                </div>
                                <div class="form-group span6 col-xs-6">
                                    <label for="vendor">Vendor<small>(ie Microsoft, American Apparel)</small></label>
                                    <select id="vendor" name="vendor" disabled="disabled" class="form-control col-xs-8 span8">
                                        <option>Your Vendor</option>
                                    </select>
                                </div>
                                <div class="form-group span6 col-xs-6">
                                    <label for="length">Dimensions <small>(inches)</small></label>
                                    <div class="form-inline">
                                        <div class="input-append col-xs-3 span3"><input type="text" id="length" name="length" class="form-control span8" data-ng-model="productVariant.length" /><span class="add-on">L</span></div>
                                        <div class="input-append  col-xs-3 span3"><input type="text" id="width" name="width" class="form-control span8" data-ng-model="productVariant.width" /><span class="add-on">W</span></div>
                                        <div class="input-append  col-xs-3 span3"><input type="text" id="height" name="height" class="form-control span8" data-ng-model="productVariant.height" /><span class="add-on">H</span></div>
                                    </div>
                                </div>
                            </div>

                        </div>
                    </div>
                </div>
                <!-- /merchello-pane -->

            </div>
        </div>

    </umb-panel>
</form>