<link href="/App_Plugins/Merchello/Common/Css/merchello.css" rel="stylesheet">

<div 
    ng-controller="Merchello.Dashboards.Product.ListController"
    ng-show="loaded">

    <umb-panel>

        <umb-header>

            <div class="span4">
                <div class="umb-headline-editor-wrapper">
                     <h1>Catalog</h1>
                </div>
            </div>


            <div class="span8">
                <div class="btn-toolbar pull-right umb-btn-toolbar">
                    
                    <div class="btn-group">
                        <a href="#/merchello/merchello/ProductVariantEdit/?create" class="btn btn-primary">New Product</a>

                    </div>
                </div>
            </div>

        </umb-header>
        
        <div class="merchello-panel-body">
            <div class="">
                <div class="merchello-pane">
                    <form class="form-horizontal">
                        <div class="form-group control-group row-fluid">

                            <div class="col-xs-10 controls">
                                <input id="productFilter" class="form-control span6" name="productFilter" data-ng-model="filtertext" placeholder="Start typing an item's name..." />
                            </div>
                        </div>
                    </form>
                </div>
                <div class="merchello-pane">
                    
                    <table class="table table-hover merchello-selectable-table">
                        <thead>
                            <tr>
                                <th></th>
                                <th>Product</th>
                                <th>SKU</th>
                                <th>Price</th>
                                <th>&nbsp;</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr data-ng-repeat="product in filteredproducts" data-ng-show="([product] | filter:filtertext).length > 0"
                                data-ng-class="{active: product.selected}" data-ng-click="product.selected = !product.selected">
                                <td><input type="checkbox" data-ng-model="product.selected"/></td>
                                <td>{{product.name}}</td>
                                <td>{{product.sku}}</td>
                                <td>{{product.price | currency}}</td>
                                <td><a class="btn btn-default btn-xs btn-mini" href="#/merchello/merchello/edit/{{product.key}}">edit</a></td>
                            </tr>
                        </tbody>
                    </table>
                    
                </div>
            </div>
        </div>

    </umb-panel>
</div>
