<div ng-controller="DiploTraceLogEditController">

    <div class="umb-panel">

        <!-- Header -->
        <div class="umb-panel-header">
            <div class="row-fluid">
                <div class="span8">
                    <h1 class="headline">Trace Log Viewer</h1>
                    <p>
                        Viewing <strong>{{id}}</strong>
                    </p>
                </div>
                <div class="span4">
                    <div class="btn-toolbar pull-right umb-btn-toolbar">
                        <div class="btn-group">
                            <p class="btn btn-link umb-status-label">
                                <a class="btn" ng-click="reload()"><i class="icon-refresh"></i> Reload</a>
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <!-- Panel Body -->
        <div class="umb-panel-body umb-scrollable row-fluid">

            <div class="umb-pane">

                <!-- Template for Level Filter -->
                <script type="text/ng-template" id="ng-table/filters/level.html">
                   <select name="filter-level" class="form-control level-select" ng-model="params.filter()[name]">
                        <option value="">ALL</option>
                        <option value="INFO">Info</option>
                        <option value="WARN" class="tlWarn">Warn</option>
                        <option value="ERROR" class="tlError">Error</option>
                    </select>
                </script>

                <!-- Main Table -->
                <table id="traceLog" class="table table-bordered table-condensed table-striped"
                    ng-table="tableParams" show-filter="true" template-pagination="custom/pager">
                    <tbody>
                        <tr ng-repeat="item in $data" ng-class="{tlError: item.Level == 'ERROR', tlWarn: item.Level == 'WARN'}">
                            <td data-title="'Time'" sortable="'Date'" filter="{ 'Date': 'text' }" class="date">
                                {{ item.Date | date:'HH:mm:ss' }}
                            </td>
                            <td data-title="'Level'" sortable="'Level'" filter="{ 'Level': 'level' }" class="level">
                                {{ item.Level }}
                            </td>
                            <td data-title="'Logger'" sortable="'Logger'" filter="{ 'Logger': 'text' }" class="logger">
                                {{ item.Logger | limitTo:100 }}
                            </td>
                            <td data-title="'Message'" sortable="'Message'" filter="{ 'Message': 'text' }" ng-click="openDetail(item)">
                                <div class="message">{{ item.Message | limitTo:200 }}</div>
                            </td>
                        </tr>
                        <tr ng-show="feedback.message.length > 0">
                            <td colspan="4" class="dataLoading">{{ feedback.message }}</td>
                        </tr>
                    </tbody>
                </table>

                <!-- Custom Pagination Template -->
                <script type="text/ng-template" id="custom/pager">
                    <ul class="pager ng-cloak">
                      <li ng-repeat="page in pages"
                            ng-class="{'disabled': !page.active, 'previous': page.type == 'prev', 'next': page.type == 'next'}"
                            ng-show="page.type == 'prev' || page.type == 'next'" ng-switch="page.type">
                        <a ng-switch-when="prev" ng-click="params.page(page.number)" href="">&laquo; Previous</a>
                        <a ng-switch-when="next" ng-click="params.page(page.number)" href="">Next &raquo;</a>
                      </li>
                        <li> 
                        <div class="btn-group">
                            <button type="button" ng-class="{'active':params.count() == 10}" ng-click="params.count(10)" class="btn btn-default">10</button>
                            <button type="button" ng-class="{'active':params.count() == 25}" ng-click="params.count(25)" class="btn btn-default">25</button>
                            <button type="button" ng-class="{'active':params.count() == 50}" ng-click="params.count(50)" class="btn btn-default">50</button>
                            <button type="button" ng-class="{'active':params.count() == 100}" ng-click="params.count(100)" class="btn btn-default">100</button>
                            <button type="button" ng-class="{'active':params.count() == 500}" ng-click="params.count(500)" class="btn btn-default">500</button>
                        </div>
                        </li>
                    </ul>
                </script>

            </div>

        </div>
    </div>
</div>
