@inherits Merchello.Web.Mvc.MerchelloViewPage<Basket>
@{
	Layout = "Master.cshtml";
}

@Html.Partial("_Headline")

@if (CurrentCustomer.Basket().Items.Any())
{
    @Html.Action("BasketForm", "DefaultBasket", new { area = "Merchello" })
}
else
{
    <p><a href="@StoreUiHelper.Content.GetStoreRoot().Url">There's nothing in your shopping cart, start shopping!</a></p>
}

