@inherits Merchello.Web.Mvc.MerchelloViewPage<Basket>
@using Merchello.QuickMart.Ui
@using Merchello.Web
@{
	Layout = "Master.cshtml";
}

@Html.Partial("_Headline")

@if (CurrentCustomer.Basket().Items.Any())
{
    @Html.Action("BasketForm", "Basket", new { area = "QuickMart" })
}
else
{
    <p><a href="@StoreUiHelper.Content.GetStoreRoot().Url">There's nothing in your shopping cart, start shopping!</a></p>
}

