@model Merchello.Web.Store.Models.BraintreePaymentModel
@using System.Web.Mvc.Html
@using Merchello.FastTrack.Ui
@using Merchello.Web.Models.Ui

<h3>PayPal Payment</h3>
<div id="paypal-container"></div>
<form data-muiscript="braintree">
    @Html.HiddenFor(x => x.Token, new { data_muivalue = "btpaypalnonce" })
    <a href="@ExampleUiHelper.CheckoutWorkflow.GetPageForStage(CheckoutStage.PaymentMethod).Url" class="btn btn-default">Back</a>
    @Html.Partial("_RequireJsSubmitBtn", Model)
    <div>
        <input type="hidden" id="braintree-successurl" value="@ExampleUiHelper.Content.GetReceipt().Url" />
    </div>
</form>