<div class="umb-panel merchello-side-panel" ng-controller="Merchello.Dashboards.Customer.Dialogs.CustomerEditAddressController">
    <div class="umb-modalcolumn-header">
        <h4>Add/Edit Address</h4>
    </div>
    <form name="editAddressForm" id="editAddressForm">
        <div class="umb-panel-body with-header with-footer">
            <div class="form-group row-fluid provider-dropdown">
                <label for="catalog-name">Select Address To Edit</label>
                <div class="input-append col-xs-12 span12">
                    <select name="availableBillingAddresses" class="span12" data-ng-model="dialogData.filters.address" data-ng-change="chooseAddress(dialogData.filters.address)" data-ng-options="item.name for item in dialogData.addressAliases"></select>
                </div>
            </div>
            <div class="form-group row-fluid">
                <label for="label">*Label:</label>
                <div class="error" data-ng-show="editAddressForm.label.$invalid && wasFormSubmitted">Label is a required field.</div>
                <input name="label" type="text" class="span12" placeholder="My House" data-ng-model="currentAddress.label" required />
                <label for="fullName">Full Name:</label>
                <input name="fullName" type="text" class="span12" data-ng-model="currentAddress.fullName" />
                <label for="org">Company:</label>
                <input name="org" type="text" class="span12" data-ng-model="currentAddress.company" />
                <label for="phone">Phone:</label>
                <input name="phone" type="tel" class="span12" data-ng-model="currentAddress.phone" />
                <label for="address1">*Address:</label>
                <div class="error" data-ng-show="editAddressForm.address1.$invalid && wasFormSubmitted">Address is a required field.</div>
                <input name="address1" type="text" class="span12" data-ng-model="currentAddress.address1" required />
                <label for="address2">Address Line 2:</label>
                <input name="address2" type="text" class="span12" data-ng-model="currentAddress.address2" />
                <label for="locality">*City:</label>
                <div class="error" data-ng-show="editAddressForm.locality.$invalid && wasFormSubmitted">City is a required field.</div>
                <input name="locality" type="text" class="span12" data-ng-model="currentAddress.locality" required />
                <label for="country">*Country:</label>
                <div class="error" data-ng-show="$scope.dialogData.filters.country.id == -1 && wasFormSubmitted">Country is a required field.</div>
                <select name="country" class="span12" data-ng-model="dialogData.filters.country" data-ng-change="updateCountry(dialogData.filters.country)" data-ng-options="option.name for option in countries"></select>
                <label for="region">State/Province:</label>
                <input name="region" type="text" class="span12" data-ng-show="!doesCountryHaveProvinces(dialogData.filters.country)" data-ng-model="currentAddress.region" />
                <select name="regionSelect" class="span12" data-ng-show="doesCountryHaveProvinces(dialogData.filters.country)" data-ng-model="filters.province" data-ng-change="updateProvince(filters.province)" data-ng-options="option.name for option in provinces"></select>
                <label for="postalCode">*Zip/Postal Code:</label>
                <div class="error" data-ng-show="editAddressForm.postalCode.$invalid && wasFormSubmitted">Zip/Postal Code is a required field.</div>
                <input name="postalCode" type="text" class="span12" data-ng-model="currentAddress.postalCode" required />
                <div>
                    <input type="checkbox" data-ng-model="currentAddress.isDefault" /> Primary Address
                </div><br />
            </div>
        </div>
        <div class="umb-panel-footer">
            <div class="umb-el-wrap umb-panel-buttons">
                <div class="btn-toolbar umb-btn-toolbar pull-right">
                    <!-- ACTION: Cancel -->
                    <a href data-ng-click="close()" class="btn btn-link"><localize key="general_cancel"></localize></a>
                    <!-- ACTION: Delete -->
                    <button class="btn btn-primary btn-danger" data-ng-show="!currentAddress.isDefault" data-ng-click="openDeleteAddressDialog()">Delete</button>
                    <!-- ACTION: Submit DialogData -->
                    <button class="btn btn-primary" data-ng-click="saveAddress()">Save</button>
                </div>
            </div>
        </div>
    </form>
</div>