<form novalidate name="productForm"
      data-ng-controller="Merchello.Backoffice.ProductEditWithOptionsController"
      data-ng-show="loaded"
      data-ng-submit="save()" class="merchello">

    <div class="umb-panel umb-editor-wrapper" val-show-validation>
      
      
      <div class="umb-editor-header umb-panel-header">
        <div class="umb-panel-header-content-wrapper">

          <div class="umb-panel-header-content">
            <div class="umb-panel-header-left-side -top-position">
              <div class="umb-panel-header-title-wrapper">
                  <input
                      type="text"
                      class="umb-panel-header-name-input"
                      localize="placeholder"
                      placeholder="@merchelloPlaceholders_enterProduct"
                      name="headerName"
                      ng-model="product.name"
                      umb-auto-focus
                      val-server-field="Name"
                      required />
              </div>
                <div class="umb-editor-header__actions-menu">
                    
                    <div class="pull-right" style="position: relative;">
                        <!-- options button -->
                        <a class="btn btn-info" href="#" data-toggle="dropdown">
                            <localize key="general_actions" class="ng-isolate-scopee">Actions</localize>
                            <span class="caret"></span>
                        </a>
                        <!-- actions -->
                        <ul class="dropdown-menu umb-actions" role="menu" aria-labelledby="dLabel">
                            <li><a data-ng-click="openCopyProductDialog()"><localize key="merchelloProducts_copyProduct"/></a></li>
                            <li><a data-ng-click="deleteProductDialog()"><localize key="merchelloVariant_deleteProduct"/></a></li>
                        </ul>
                    </div>
                    
                </div>
            </div>
          </div>

          <merchello-tabs tabs="tabs"></merchello-tabs>
        </div>
      </div>
      

        <merchello-panel>

                <div class="control-group umb-control-group">
                    <div class="merchello-controls row-fluid">
                        <product-option-attributes-select product="product" on-select-variants="selectVariants(attributeToSelect)"></product-option-attributes-select>
                        <product-variants-view-table product="product" currency-symbol="currencySymbol" reload="init()"></product-variants-view-table>
                    </div>
                </div>
     
        </merchello-panel>
        
        <merchello-drawer>
            
            <div class="umb-editor-drawer-content__right-side">
                <div class="btn-group umb-button-group">
                    <div class="umb-button">
                        <button data-ng-disabled="productForm.$invalid" type="button" data-ng-click="save(productForm)" hotkey="ctrl+s" hotkey-when-hidden="true" class="btn btn-success"><localize key="buttons_save"/></button>
                    </div> 

                </div>
            </div>


        </merchello-drawer>

    </div>
</form>
