<form novalidate name="productForm"
      data-ng-controller="Merchello.Backoffice.ProductOptionsEditorController"
      data-ng-show="loaded"
      data-ng-submit="save()">

    <umb-panel val-show-validation>

        <umb-header>

            <div class="span4">
                <umb-content-name
                        ng-model="product.name"
                        localize="placeholder"
                        placeholder="@merchelloProductEdit_enterProductName">
                </umb-content-name>
            </div>

            <div class="col-xs-8 span8">
                <div class="btn-toolbar pull-right umb-btn-toolbar">
                    <div class="btn-group">
                        <button data-ng-disabled="productForm.$invalid" data-ng-click="save(productForm)" class="btn btn-success"><localize key="buttons_save" /></button>
                        <button class="btn dropdown-toggle btn-success" data-toggle="dropdown">
                            <span class="caret"></span>
                        </button>
                        <ul class="dropdown-menu merchello-action-menu" role="menu">
                            <li><a data-ng-click="deleteProductDialog()"><localize key="merchelloVariant_deleteProduct" /></a></li>
                        </ul>
                    </div>
                    <!--div class="btn-group">
                        <a data-ng-click="deleteProductDialog()" class="btn"><localize key="merchelloVariant_deleteProduct" /></a>
                        <a data-ng-disabled="productForm.$invalid" data-ng-click="save(productForm)" class="btn btn-success"><localize key="buttons_save" /></a>
                    </div-->
                </div>
            </div>

            <!-- Tabs for Variants & Options -->
            <merchello-tabs tabs="tabs"></merchello-tabs>
        </umb-header>

        <merchello-panel>
            <div class="merchello-pane">
                <!---------------------------------------------------------------------------------------
                    Variants tab
                ----------------------------------------------------------------------------------------->
                <div class="control-group umb-control-group">
                    <label class="merchello-control-label">
                        <localize key="merchelloProductEdit_editOptions" />
                        <small><localize key="merchelloProductEdit_editOptionsHelper" /></small>
                    </label>
                    <div class="merchello-controls row-fluid">
                        {{rebuildVariants | json}}
                        <!-- Allows adding/removing/editing of options / attributes -->
                        <product-options-manage product="product" parent-form="productForm" classes="'col-xs-10 span10'" on-update="save(form, rebuild)" rebuild-variants="rebuildVariants"></product-options-manage>
                    </div>
                </div>

        </merchello-panel>

    </umb-panel>
</form>


<!-- this is the cut -->

