<html ng-app='merchello'>
<head>

</head>
<body>
<div ng-controller="Merchello.Dashboards.Sales.ListController" ng-show="loaded">

                <!-- List of Sales -->
                <table class="table table-hover merchello-selectable-table" data-ng-show="salesLoaded">
                    <thead>
                    <tr>
                        <th data-ng-click="changeSortOrder('invoiceNumber')" data-ng-class="{'sorted': sortProperty == 'invoiceNumber' ||  sortProperty == '-invoiceNumber'}">
                            <i data-ng-class="{'icon-navigation-up': sortProperty == 'invoiceNumber', 'icon-navigation-down': sortProperty == '-invoiceNumber'}"></i>
                            Invoice Number
                        </th>
                        <th data-ng-click="changeSortOrder('invoiceDate')" data-ng-class="{'sorted': sortProperty == 'invoiceDate' ||  sortProperty == '-invoiceDate'}">
                            <i data-ng-class="{'icon-navigation-up': sortProperty == 'invoiceDate', 'icon-navigation-down': sortProperty == '-invoiceDate'}"></i>
                            Date
                        </th>
                        <th data-ng-click="changeSortOrder('billToName')" data-ng-class="{'sorted': sortProperty == 'billToName' ||  sortProperty == '-billToName'}">
                            <i data-ng-class="{'icon-navigation-up': sortProperty == 'billToName', 'icon-navigation-down': sortProperty == '-billToName'}"></i>
                            Customer
                        </th>
                        <th>
                            Payment Status
                        </th>
                        <th>
                            Fulfillment Status
                        </th>
                        <th>
                            Total
                        </th>
                    </tr>

                    </tr>
                    </thead>
                    <tbody>
                    <!-- Invoices -->
                    <tr data-ng-repeat="invoice in invoices | orderBy:sortProperty" data-ng-class="{active: invoice.selected}" data-ng-click="updateBulkActionDropdownStatus(false, invoice.key)">
                        <!--<td><input type="checkbox" data-ng-model="invoice.selected" data-ng-click="invoice.selected = !invoice.selected" /></td>-->
                        <td>#<a data-ng-href="#/merchello/merchello/OrderView/{{invoice.key}}">{{invoice.invoiceNumber}}</a></td>
                        <td>{{invoice.invoiceDate | date : settings.dateFormat}}</td>
                        <td>{{invoice.billToName}}</td>
                        <td><span class="label" data-ng-class="{ 'label-success': invoice.getPaymentStatus()=='Paid', 'label-info': invoice.getPaymentStatus()=='Unpaid' }"><i data-ng-class="{ 'icon-check': invoice.getPaymentStatus()=='Paid', 'icon-loading': invoice.getPaymentStatus()=='Unpaid' }"></i> {{invoice.getPaymentStatus()}}</span></td>
                        <td><span class="label" data-ng-class="{ 'label-success': invoice.getFulfillmentStatus()=='Fulfilled', 'label-warning': invoice.getFulfillmentStatus()=='Not Fulfilled', 'label-info': invoice.getFulfillmentStatus()=='Partial' }"><i data-ng-class="{ 'icon-check': invoice.getFulfillmentStatus()=='Fulfilled', 'icon-alert': invoice.getFulfillmentStatus()=='Not Fulfilled', 'icon-loading': invoice.getFulfillmentStatus()=='Partial' }"></i> {{invoice.getFulfillmentStatus()}}</span></td>
                        <td>{{invoice.total | currency : currencySymbol}}</td>
                    </tr>
                    </tbody>
                </table>
                <!-- Pagination -->


            </div>

</div>
<!-- include source files here... -->
<script src="../../lib/jquery/jquery-2.0.3.min.js"></script>
<script src="../../lib/angular/1.1.5/angular.js"></script>
<script src="../../lib/angular/1.1.5/angular-cookies.min.js"></script>
<script src="../../lib/angular/1.1.5/angular-mocks.js"></script>
<script src="../../lib/angular/angular-ui-sortable.js"></script>
<script src="../../lib/angular/tmhDynamicLocale.js"></script>

<script src="../../lib/underscore/underscore.js"></script>
<script src="../../lib/umbraco/Extensions.js"></script>
<script src="../../lib/lazyload/lazyload.min.js"></script>
<script src="../../lib/select2/select2.js"></script>
<script src="../../lib/select2/ui-select2.js"></script>

<!-- umbraco -->
<script src="../config/app.unit.js"></script>
<script src="../lib/umbraco/mocks/umbraco.servervariables.js"></script>

<script src="../lib/umbraco/umbraco.directives.js"></script>
<script src="../lib/umbraco/umbraco.filters.js"></script>
<script src="../lib/umbraco/umbraco.services.js"></script>
<script src="../lib/umbraco/umbraco.security.js"></script>
<script src="../lib/umbraco/umbraco.resources.js"></script>
<script src="../lib/umbraco/umbraco.testing.js"></script>
<script src="../lib/umbraco/umbraco.controllers.js"></script>

<!-- merchello -->
<script src="../config/merchello.module.unit.js"></script>

<!-- this is to test the actual build files -->
<script src="../../build/App_Plugins/Merchello/js/merchello.models.js"></script>
<script src="../../build/App_Plugins/Merchello/js/merchello.filters.js"></script>
<script src="../../build/App_Plugins/Merchello/js/merchello.directives.js"></script>
<script src="../../build/App_Plugins/Merchello/js/merchello.resources.js"></script>
<script src="../../build/App_Plugins/Merchello/js/merchello.services.js"></script>
<script src="../../build/App_Plugins/Merchello/js/merchello.controllers.js"></script>
<script src="../../build/App_Plugins/Merchello/js/merchello.testing.js"></script>
</body>

</html>