<div class="umb-panel merchello-side-panel" ng-controller="Merchello.Marketing.Dialogs.OfferConstraintRedemptionLimitController" data-ng-show="loaded">

    <div class="umb-overlay umb-overlay-right">
        <form class="umb-overlay__form" name="priceConstraintForm" id="priceConstraintForm">

            <div class="umb-overlay-header">
                <h4 class="umb-overlay__title"><localize key="merchelloMarketing_couponMaxRedemptionsTitle">Set a maximum number of allowable redemptions</localize></h4>
            </div>

            <div class="umb-overlay-container form-horizontal merchello-panel-body">
                <div class="form-group row-fluid">
                    <label for="max-quantity"><localize key="merchelloMarketing_couponMaxRedemptionsInputTitle">Set the maximum number of redemptions</localize><small><localize key="merchelloMarketing_couponMaxRedemptionsInputHelp">Values should be entered as positive numbers.</localize></small></label>
                    <input data-ng-model="maximum" class="col-xs-5 span5" type="number" />
                </div>
            </div>

            <div class="umb-overlay-drawer">
                <div class="umb-overlay-drawer__align-right">
                    <div class="umb-button">
                        <a href data-ng-click="close()" class="btn btn-link">
                            <localize key="general_cancel"></localize>
                        </a>
                    </div>

                    <div class="umb-button">
                        <button class="btn btn-success" data-ng-click="save()">
                            <localize key="buttons_save"></localize>
                        </button>
                    </div>
                </div>
            </div>

        </form>
    </div>
</div>