<div class="umb-panel merchello-side-panel" ng-controller="Merchello.Marketing.Dialogs.AddEditCampaignController">
    <div class="umb-modalcolumn-header">
        <h4>Edit Address</h4>
    </div>
    <form name="editCampaignForm" id="editCampaignForm">
        <div class="umb-panel-body with-header with-footer">

            <div class="form-group row-fluid">
                <label for="name">Campaign Name:</label>
                <input name="name" type="text" class="span12" data-ng-model="dialogData.campaign.name" />
            </div>
            <div class="form-group row-fluid">
            <label for="chk-defineAlias" class="label-checkbox" data-ng-show="!dialogData.isEdit()"><input name="chk-defineAlias" type="checkbox" data-ng-model="manuallyDefineAlias"> <span>I want to define my own alias</span></label>
                <div data-ng-show="manuallyDefineAlias">
                <label for="alias">Alias:</label>
                <input name="alias" type="text" class="span12" data-ng-model="dialogData.campaign.alias" />
                </div>
            </div>
            <div class="form-group row-fluid">
                <label for="description">Description:</label>
                <textarea name="description" type="textarea" class="span12" rows="3" data-ng-model="dialogData.campaign.description">
                    {{dialogData.campaign.description}}
                </textarea>
            </div>
            <div class="form-group row-fluid">
                <label for="chk-active" class="label-checkbox"><input name="chk-active" type="checkbox" data-ng-model="dialogData.campaign.active"> <span><localize key="merchelloMarketing_isActive" /></span></label>
            </div>
        </div>
        <div class="umb-panel-footer">
            <div class="umb-el-wrap umb-panel-buttons">
                <div class="btn-toolbar umb-btn-toolbar pull-right">
                    <!-- ACTION: Cancel -->
                    <a href data-ng-click="close()" class="btn btn-link"><localize key="general_cancel"></localize></a>
                    <!-- ACTION: Submit DialogData -->
                    <button class="btn btn-primary" data-ng-click="save()"><localize key="buttons_save"></localize></button>
                </div>
            </div>
        </div>
    </form>
</div>