<div class="umb-panel merchello-side-panel" data-ng-controller="Merchello.Providers.Dialogs.PayPalProviderSettingsController">
    <div class="umb-overlay umb-overlay-right">
        <div class="umb-overlay__form">
            <div class="umb-overlay-header">
                <h4 class="umb-overlay__title">PayPal Payments Provider Configuration</h4>
            </div>

            <div class="umb-overlay-container form-horizontal merchello-panel-body">

                <div class="form-group control-group">
                    <label for="mode">Mode</label>
                    <select name="mode" class="form-control umb-editor" id="mode" data-ng-model="providerSettings.mode">
                        <option value="Sandbox">Sandbox</option>
                        <option value="Live">Live</option>
                    </select>
                </div>

                <h5>PayPal Express Checkout</h5>

                <div class="form-group control-group">
                    <label>API Username</label>
                    <input class="form-control umb-editor" type="text" data-ng-model="providerSettings.apiUsername">
                </div>
                <div class="form-group control-group">
                    <label>API Password</label>
                    <input class="form-control umb-editor" type="text" data-ng-model="providerSettings.apiPassword">
                </div>
                <div class="form-group control-group">
                    <label>API Signature</label>
                    <input class="form-control umb-editor" type="text" data-ng-model="providerSettings.apiSignature">
                </div>
                <div class="form-group control-group">
                    <label for="addressOverride">Address Override</label>
                    <select name="addressOverride" class="form-control umb-editor" id="addressOverride" data-ng-model="providerSettings.addressOverride">
                        <option value="0">The PayPal pages should not display the shipping address.</option>
                        <option value="1">The PayPal pages should display the shipping address.</option>
                    </select>
                </div>
                <div class="form-group control-group">
                    <label>Redirect URL (Success)</label>
                    <input class="form-control umb-editor" type="text" data-ng-model="providerSettings.successUrl" placeholder="/receipt/">
                </div>
                <div class="form-group control-group">
                    <label>Retry Url</label>
                    <input class="form-control umb-editor" type="text" data-ng-model="providerSettings.retryUrl" placeholder="/checkout/" />
                    <small class="warning">Note: <b>invoiceKey=[InvoiceKey]&amp;paymentkey=[PaymentKey]</b> will be passed for retry attempt.</small>
                </div>
                <div class="form-group control-group">
                    <label>Retry Method Endpoint</label>
                    <input class="form-control umb-editor" type="text" data-ng-model="providerSettings.cancelUrl" placeholder="/umbraco/area/route/retry/" />
                    <small class="warning">Note: <b>invoiceKey=[InvoiceKey]&amp;paymentkey=[PaymentKey]</b> will be passed for retry attempt.</small>
                </div>
                <div class="form-group control-group">
                    <label class="label-checkbox">
                        <input type="checkbox" data-ng-model="providerSettings.deleteInvoiceOnCancel" />
                        <span>Delete invoice on cancel</span>
                    </label>
                    <label class="label-checkbox">
                        <input type="checkbox" data-ng-model="dialogData.provider.encryptExtendedData" />
                        <span>Encrypt Provider Configuration</span>
                    </label>
                </div>
            </div>

            <div class="umb-overlay-drawer">
                <div class="umb-overlay-drawer__align-right">

                    <div class="umb-button">
                        <a href data-ng-click="close()" class="btn btn-link">
                            <localize key="general_cancel"></localize>
                        </a>
                    </div>

                    <div class="umb-button">
                        <button class="btn btn-success" data-ng-click="submit(dialogData)">
                            <localize key="buttons_save"></localize>
                        </button>
                    </div>

                </div>
            </div>
        </div>
    </div>
</div>
