<?xml version="1.0"?>
<ioc using="LightInject">


  <!-- CONCEPT - make these "named" instantiation -->
  <pluggable>
    <object alias="CustomerContext" type="Merchello.Web.CustomerContext, Merchello.Web" />
    <object alias="BasketCheckoutCustomerManager" type="Merchello.Web.CheckoutManagers.BasketCheckoutCustomerManager, Merchello.Web" />
    <object alias="BasketCheckoutOfferManager" type="Merchello.Web.CheckoutManagers.BasketCheckoutOfferManager, Merchello.Web" />
    <object alias="BasketCheckoutShippingManager" type="Merchello.Web.CheckoutManagers.BasketCheckoutShippingManager, Merchello.Web" />
    <object alias="BasketCheckoutExtendedManager" type="Merchello.Web.CheckoutManagers.BasketCheckoutExtendedManager, Merchello.Web" />
    <object alias="BasketCheckoutPaymentManager" type="Merchello.Web.CheckoutManagers.BasketCheckoutPaymentManager, Merchello.Web" />
    <object alias="RemoteLogger" type="Merchello.Web.Logging.DefaultEmptyRemoteLogger, Merchello.Web" />
    <object alias="PluginViewEditorProvider" type="Merchello.Web.Pluggable.PluginViewEditorProvider, Merchello.Web" />
  </pluggable>
  
  
</ioc>
