<merchelloSettings>
  
  <!-- REFACTOR add database values here as optional element -->
  <database  />

  <settings>
    <setting alias="DefaultSkuSeparator" value="-" />

    <!-- 
    Overrides the Payment Method's IPaymentResponse ApproveOrderCreation indicating an order should always be created no matter
    if the payment has been collected or not. 
    -->
    <setting alias="AlwaysApproveOrderCreation" value="false" />

    <!--
    Settting introduced in version 1.1.0.  If true, Merchello will automatically attempt to 
    update the database schema (if required) when the bootstrapper detects a Merchello version update
    -->
    <setting alias="AutoUpdateDbSchema" value ="true" />

    <!--
    Setting introduced in version 1.3.0.  Value indicates the maximum number of days to store
    anonymous customer records.  After the number of days, a maintenance routine will remove the 
    records from the database.
    Requires that you add the the following scheduled task in umbracoSettings.config
    <task log="true" alias="removeAnonymousCustomers" interval="14400" url="http://localhost/umbraco/Merchello/ScheduledTasksApi/RemoveAnonymousCustomers/">
    -->
    <setting alias="AnonymousCustomersMaxDays" value="31" />

    <!--
    The following two settings are used to control the Examine index sizes for application start.
    Alternatively you can add
    <Examine RebuildOnAppStart="false">
    -->
    <setting alias="ExamineUseGetAllOnRebuild" value="false" />
    <setting alias="IndexCompletedOrdersMaxDays" value="90" />
    <setting alias="IndexActiveCustomersMaxDays" value="360" />

    <setting alias="MerchelloTemplatesBasePath" value="~/Views/Merchello/" />
    <setting alias="NotificationTemplateBasePath" value="~/Views/Merchello/Notification/" />

    <!--
    This setting allows the implementer to specify what HTML element should be used when selecting option choices
    in the back office.  This requires custom razor coding in your templates and it not implemented in any of the Merchello starter kits.
    -->
    <setting alias="EnableProductOptionUiElementSelection" value="false" />
  </settings>

  <checkoutContextSettings>
    <setting alias="InvoiceNumberPrefix" value="FT" />
    <setting alias="ApplyTaxesToInvoice" value="true" />
    <setting alias="RaiseCustomerEvents" value="false" />
    <setting alias="ResetCustomerManagerDataOnVersionChange" value="false" />
    <setting alias="ResetPaymentManagerDataOnVersionChange" value="true" />
    <setting alias="ResetExtendedManagerDataOnVersionChange" value="true" />
    <setting alias="ResetShippingManagerDataOnVersionChange" value="true" />
    <setting alias="ResetOfferManagerDataOnVersionChange" value="true" />
    <setting alias="EmptyBasketOnPaymentSuccess" value="true" />
  </checkoutContextSettings>

  <!-- A comma delimited list of Umbraco MemberTypes to be considered as Merchello Customers -->
  <!-- lower cased variants added for 7.4.0 which mandates casing -->
  <customer memberTypes="customer,Customer,merchelloCustomer,MerchelloCustomer" />

  <optionUi>
    <setting alias="Select List" value="select" />
    <setting alias="Radio Buttons" value="radio" />
  </optionUi>

  
  <backoffice>
    <!-- 1.11.0 adds default attributes localizeArea and localizeName with respective values of merchelloTree and the id att value e.g. products, sales, etc. -->
    <tree id="products" title="Products" icon="icon-barcode" routePath="merchello/merchello/productlist/manage" visible="true" sortOrder="1" />
    <tree id="sales" title="Sales" icon="icon-receipt-dollar" routePath="merchello/merchello/saleslist/manage" visible="true" sortOrder="2">
      <childSettings>
        <!--
                Sets the order where self managed entity collection providers (like Unpaid invoices) are listed in the tree.
                If set to true, the resolved collections will be listed before the user defined collections.  False will list them
                after.
            -->
        <setting alias="selfManagedProvidersBeforeStaticProviders" value="true" />
      </childSettings>
      <selfManagedEntityCollectionProviders>
        <!--
                attribute: key - the provider key defined in the EntityCollectionProviderAttribute decorating the EntityCollectionProvider
                attribute: icon - is the icon displayed in the tree
                attribute: visible - indicates whether or not the collection should provider should create a tree node
                attribute: ref - not actually used, it is only here so that they can be managed more easily
               -->
        <entityCollectionProvider key="A8120A01-E9BF-4204-ADDD-D9553F6F24FE" icon="icon-bills" visible="true" ref="Unpaid invoices" />
        <entityCollectionProvider key="82015B97-11E8-4E57-8258-A59E1D378E04" icon="icon-bills" visible="true" ref="Partially paid invoices" />
        <entityCollectionProvider key="072E0671-31BE-41E4-8CF9-4AEEC6CC5BC6" icon="icon-bills" visible="true" ref="Paid invoices" />
        <entityCollectionProvider key="5FD6E5EB-0B7C-41A4-B863-7AEC31BE84C0" icon="icon-truck" visible="true" ref="Unfulfilled orders" />
        <entityCollectionProvider key="A9A288F3-DA98-4712-9E90-F9F909F2C26A" icon="icon-truck" visible="true" ref="Open orders" />
        <entityCollectionProvider key="68B57648-7550-4702-8223-C5574B7C0604" icon="icon-truck" visible="true" ref="Fulfilled orders" />
      </selfManagedEntityCollectionProviders>
    </tree>
    <tree id="customers" title="Customers" icon="icon-user-glasses" routePath="merchello/merchello/customerlist/manage" visible="true" sortOrder="3" />
    <tree id="marketing" title="Marketing" icon="icon-energy-saving-bulb" routePath="merchello/merchello/offerslist/manage" visible="true" sortOrder="4" />
    <tree id="reports" title="Reports" icon="icon-slideshow" routePath="merchello/merchello/reportsdashboard/manage" visible="true" sortOrder="5" />
    <tree id="gateways" title="Gateway Providers" icon="icon-settings" routePath="merchello/merchello/gatewayproviderlist/manage" visible="true" sortOrder="6" />
  </backoffice>

  <contentFinderCulture>
    <!-- You can set slug prefixes for products for each culture if you need to.
    e.g. with the following settings, en-US product URLs will be /en/[slug]
    <route cultureName="en-US" productSlugPrefix="en" />
    -->
  </contentFinderCulture>


  <currencyFormats>
    <!-- Define currency formats by code.
        PR: https://github.com/Merchello/Merchello/pull/1422
      <format currencyCode="sek" format="{1:0.00}{0}" />
    -->
  </currencyFormats>

  <typeFieldDefinitions>
    <lineItem>
      <type alias="CcFee" descriptiveName="Fee applied to invoices for credit card charges" typeKey="676A3E0D-AC88-4D61-850A-403E8C359FDE" />
    </lineItem>
    <!--
    <itemCache>
      <type alias="WeddingRegistry" descriptiveName="Wedding Registry" typeKey="64F43CDF-6313-4B45-AE39-C32646F37041" />
    </itemCache>
    <product />
    
    -->
  </typeFieldDefinitions>


  <!-- REFACTOR-from entitySpecificationCollectionAttributes -->
  <entityFilters>
    <products>
      <entityCollectionProvider key="4700456D-A872-4721-8455-1DDAC19F8C16" icon="icon-box" visible="true" ref="Individually Assigned" />
    </products>
  </entityFilters>
  
</merchelloSettings>