<merchelloSettings>

    <products>

        <defaultSkuSeparator>-</defaultSkuSeparator>

    </products>

    <checkout>

        <checkoutContext>

            <invoiceNumberPrefix>FT</invoiceNumberPrefix>

            <applyTaxesToInvoice>true</applyTaxesToInvoice>

            <raiseCustomerEvents>false</raiseCustomerEvents>

            <resetCustomerManagerDataOnVersionChange>false</resetCustomerManagerDataOnVersionChange>

            <resetPaymentManagerDataOnVersionChange>true</resetPaymentManagerDataOnVersionChange>

            <resetExtendedManagerDataOnVersionChange>true</resetExtendedManagerDataOnVersionChange>

            <resetShippingManagerDataOnVersionChange>true</resetShippingManagerDataOnVersionChange>

            <resetOfferManagerDataOnVersionChange>true</resetOfferManagerDataOnVersionChange>

            <emptyBasketOnPaymentSuccess>true</emptyBasketOnPaymentSuccess>

        </checkoutContext>

    </checkout>

    <sales>

        <alwaysApproveOrderCreation>true</alwaysApproveOrderCreation>

    </sales>

    <customers>

        <anonymousCustomersMaxDays>30</anonymousCustomersMaxDays>

        <memberTypes>customer,Customer,merchelloCustomer,MerchelloCustomer</memberTypes>

    </customers>

    <filters>

    </filters>

    <migrations>

        <autoUpdateDbSchema>true</autoUpdateDbSchema>

    </migrations>

    <mvc>
        <views>

            <basePath>~/Views/Merchello/</basePath>

            <notificationBasePath>~/Views/Merchello/Notifications/</notificationBasePath>

        </views>
        <virtualContent>
            <routing>
                <!--
                You can set slug prefixes for products for each culture if you need to.
                 e.g. with the following settings, en-US product URLs will be /en/[slug]
                <route cultureName="en-US" basePath="en" />
                -->
            </routing>
        </virtualContent>
    </mvc>

    <currencyFormats>
        <!-- Define currency formats by code.
        PR: https://github.com/Merchello/Merchello/pull/1422
        <format currencyCode="sek" format="{1:0.00}{0}" />
        -->
    </currencyFormats>

</merchelloSettings>