<merchelloBackOffice>

    <trees>
        <!-- 1.11.0 adds default attributes localizeArea and localizeName with respective values of merchelloTree and the id att value e.g. products, sales, etc. -->
        <tree id="products" title="Products" icon="icon-barcode" routePath="merchello/merchello/productlist/manage" visible="true" sortOrder="1" />
        <tree id="sales" title="Sales" icon="icon-receipt-dollar" routePath="merchello/merchello/saleslist/manage" visible="true" sortOrder="2">
            <childSettings>
                <!--
                        Sets the order where self managed entity collection providers (like Unpaid invoices) are listed in the tree.
                        If set to true, the resolved collections will be listed before the user defined collections.  False will list them
                        after.
                    -->
                <setting alias="selfManagedProvidersBeforeStaticProviders" value="true" />
            </childSettings>
            <selfManagedEntityCollectionProviders>
                <!--
                        attribute: key - the provider key defined in the EntityCollectionProviderAttribute decorating the EntityCollectionProvider
                        attribute: icon - is the icon displayed in the tree
                        attribute: visible - indicates whether or not the collection should provider should create a tree node
                        attribute: ref - not actually used, it is only here so that they can be managed more easily
                       -->
                <entityCollectionProvider key="A8120A01-E9BF-4204-ADDD-D9553F6F24FE" icon="icon-bills" visible="true" ref="Unpaid invoices" />
                <entityCollectionProvider key="82015B97-11E8-4E57-8258-A59E1D378E04" icon="icon-bills" visible="true" ref="Partially paid invoices" />
                <entityCollectionProvider key="072E0671-31BE-41E4-8CF9-4AEEC6CC5BC6" icon="icon-bills" visible="true" ref="Paid invoices" />
                <entityCollectionProvider key="5FD6E5EB-0B7C-41A4-B863-7AEC31BE84C0" icon="icon-truck" visible="true" ref="Unfulfilled orders" />
                <entityCollectionProvider key="A9A288F3-DA98-4712-9E90-F9F909F2C26A" icon="icon-truck" visible="true" ref="Open orders" />
                <entityCollectionProvider key="68B57648-7550-4702-8223-C5574B7C0604" icon="icon-truck" visible="true" ref="Fulfilled orders" />
            </selfManagedEntityCollectionProviders>
        </tree>
        <tree id="customers" title="Customers" icon="icon-user-glasses" routePath="merchello/merchello/customerlist/manage" visible="true" sortOrder="3" />
        <tree id="marketing" title="Marketing" icon="icon-energy-saving-bulb" routePath="merchello/merchello/offerslist/manage" visible="true" sortOrder="4" />
        <tree id="reports" title="Reports" icon="icon-slideshow" routePath="merchello/merchello/reportsdashboard/manage" visible="true" sortOrder="5" />
        <tree id="gateways" title="Gateway Providers" icon="icon-settings" routePath="merchello/merchello/gatewayproviderlist/manage" visible="true" sortOrder="6" />
    </trees>

    <!-- this should be a JSON manifest -->
    <module route="merchello/merchello/">

        <views></views>
        <dialogs></dialogs>
        <templates></templates>

        <sections>
            <products>
                <filterCollections>
                    <entityCollectionProvider key="4700456D-A872-4721-8455-1DDAC19F8C16" icon="icon-box" visible="true" ref="Individually Assigned" />
                </filterCollections>
            </products>
            <productOptions>
                <optionUi>
                    <setting alias="Select List" value="select" />
                    <setting alias="Radio Buttons" value="radio" />
                </optionUi>
            </productOptions>
        </sections>

    </module>

</merchelloBackOffice>