<merchelloSettings>

    <products>

        <defaultSkuSeparator>-</defaultSkuSeparator>

    </products>

    <checkout>

        <checkoutContext>

            <invoiceNumberPrefix>FT</invoiceNumberPrefix>

            <applyTaxesToInvoice>true</applyTaxesToInvoice>

            <raiseCustomerEvents>false</raiseCustomerEvents>

            <resetCustomerManagerDataOnVersionChange>false</resetCustomerManagerDataOnVersionChange>

            <resetPaymentManagerDataOnVersionChange>true</resetPaymentManagerDataOnVersionChange>

            <resetExtendedManagerDataOnVersionChange>true</resetExtendedManagerDataOnVersionChange>

            <resetShippingManagerDataOnVersionChange>true</resetShippingManagerDataOnVersionChange>

            <resetOfferManagerDataOnVersionChange>true</resetOfferManagerDataOnVersionChange>

            <emptyBasketOnPaymentSuccess>true</emptyBasketOnPaymentSuccess>

        </checkoutContext>

    </checkout>

    <sales>

        <alwaysApproveOrderCreation>false</alwaysApproveOrderCreation>

    </sales>

    <customers>

        <anonymousCustomersMaxDays>30</anonymousCustomersMaxDays>

        <memberTypes>customer,Customer,merchelloCustomer,MerchelloCustomer</memberTypes>

    </customers>

    <filters>
        <products>
            <entityCollectionProvider key="4700456D-A872-4721-8455-1DDAC19F8C16" icon="icon-box" visible="true" ref="Individually Assigned" />
        </products>
    </filters>

    <migrations>

        <autoUpdateDbSchema>true</autoUpdateDbSchema>

    </migrations>


    <!-- TODO remove this -->
    <currencyFormats>
        <!-- Define currency formats by code.
        PR: https://github.com/Merchello/Merchello/pull/1422
        -->
        <format currencyCode="sek" format="{1:0.00}{0}" />
    </currencyFormats>

</merchelloSettings>