<?xml version="1.0"?>
<geographic>

  <!-- REFACTOR-from regionalProvinces -->
  <regions>
    <region code="US" requirePostalCode="false">
      <provinces>
        <province name="Alabama" code="AL" />
        <province name="Alaska" code="AK" />
        <province name="Arizona" code="AZ" />
        <province name="Arkansas" code="AR" />
        <province name="California" code="CA" />
        <province name="Colorado" code="CO" />
        <province name="Connecticut" code="CT" />
        <province name="Delaware" code="DE" />
        <province name="Florida" code="FL" />
        <province name="Georgia" code="GA" />
        <province name="Hawaii" code="HI" />
        <province name="Idaho" code="ID" />
        <province name="Illinois" code="IL" />
        <province name="Indiana" code="IN" />
        <province name="Iowa" code="IA" />
        <province name="Kansas" code="KS" />
        <province name="Kentucky" code="KY" />
        <province name="Louisiana" code="LA" />
        <province name="Maine" code="ME" />
        <province name="Maryland" code="MD" />
        <province name="Massachusetts" code="MA" />
        <province name="Michigan" code="MI" />
        <province name="Minnesota" code="MN" />
        <province name="Mississippi" code="MS" />
        <province name="Missouri" code="MO" />
        <province name="Montana" code="MT" />
        <province name="Nebraska" code="NE" />
        <province name="Nevada" code="NV" />
        <province name="New Hampshire" code="NH" />
        <province name="New Jersey" code="NJ" />
        <province name="New Mexico" code="NM" />
        <province name="New York" code="NY" />
        <province name="North Carolina" code="NC" />
        <province name="North Dakota" code="ND" />
        <province name="Ohio" code="OH" />
        <province name="Oklahoma" code="OK" />
        <province name="Oregon" code="OR" />
        <province name="Pennsylvania" code="PA" />
        <province name="Rhode Island" code="RI" />
        <province name="South Carolina" code="SC" />
        <province name="South Dakota" code="SD" />
        <province name="Tennessee" code="TN" />
        <province name="Texas" code="TX" />
        <province name="Utah" code="UT" />
        <province name="Vermont" code="VT" />
        <province name="Virginia" code="VA" />
        <province name="Washington" code="WA" />
        <province name="West Virginia" code="WV" />
        <province name="Wisconsin" code="WI" />
        <province name="Wyoming" code="WY" />
        <province name="American Samoa" code="AS" />
        <province name="District of Columbia" code="DC" />
        <province name="Federated States of Micronesia" code="FM" />
        <province name="Guam" code="GU" />
        <province name="Marshall Islands" code="MH" />
        <province name="Northern Mariana Islands" code="MP" />
        <province name="Palau" code="PW" />
        <province name="Puerto Rico" code="PR" />
        <province name="Virgin Islands" code="VI" />
        <province name="Armed Forces - Africa, Canada, Europe" code="AE" />
        <province name="Armed Forces Americas" code="AA" />
        <province name="Armed Forces Pacific" code="AP" />
      </provinces>
    </region>
    <region code="CA" requirePostalCode="false">
      <provinces>
        <province name="Alberta" code="AB" />
        <province name="British Columbia" code="BC" />
        <province name="Manitoba" code="MB" />
        <province name="New Brunswick" code="NB" />
        <province name="Newfoundland and Labrador" code="NL" />
        <province name="Northwest Territories" code="NT" />
        <province name="Nova Scotia" code="NS" />
        <province name="Nunavut" code="NU" />
        <province name="Ontario" code="ON" />
        <province name="Prince Edward Island" code="PE" />
        <province name="Quebec" code="QC" />
        <province name="Saskatchewan" code="SK" />
        <province name="Yukon" code="YT" />
      </provinces>
    </region>
  </regions>
  
</geographic>