<div class="merchellodashboard">
    <div class="grid-section umb-dashboard-grid">

        <div data-ng-controller="Merchello.Backoffice.MerchelloDashboardController" data-ng-show="loaded">

            <div class="span12 column dash-section">

                <div class="row clearfix dash-row">
                    <div class="dash-inner-row">
                        <div class="span12 column dash-area">
                            <div class="dash-inner-area">

                                <div class="dash-control dash-control-">
                                    <div class="dash-inner-control">
                                        <div class="merchello-logo">
                                            <img src="/App_Plugins/Merchello/assets/images/logo.png" alt="Merchello, the eCommerce package" />
                                        </div>
                                    </div>
                                </div>
                                <div class="dash-control dash-control-">
                                    <div class="dash-inner-control">
                                        <div>
                                            <div class="intro-text">
                                                Welcome to v{{merchelloVersion}} of Merchello - we hope you like everything we've added.
                                                And if there is something missing, well... It's open source so feel free to ping us a PR on Github!
                                            </div>
                                        </div>
                                    </div>
                                </div>

                            </div>
                        </div>
                    </div>
                </div>
                <div class="row clearfix dash-row">
                    <div class="dash-inner-row">

                        <div class="span4 column dash-area">
                            <div class="dash-inner-area">
                                <div class="dash-control dash-control-">
                                    <div class="dash-inner-control">
                                        <div>
                                            <a href="https://our.umbraco.org/projects/collaboration/merchello/merchello/" target="_blank" class="info-box">
                                                <div class="info-box__title">Support/Help</div>
                                                <div class="info-box__description">Post on the our.umbraco forums if you need help.</div>
                                            </a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="span4 column dash-area">
                            <div class="dash-inner-area">
                                <div class="dash-control dash-control-">
                                    <div class="dash-inner-control">
                                        <div>
                                            <a href="https://github.com/Merchello/Merchello/issues" target="_blank" class="info-box">
                                                <div class="info-box__title">Issues</div>
                                                <div class="info-box__description">If you find a bug, then please add it to our issues page.</div>
                                            </a>

                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="span4 column dash-area">
                            <div class="dash-inner-area">
                                <div class="dash-control dash-control-">
                                    <div class="dash-inner-control">
                                        <div>
                                            <a href="https://merchello.readme.io" target="_blank" class="info-box">
                                                <div class="info-box__title">Documentation</div>
                                                <div class="info-box__description">It's the best we've got at the moment ;)</div>
                                            </a>

                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

        </div>

    </div>
</div>

