@model IProductContent
@using System.Text
@using Merchello.Core
@using Merchello.Web.Models.VirtualContent

@GetSingleProductPrice(Model)

@functions
{

    private static IHtmlString GetSingleProductPrice(IProductContent product)
    {
        if (product.ProductVariants.Any())
        {
            
        }

        var sb = new StringBuilder();
        if (product.OnSale)
        {
            sb.AppendFormat("<span class='sale-price'>{0}</span>", product.SalePrice.AsFormattedCurrency());
            sb.AppendFormat("<span class='original-price'>{0}</span>", product.Price.AsFormattedCurrency());
        }
        else
        {
            sb.AppendFormat("<span>{0}</span>", product.Price.AsFormattedCurrency());
        }

        return MvcHtmlString.Create(sb.ToString());
    }
}
