@using Merchello.Core
@model IEnumerable<Merchello.Web.Models.VirtualContent.IProductContent>
    

<section class="product-box-list">

    @if (Model.Any())
    {
        foreach (var row in Model.ToArray().Split(3))
        {
            <div class="row">
                @foreach (var product in row)
                {
                    <div class="col-md-4">
                        @Html.Partial("_ProductBox", product)
                    </div>
                }
            </div>
        }
    }
    else
    {
        <div class="alert alert-info" role="alert">
            No recently viewed products
        </div>
    }
</section>