@inherits Umbraco.Web.Mvc.UmbracoViewPage<dynamic>

@if (Model.value != null)
{   
    var url = Model.value.image;
    if(Model.editor.config != null && Model.editor.config.size != null){
        url += "?width=" + Model.editor.config.size.width;
        url += "&height=" + Model.editor.config.size.height;

        if(Model.value.focalPoint != null){
            url += "&center=" + Model.value.focalPoint.top +"," + Model.value.focalPoint.left;
            url += "&mode=crop";
        }
    }
    
    <div class="equalizer">
        <div class="col-sm-8 column">
            <div class="equal center">
                <img class="wide" src="@url" alt="@Model.value.caption">
            </div>
        </div>
        
        @if (Model.value.headline != null)
        {
            <div class="col-sm-4 column">
                <div class="equal">
                    <p class="small vcenter">
                        <strong>@Model.value.headline</strong>
                        <br>
                        @Model.value.paragraph
                    </p>
                </div>
            </div>
        }
        @if (Model.value.paragraph != null)
        {
            <div class="col-md-4 column">
                
            </div>
        }
    </div>
}
