<div>
<label class="col-xs-12 span12"><input type="radio" data-ng-model="operator" value="e" /> is <strong>Equal to</strong> (=)</label>
<label class="col-xs-12 span12"><input type="radio" data-ng-model="operator" value="lt" /> is <strong>Less Than</strong> (<)</label>
<label class="col-xs-12 span12"><input type="radio" data-ng-model="operator" value="lte" /> is <strong>Less Than or Equal to</strong> (<=)</label>
<label class="col-xs-12 span12"><input type="radio" data-ng-model="operator" value="gt" /> is <strong>Greater Than</strong> (>)</label>
<label class="col-xs-12 span12"><input type="radio" data-ng-model="operator" value="gte" /> is <strong>Greater Than or Equal to</strong> (>=)</label>
</div>