<div class="control-group umb-control-group">
    <label class="merchello-control-label">
        <localize key="merchelloCollections_collectionPickerTitle"/>
        <small><localize key="merchelloCollections_collectionPickerInfo" /></small>
    </label>
    <div class="merchello-controls">
        <ul class="unstyled list-icons">
            <li ng-repeat="collection in collections">
                <i class="icon icon-delete red hover-show" data-ng-click="remove(collection)"></i>
                <i class="icon icon-list hover-hide"></i>
                <a href="#" prevent-default>
                {{collection.name}}
                </a>
            </li>
        </ul>

        <ul class="unstyled list-icons">
            <li>
                <i class="icon icon-add blue"></i>
                <a href ng-click="openStaticEntityCollectionPicker()" prevent-default>
                    <localize key="general_add">Add</localize>
                </a>
            </li>
        </ul>
    </div>
</div>