<div class="product-option-list" data-ng-show="preValuesLoaded">

    <div class="control-group umb-control-group">

        <div class="merchello-section-label">
            <localize key="merchelloSpecFilters_editSpecFilter"></localize>
        </div>
        <div class="merchello-controls merchello-list-view umb-listview">

            <table class="table table-striped">
                <thead>
                <tr>
                    <td><localize key="merchelloTableCaptions_filterSpecName" /></td>
                    <td><localize key="merchelloTableCaptions_filterSpecAttributes" /></td>
                    <td></td>
                </tr>
                </thead>
                <tbody data-ng-model="queryResult.items" data-ng-show="queryResult.totalItems > 0" >
                <tr class="merchello-icon-container" data-ng-repeat="option in queryResult.items">
                    <td><a prevent-default data-ng-click="edit(option)">{{getColumnValue('name', option)}}</a></td>
                    <td></td>
                    <td class="text-right">
                        <merchello-icon-bar show-add="false" show-edit="true" show-delete="showDelete(option)" do-edit="edit(option)" do-delete="delete(option)"></merchello-icon-bar>
                    </td>
                </tr>
                </tbody>
                <tbody data-ng-hide="queryResult.totalItems > 0" >
                <td colspan="3" data-ng-bind-html-unsafe="noResults">

                </td>
                </tbody>

            </table>

            <div class="text-center">
                <merchello-add-icon do-add="add()"></merchello-add-icon>
            </div>
        </div>
    </div>


</div>