<div  id="offer-settings" data-ng-show="ready">
    <div class="row-fluid">
        <div class="form-group col-xs-6 span6">
            <unique-offer-code offer="offer" offer-code="offer.offerCode"></unique-offer-code>
        </div>
        <div class="form-group col-xs-6 span6" data-ng-show="offer.key !== ''">
            <div class="well well-warning" data-ng-hide="offer.active">
                <h2><localize key="merchelloMarketing_offerNotActive" /></h2>
                <p data-ng-hide="offer.hasRewards() && offer.componentsConfigured()">
                <localize key="merchelloMarketing_offerToSetActiveInfo" />
                </p>
                <p data-ng-show="(offer.hasRewards() && offer.componentsConfigured()) && offer.expired">
                    <strong><localize key="merchelloMarketing_offerHasExpired" /></strong>
                </p>
            </div>
            {{offerSaved}}
            <div class="well well-active" data-ng-show="offer.active && !offer.expired">
                <h2><localize key="merchelloMarketing_offerActive" /></h2>
            </div>
            <label class="label-checkbox"><input name="expires" type="checkbox" data-ng-model="offer.active" data-ng-disabled="!offer.hasRewards() || !offer.componentsConfigured()"> <span data-ng-show="offer.active"><localize key="merchelloMarketing_thisOfferIsActive" /></span><span data-ng-hide="offer.active"><localize key="merchelloMarketing_thisOfferIsNotActive" /></span></label>

        </div>
    </div>
    <div class="row-fluid">
        <!--div class="form-group col-xs-6 span6">

            <label class="label-checkbox"><input name="expires" type="checkbox" data-ng-model="offer.offerExpires" data-ng-click="toggleOfferExpires()"> <span><localize key="merchelloMarketing_offerSetExpires" /></span></label>
        </div-->

        <div class="btn-group" data-ng-hide="offer.offerExpires">
            <a href="#" class="btn btn-small" data-ng-click="toggleOfferExpires()" prevent-default><localize key="merchelloMarketing_offerValidAllDates" /></a>
        </div>

        <div class="btn-group" data-ng-show="offer.offerExpires">
            <a href="#" class="btn btn-small" data-ng-click="openDateRangeDialog()" prevent-default>{{ offer.offerStartsDate }} to {{ offer.offerEndsDate }}</a>
            <a href="#" class="btn btn-small" prevent-default data-ng-click="toggleOfferExpires()">X</a>
        </div>
    </div>




</div>