<div data-ng-show="providersLoaded">    
    <div class="row-fluid">
        <div class="span6">
            <div class="pull-left" style="margin-right: 5px;"><merchello-delete-icon do-delete="deleteCountry()"></merchello-delete-icon> </div>
            <h4>{{country.name}}</h4>
        </div>
        <div class="span6">
            <div class="merchello-icon-container pull-right merchello-shipping-gateway-buttons">
                <a class="btn btn-info btn-small" data-ng-click="addShippingProviderDialogOpen()" data-ng-show="availableProviders.length > 0">Add Shipping Provider <i class="icon-add"></i></a>                 
            </div>
        </div>
    </div>

    <!-- Shipping Provider -->
    <div class="merchello-controls merchello-shipping-gateway-provider" style="clear: both;" data-ng-repeat="shippingGatewayProvider in assignedProviders">        
        <a data-ng-click="addAddShipMethodDialogOpen(shippingGatewayProvider)" class="btn btn-info btn-small pull-right">Add Shipping Method</a> 
        <h5>{{shippingGatewayProvider.name}}</h5>
        <!-- Shipping Methods -->
        <div class="merchello-list-view">
            <table class="table table-striped merchello-striped-table">
                <tbody>
                <tr data-ng-repeat="gatewayMethod in shippingGatewayProvider.shippingGatewayMethods">
                    <td>{{gatewayMethod.shipMethod.name}}</td>
                    <td class="merchello-icon-container">
                        <div class="pull-right">
                            <merchello-provinces-icon show-provinces="country.provinces.length > 0" do-provinces="editShippingMethodRegionsOpen(gatewayMethod)"></merchello-provinces-icon>
                            <merchello-icon-bar show-edit="gatewayMethod.dialogEditorView.editorView !== ''" show-delete="true" do-edit="editShippingMethodDialogOpen(gatewayMethod)" do-delete="deleteShipMethodOpen(gatewayMethod.shipMethod)"></merchello-icon-bar>
                        </div>
                    </td>
                </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>