<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <section name="merchello" type="Merchello.Core.Configuration.Outline.MerchelloSection, Merchello.Core" />    
  </configSections>

  <connectionStrings>
      <!--add name="umbracoDbDSN" connectionString="server=moria.mindfly.biz;database=merchello_test;user id=merchelloTester;password=merchelloTester" providerName="System.Data.SqlClient" /-->
    <add name="umbracoDbDsn" connectionString="Data Source=|DataDirectory|\Merchello.sdf" providerName="System.Data.SqlServerCe.4.0" />
  </connectionStrings>

  <appSettings>
    <add key="merchelloConfigurationStatus" value="2.2.0" />
  </appSettings>

  <merchello defaultCountryCode="US" enableLogging="false">

    <settings>
      <setting alias="DefaultSkuSeparator" value="-" />

      <!-- 
    Overrides the Payment Method's IPaymentResponse ApproveOrderCreation indicating an order should always be created no matter
    if the payment has been collected or not. 
    -->
      <setting alias="AlwaysApproveOrderCreation" value="false" />

      <!--
    Setting introduced in version 1.3.0.  Value indicates the maximum number of days to store
    anonymous customer records.  After the number of days, a maintenance routine will remove the 
    records from the database.
    -->
      <setting alias="AnonymousCustomersMaxDays" value="7" />
      
    </settings>


    <!-- A comma delimited list of Umbraco MemberTypes to be considered as Merchello Customers -->
    <customer memberTypes="Customer" />
    
    <backoffice>
      <tree id="catalog" title="Catalog" icon="icon-barcode" routePath="merchello/merchello/ProductList/manage" visible="true" />
      <tree id="orders" title="Orders" icon="icon-receipt-dollar" routePath="merchello/merchello/OrderList/manage" visible="true" />
      <tree id="customers" title="Customers" icon="icon-user-glasses" routePath="merchello/merchello/CustomerList/manage" visible="true" />
      <tree id="reports" title="Reports" icon="icon-file-cabinet" routePath="merchello/merchello/Reports/manage" visible="true">
        <subTree>
          <tree id="salesOverTime" title="Sales Over Time" icon="icon-loading" routePath="merchello/merchello/SalesOverTime/manage" visible="true" />
          <tree id="salesByItem" title="Sales By Item" icon="icon-barcode" routePath="merchello/merchello/SalesByItem/manage" visible="true" />
          <tree id="taxesByDestination" title="Taxes By Destination" icon="icon-piggy-bank" routePath="merchello/merchello/TaxesByDestination/manage" visible="true" />
        </subTree>
      </tree>
      <tree id="settings" title="Settings" icon="icon-settings" routePath="merchello/merchello/Settings/manage" visible="true">
        <subTree>
          <tree id="shipping" title="Shipping" icon="icon-truck" routePath="merchello/merchello/Shipping/manage" visible="true" />
          <tree id="taxation" title="Taxation" icon="icon-piggy-bank" routePath="merchello/merchello/Taxation/manage" visible="true" />
          <tree id="payment" title="Payment" icon="icon-bill-dollar" routePath="merchello/merchello/Payment/manage" visible="true" />
          <tree id="notifications" title="Notifications" icon="icon-chat" routePath="merchello/merchello/Notifications/manage" visible="true" />
          <tree id="gateways" title="Gateway Providers" icon="icon-trafic" routePath="merchello/merchello/GatewayProviders/manage" visible="true" />
        </subTree>
      </tree>
    </backoffice>
    
    <strategies>
      <strategy alias="DefaultPackaging" type="Merchello.Core.Strategies.Packaging.DefaultWarehousePackagingStrategy, Merchello.Core" />
      <strategy alias="DefaultShipmentRateQuote" type="Merchello.Core.Gateways.Shipping.DefaultShipmentRateQuoteStrategy, Merchello.Core" />
      <strategy alias="DefaultInvoiceTaxRateQuote" type="Merchello.Core.Gateways.Taxation.FixedRate.FixedRateTaxCalculationStrategy, Merchello.Core" />
    </strategies>

    <taskChains>
      <taskChain alias="SalesPreparationInvoiceCreate">
        <tasks>
          <task type="Merchello.Core.Chains.InvoiceCreation.AddBillingInfoToInvoiceTask, Merchello.Core" />
          <task type="Merchello.Core.Chains.InvoiceCreation.ConvertItemCacheItemsToInvoiceItemsTask, Merchello.Core" />
          <task type="Merchello.Core.Chains.InvoiceCreation.ApplyTaxesToInvoiceTax, Merchello.Core" />
        </tasks>
      </taskChain>
    </taskChains>



    <!-- Introduced patternFormatter in version 1.1.1 -->
    <patternFormatter>

      <!-- patterns to search and replace can be 
          
          <replace alias="Company" pattern="{{Company}}" replacement="Mindfly Web Design Studio" replacementInMonitor="false" />
          -->

      <!--
          Depending on the model passed to the "Monitor" responsible for populating the replacements, some of these values will be empty.  For example,
          a MonitorModel that only contains shipment information will not be able to populate Billing information ...
          
          -->

      <!-- INVOICE -->
      <replace alias="InvoiceNumber" pattern="{{InvoiceNumber}}" />
      <replace alias="InvoiceDate" pattern="{{InvoiceDate}}" />

      <replace alias="InvoiceStatus" pattern="{{InvoiceStatus}}" />
      <replace alias="TotalPrice" pattern="{{TotalPrice}}" />

      <!-- ADDRESS -->
      <replace alias="BillToName" pattern="{{BillToName}}" />
      <replace alias="BillToAddress1" pattern="{{BillToAddress1}}" />
      <replace alias="BillToAddress2" pattern="{{BillToAddress2}}" />
      <replace alias="BillToLocality" pattern="{{BillToLocality}}" />
      <replace alias="BillToRegion" pattern="{{BillToRegion}}" />
      <replace alias="BillToPostalCode" pattern="{{BillToPostalCode}}" />
      <replace alias="BillToCountryCode" pattern="{{BillToName}}" />
      <replace alias="BillToEmail" pattern="{{BillToEmail}}" />
      <replace alias="BillToPhone" pattern="{{BillToPhone}}" />
      <replace alias="BillToCompany" pattern="{{BillToCompany}}" />

      <replace alias="ShippingAddress1" pattern="{{ShippingToAddress1}}" />
      <replace alias="ShippingAddress2" pattern="{{ShippingToAddress2}}" />
      <replace alias="ShippingLocality" pattern="{{ShippingToLocality}}" />
      <replace alias="ShippingRegion" pattern="{{ShippingToRegion}}" />
      <replace alias="ShippingPostalCode" pattern="{{ShippingToPostalCode}}" />
      <replace alias="ShippingCountryCode" pattern="{{ShippingToName}}" />
      <replace alias="ShippingEmail" pattern="{{ShippingToEmail}}" />
      <replace alias="ShippingPhone" pattern="{{ShippingToPhone}}" />
      <replace alias="ShippingCompany" pattern="{{ShippingToCompany}}" />
      <replace alias="ShippingName" pattern="{{ShippingToName}}" />

      <!-- ITERATING THROUGH LINE ITEMS -->


      <!-- LINE ITEMS
        these must be between the IterationStart[Invoice.Items] and IterationEnd[Invoice.Items] so they get repeated in the iteration -
        the pattern is then dynamically changed to
        
        Item.Sku.0 - Item.Name.0 - Item.Price.0 ...
        Item.Sku.1 - Item.Name.1 - Item.Price.1 ...
        Item.Sku.2 - Item.Name.2 - Item.Price.2 ...
        
        before the formatter performs it's replacements the message 
        -->
      <replace alias="LineItemSku" pattern="{{Item.Sku}}" />
      <replace alias="LineItemName" pattern="{{Item.Name}}" />
      <replace alias="LineItemUnitPrice" pattern="{{Item.UnitPrice}}" />
      <replace alias="LineItemQuantity" pattern="{{Item.Quantity}}" />
      <replace alias="LineItemTotalPrice" pattern="{{Item.TotalPrice}}" />

      <!-- PAYMENT -->
      <replace alias="PaymentMethodName" pattern="{{PaymentMethodName}}" />
      <replace alias="PaymentAmount" pattern="{{PaymentAmount}}" />
      <replace alias="PamentReferenceNumber" pattern="{{ReferenceNumber}}" />


    </patternFormatter>
    
    <typeFieldDefinitions>
      
      <!-- valid elements
        <basket />
        <shipMethod />
        <invoiceItem/>
        <paymentMethod/>
        <product />
        -->
      <lineItem>
        <type alias="CcFee" descriptiveName="Fee applied to invoices for credit card charges" typeKey="676A3E0D-AC88-4D61-850A-403E8C359FDE" />
      </lineItem>
      
    </typeFieldDefinitions>

    <countries>
      <!-- http://madskristensen.net/post/xml-country-list -->
      <country code="AF" iso="4">Afghanistan</country>
      <country code="AL" iso="8">Albania</country>
      <country code="DZ" iso="12">Algeria</country>
      <country code="AS" iso="16">American Samoa</country>
      <country code="AD" iso="20">Andorra</country>
      <country code="AO" iso="24">Angola</country>
      <country code="AI" iso="660">Anguilla</country>
      <country code="AQ" iso="10">Antarctica</country>
      <country code="AG" iso="28">Antigua And Barbuda</country>
      <country code="AR" iso="32">Argentina</country>
      <country code="AM" iso="51">Armenia</country>
      <country code="AW" iso="533">Aruba</country>
      <country code="AU" iso="36">Australia</country>
      <country code="AT" iso="40">Austria</country>
      <country code="AZ" iso="31">Azerbaijan</country>
      <country code="BS" iso="44">Bahamas</country>
      <country code="BH" iso="48">Bahrain</country>
      <country code="BD" iso="50">Bangladesh</country>
      <country code="BB" iso="52">Barbados</country>
      <country code="BY" iso="112">Belarus</country>
      <country code="BE" iso="56">Belgium</country>
      <country code="BZ" iso="84">Belize</country>
      <country code="BJ" iso="204">Benin</country>
      <country code="BM" iso="60">Bermuda</country>
      <country code="BT" iso="64">Bhutan</country>
      <country code="BO" iso="68">Bolivia</country>
      <country code="BA" iso="70">Bosnia And Herzegovina</country>
      <country code="BW" iso="72">Botswana</country>
      <country code="BV" iso="74">Bouvet Island</country>
      <country code="BR" iso="76">Brazil</country>
      <country code="IO" iso="86">British Indian Ocean Territory</country>
      <country code="BN" iso="96">Brunei Darussalam</country>
      <country code="BG" iso="100">Bulgaria</country>
      <country code="BF" iso="854">Burkina Faso</country>
      <country code="BI" iso="108">Burundi</country>
      <country code="KH" iso="116">Cambodia</country>
      <country code="CM" iso="120">Cameroon</country>
      <country code="CA" iso="124">Canada</country>
      <country code="CV" iso="132">Cape Verde</country>
      <country code="KY" iso="136">Cayman Islands</country>
      <country code="CF" iso="140">Central African Republic</country>
      <country code="TD" iso="148">Chad</country>
      <country code="CL" iso="152">Chile</country>
      <country code="CN" iso="156">China</country>
      <country code="CX" iso="162">Christmas Island</country>
      <country code="CC" iso="166">Cocos (Keeling) Islands</country>
      <country code="CO" iso="170">Colombia</country>
      <country code="KM" iso="174">Comoros</country>
      <country code="CG" iso="178">Congo</country>
      <country code="CK" iso="184">Cook Islands</country>
      <country code="CR" iso="188">Costa Rica</country>
      <country code="CI" iso="384">Cote D'Ivoire</country>
      <country code="HR" iso="191">Croatia (Local Name: Hrvatska)</country>
      <country code="CU" iso="192">Cuba</country>
      <country code="CY" iso="196">Cyprus</country>
      <country code="CZ" iso="203">Czech Republic</country>
      <country code="DK" iso="208">Denmark</country>
      <country code="DJ" iso="262">Djibouti</country>
      <country code="DM" iso="212">Dominica</country>
      <country code="DO" iso="214">Dominican Republic</country>
      <country code="EC" iso="218">Ecuador</country>
      <country code="EG" iso="818">Egypt</country>
      <country code="SV" iso="222">El Salvador</country>
      <country code="GQ" iso="226">Equatorial Guinea</country>
      <country code="ER" iso="232">Eritrea</country>
      <country code="EE" iso="233">Estonia</country>
      <country code="ET" iso="210">Ethiopia</country>
      <country code="FK" iso="238">Falkland Islands (Malvinas)</country>
      <country code="FO" iso="234">Faroe Islands</country>
      <country code="FJ" iso="242">Fiji</country>
      <country code="FI" iso="246">Finland</country>
      <country code="FR" iso="250">France</country>
      <country code="FX" iso="249">France, Metropolitan</country>
      <country code="GF" iso="254">French Guiana</country>
      <country code="PF" iso="258">French Polynesia</country>
      <country code="TF" iso="260">French Southern Territories</country>
      <country code="GA" iso="266">Gabon</country>
      <country code="GM" iso="270">Gambia</country>
      <country code="GE" iso="268">Georgia</country>
      <country code="DE" iso="276">Germany</country>
      <country code="GH" iso="288">Ghana</country>
      <country code="GI" iso="292">Gibraltar</country>
      <country code="GR" iso="300">Greece</country>
      <country code="GL" iso="304">Greenland</country>
      <country code="GD" iso="308">Grenada</country>
      <country code="GP" iso="312">Guadeloupe</country>
      <country code="GU" iso="316">Guam</country>
      <country code="GT" iso="320">Guatemala</country>
      <country code="GN" iso="324">Guinea</country>
      <country code="GW" iso="624">Guinea-Bissau</country>
      <country code="GY" iso="328">Guyana</country>
      <country code="HT" iso="332">Haiti</country>
      <country code="HM" iso="334">Heard Island &amp; Mcdonald Islands</country>
      <country code="HN" iso="340">Honduras</country>
      <country code="HK" iso="344">Hong Kong</country>
      <country code="HU" iso="348">Hungary</country>
      <country code="IS" iso="352">Iceland</country>
      <country code="IN" iso="356">India</country>
      <country code="ID" iso="360">Indonesia</country>
      <country code="IR" iso="364">Iran, Islamic Republic Of</country>
      <country code="IQ" iso="368">Iraq</country>
      <country code="IE" iso="372">Ireland</country>
      <country code="IL" iso="376">Israel</country>
      <country code="IT" iso="380">Italy</country>
      <country code="JM" iso="388">Jamaica</country>
      <country code="JP" iso="392">Japan</country>
      <country code="JO" iso="400">Jordan</country>
      <country code="KZ" iso="398">Kazakhstan</country>
      <country code="KE" iso="404">Kenya</country>
      <country code="KI" iso="296">Kiribati</country>
      <country code="KP" iso="408">Korea, Democratic People'S Republic Of</country>
      <country code="KR" iso="410">Korea, Republic Of</country>
      <country code="KW" iso="414">Kuwait</country>
      <country code="KG" iso="417">Kyrgyzstan</country>
      <country code="LA" iso="418">Lao People'S Democratic Republic</country>
      <country code="LV" iso="428">Latvia</country>
      <country code="LB" iso="422">Lebanon</country>
      <country code="LS" iso="426">Lesotho</country>
      <country code="LR" iso="430">Liberia</country>
      <country code="LY" iso="434">Libyan Arab Jamahiriya</country>
      <country code="LI" iso="438">Liechtenstein</country>
      <country code="LT" iso="440">Lithuania</country>
      <country code="LU" iso="442">Luxembourg</country>
      <country code="MO" iso="446">Macau</country>
      <country code="MK" iso="807">Macedonia, The Former Yugoslav Republic Of</country>
      <country code="MG" iso="450">Madagascar</country>
      <country code="MW" iso="454">Malawi</country>
      <country code="MY" iso="458">Malaysia</country>
      <country code="MV" iso="462">Maldives</country>
      <country code="ML" iso="466">Mali</country>
      <country code="MT" iso="470">Malta</country>
      <country code="MH" iso="584">Marshall Islands</country>
      <country code="MQ" iso="474">Martinique</country>
      <country code="MR" iso="478">Mauritania</country>
      <country code="MU" iso="480">Mauritius</country>
      <country code="YT" iso="175">Mayotte</country>
      <country code="MX" iso="484">Mexico</country>
      <country code="FM" iso="583">Micronesia, Federated States Of</country>
      <country code="MD" iso="498">Moldova, Republic Of</country>
      <country code="MC" iso="492">Monaco</country>
      <country code="MN" iso="496">Mongolia</country>
      <country code="MS" iso="500">Montserrat</country>
      <country code="MA" iso="504">Morocco</country>
      <country code="MZ" iso="508">Mozambique</country>
      <country code="MM" iso="104">Myanmar</country>
      <country code="NA" iso="516">Namibia</country>
      <country code="NR" iso="520">Nauru</country>
      <country code="NP" iso="524">Nepal</country>
      <country code="NL" iso="528">Netherlands</country>
      <country code="AN" iso="530">Netherlands Antilles</country>
      <country code="NC" iso="540">New Caledonia</country>
      <country code="NZ" iso="554">New Zealand</country>
      <country code="NI" iso="558">Nicaragua</country>
      <country code="NE" iso="562">Niger</country>
      <country code="NG" iso="566">Nigeria</country>
      <country code="NU" iso="570">Niue</country>
      <country code="NF" iso="574">Norfolk Island</country>
      <country code="MP" iso="580">Northern Mariana Islands</country>
      <country code="NO" iso="578">Norway</country>
      <country code="OM" iso="512">Oman</country>
      <country code="PK" iso="586">Pakistan</country>
      <country code="PW" iso="585">Palau</country>
      <country code="PA" iso="591">Panama</country>
      <country code="PG" iso="598">Papua New Guinea</country>
      <country code="PY" iso="600">Paraguay</country>
      <country code="PE" iso="604">Peru</country>
      <country code="PH" iso="608">Philippines</country>
      <country code="PN" iso="612">Pitcairn</country>
      <country code="PL" iso="616">Poland</country>
      <country code="PT" iso="620">Portugal</country>
      <country code="PR" iso="630">Puerto Rico</country>
      <country code="QA" iso="634">Qatar</country>
      <country code="RE" iso="638">Reunion</country>
      <country code="RO" iso="642">Romania</country>
      <country code="RU" iso="643">Russian Federation</country>
      <country code="RW" iso="646">Rwanda</country>
      <country code="SH" iso="654">Saint Helena</country>
      <country code="KN" iso="659">Saint Kitts And Nevis</country>
      <country code="LC" iso="662">Saint Lucia</country>
      <country code="PM" iso="666">Saint Pierre And Miquelon</country>
      <country code="VC" iso="670">Saint Vincent And The Grenadines</country>
      <country code="WS" iso="882">Samoa</country>
      <country code="SM" iso="674">San Marino</country>
      <country code="ST" iso="678">Sao Tome And Principe</country>
      <country code="SA" iso="682">Saudi Arabia</country>
      <country code="SN" iso="686">Senegal</country>
      <country code="SC" iso="690">Seychelles</country>
      <country code="SL" iso="694">Sierra Leone</country>
      <country code="SG" iso="702">Singapore</country>
      <country code="SK" iso="703">Slovakia (Slovak Republic)</country>
      <country code="SI" iso="705">Slovenia</country>
      <country code="SB" iso="90">Solomon Islands</country>
      <country code="SO" iso="706">Somalia</country>
      <country code="ZA" iso="710">South Africa</country>
      <country code="ES" iso="724">Spain</country>
      <country code="LK" iso="144">Sri Lanka</country>
      <country code="SD" iso="736">Sudan</country>
      <country code="SR" iso="740">Suriname</country>
      <country code="SJ" iso="744">Svalbard And Jan Mayen Islands</country>
      <country code="SZ" iso="748">Swaziland</country>
      <country code="SE" iso="752">Sweden</country>
      <country code="CH" iso="756">Switzerland</country>
      <country code="SY" iso="760">Syrian Arab Republic</country>
      <country code="TW" iso="158">Taiwan, Province Of China</country>
      <country code="TJ" iso="762">Tajikistan</country>
      <country code="TZ" iso="834">Tanzania, United Republic Of</country>
      <country code="TH" iso="764">Thailand</country>
      <country code="TG" iso="768">Togo</country>
      <country code="TK" iso="772">Tokelau</country>
      <country code="TO" iso="776">Tonga</country>
      <country code="TT" iso="780">Trinidad And Tobago</country>
      <country code="TN" iso="788">Tunisia</country>
      <country code="TR" iso="792">Turkey</country>
      <country code="TM" iso="795">Turkmenistan</country>
      <country code="TC" iso="796">Turks And Caicos Islands</country>
      <country code="TV" iso="798">Tuvalu</country>
      <country code="UG" iso="800">Uganda</country>
      <country code="UA" iso="804">Ukraine</country>
      <country code="AE" iso="784">United Arab Emirates</country>
      <country code="GB" iso="826">United Kingdom</country>
      <country code="US" iso="840">United States</country>
      <country code="UM" iso="581">United States Minor Outlying Islands</country>
      <country code="UY" iso="858">Uruguay</country>
      <country code="UZ" iso="860">Uzbekistan</country>
      <country code="VU" iso="548">Vanuatu</country>
      <country code="VA" iso="336">Vatican City State (Holy See)</country>
      <country code="VE" iso="862">Venezuela</country>
      <country code="VN" iso="704">Viet Nam</country>
      <country code="VG" iso="92">Virgin Islands (British)</country>
      <country code="VI" iso="850">Virgin Islands (U.S.)</country>
      <country code="WF" iso="876">Wallis And Futuna Islands</country>
      <country code="EH" iso="732">Western Sahara</country>
      <country code="YE" iso="887">Yemen</country>
      <country code="YU" iso="891">Yugoslavia</country>
      <country code="ZR" iso="180">Zaire</country>
      <country code="ZM" iso="894">Zambia</country>
      <country code="ZW" iso="716">Zimbabwe</country>

      <regions>
        <region code="US" requirePostalCode="false">
          <province name="Alabama" code="AL" />
          <province name="Alaska" code="AK" />
          <province name="Arizona" code="AZ" />
          <province name="Arkansas" code="AR" />
          <province name="California" code="CA" />
          <province name="Colorado" code="CO" />
          <province name="Connecticut" code="CT" />
          <province name="Delaware" code="DE" />
          <province name="Florida" code="FL" />
          <province name="Georgia" code="GA" />
          <province name="Hawaii" code="HI" />
          <province name="Idaho" code="ID" />
          <province name="Illinois" code="IL" />
          <province name="Indiana" code="IN" />
          <province name="Iowa" code="IA" />
          <province name="Kansas" code="KS" />
          <province name="Kentucky" code="KY" />
          <province name="Louisiana" code="LA" />
          <province name="Maine" code="ME" />
          <province name="Maryland" code="MD" />
          <province name="Massachusetts" code="MA" />
          <province name="Michigan" code="MI" />
          <province name="Minnesota" code="MN" />
          <province name="Mississippi" code="MS" />
          <province name="Missouri" code="MO" />
          <province name="Montana" code="MT" />
          <province name="Nebraska" code="NE" />
          <province name="Nevada" code="NV" />
          <province name="New Hampshire" code="NH" />
          <province name="New Jersey" code="NJ" />
          <province name="New Mexico" code="NM" />
          <province name="New York" code="NY" />
          <province name="North Carolina" code="NC" />
          <province name="North Dakota" code="ND" />
          <province name="Ohio" code="OH" />
          <province name="Oklahoma" code="OK" />
          <province name="Oregon" code="OR" />
          <province name="Pennsylvania" code="PA" />
          <province name="Rhode Island" code="RI" />
          <province name="South Carolina" code="SC" />
          <province name="South Dakota" code="SD" />
          <province name="Tennessee" code="TN" />
          <province name="Texas" code="TX" />
          <province name="Utah" code="UT" />
          <province name="Vermont" code="VT" />
          <province name="Virginia" code="VA" />
          <province name="Washington" code="WA" />
          <province name="West Virginia" code="WV" />
          <province name="Wisconsin" code="WI" />
          <province name="Wyoming" code="WY" />
          <province name="American Samoa" code="AS" />
          <province name="District of Columbia" code="DC" />
          <province name="Federated States of Micronesia" code="FM" />
          <province name="Guam" code="GU" />
          <province name="Marshall Islands" code="MH" />
          <province name="Northern Mariana Islands" code="MP" />
          <province name="Palau" code="PW" />
          <province name="Puerto Rico" code="PR" />
          <province name="Virgin Islands" code="VI" />
          <province name="Armed Forces - Africa, Canada, Europe" code="AE" />
          <province name="Armed Forces Americas" code="AA" />
          <province name="Armed Forces Pacific" code="AP" />
        </region>
        <region code="CA" requirePostalCode="false">
          <province name="Alberta" code="AB" />
          <province name="British Columbia" code="BC" />
          <province name="Manitoba" code="MB" />
          <province name="New Brunswick" code="NB" />
          <province name="Newfoundland and Labrador" code="NL" />
          <province name="Northwest Territories" code="NT" />
          <province name="Nova Scotia" code="NS" />
          <province name="Nunavut" code="NU" />
          <province name="Ontario" code="ON" />
          <province name="Prince Edward Island" code="PE" />
          <province name="Quebec" code="QC" />
          <province name="Saskatchewan" code="SK" />
          <province name="Yukon" code="YT" />
        </region>
      </regions>
    </countries>

  </merchello>
  
 

  
  <runtime>

  
       <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">

  
            <dependentAssembly>

  
                 <assemblyIdentity name="System.Web.WebPages" publicKeyToken="31bf3856ad364e35" culture="neutral" />

  
                 <bindingRedirect oldVersion="0.0.0.0-3.0.0.0" newVersion="3.0.0.0" />

  
            </dependentAssembly>

  
            <dependentAssembly>

  
                 <assemblyIdentity name="System.Web.Helpers" publicKeyToken="31bf3856ad364e35" culture="neutral" />

  
                 <bindingRedirect oldVersion="0.0.0.0-2.0.0.0" newVersion="2.0.0.0" />

  
            </dependentAssembly>

  
            <dependentAssembly>

  
                 <assemblyIdentity name="System.Web.WebPages.Razor" publicKeyToken="31bf3856ad364e35" culture="neutral" />

  
                 <bindingRedirect oldVersion="0.0.0.0-2.0.0.0" newVersion="2.0.0.0" />

  
            </dependentAssembly>

  
            <dependentAssembly>

  
                 <assemblyIdentity name="System.Web.Mvc" publicKeyToken="31bf3856ad364e35" culture="neutral" />

  
                 <bindingRedirect oldVersion="0.0.0.0-5.2.7.0" newVersion="5.2.7.0" />

  
            </dependentAssembly>

  
            <dependentAssembly>

  
                 <assemblyIdentity name="System.Net.Http" publicKeyToken="b03f5f7f11d50a3a" culture="neutral" />

  
                 <bindingRedirect oldVersion="0.0.0.0-4.0.0.0" newVersion="4.0.0.0" />

  
            </dependentAssembly>

  
            <dependentAssembly>

  
                 <assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" culture="neutral" />

  
                 <bindingRedirect oldVersion="0.0.0.0-12.0.0.0" newVersion="12.0.0.0" />

  
            </dependentAssembly>

  
            <dependentAssembly>

  
                 <assemblyIdentity name="Moq" publicKeyToken="69f491c39445e920" culture="neutral" />

  
                 <bindingRedirect oldVersion="0.0.0.0-4.2.1409.1722" newVersion="4.2.1409.1722" />

  
            </dependentAssembly>

  
            <dependentAssembly>

  
                 <assemblyIdentity name="nunit.framework" publicKeyToken="96d09a1eb7f44a77" culture="neutral" />

  
                 <bindingRedirect oldVersion="0.0.0.0-2.6.3.13283" newVersion="2.6.3.13283" />

  
            </dependentAssembly>

  
            <dependentAssembly>

  
                 <assemblyIdentity name="Microsoft.Owin" publicKeyToken="31bf3856ad364e35" culture="neutral" />

  
                 <bindingRedirect oldVersion="0.0.0.0-4.0.1.0" newVersion="4.0.1.0" />

  
            </dependentAssembly>

  
            <dependentAssembly>

  
                 <assemblyIdentity name="Microsoft.Owin.Security.OAuth" publicKeyToken="31bf3856ad364e35" culture="neutral" />

  
                 <bindingRedirect oldVersion="0.0.0.0-4.0.1.0" newVersion="4.0.1.0" />

  
            </dependentAssembly>

  
            <dependentAssembly>

  
                 <assemblyIdentity name="Microsoft.Owin.Security" publicKeyToken="31bf3856ad364e35" culture="neutral" />

  
                 <bindingRedirect oldVersion="0.0.0.0-4.0.1.0" newVersion="4.0.1.0" />

  
            </dependentAssembly>

  
            <dependentAssembly>

  
                 <assemblyIdentity name="Microsoft.Owin.Security.Cookies" publicKeyToken="31bf3856ad364e35" culture="neutral" />

  
                 <bindingRedirect oldVersion="0.0.0.0-4.0.1.0" newVersion="4.0.1.0" />

  
            </dependentAssembly>

  
            <dependentAssembly>

  
                 <assemblyIdentity name="System.Web.Http" publicKeyToken="31bf3856ad364e35" culture="neutral" />

  
                 <bindingRedirect oldVersion="0.0.0.0-5.2.7.0" newVersion="5.2.7.0" />

  
            </dependentAssembly>

  
            <dependentAssembly>

  
                 <assemblyIdentity name="System.Net.Http.Formatting" publicKeyToken="31bf3856ad364e35" culture="neutral" />

  
                 <bindingRedirect oldVersion="0.0.0.0-5.2.7.0" newVersion="5.2.7.0" />

  
            </dependentAssembly>

  
            <dependentAssembly>

  
                 <assemblyIdentity name="System.Data.SqlServerCe" publicKeyToken="89845dcd8080cc91" culture="neutral" />

  
                 <bindingRedirect oldVersion="0.0.0.0-4.0.0.1" newVersion="4.0.0.1" />

  
            </dependentAssembly>

  
            <dependentAssembly>

  
                 <assemblyIdentity name="log4net" publicKeyToken="669e0ddf0bb1aa2a" culture="neutral" />

  
                 <bindingRedirect oldVersion="0.0.0.0-2.0.8.0" newVersion="2.0.8.0" />

  
            </dependentAssembly>

  
       </assemblyBinding>

  
  </runtime>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" /></startup><system.data>
    <DbProviderFactories>
      <remove invariant="MySql.Data.MySqlClient" />
      <add name="MySQL Data Provider" invariant="MySql.Data.MySqlClient" description=".Net Framework Data Provider for MySQL" type="MySql.Data.MySqlClient.MySqlClientFactory, MySql.Data, Version=6.9.9.0, Culture=neutral, PublicKeyToken=c5687fc88969c44d" />
    </DbProviderFactories>
  </system.data></configuration>
