<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <section name="merchello" type="Merchello.Core.Configuration.Outline.MerchelloSection, Merchello.Core" />    
  </configSections>

  <connectionStrings>
      <!--add name="umbracoDbDSN" connectionString="server=moria.mindfly.biz;database=merchello_test;user id=merchelloTester;password=merchelloTester" providerName="System.Data.SqlClient" /-->
    <add name="umbracoDbDsn" connectionString="Data Source=|DataDirectory|\Merchello.sdf" providerName="System.Data.SqlServerCe.4.0" />
  </connectionStrings>

  <appSettings>
    <add key="merchelloConfigurationStatus" value="1.3.22" />
  </appSettings>

  <merchello defaultCountryCode="US">

    <settings>
      <setting alias="DefaultSkuSeparator" value="-" />

      <!-- 
    Overrides the Payment Method's IPaymentResponse ApproveOrderCreation indicating an order should always be created no matter
    if the payment has been collected or not. 
    -->
      <setting alias="AlwaysApproveOrderCreation" value="false" />

      <!--
    Setting introduced in version 1.3.0.  Value indicates the maximum number of days to store
    anonymous customer records.  After the number of days, a maintenance routine will remove the 
    records from the database.
    -->
      <setting alias="AnonymousCustomersMaxDays" value="7" />
      
    </settings>


    <!-- A comma delimited list of Umbraco MemberTypes to be considered as Merchello Customers -->
    <customer memberTypes="Customer" />
    
    <backoffice>
      <tree id="catalog" title="Catalog" icon="icon-barcode" routePath="merchello/merchello/ProductList/manage" visible="true" />
      <tree id="orders" title="Orders" icon="icon-receipt-dollar" routePath="merchello/merchello/OrderList/manage" visible="true" />
      <tree id="customers" title="Customers" icon="icon-user-glasses" routePath="merchello/merchello/CustomerList/manage" visible="true" />
      <tree id="reports" title="Reports" icon="icon-file-cabinet" routePath="merchello/merchello/Reports/manage" visible="true">
        <subTree>
          <tree id="salesOverTime" title="Sales Over Time" icon="icon-loading" routePath="merchello/merchello/SalesOverTime/manage" visible="true" />
          <tree id="salesByItem" title="Sales By Item" icon="icon-barcode" routePath="merchello/merchello/SalesByItem/manage" visible="true" />
          <tree id="taxesByDestination" title="Taxes By Destination" icon="icon-piggy-bank" routePath="merchello/merchello/TaxesByDestination/manage" visible="true" />
        </subTree>
      </tree>
      <tree id="settings" title="Settings" icon="icon-settings" routePath="merchello/merchello/Settings/manage" visible="true">
        <subTree>
          <tree id="shipping" title="Shipping" icon="icon-truck" routePath="merchello/merchello/Shipping/manage" visible="true" />
          <tree id="taxation" title="Taxation" icon="icon-piggy-bank" routePath="merchello/merchello/Taxation/manage" visible="true" />
          <tree id="payment" title="Payment" icon="icon-bill-dollar" routePath="merchello/merchello/Payment/manage" visible="true" />
          <tree id="notifications" title="Notifications" icon="icon-chat" routePath="merchello/merchello/Notifications/manage" visible="true" />
          <tree id="gateways" title="Gateway Providers" icon="icon-trafic" routePath="merchello/merchello/GatewayProviders/manage" visible="true" />
        </subTree>
      </tree>
    </backoffice>
    
    <strategies>
      <strategy alias="DefaultPackaging" type="Merchello.Core.Strategies.Packaging.DefaultWarehousePackagingStrategy, Merchello.Core" />
      <strategy alias="DefaultShipmentRateQuote" type="Merchello.Core.Gateways.Shipping.DefaultShipmentRateQuoteStrategy, Merchello.Core" />
      <strategy alias="DefaultInvoiceTaxRateQuote" type="Merchello.Core.Gateways.Taxation.FixedRate.FixedRateTaxCalculationStrategy, Merchello.Core" />
    </strategies>

    <taskChains>
      <taskChain alias="SalesPreparationInvoiceCreate">
        <tasks>
          <task type="Merchello.Core.Chains.InvoiceCreation.AddBillingInfoToInvoiceTask, Merchello.Core" />
          <task type="Merchello.Core.Chains.InvoiceCreation.ConvertItemCacheItemsToInvoiceItemsTask, Merchello.Core" />
          <task type="Merchello.Core.Chains.InvoiceCreation.ApplyTaxesToInvoiceTax, Merchello.Core" />
        </tasks>
      </taskChain>
    </taskChains>



    <!-- Introduced patternFormatter in version 1.1.1 -->
    <patternFormatter>

      <!-- patterns to search and replace can be 
          
          <replace alias="Company" pattern="{{Company}}" replacement="Mindfly Web Design Studio" replacementInMonitor="false" />
          -->

      <!--
          Depending on the model passed to the "Monitor" responsible for populating the replacements, some of these values will be empty.  For example,
          a MonitorModel that only contains shipment information will not be able to populate Billing information ...
          
          -->

      <!-- INVOICE -->
      <replace alias="InvoiceNumber" pattern="{{InvoiceNumber}}" />
      <replace alias="InvoiceDate" pattern="{{InvoiceDate}}" />

      <replace alias="InvoiceStatus" pattern="{{InvoiceStatus}}" />
      <replace alias="TotalPrice" pattern="{{TotalPrice}}" />

      <!-- ADDRESS -->
      <replace alias="BillToName" pattern="{{BillToName}}" />
      <replace alias="BillToAddress1" pattern="{{BillToAddress1}}" />
      <replace alias="BillToAddress2" pattern="{{BillToAddress2}}" />
      <replace alias="BillToLocality" pattern="{{BillToLocality}}" />
      <replace alias="BillToRegion" pattern="{{BillToRegion}}" />
      <replace alias="BillToPostalCode" pattern="{{BillToPostalCode}}" />
      <replace alias="BillToCountryCode" pattern="{{BillToName}}" />
      <replace alias="BillToEmail" pattern="{{BillToEmail}}" />
      <replace alias="BillToPhone" pattern="{{BillToPhone}}" />
      <replace alias="BillToCompany" pattern="{{BillToCompany}}" />

      <replace alias="ShippingAddress1" pattern="{{ShippingToAddress1}}" />
      <replace alias="ShippingAddress2" pattern="{{ShippingToAddress2}}" />
      <replace alias="ShippingLocality" pattern="{{ShippingToLocality}}" />
      <replace alias="ShippingRegion" pattern="{{ShippingToRegion}}" />
      <replace alias="ShippingPostalCode" pattern="{{ShippingToPostalCode}}" />
      <replace alias="ShippingCountryCode" pattern="{{ShippingToName}}" />
      <replace alias="ShippingEmail" pattern="{{ShippingToEmail}}" />
      <replace alias="ShippingPhone" pattern="{{ShippingToPhone}}" />
      <replace alias="ShippingCompany" pattern="{{ShippingToCompany}}" />
      <replace alias="ShippingName" pattern="{{ShippingToName}}" />

      <!-- ITERATING THROUGH LINE ITEMS -->


      <!-- LINE ITEMS
        these must be between the IterationStart[Invoice.Items] and IterationEnd[Invoice.Items] so they get repeated in the iteration -
        the pattern is then dynamically changed to
        
        Item.Sku.0 - Item.Name.0 - Item.Price.0 ...
        Item.Sku.1 - Item.Name.1 - Item.Price.1 ...
        Item.Sku.2 - Item.Name.2 - Item.Price.2 ...
        
        before the formatter performs it's replacements the message 
        -->
      <replace alias="LineItemSku" pattern="{{Item.Sku}}" />
      <replace alias="LineItemName" pattern="{{Item.Name}}" />
      <replace alias="LineItemUnitPrice" pattern="{{Item.UnitPrice}}" />
      <replace alias="LineItemQuantity" pattern="{{Item.Quantity}}" />
      <replace alias="LineItemTotalPrice" pattern="{{Item.TotalPrice}}" />

      <!-- PAYMENT -->
      <replace alias="PaymentMethodName" pattern="{{PaymentMethodName}}" />
      <replace alias="PaymentAmount" pattern="{{PaymentAmount}}" />
      <replace alias="PamentReferenceNumber" pattern="{{ReferenceNumber}}" />


    </patternFormatter>
    
    <typeFieldDefinitions>
      
      <!-- valid elements
        <basket />
        <shipMethod />
        <invoiceItem/>
        <paymentMethod/>
        <product />
        -->
    </typeFieldDefinitions>

    <!--    Country provinces are used by Shipping and Taxations providers  -->
    <regionalProvinces>
      <region code="US" requirePostalCode="false">
        <provinces>
          <province name="Alabama" code="AL" />
          <province name="Alaska" code="AK" />
          <province name="Arizona" code="AZ" />
          <province name="Arkansas" code="AR" />
          <province name="California" code="CA" />
          <province name="Colorado" code="CO" />
          <province name="Connecticut" code="CT" />
          <province name="Delaware" code="DE" />
          <province name="Florida" code="FL" />
          <province name="Georgia" code="GA" />
          <province name="Hawaii" code="HI" />
          <province name="Idaho" code="ID" />
          <province name="Illinois" code="IL" />
          <province name="Indiana" code="IN" />
          <province name="Iowa" code="IA" />
          <province name="Kansas" code="KS" />
          <province name="Kentucky" code="KY" />
          <province name="Louisiana" code="LA" />
          <province name="Maine" code="ME" />
          <province name="Maryland" code="MD" />
          <province name="Massachusetts" code="MA" />
          <province name="Michigan" code="MI" />
          <province name="Minnesota" code="MN" />
          <province name="Mississippi" code="MS" />
          <province name="Missouri" code="MO" />
          <province name="Montana" code="MT" />
          <province name="Nebraska" code="NE" />
          <province name="Nevada" code="NV" />
          <province name="New Hampshire" code="NH" />
          <province name="New Jersey" code="NJ" />
          <province name="New Mexico" code="NM" />
          <province name="New York" code="NY" />
          <province name="North Carolina" code="NC" />
          <province name="North Dakota" code="ND" />
          <province name="Ohio" code="OH" />
          <province name="Oklahoma" code="OK" />
          <province name="Oregon" code="OR" />
          <province name="Pennsylvania" code="PA" />
          <province name="Rhode Island" code="RI" />
          <province name="South Carolina" code="SC" />
          <province name="South Dakota" code="SD" />
          <province name="Tennessee" code="TN" />
          <province name="Texas" code="TX" />
          <province name="Utah" code="UT" />
          <province name="Vermont" code="VT" />
          <province name="Virginia" code="VA" />
          <province name="Washington" code="WA" />
          <province name="West Virginia" code="WV" />
          <province name="Wisconsin" code="WI" />
          <province name="Wyoming" code="WY" />
          <province name="American Samoa" code="AS" />
          <province name="District of Columbia" code="DC" />
          <province name="Federated States of Micronesia" code="FM" />
          <province name="Guam" code="GU" />
          <province name="Marshall Islands" code="MH" />
          <province name="Northern Mariana Islands" code="MP" />
          <province name="Palau" code="PW" />
          <province name="Puerto Rico" code="PR" />
          <province name="Virgin Islands" code="VI" />
          <province name="Armed Forces - Africa, Canada, Europe" code="AE" />
          <province name="Armed Forces Americas" code="AA" />
          <province name="Armed Forces Pacific" code="AP" />
        </provinces>
      </region>
      <region code="CA" requirePostalCode="false">
        <provinces>
          <province name="Alberta" code="AB" />
          <province name="British Columbia" code="BC" />
          <province name="Manitoba" code="MB" />
          <province name="New Brunswick" code="NB" />
          <province name="Newfoundland and Labrador" code="NL" />
          <province name="Northwest Territories" code="NT" />
          <province name="Nova Scotia" code="NS" />
          <province name="Nunavut" code="NU" />
          <province name="Ontario" code="ON" />
          <province name="Prince Edward Island" code="PE" />
          <province name="Quebec" code="QC" />
          <province name="Saskatchewan" code="SK" />
          <province name="Yukon" code="YT" />
        </provinces>
      </region>
    </regionalProvinces>

  </merchello>
  
 

  
  <runtime>

  
       <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">

  
            <dependentAssembly>

  
                 <assemblyIdentity name="System.Web.WebPages" publicKeyToken="31bf3856ad364e35" culture="neutral" />

  
                 <bindingRedirect oldVersion="0.0.0.0-2.0.0.0" newVersion="2.0.0.0" />

  
            </dependentAssembly>

  
            <dependentAssembly>

  
                 <assemblyIdentity name="System.Web.Helpers" publicKeyToken="31bf3856ad364e35" culture="neutral" />

  
                 <bindingRedirect oldVersion="0.0.0.0-2.0.0.0" newVersion="2.0.0.0" />

  
            </dependentAssembly>

  
            <dependentAssembly>

  
                 <assemblyIdentity name="System.Web.WebPages.Razor" publicKeyToken="31bf3856ad364e35" culture="neutral" />

  
                 <bindingRedirect oldVersion="0.0.0.0-2.0.0.0" newVersion="2.0.0.0" />

  
            </dependentAssembly>

  
            <dependentAssembly>

  
                 <assemblyIdentity name="System.Web.Mvc" publicKeyToken="31bf3856ad364e35" culture="neutral" />

  
                 <bindingRedirect oldVersion="0.0.0.0-4.0.0.0" newVersion="4.0.0.0" />

  
            </dependentAssembly>

  
            <dependentAssembly>

  
                 <assemblyIdentity name="System.Net.Http" publicKeyToken="b03f5f7f11d50a3a" culture="neutral" />

  
                 <bindingRedirect oldVersion="0.0.0.0-4.0.0.0" newVersion="4.0.0.0" />

  
            </dependentAssembly>

  
            <dependentAssembly>

  
                 <assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" culture="neutral" />

  
                 <bindingRedirect oldVersion="0.0.0.0-6.0.0.0" newVersion="6.0.0.0" />

  
            </dependentAssembly>

  
            <dependentAssembly>

  
                 <assemblyIdentity name="Moq" publicKeyToken="69f491c39445e920" culture="neutral" />

  
                 <bindingRedirect oldVersion="0.0.0.0-4.2.1409.1722" newVersion="4.2.1409.1722" />

  
            </dependentAssembly>

  
            <dependentAssembly>

  
                 <assemblyIdentity name="nunit.framework" publicKeyToken="96d09a1eb7f44a77" culture="neutral" />

  
                 <bindingRedirect oldVersion="0.0.0.0-2.6.3.13283" newVersion="2.6.3.13283" />

  
            </dependentAssembly>

  
       </assemblyBinding>

  
  </runtime>
</configuration>