<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE root[ 
<!ELEMENT CheckoutPageFolder ANY>
<!ATTLIST CheckoutPageFolder id ID #REQUIRED>
<!ELEMENT Convention ANY>
<!ATTLIST Convention id ID #REQUIRED>
<!ELEMENT Resource ANY>
<!ATTLIST Resource id ID #REQUIRED>
<!ELEMENT ResourceFolder ANY>
<!ATTLIST ResourceFolder id ID #REQUIRED>
<!ELEMENT RosettaBasePage ANY>
<!ATTLIST RosettaBasePage id ID #REQUIRED>
<!ELEMENT RosettaHomePage ANY>
<!ATTLIST RosettaHomePage id ID #REQUIRED>
<!ELEMENT RosettaListOfCategories ANY>
<!ATTLIST RosettaListOfCategories id ID #REQUIRED>
<!ELEMENT RosettaProductCategory ANY>
<!ATTLIST RosettaProductCategory id ID #REQUIRED>
<!ELEMENT RosettaProductPage ANY>
<!ATTLIST RosettaProductPage id ID #REQUIRED>
<!ELEMENT RosettaShoppingBasketPage ANY>
<!ATTLIST RosettaShoppingBasketPage id ID #REQUIRED>
<!ELEMENT RosettaStoreCheckoutPage ANY>
<!ATTLIST RosettaStoreCheckoutPage id ID #REQUIRED>
<!ELEMENT RosettaTextPage ANY>
<!ATTLIST RosettaTextPage id ID #REQUIRED>
<!ELEMENT TestProduct ANY>
<!ATTLIST TestProduct id ID #REQUIRED>

]>
<root id="-1">
  <RosettaHomePage id="1054" parentID="-1" level="1" creatorID="0" sortOrder="0" createDate="2014-05-09T14:33:51" updateDate="2014-06-10T15:14:11" nodeName="Home" urlName="home" path="-1,1054" isDoc="" nodeType="1053" creatorName="Rosetta Stone" writerName="jason" writerID="3" template="1052" nodeTypeAlias="RosettaHomePage">
    <umbracoNaviHide>0</umbracoNaviHide>
    <pageTitle><![CDATA[Rosetta Stone, The Merchello Learning Site]]></pageTitle>
    <bodyText><![CDATA[<p>We recommend that you <a href="http://github.com/Merchello/RosettaStone" target="_blank" title="Rosetta Stone Web Site">download the source code</a> for this sample site (a full install of Umbraco and Merchello) and begin to look through the pages both from Umbraco's back office, and from your favorite code editor. In addition to the brief setup information you'll find as you click through these pages, the code itself is commented and documented inline to help you get started.</p>
<p>If you have questions that aren't answered here, you can <a href="http://our.umbraco.org/projects/collaboration/merchello/merchello" target="_blank" title="Merchello Forums">post them to our Merchello community</a>.</p>
<p>We feel confident that you will love Merchello as much as we do -- and when you're ready, <a href="http://our.umbraco.org/projects/collaboration/merchello/merchello" target="_blank" title="Merchello Forums">find out more</a> about how you can become involved in Merchello's open source project!</p>
<p>Oh! To log into the <strong>back office</strong> of this sample site, try <strong>username "admin"</strong> and<strong> password "1234"</strong>. Have fun!</p>
<p>Thanks,<br />The Merchello Team.</p>]]></bodyText>
    <resources><![CDATA[1128,1132,1133]]></resources>
    <brief><![CDATA[<p>We've created this "Rosetta Stone" example web site to help developers and designers learn how to use <a href="http://www.merchello.com" target="_blank" title="Merchello Web Site">Merchello</a>, an <span>open source Umbraco e-commerce package. This site is meant to be a bare bones learning site, but if you want to see an example of what can be possible with Merchello, check out <a href="http://example.merchello.com" target="_blank" title="Merchello's Kitten Sample Site">the cutest sample site</a> you've ever seen.</span><a href="http://www.merchello.com" target="_blank" title="Merchello Web Site"><br /></a></p>
<p><span>Here are the latest versions of Umbraco and Merchello (not needed to run this sample site):<br /></span><a href="http://our.umbraco.org/download" target="_blank" title="Latest version of Umbraco">Umbraco Version 7.1.4</a> and <a href="http://our.umbraco.org/projects/collaboration/merchello" target="_blank" title="Latest version of Merchello">Merchello Version 1.2.0</a></p>]]></brief>
    <tagLine><![CDATA[Rosetta Stone Project => Working Documentation]]></tagLine>
    <cartPage>1062</cartPage>
    <checkoutStep1>1074</checkoutStep1>
    <RosettaListOfCategories id="1083" parentID="1054" level="2" creatorID="1" sortOrder="0" createDate="2014-05-20T15:04:11" updateDate="2014-06-10T15:14:11" nodeName="Catalog" urlName="catalog" path="-1,1054,1083" isDoc="" nodeType="1082" creatorName="admin" writerName="jason" writerID="3" template="1081" nodeTypeAlias="RosettaListOfCategories">
      <umbracoNaviHide>0</umbracoNaviHide>
      <pageTitle><![CDATA[Rosetta Stone Catalog]]></pageTitle>
      <instruction><![CDATA[<h2>How does Merchello know what your categories are, you ask?</h2>
<p>Well, technically speaking it doesn't. It's using the Umbraco content structure to iterate through children. Here's how we've set ours up:</p>
<ul>
<li>At the root of our site, we have one "Catalog Folder" document type, which only allows children of the document type "Category"</li>
<li>Beneath the Catalog folder, we create one "Category" content item (based on the template and document type of the same name) for each logical group of products. The "Category" document type allows children of the document type "Product"</li>
<li>And within each Category, there are as many "Product" content items as you'd like (based on the template and document type "Product"). View any product detail page in this site for more information on setting up products in Merchello</li>
</ul>
<p>And voila, an easy and socially acceptable e-commerce data structure: Catalog &gt; Categories &gt; Products.</p>]]></instruction>
      <RosettaProductCategory id="1065" parentID="1083" level="3" creatorID="1" sortOrder="1" createDate="2014-05-12T16:23:06" updateDate="2014-06-10T15:14:12" nodeName="Happy Beans" urlName="happy-beans" path="-1,1054,1083,1065" isDoc="" nodeType="1064" creatorName="admin" writerName="jason" writerID="3" template="1063" nodeTypeAlias="RosettaProductCategory">
        <umbracoNaviHide>0</umbracoNaviHide>
        <pageTitle><![CDATA[Happy Beans]]></pageTitle>
        <instruction><![CDATA[<div class="row">
<div class="col-lg-12">
<h3>How does Merchello know which products are in our categories?</h3>
<p>Well, technically speaking it doesn't. Once again we're using the Umbraco content structure to iterate through children.</p>
</div>
</div>
<div class="row">
<ul>
<li>In this case, we're looping through every "child" content item within our category.</li>
<li>It's that simple!</li>
</ul>
</div>]]></instruction>
        <categoryImage>1098</categoryImage>
        <RosettaProductPage id="1096" parentID="1065" level="4" creatorID="1" sortOrder="2" createDate="2014-05-23T23:40:47" updateDate="2014-12-12T09:51:11" nodeName="Awww Flower Bean" urlName="awww-flower-bean" path="-1,1054,1083,1065,1096" isDoc="" nodeType="1056" creatorName="admin" writerName="admin" writerID="1" template="1055" nodeTypeAlias="RosettaProductPage">
          <umbracoNaviHide>0</umbracoNaviHide>
          <pageTitle><![CDATA[Awww Flower Bean]]></pageTitle>
          <instruction><![CDATA[<div class="row">
<div class="col-lg-12">
<h2>How do you set up a new product in Merchello?</h2>
</div>
</div>
<div class="row">
<div class="col-lg-12">
<ul>
<li>Create your products in the Merchello catalog (Merchello button in the back office), and then create one Umbraco page for each product.</li>
<li>**If you are using product options, be sure to press "Update" to create multiple variants for your product. This allows you to individually manage price, inventory, etc.</li>
<li>If you want to categorize your products, organize your Umbraco product pages into Folders. See our view RosettaProductCategory.cshtml for reference.</li>
<li>Once you have a Merchello product and an Umbraco page for each item you want to sell, you link the two by making a field in your Umbraco "product page" document type called "MerchelloProduct." The data type should be "Merchello Product."</li>
<li>As you're editing the Umbraco content page, use your Merchello Product picker to select the corresponding Merchello item you've created.</li>
<li>That item is now linked up -- you have all the power of Umbraco's content management (images, HTML, you know the rest!) linked up to the e-commerce of Merchello.</li>
</ul>
</div>
</div>]]></instruction>
          <productName><![CDATA[Awww Flower Bean]]></productName>
          <productDescription><![CDATA[<p>Awww, that is so sweet!</p>]]></productDescription>
          <productImage>1095</productImage>
          <merchelloProduct><![CDATA[b33a4530-9c66-432c-9ceb-426939f327fd]]></merchelloProduct>
        </RosettaProductPage>
        <RosettaProductPage id="1100" parentID="1065" level="4" creatorID="1" sortOrder="3" createDate="2014-05-23T23:44:49" updateDate="2014-11-03T08:52:56" nodeName="Chatting Beans" urlName="chatting-beans" path="-1,1054,1083,1065,1100" isDoc="" nodeType="1056" creatorName="admin" writerName="admin" writerID="1" template="1055" nodeTypeAlias="RosettaProductPage">
          <umbracoNaviHide>0</umbracoNaviHide>
          <pageTitle><![CDATA[Chatting Beans]]></pageTitle>
          <instruction><![CDATA[<div class="row">
<div class="col-lg-12">
<h2>How do you set up a new product in Merchello?</h2>
</div>
</div>
<div class="row">
<div class="col-lg-12">
<ul>
<li>Create your products in the Merchello catalog (Merchello button in the back office), and then create one Umbraco page for each product.</li>
<li>**If you are using product options, be sure to press "Update" to create multiple variants for your product. This allows you to individually manage price, inventory, etc.</li>
<li>If you want to categorize your products, organize your Umbraco product pages into Folders. See our view RosettaProductCategory.cshtml for reference.</li>
<li>Once you have a Merchello product and an Umbraco page for each item you want to sell, you link the two by making a field in your Umbraco "product page" document type called "MerchelloProduct." The data type should be "Merchello Product."</li>
<li>As you're editing the Umbraco content page, use your Merchello Product picker to select the corresponding Merchello item you've created.</li>
<li>That item is now linked up -- you have all the power of Umbraco's content management (images, HTML, you know the rest!) linked up to the e-commerce of Merchello.</li>
</ul>
</div>
</div>]]></instruction>
          <productName><![CDATA[Chatting Beans]]></productName>
          <productDescription><![CDATA[<p>What did one bean say to the other bean? How you bean?</p>]]></productDescription>
          <productImage>1099</productImage>
          <merchelloProduct><![CDATA[8b5e59c1-d183-4d5d-85c6-61c782aa3221]]></merchelloProduct>
        </RosettaProductPage>
        <RosettaProductPage id="1106" parentID="1065" level="4" creatorID="1" sortOrder="3" createDate="2014-05-24T00:22:26" updateDate="2014-11-03T08:58:38" nodeName="Dancing Beans" urlName="dancing-beans" path="-1,1054,1083,1065,1106" isDoc="" nodeType="1056" creatorName="admin" writerName="admin" writerID="1" template="1055" nodeTypeAlias="RosettaProductPage">
          <umbracoNaviHide>0</umbracoNaviHide>
          <pageTitle><![CDATA[Dancing Beans]]></pageTitle>
          <instruction><![CDATA[<div class="row">
<div class="col-lg-12">
<h2>How do you set up a new product in Merchello?</h2>
</div>
</div>
<div class="row">
<div class="col-lg-12">
<ul>
<li>Create your products in the Merchello catalog (Merchello button in the back office), and then create one Umbraco page for each product.</li>
<li>**If you are using product options, be sure to press "Update" to create multiple variants for your product. This allows you to individually manage price, inventory, etc.</li>
<li>If you want to categorize your products, organize your Umbraco product pages into Folders. See our view RosettaProductCategory.cshtml for reference.</li>
<li>Once you have a Merchello product and an Umbraco page for each item you want to sell, you link the two by making a field in your Umbraco "product page" document type called "MerchelloProduct." The data type should be "Merchello Product."</li>
<li>As you're editing the Umbraco content page, use your Merchello Product picker to select the corresponding Merchello item you've created.</li>
<li>That item is now linked up -- you have all the power of Umbraco's content management (images, HTML, you know the rest!) linked up to the e-commerce of Merchello.</li>
</ul>
</div>
</div>]]></instruction>
          <productName><![CDATA[Dancing Beans]]></productName>
          <productDescription><![CDATA[<p>A dancing bean is a happy bean.</p>]]></productDescription>
          <productImage>1105</productImage>
          <merchelloProduct><![CDATA[8ed6454d-ba64-46dd-8602-cd3ff81db6a4]]></merchelloProduct>
        </RosettaProductPage>
      </RosettaProductCategory>
      <RosettaProductCategory id="1066" parentID="1083" level="3" creatorID="1" sortOrder="2" createDate="2014-05-14T19:40:36" updateDate="2014-06-10T15:14:12" nodeName="Sad Beans" urlName="sad-beans" path="-1,1054,1083,1066" isDoc="" nodeType="1064" creatorName="admin" writerName="jason" writerID="3" template="1063" nodeTypeAlias="RosettaProductCategory">
        <umbracoNaviHide>0</umbracoNaviHide>
        <pageTitle><![CDATA[Sad Beans]]></pageTitle>
        <instruction><![CDATA[<div class="row">
<div class="col-lg-12">
<h3>How does Merchello know which products are in our categories?</h3>
<p>Well, technically speaking it doesn't. Once again we're using the Umbraco content structure to iterate through children.</p>
</div>
</div>
<div class="row">
<ul>
<li>In this case, we're looping through every "child" content item within our category.</li>
<li>It's that simple!</li>
</ul>
</div>]]></instruction>
        <categoryImage>1109</categoryImage>
        <RosettaProductPage id="1102" parentID="1066" level="4" creatorID="1" sortOrder="2" createDate="2014-05-24T00:04:45" updateDate="2014-11-03T08:58:55" nodeName="Uh Oh Computer Bean" urlName="uh-oh-computer-bean" path="-1,1054,1083,1066,1102" isDoc="" nodeType="1056" creatorName="admin" writerName="admin" writerID="1" template="1055" nodeTypeAlias="RosettaProductPage">
          <umbracoNaviHide>0</umbracoNaviHide>
          <pageTitle><![CDATA[Uh Oh Computer Bean]]></pageTitle>
          <instruction><![CDATA[<div class="row">
<div class="col-lg-12">
<h2>How do you set up a new product in Merchello?</h2>
</div>
</div>
<div class="row">
<div class="col-lg-12">
<ul>
<li>Create your products in the Merchello catalog (Merchello button in the back office), and then create one Umbraco page for each product.</li>
<li>**If you are using product options, be sure to press "Update" to create multiple variants for your product. This allows you to individually manage price, inventory, etc.</li>
<li>If you want to categorize your products, organize your Umbraco product pages into Folders. See our view RosettaProductCategory.cshtml for reference.</li>
<li>Once you have a Merchello product and an Umbraco page for each item you want to sell, you link the two by making a field in your Umbraco "product page" document type called "MerchelloProduct." The data type should be "Merchello Product."</li>
<li>As you're editing the Umbraco content page, use your Merchello Product picker to select the corresponding Merchello item you've created.</li>
<li>That item is now linked up -- you have all the power of Umbraco's content management (images, HTML, you know the rest!) linked up to the e-commerce of Merchello.</li>
</ul>
</div>
</div>]]></instruction>
          <productName><![CDATA[Uh Oh Computer Bean]]></productName>
          <productDescription><![CDATA[<p>Uh, oh, it was not a good technology day for this bean.</p>]]></productDescription>
          <productImage>1101</productImage>
          <merchelloProduct><![CDATA[ba89aa8f-bd7a-44f0-a3d8-82d2deb6401e]]></merchelloProduct>
        </RosettaProductPage>
        <RosettaProductPage id="1104" parentID="1066" level="4" creatorID="1" sortOrder="3" createDate="2014-05-24T00:19:02" updateDate="2014-11-03T08:59:13" nodeName="Stubbed Toe Bean" urlName="stubbed-toe-bean" path="-1,1054,1083,1066,1104" isDoc="" nodeType="1056" creatorName="admin" writerName="admin" writerID="1" template="1055" nodeTypeAlias="RosettaProductPage">
          <umbracoNaviHide>0</umbracoNaviHide>
          <pageTitle><![CDATA[Stubbed Toe Bean]]></pageTitle>
          <instruction><![CDATA[<div class="row">
<div class="col-lg-12">
<h2>How do you set up a new product in Merchello?</h2>
</div>
</div>
<div class="row">
<div class="col-lg-12">
<ul>
<li>Create your products in the Merchello catalog (Merchello button in the back office), and then create one Umbraco page for each product.</li>
<li>**If you are using product options, be sure to press "Update" to create multiple variants for your product. This allows you to individually manage price, inventory, etc.</li>
<li>If you want to categorize your products, organize your Umbraco product pages into Folders. See our view RosettaProductCategory.cshtml for reference.</li>
<li>Once you have a Merchello product and an Umbraco page for each item you want to sell, you link the two by making a field in your Umbraco "product page" document type called "MerchelloProduct." The data type should be "Merchello Product."</li>
<li>As you're editing the Umbraco content page, use your Merchello Product picker to select the corresponding Merchello item you've created.</li>
<li>That item is now linked up -- you have all the power of Umbraco's content management (images, HTML, you know the rest!) linked up to the e-commerce of Merchello.</li>
</ul>
</div>
</div>]]></instruction>
          <productName><![CDATA[Stubbed Toe Bean]]></productName>
          <productDescription><![CDATA[<p>DARN IT that hurt like a slew of special characters!</p>]]></productDescription>
          <productImage>1103</productImage>
          <merchelloProduct><![CDATA[5738e71e-0e89-4fcf-9e52-c8ff4c5a9b8a]]></merchelloProduct>
        </RosettaProductPage>
        <RosettaProductPage id="1067" parentID="1066" level="4" creatorID="1" sortOrder="4" createDate="2014-05-14T19:43:31" updateDate="2014-11-03T08:59:25" nodeName="Busy Bean" urlName="busy-bean" path="-1,1054,1083,1066,1067" isDoc="" nodeType="1056" creatorName="admin" writerName="admin" writerID="1" template="1055" nodeTypeAlias="RosettaProductPage">
          <umbracoNaviHide>0</umbracoNaviHide>
          <pageTitle><![CDATA[Busy Bean]]></pageTitle>
          <instruction><![CDATA[<div class="row">
<div class="col-lg-12">
<h2>How do you set up a new product in Merchello?</h2>
</div>
</div>
<div class="row">
<div class="col-lg-12">
<ul>
<li>Create your products in the Merchello catalog (Merchello button in the back office), and then create one Umbraco page for each product.</li>
<li>**If you are using product options, be sure to press "Update" to create multiple variants for your product. This allows you to individually manage price, inventory, etc.</li>
<li>If you want to categorize your products, organize your Umbraco product pages into Folders. See our view RosettaProductCategory.cshtml for reference.</li>
<li>Once you have a Merchello product and an Umbraco page for each item you want to sell, you link the two by making a field in your Umbraco "product page" document type called "MerchelloProduct." The data type should be "Merchello Product."</li>
<li>As you're editing the Umbraco content page, use your Merchello Product picker to select the corresponding Merchello item you've created.</li>
<li>That item is now linked up -- you have all the power of Umbraco's content management (images, HTML, you know the rest!) linked up to the e-commerce of Merchello.</li>
</ul>
</div>
</div>]]></instruction>
          <productName><![CDATA[Busy Bean]]></productName>
          <productDescription><![CDATA[<p>Such a busy, busy bean.</p>]]></productDescription>
          <productImage>1097</productImage>
          <merchelloProduct><![CDATA[e4fba99b-952a-4f34-a060-d98a98bd6908]]></merchelloProduct>
        </RosettaProductPage>
        <RosettaProductPage id="1070" parentID="1066" level="4" creatorID="1" sortOrder="5" createDate="2014-05-14T19:59:17" updateDate="2014-11-03T08:59:40" nodeName="Celebrating Beans" urlName="celebrating-beans" path="-1,1054,1083,1066,1070" isDoc="" nodeType="1056" creatorName="admin" writerName="admin" writerID="1" template="1055" nodeTypeAlias="RosettaProductPage">
          <umbracoNaviHide>0</umbracoNaviHide>
          <pageTitle><![CDATA[Celebrating Beans]]></pageTitle>
          <instruction><![CDATA[<div class="row">
<div class="col-lg-12">
<h2>How do you set up a new product in Merchello?</h2>
</div>
</div>
<div class="row">
<div class="col-lg-12">
<ul>
<li>Create your products in the Merchello catalog (Merchello button in the back office), and then create one Umbraco page for each product.</li>
<li>**If you are using product options, be sure to press "Update" to create multiple variants for your product. This allows you to individually manage price, inventory, etc.</li>
<li>If you want to categorize your products, organize your Umbraco product pages into Folders. See our view RosettaProductCategory.cshtml for reference.</li>
<li>Once you have a Merchello product and an Umbraco page for each item you want to sell, you link the two by making a field in your Umbraco "product page" document type called "MerchelloProduct." The data type should be "Merchello Product."</li>
<li>As you're editing the Umbraco content page, use your Merchello Product picker to select the corresponding Merchello item you've created.</li>
<li>That item is now linked up -- you have all the power of Umbraco's content management (images, HTML, you know the rest!) linked up to the e-commerce of Merchello.</li>
</ul>
</div>
</div>]]></instruction>
          <productName><![CDATA[Celebrating Beans]]></productName>
          <productDescription><![CDATA[<p>Everybody loves a party!</p>]]></productDescription>
          <productImage>1098</productImage>
          <merchelloProduct><![CDATA[ae9abab6-83a0-4d59-bdfd-ce249f9ef877]]></merchelloProduct>
        </RosettaProductPage>
      </RosettaProductCategory>
      <RosettaProductCategory id="1089" parentID="1083" level="3" creatorID="1" sortOrder="2" createDate="2014-05-22T17:07:19" updateDate="2014-06-10T15:14:12" nodeName="Confused Beans" urlName="confused-beans" path="-1,1054,1083,1089" isDoc="" nodeType="1064" creatorName="admin" writerName="jason" writerID="3" template="1063" nodeTypeAlias="RosettaProductCategory">
        <umbracoNaviHide>0</umbracoNaviHide>
        <pageTitle><![CDATA[Confused Beans]]></pageTitle>
        <instruction><![CDATA[<div class="row">
<div class="col-lg-12">
<h3>How does Merchello know which products are in our categories?</h3>
<p>Well, technically speaking it doesn't. Once again we're using the Umbraco content structure to iterate through children.</p>
</div>
</div>
<div class="row">
<ul>
<li>In this case, we're looping through every "child" content item within our category.</li>
<li>It's that simple!</li>
</ul>
</div>]]></instruction>
        <categoryImage>1110</categoryImage>
        <RosettaProductPage id="1094" parentID="1089" level="4" creatorID="1" sortOrder="0" createDate="2014-05-23T23:37:53" updateDate="2014-11-03T08:59:58" nodeName="Mad and Befuddled Bean Man" urlName="mad-and-befuddled-bean-man" path="-1,1054,1083,1089,1094" isDoc="" nodeType="1056" creatorName="admin" writerName="admin" writerID="1" template="1055" nodeTypeAlias="RosettaProductPage">
          <umbracoNaviHide>0</umbracoNaviHide>
          <pageTitle><![CDATA[Confused Bean Man]]></pageTitle>
          <instruction><![CDATA[<div class="row">
<div class="col-lg-12">
<h2>How do you set up a new product in Merchello?</h2>
</div>
</div>
<div class="row">
<div class="col-lg-12">
<ul>
<li>Create your products in the Merchello catalog (Merchello button in the back office), and then create one Umbraco page for each product.</li>
<li>**If you are using product options, be sure to press "Update" to create multiple variants for your product. This allows you to individually manage price, inventory, etc.</li>
<li>If you want to categorize your products, organize your Umbraco product pages into Folders. See our view RosettaProductCategory.cshtml for reference.</li>
<li>Once you have a Merchello product and an Umbraco page for each item you want to sell, you link the two by making a field in your Umbraco "product page" document type called "MerchelloProduct." The data type should be "Merchello Product."</li>
<li>As you're editing the Umbraco content page, use your Merchello Product picker to select the corresponding Merchello item you've created.</li>
<li>That item is now linked up -- you have all the power of Umbraco's content management (images, HTML, you know the rest!) linked up to the e-commerce of Merchello.</li>
</ul>
</div>
</div>]]></instruction>
          <productName><![CDATA[Confused Bean Man]]></productName>
          <productDescription><![CDATA[<p>Now... where did I leave my keys, again?</p>]]></productDescription>
          <productImage>1103</productImage>
          <merchelloProduct><![CDATA[2f2d9290-84c7-4c1e-a9d7-23e0c70c1a46]]></merchelloProduct>
        </RosettaProductPage>
        <RosettaProductPage id="1057" parentID="1089" level="4" creatorID="0" sortOrder="1" createDate="2014-05-09T14:37:48" updateDate="2014-11-03T09:00:09" nodeName="Bean With Box" urlName="bean-with-box" path="-1,1054,1083,1089,1057" isDoc="" nodeType="1056" creatorName="Rosetta Stone" writerName="admin" writerID="1" template="1055" nodeTypeAlias="RosettaProductPage">
          <umbracoNaviHide>0</umbracoNaviHide>
          <pageTitle><![CDATA[Bean With Box]]></pageTitle>
          <instruction><![CDATA[<div class="row">
<div class="col-lg-12">
<h2>How do you set up a new product in Merchello?</h2>
</div>
</div>
<div class="row">
<div class="col-lg-12">
<ul>
<li>Create your products in the Merchello catalog (Merchello button in the back office), and then create one Umbraco page for each product.</li>
<li>**If you are using product options, be sure to press "Update" to create multiple variants for your product. This allows you to individually manage price, inventory, etc.</li>
<li>If you want to categorize your products, organize your Umbraco product pages into Folders. See our view RosettaProductCategory.cshtml for reference.</li>
<li>Once you have a Merchello product and an Umbraco page for each item you want to sell, you link the two by making a field in your Umbraco "product page" document type called "MerchelloProduct." The data type should be "Merchello Product."</li>
<li>As you're editing the Umbraco content page, use your Merchello Product picker to select the corresponding Merchello item you've created.</li>
<li>That item is now linked up -- you have all the power of Umbraco's content management (images, HTML, you know the rest!) linked up to the e-commerce of Merchello.</li>
</ul>
</div>
</div>]]></instruction>
          <productName><![CDATA[Bean With Box]]></productName>
          <productDescription><![CDATA[<p><span>I mean, really. Why read the directions?</span></p>]]></productDescription>
          <productImage>1090</productImage>
          <merchelloProduct><![CDATA[4c8897c0-3e06-4490-8c59-a88cb0530070]]></merchelloProduct>
        </RosettaProductPage>
      </RosettaProductCategory>
    </RosettaListOfCategories>
    <RosettaStoreCheckoutPage id="1062" parentID="1054" level="2" creatorID="1" sortOrder="1" createDate="2014-05-12T16:12:27" updateDate="2014-06-10T15:14:11" nodeName="Basket" urlName="basket" path="-1,1054,1062" isDoc="" nodeType="1059" creatorName="admin" writerName="jason" writerID="3" template="1058" nodeTypeAlias="RosettaStoreCheckoutPage">
      <umbracoNaviHide>0</umbracoNaviHide>
      <pageTitle><![CDATA[Your Basket]]></pageTitle>
      <instruction><![CDATA[<h3>Update Items in Your Basket</h3>
<p>The basket allows you to update order quantities and remove items from your basket by pressing the "x" to delete. Press "checkout" to proceed.</p>]]></instruction>
      <instructionHeading><![CDATA[The Basket or Cart]]></instructionHeading>
    </RosettaStoreCheckoutPage>
    <CheckoutPageFolder id="1073" parentID="1054" level="2" creatorID="1" sortOrder="2" createDate="2014-05-20T14:56:41" updateDate="2014-06-10T15:14:12" nodeName="Checkout" urlName="checkout" path="-1,1054,1073" isDoc="" nodeType="1072" creatorName="admin" writerName="jason" writerID="3" template="1058" nodeTypeAlias="CheckoutPageFolder">
      <umbracoNaviHide>1</umbracoNaviHide>
      <RosettaStoreCheckoutPage id="1074" parentID="1073" level="3" creatorID="1" sortOrder="0" createDate="2014-05-20T14:58:01" updateDate="2014-06-10T15:14:11" nodeName="Checkout 1 - Shipping Address" urlName="checkout-1-shipping-address" path="-1,1054,1073,1074" isDoc="" nodeType="1059" creatorName="admin" writerName="jason" writerID="3" template="1115" nodeTypeAlias="RosettaStoreCheckoutPage">
        <umbracoNaviHide>0</umbracoNaviHide>
        <pageTitle><![CDATA[Checkout 1 - Shipping Address]]></pageTitle>
        <instruction><![CDATA[<h2>Why do we need the shipping address at this point?</h2>
<p>We need to get the customer's shipping address so that we can provide quotes for shipping.  </p>
<p>Quotes for shipping are usually based on the following details:</p>
<ul>
<li>The origin (where the order is being shipped from)</li>
<li>The destination (where the order is being shipped to)</li>
<li>The weight (or sometimes size) of the package to be shipped</li>
<li>And finally the shipping method - how it is to be shipped, and by what carrier</li>
</ul>]]></instruction>
        <instructionHeading><![CDATA[Checkout Step 1]]></instructionHeading>
        <instructionTagLine><![CDATA[Get the customer's shipping address]]></instructionTagLine>
        <serverSide><![CDATA[<p>A description of here.</p>]]></serverSide>
      </RosettaStoreCheckoutPage>
      <RosettaStoreCheckoutPage id="1075" parentID="1073" level="3" creatorID="1" sortOrder="1" createDate="2014-05-20T14:58:28" updateDate="2014-06-10T15:14:11" nodeName="Checkout 2 - Shipping Quotes" urlName="checkout-2-shipping-quotes" path="-1,1054,1073,1075" isDoc="" nodeType="1059" creatorName="admin" writerName="jason" writerID="3" template="1118" nodeTypeAlias="RosettaStoreCheckoutPage">
        <umbracoNaviHide>0</umbracoNaviHide>
        <pageTitle><![CDATA[Checkout 2 - Shipping Quotes]]></pageTitle>
        <instruction><![CDATA[<h2>How can I change the shipping settings?</h2>
<p>The choices you see in the shipment drop-down will depend upon how you've set up your shipping methods and warehouse in the back office under Merchello &gt; Settings &gt; Shipping.</p>
<p>This is one opportunity for you developers out there -- if there's a shipping provider you want that you don't already see here, you can program your own!</p>]]></instruction>
        <instructionHeading><![CDATA[Shipping Rate Quotes]]></instructionHeading>
        <instructionTagLine><![CDATA[We want to allow the customer to choose how they want things shipped if possible]]></instructionTagLine>
      </RosettaStoreCheckoutPage>
      <RosettaStoreCheckoutPage id="1076" parentID="1073" level="3" creatorID="1" sortOrder="2" createDate="2014-05-20T14:59:09" updateDate="2014-06-10T15:14:11" nodeName="Checkout 3 - Select Payment Method" urlName="checkout-3-select-payment-method" path="-1,1054,1073,1076" isDoc="" nodeType="1059" creatorName="admin" writerName="jason" writerID="3" template="1119" nodeTypeAlias="RosettaStoreCheckoutPage">
        <umbracoNaviHide>0</umbracoNaviHide>
        <pageTitle><![CDATA[Checkout 3 - Select Payment Method]]></pageTitle>
        <instruction><![CDATA[<h2>How can I change the payment method settings?</h2>
<p>The choices you see in the drop-down will depend upon how you've set up your payment methods in the back office under Merchello &gt; Settings &gt; Payment.</p>
<p>This is one opportunity for you developers out there -- if there's a payment method provider you want that you don't already see here, you can program your own!</p>]]></instruction>
        <instructionHeading><![CDATA[Select Payment Method]]></instructionHeading>
        <instructionTagLine><![CDATA[The customer can choose their payment method, based on available choices]]></instructionTagLine>
      </RosettaStoreCheckoutPage>
      <RosettaStoreCheckoutPage id="1077" parentID="1073" level="3" creatorID="1" sortOrder="3" createDate="2014-05-20T15:00:02" updateDate="2014-06-10T15:14:11" nodeName="Checkout 4 - Customer Confirms Intent To Order" urlName="checkout-4-customer-confirms-intent-to-order" path="-1,1054,1073,1077" isDoc="" nodeType="1059" creatorName="admin" writerName="jason" writerID="3" template="1120" nodeTypeAlias="RosettaStoreCheckoutPage">
        <umbracoNaviHide>0</umbracoNaviHide>
        <pageTitle><![CDATA[Checkout 4 - Confirmation and Invoice]]></pageTitle>
        <instructionHeading><![CDATA[Customer Confirmation]]></instructionHeading>
        <instructionTagLine><![CDATA[Customer confirms order details and places order]]></instructionTagLine>
      </RosettaStoreCheckoutPage>
      <RosettaStoreCheckoutPage id="1078" parentID="1073" level="3" creatorID="1" sortOrder="4" createDate="2014-05-20T15:00:21" updateDate="2014-06-10T15:14:12" nodeName="Checkout 5 - Customer Receipt" urlName="checkout-5-customer-receipt" path="-1,1054,1073,1078" isDoc="" nodeType="1059" creatorName="admin" writerName="jason" writerID="3" template="1121" nodeTypeAlias="RosettaStoreCheckoutPage">
        <umbracoNaviHide>0</umbracoNaviHide>
        <pageTitle><![CDATA[Checkout 5 - Customer Receipt]]></pageTitle>
        <serverSide><![CDATA[<p>A description of here.</p>]]></serverSide>
      </RosettaStoreCheckoutPage>
    </CheckoutPageFolder>
    <RosettaTextPage id="1138" parentID="1054" level="2" creatorID="1" sortOrder="3" createDate="2014-05-31T11:45:52" updateDate="2014-06-10T15:14:11" nodeName="Conventions" urlName="conventions" path="-1,1054,1138" isDoc="" nodeType="1137" creatorName="admin" writerName="jason" writerID="3" template="1145" nodeTypeAlias="RosettaTextPage">
      <umbracoNaviHide>1</umbracoNaviHide>
      <Convention id="1149" parentID="1138" level="3" creatorID="1" sortOrder="0" createDate="2014-05-31T12:11:35" updateDate="2014-06-10T15:14:12" nodeName="List of views" urlName="list-of-views" path="-1,1054,1138,1149" isDoc="" nodeType="1147" creatorName="admin" writerName="jason" writerID="3" template="0" nodeTypeAlias="Convention">
        <bodyText><![CDATA[<p>At the bottom of each page in this site, you will find a list of every MVC view (or partial) used in it's rendering.</p>
<p>Each view listed, attempts to describe it's purpose and if/how it is related to Merchello.</p>]]></bodyText>
        <example><![CDATA[<div class="panel panel-info">
<div class="panel-heading">
<h3 class="panel-title">Views used in this page</h3>
</div>
</div>]]></example>
        <category>26</category>
      </Convention>
    </RosettaTextPage>
    <RosettaTextPage id="1171" parentID="1054" level="2" creatorID="1" sortOrder="4" createDate="2014-06-08T09:52:10" updateDate="2014-06-10T15:14:11" nodeName="Something is not right here..." urlName="something-is-not-right-here" path="-1,1054,1171" isDoc="" nodeType="1137" creatorName="admin" writerName="jason" writerID="3" template="1136" nodeTypeAlias="RosettaTextPage">
      <umbracoNaviHide>1</umbracoNaviHide>
      <bodyText><![CDATA[<p>So sorry, we aren't sure what's going on here but perhaps refreshing the cache or examine indexes will help.</p>
<p> <img style="width: 500px; height: 436.88118811881185px;" src="/media/1022/screenshot-2014-06-08-094249.png?width=500&amp;height=436.88118811881185" alt="skipping-through-flowers-bean" rel="1172" /></p>]]></bodyText>
    </RosettaTextPage>
  </RosettaHomePage>
  <ResourceFolder id="1135" parentID="-1" level="1" creatorID="1" sortOrder="1" createDate="2014-05-31T11:10:59" updateDate="2014-05-31T11:11:03" nodeName="Resources" urlName="resources" path="-1,1135" isDoc="" nodeType="1126" creatorName="admin" writerName="admin" writerID="1" template="0" nodeTypeAlias="ResourceFolder">
    <umbracoNaviHide>0</umbracoNaviHide>
    <Resource id="1128" parentID="1135" level="2" creatorID="1" sortOrder="1" createDate="2014-05-31T10:23:15" updateDate="2014-06-02T16:04:03" nodeName="The Merchello Package" urlName="the-merchello-package" path="-1,1135,1128" isDoc="" nodeType="1125" creatorName="admin" writerName="admin" writerID="1" template="0" nodeTypeAlias="Resource">
      <thumbnail>1124</thumbnail>
      <brief><![CDATA[The Merchello package is available on Our Umbraco.]]></brief>
      <linkUrl><![CDATA[http://our.umbraco.org/projects/collaboration/merchello]]></linkUrl>
      <buttonLabel><![CDATA[Download]]></buttonLabel>
      <iconClass><![CDATA[fa fa-github]]></iconClass>
      <buttonClass><![CDATA[btn btn-github]]></buttonClass>
    </Resource>
    <Resource id="1132" parentID="1135" level="2" creatorID="1" sortOrder="2" createDate="2014-05-31T10:37:16" updateDate="2014-06-02T16:04:06" nodeName="Merchello Issue Tracker" urlName="merchello-issue-tracker" path="-1,1135,1132" isDoc="" nodeType="1125" creatorName="admin" writerName="admin" writerID="1" template="0" nodeTypeAlias="Resource">
      <thumbnail>1130</thumbnail>
      <brief><![CDATA[Get involved by reporting and discussing issues or requesting features]]></brief>
      <linkUrl><![CDATA[http://issues.merchello.com/youtrack/issues/M]]></linkUrl>
      <buttonLabel><![CDATA[YouTrack Dashboard]]></buttonLabel>
    </Resource>
    <Resource id="1133" parentID="1135" level="2" creatorID="1" sortOrder="3" createDate="2014-05-31T10:39:44" updateDate="2014-06-02T16:04:09" nodeName="Merchello on GitHub" urlName="merchello-on-github" path="-1,1135,1133" isDoc="" nodeType="1125" creatorName="admin" writerName="admin" writerID="1" template="0" nodeTypeAlias="Resource">
      <thumbnail>1131</thumbnail>
      <brief><![CDATA[Ready to code?  You can find the source code on GitHub and we welcome contributions.]]></brief>
      <linkUrl><![CDATA[https://github.com/Merchello/Merchello]]></linkUrl>
      <buttonLabel><![CDATA[Source Code]]></buttonLabel>
    </Resource>
  </ResourceFolder>
</root>