<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE root[ 
<!ELEMENT BazaarAccount ANY>
<!ATTLIST BazaarAccount id ID #REQUIRED>
<!ELEMENT BazaarAccountHistory ANY>
<!ATTLIST BazaarAccountHistory id ID #REQUIRED>
<!ELEMENT BazaarBasket ANY>
<!ATTLIST BazaarBasket id ID #REQUIRED>
<!ELEMENT BazaarCheckout ANY>
<!ATTLIST BazaarCheckout id ID #REQUIRED>
<!ELEMENT BazaarCheckoutConfirm ANY>
<!ATTLIST BazaarCheckoutConfirm id ID #REQUIRED>
<!ELEMENT BazaarCheckoutShipping ANY>
<!ATTLIST BazaarCheckoutShipping id ID #REQUIRED>
<!ELEMENT BazaarMaster ANY>
<!ATTLIST BazaarMaster id ID #REQUIRED>
<!ELEMENT BazaarProduct ANY>
<!ATTLIST BazaarProduct id ID #REQUIRED>
<!ELEMENT BazaarProductGroup ANY>
<!ATTLIST BazaarProductGroup id ID #REQUIRED>
<!ELEMENT BazaarReceipt ANY>
<!ATTLIST BazaarReceipt id ID #REQUIRED>
<!ELEMENT BazaarRegistration ANY>
<!ATTLIST BazaarRegistration id ID #REQUIRED>
<!ELEMENT BazaarStore ANY>
<!ATTLIST BazaarStore id ID #REQUIRED>
<!ELEMENT BazaarWishList ANY>
<!ATTLIST BazaarWishList id ID #REQUIRED>

]>
<root id="-1">
  <BazaarStore id="1063" parentID="-1" level="1" creatorID="0" sortOrder="0" createDate="2015-02-16T16:26:02" updateDate="2015-03-27T13:18:42" nodeName="Store" urlName="store" path="-1,1063" isDoc="" nodeType="1055" creatorName="admin" writerName="admin" writerID="0" template="0" nodeTypeAlias="BazaarStore">
    <umbracoNaviHide>0</umbracoNaviHide>
    <themePicker><![CDATA[Flatly]]></themePicker>
    <storeTitle><![CDATA[Merchello Bazaar]]></storeTitle>
    <tagLine><![CDATA[Get shopping]]></tagLine>
    <customerAccounts>1</customerAccounts>
    <enableWishList>1</enableWishList>
    <customerMemberType><![CDATA[MerchelloCustomer]]></customerMemberType>
    <BazaarProductGroup id="1064" parentID="1063" level="2" creatorID="0" sortOrder="0" createDate="2015-02-16T16:26:14" updateDate="2015-03-01T03:17:02" nodeName="Soap" urlName="soap" path="-1,1063,1064" isDoc="" nodeType="1056" creatorName="admin" writerName="admin" writerID="0" template="0" nodeTypeAlias="BazaarProductGroup">
      <umbracoNaviHide>0</umbracoNaviHide>
      <brief><![CDATA[Bar soaps.]]></brief>
      <image><![CDATA[{
  "focalPoint": {
    "left": 0.5,
    "top": 0.5
  },
  "src": "/media/1005/soapcategory.jpg",
  "crops": []
}]]></image>
      <BazaarProduct id="1076" parentID="1064" level="3" creatorID="0" sortOrder="1" createDate="2015-02-18T11:51:14" updateDate="2015-03-01T02:41:15" nodeName="Liquid Soap" urlName="liquid-soap" path="-1,1063,1064,1076" isDoc="" nodeType="1057" creatorName="admin" writerName="admin" writerID="0" template="0" nodeTypeAlias="BazaarProduct">
        <umbracoNaviHide>1</umbracoNaviHide>
        <description><![CDATA[<p>Vice Truffaut normcore, Portland narwhal High Life direct trade DIY swag viral 90's health goth gluten-free. Austin drinking vinegar Truffaut small batch selfies bicycle rights. Blog forage taxidermy, chia Truffaut pug selfies deep v post-ironic. Scenester Schlitz church-key taxidermy Shoreditch biodiesel. Pug raw denim bitters, health goth DIY Carles meggings pop-up chia ugh. Aesthetic Portland mustache vegan you probably haven't heard of them retro fap hoodie before they sold out cliche tote bag next level. Hoodie raw denim selvage farm-to-table, Thundercats chia mumblecore distillery.</p>
<p>Tilde letterpress brunch gluten-free lumbersexual sartorial. Intelligentsia lomo lumbersexual hoodie, craft beer XOXO Godard tote bag. Meh seitan photo booth, gentrify normcore hella sartorial salvia letterpress bespoke yr viral freegan. Neutra cardigan vegan, butcher twee raw denim plaid. Post-ironic locavore next level, mustache meggings polaroid fashion axe. Odd Future disrupt hoodie, Williamsburg cornhole Intelligentsia banjo McSweeney's leggings mlkshk. Salvia gluten-free cold-pressed narwhal Kickstarter kitsch, mlkshk photo booth cronut paleo.</p>]]></description>
        <merchelloProduct><![CDATA[bc941233-84d5-4f59-ad0e-48110d676683]]></merchelloProduct>
        <brief><![CDATA[Liquid hand soap]]></brief>
        <image><![CDATA[{
  "focalPoint": {
    "left": 0.5,
    "top": 0.5
  },
  "src": "/media/1007/beeswaxlotionbase_lotionbee_main_a.jpg",
  "crops": []
}]]></image>
      </BazaarProduct>
      <BazaarProduct id="1111" parentID="1064" level="3" creatorID="0" sortOrder="2" createDate="2015-03-01T01:06:14" updateDate="2015-03-01T02:41:15" nodeName="Avocado Bar" urlName="avocado-bar" path="-1,1063,1064,1111" isDoc="" nodeType="1057" creatorName="admin" writerName="admin" writerID="0" template="0" nodeTypeAlias="BazaarProduct">
        <umbracoNaviHide>0</umbracoNaviHide>
        <description><![CDATA[<p><span>Made with real avocados, this Avocado Moisturizing Bar is great for dry skin. Layers of color are achieved by using oxide colorants. Scented with Wasabi Fragrance Oil, this soap smells slightly spicy, making it a great choice for both men and women. To ensure this soap does not overheat, place in the freezer to keep cool and prevent gel phase.</span></p>]]></description>
        <merchelloProduct><![CDATA[9dba3012-57df-4e5a-bf30-07f87a44b389]]></merchelloProduct>
        <brief><![CDATA[Avocado Moisturizing Bar is great for dry skin.]]></brief>
        <image><![CDATA[{
  "focalPoint": {
    "left": 0.5,
    "top": 0.5
  },
  "src": "/media/1009/avocadobars.jpg",
  "crops": []
}]]></image>
      </BazaarProduct>
      <BazaarProduct id="1112" parentID="1064" level="3" creatorID="0" sortOrder="2" createDate="2015-03-01T02:53:59" updateDate="2015-03-01T02:54:22" nodeName="Another Soap" urlName="another-soap" path="-1,1063,1064,1112" isDoc="" nodeType="1057" creatorName="admin" writerName="admin" writerID="0" template="0" nodeTypeAlias="BazaarProduct">
        <umbracoNaviHide>0</umbracoNaviHide>
        <description><![CDATA[<p>Another soap</p>]]></description>
        <merchelloProduct><![CDATA[910b02d0-b4f8-4168-ad3c-d41ff352b07f]]></merchelloProduct>
        <brief><![CDATA[Another soap.]]></brief>
        <image><![CDATA[{
  "focalPoint": {
    "left": 0.5,
    "top": 0.5
  },
  "src": "/media/1010/bathbombs.jpg",
  "crops": []
}]]></image>
      </BazaarProduct>
    </BazaarProductGroup>
    <BazaarBasket id="1065" parentID="1063" level="2" creatorID="0" sortOrder="2" createDate="2015-02-16T16:26:24" updateDate="2015-02-25T07:52:14" nodeName="Basket" urlName="basket" path="-1,1063,1065" isDoc="" nodeType="1058" creatorName="admin" writerName="admin" writerID="0" template="0" nodeTypeAlias="BazaarBasket">
      <umbracoNaviHide>0</umbracoNaviHide>
    </BazaarBasket>
    <BazaarCheckout id="1066" parentID="1063" level="2" creatorID="0" sortOrder="3" createDate="2015-02-16T16:27:15" updateDate="2015-02-25T07:52:14" nodeName="Checkout" urlName="checkout" path="-1,1063,1066" isDoc="" nodeType="1060" creatorName="admin" writerName="admin" writerID="0" template="0" nodeTypeAlias="BazaarCheckout">
      <umbracoNaviHide>0</umbracoNaviHide>
      <BazaarCheckoutConfirm id="1067" parentID="1066" level="3" creatorID="0" sortOrder="1" createDate="2015-02-16T16:29:14" updateDate="2015-02-25T07:52:14" nodeName="Confirm Sale" urlName="confirm-sale" path="-1,1063,1066,1067" isDoc="" nodeType="1061" creatorName="admin" writerName="admin" writerID="0" template="0" nodeTypeAlias="BazaarCheckoutConfirm">
        <umbracoNaviHide>0</umbracoNaviHide>
      </BazaarCheckoutConfirm>
      <BazaarReceipt id="1077" parentID="1066" level="3" creatorID="0" sortOrder="2" createDate="2015-02-18T18:14:31" updateDate="2015-02-25T07:52:14" nodeName="Receipt" urlName="receipt" path="-1,1063,1066,1077" isDoc="" nodeType="1062" creatorName="admin" writerName="admin" writerID="0" template="0" nodeTypeAlias="BazaarReceipt">
        <umbracoNaviHide>0</umbracoNaviHide>
      </BazaarReceipt>
    </BazaarCheckout>
    <BazaarRegistration id="1083" parentID="1063" level="2" creatorID="0" sortOrder="4" createDate="2015-02-19T14:59:42" updateDate="2015-02-25T07:52:14" nodeName="Registration / Login" urlName="registration-login" path="-1,1063,1083" isDoc="" nodeType="1081" creatorName="admin" writerName="admin" writerID="0" template="0" nodeTypeAlias="BazaarRegistration">
      <umbracoNaviHide>0</umbracoNaviHide>
    </BazaarRegistration>
    <BazaarAccount id="1086" parentID="1063" level="2" creatorID="0" sortOrder="5" createDate="2015-02-19T15:47:49" updateDate="2015-02-25T07:52:14" nodeName="Account" urlName="account" path="-1,1063,1086" isDoc="" nodeType="1085" creatorName="admin" writerName="admin" writerID="0" template="0" nodeTypeAlias="BazaarAccount">
      <umbracoNaviHide>0</umbracoNaviHide>
      <BazaarWishList id="1098" parentID="1086" level="3" creatorID="0" sortOrder="0" createDate="2015-02-19T19:14:45" updateDate="2015-02-25T07:52:14" nodeName="Wish List" urlName="wish-list" path="-1,1063,1086,1098" isDoc="" nodeType="1097" creatorName="admin" writerName="admin" writerID="0" template="0" nodeTypeAlias="BazaarWishList">
        <umbracoNaviHide>0</umbracoNaviHide>
      </BazaarWishList>
      <BazaarAccountHistory id="1100" parentID="1086" level="3" creatorID="0" sortOrder="1" createDate="2015-02-19T20:55:04" updateDate="2015-02-25T07:52:14" nodeName="Purchase History" urlName="purchase-history" path="-1,1063,1086,1100" isDoc="" nodeType="1099" creatorName="admin" writerName="admin" writerID="0" template="0" nodeTypeAlias="BazaarAccountHistory">
        <umbracoNaviHide>0</umbracoNaviHide>
      </BazaarAccountHistory>
    </BazaarAccount>
  </BazaarStore>
</root>