<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE root[ 
<!ELEMENT BazaarBasket ANY>
<!ATTLIST BazaarBasket id ID #REQUIRED>
<!ELEMENT BazaarCheckout ANY>
<!ATTLIST BazaarCheckout id ID #REQUIRED>
<!ELEMENT BazaarMaster ANY>
<!ATTLIST BazaarMaster id ID #REQUIRED>
<!ELEMENT BazaarProduct ANY>
<!ATTLIST BazaarProduct id ID #REQUIRED>
<!ELEMENT BazaarProductGroup ANY>
<!ATTLIST BazaarProductGroup id ID #REQUIRED>
<!ELEMENT BazaarReceipt ANY>
<!ATTLIST BazaarReceipt id ID #REQUIRED>
<!ELEMENT BazaarSale ANY>
<!ATTLIST BazaarSale id ID #REQUIRED>
<!ELEMENT BazaarStore ANY>
<!ATTLIST BazaarStore id ID #REQUIRED>

]>
<root id="-1">
  <BazaarStore id="1063" parentID="-1" level="1" creatorID="0" sortOrder="0" createDate="2015-02-16T16:26:02" updateDate="2015-02-19T13:02:57" nodeName="Store" urlName="store" path="-1,1063" isDoc="" nodeType="1055" creatorName="admin" writerName="admin" writerID="0" template="1070" nodeTypeAlias="BazaarStore">
    <BazaarProductGroup id="1064" parentID="1063" level="2" creatorID="0" sortOrder="0" createDate="2015-02-16T16:26:14" updateDate="2015-02-19T13:00:24" nodeName="Soap" urlName="soap" path="-1,1063,1064" isDoc="" nodeType="1056" creatorName="admin" writerName="admin" writerID="0" template="1070" nodeTypeAlias="BazaarProductGroup">
      <BazaarProduct id="1075" parentID="1064" level="3" creatorID="0" sortOrder="0" createDate="2015-02-17T17:13:36" updateDate="2015-02-19T13:00:51" nodeName="Bar Soap" urlName="bar-soap" path="-1,1063,1064,1075" isDoc="" nodeType="1057" creatorName="admin" writerName="admin" writerID="0" template="1070" nodeTypeAlias="BazaarProduct">
        <umbracoNaviHide>0</umbracoNaviHide>
        <description><![CDATA[<p>Long description of bar soap.  An extended description.</p>]]></description>
        <merchelloProduct><![CDATA[04d43b62-40e7-4e71-80d6-676036981ce0]]></merchelloProduct>
        <brief><![CDATA[This is bar soap.]]></brief>
        <image><![CDATA[{
  "focalPoint": {
    "left": 0.5,
    "top": 0.5
  },
  "src": "/media/1006/grpcpbar09.jpg",
  "crops": []
}]]></image>
      </BazaarProduct>
      <BazaarProduct id="1076" parentID="1064" level="3" creatorID="0" sortOrder="1" createDate="2015-02-18T11:51:14" updateDate="2015-02-19T13:01:02" nodeName="Liquid Soap" urlName="liquid-soap" path="-1,1063,1064,1076" isDoc="" nodeType="1057" creatorName="admin" writerName="admin" writerID="0" template="1070" nodeTypeAlias="BazaarProduct">
        <umbracoNaviHide>0</umbracoNaviHide>
        <description><![CDATA[<p>Description of liquid soap.</p>]]></description>
        <merchelloProduct><![CDATA[bc941233-84d5-4f59-ad0e-48110d676683]]></merchelloProduct>
        <brief><![CDATA[Liquid hand soap]]></brief>
        <image><![CDATA[{
  "focalPoint": {
    "left": 0.5,
    "top": 0.5
  },
  "src": "/media/1007/beeswaxlotionbase_lotionbee_main_a.jpg",
  "crops": []
}]]></image>
      </BazaarProduct>
      <umbracoNaviHide>0</umbracoNaviHide>
      <brief><![CDATA[Green goggles are not really soap - so this is a placeholder.]]></brief>
      <image><![CDATA[{
  "focalPoint": {
    "left": 0.5,
    "top": 0.5
  },
  "src": "/media/1005/greengoggles1.jpg",
  "crops": []
}]]></image>
    </BazaarProductGroup>
    <BazaarProductGroup id="1073" parentID="1063" level="2" creatorID="0" sortOrder="1" createDate="2015-02-17T17:10:53" updateDate="2015-02-19T13:01:09" nodeName="Kitchen Utensils" urlName="kitchen-utensils" path="-1,1063,1073" isDoc="" nodeType="1056" creatorName="admin" writerName="admin" writerID="0" template="1070" nodeTypeAlias="BazaarProductGroup">
      <umbracoNaviHide>0</umbracoNaviHide>
    </BazaarProductGroup>
    <BazaarBasket id="1065" parentID="1063" level="2" creatorID="0" sortOrder="2" createDate="2015-02-16T16:26:24" updateDate="2015-02-19T13:01:12" nodeName="Basket" urlName="basket" path="-1,1063,1065" isDoc="" nodeType="1058" creatorName="admin" writerName="admin" writerID="0" template="1070" nodeTypeAlias="BazaarBasket">
      <umbracoNaviHide>0</umbracoNaviHide>
    </BazaarBasket>
    <BazaarCheckout id="1066" parentID="1063" level="2" creatorID="0" sortOrder="3" createDate="2015-02-16T16:27:15" updateDate="2015-02-19T13:01:16" nodeName="Checkout" urlName="checkout" path="-1,1063,1066" isDoc="" nodeType="1060" creatorName="admin" writerName="admin" writerID="0" template="1070" nodeTypeAlias="BazaarCheckout">
      <BazaarSale id="1067" parentID="1066" level="3" creatorID="0" sortOrder="0" createDate="2015-02-16T16:29:14" updateDate="2015-02-19T13:01:19" nodeName="Confirm Sale" urlName="confirm-sale" path="-1,1063,1066,1067" isDoc="" nodeType="1061" creatorName="admin" writerName="admin" writerID="0" template="1070" nodeTypeAlias="BazaarSale">
        <umbracoNaviHide>0</umbracoNaviHide>
      </BazaarSale>
      <BazaarReceipt id="1077" parentID="1066" level="3" creatorID="0" sortOrder="1" createDate="2015-02-18T18:14:31" updateDate="2015-02-19T13:01:25" nodeName="Receipt" urlName="receipt" path="-1,1063,1066,1077" isDoc="" nodeType="1062" creatorName="admin" writerName="admin" writerID="0" template="1070" nodeTypeAlias="BazaarReceipt">
        <umbracoNaviHide>0</umbracoNaviHide>
      </BazaarReceipt>
      <umbracoNaviHide>0</umbracoNaviHide>
    </BazaarCheckout>
    <umbracoNaviHide>0</umbracoNaviHide>
    <themePicker><![CDATA[Flatly]]></themePicker>
    <storeTitle><![CDATA[Merchello Soap Store]]></storeTitle>
    <tagLine><![CDATA[A Sudsy Clean Store Install]]></tagLine>
    <persistedCustomersEnabled>0</persistedCustomersEnabled>
  </BazaarStore>
</root>