@inherits UmbracoTemplatePage

<!-- About -->
<section>
    <h2 class="major"><span>@Umbraco.Field("aboutTitle", recursive: true)</span></h2>
    <p>@Umbraco.Field("aboutText", recursive: true)</p>
</section>
<!-- /About -->