<form novalidate name="productVariantForm" data-ng-controller="Merchello.Backoffice.CampaignEditController"
      data-ng-show="loaded" data-ng-submit="save()">
    <umb-panel val-show-validation>
        <umb-header>
            <div class="span7">
            </div>
            <div class="span5">
                <div class="btn-toolbar pull-right umb-btn-toolbar">
                    <div class="btn-group">
                        <a data-ng-click="openDeleteCampaignDialog()" data-ng-show="context !== 'newcampaign'" class="btn btn-danger"><localize key="merchelloButtons_delete" /></a>
                        <a class="btn btn-success"><localize key="buttons_save" /></a>
                    </div>
                </div>
            </div>
            <merchello-tabs tabs="tabs"></merchello-tabs>
        </umb-header>

        <merchello-panel>
            <div class="tab-content row-fluid" data-ng-show="preValuesLoaded">
                <div class="merchello-pane">

                    <!-- Property classes from Umbraco styles -->
                    <div class="control-group umb-control-group">
                        <label class="merchello-control-label">
                            <localize key="merchelloMarketing_campaignInfo"/>
                            <small><localize key="merchelloMarketing_configCampaign" /></small>
                        </label>
                        <div class="merchello-controls">
                            <!-- Form for checkboxes that manage below sections, key fields like SKU, Price, etc -->
                            <div class="row-fluid well">
                                <a class="btn btn-default btn-xs btn-mini pull-right" data-ng-click="openEditCampaignDialog()"><i class="icon-edit"></i></a>
                                <h4>{{ campaign.name }}</h4>
                                <small>{{ campaign.alias }}</small>
                                <p data-ng-show="campaign.description !== '">{{campaign.description}}</p>
                            </div>
                        </div>
                    </div>


                </div>
                <!-- /merchello-pane -->
            </div>
        </merchello-panel>
    </umb-panel>
</form>