<form novalidate name="productVariantForm" data-ng-controller="Merchello.Backoffice.CampaignEditController"
      data-ng-show="loaded" data-ng-submit="save()">
    <umb-panel val-show-validation>
        <umb-header>
            <div class="span7">
            </div>
            <div class="span5">
                <div class="btn-toolbar pull-right umb-btn-toolbar">
                    <div class="btn-group">
                        <a data-ng-click="deleteProductDialog()" data-ng-show="context !== 'newcampaign'" class="btn"><localize key="merchelloMarketing_btnDeleteCampaign" /></a>
                        <a data-ng-disabled="productVariantForm.$invalid" data-ng-click="save(productVariantForm)" class="btn btn-success"><localize key="buttons_save" /></a>
                    </div>
                </div>
            </div>
            <merchello-tabs tabs="tabs"></merchello-tabs>
        </umb-header>

        <merchello-panel>
            <div class="tab-content row-fluid" data-ng-show="preValuesLoaded">
                <div class="merchello-pane">

                    <!-- Property classes from Umbraco styles -->
                    <div class="control-group umb-control-group">
                        <label class="merchello-control-label">
                            <localize key="merchelloMarketing_campaignInfo"/>
                            <small><localize key="merchelloMarketing_configCampaign" /></small>
                        </label>
                        <div class="merchello-controls">
                            <!-- Form for checkboxes that manage below sections, key fields like SKU, Price, etc -->
                            <div class="row-fluid">
                                <div class="form-group col-xs-6 span6">
                                    <label for="alias"><localize key="merchelloTableCaptions_name" /></label>
                                    <input id="name" name="name" required type="text" class="form-control col-xs-8 span8" data-ng-model="campaign.name" />
                                </div>
                                <div class="form-group col-xs-6 span6">
                                    <label for="alias"><localize key="merchelloTableCaptions_alias" /></label>
                                    <input id="alias" name="alias" required type="text" class="form-control col-xs-8 span8" data-ng-model="campaign.alias" />
                                </div>
                            </div>

                            <div class="row-fluid">
                                <div class="form-group col-xs-6 span6">
                                    <label class="label-checkbox"><input name="active" type="checkbox" data-ng-model="campaign.active"> <span><localize key="merchelloMarketing_isActive" /></span></label>
                                </div>
                            </div>
                        </div>
                    </div>


                </div>
                <!-- /merchello-pane -->
            </div>
        </merchello-panel>
    </umb-panel>
</form>