<div class="umb-modalcolumn-body">
    <div ng-swipe-right="swipeHide($event)" data-backdrop="false" id="views-content-create-067" class="umb-dialog in ng-scope" aria-hidden="false">
        <div class="umb-dialog-body with-footer ng-scope" ng-controller="Umbraco.Editors.Content.CreateController">

            <div class="umb-pane">
                
                <ul class="umb-actions umb-actions-child">

                    <li class="ng-scope">
                        <a href="#/merchello/merchello/OrderEdit/manage" ng-click="nav.hideNavigation()">

                            <i class="large icon-receipt-dollar"></i>

                            <span class="menu-label ng-binding">
                                Create New Order
                                <small class="ng-binding">

                                </small>
                            </span>
                        </a>
                    </li>
                </ul>
            </div>
        </div>

        <div class="umb-dialog-footer btn-toolbar umb-btn-toolbar">
            <button class="btn" ng-click="nav.hideDialog(true)">
                <localize key="buttons_somethingElse" class="ng-isolate-scope ng-scope">Do something else</localize>
            </button>
        </div>
    </div>
</div>