<link href="/App_Plugins/Merchello/Common/Css/merchello.css" rel="stylesheet">

<form novalidate name="customerForm" data-ng-controller="Merchello.Editors.Customer.ViewController" data-ng-show="loaded" data-ng-submit="save()">
    <umb-panel val-show-validation>
        <umb-header>
            <div class="span4">
                <div class="umb-headline-editor-wrapper">
                    <h1 class="umb-headline">{{customer.firstName}} {{customer.lastName}}</h1>
                </div>
            </div>
            <div class="span8">
                <div class="btn-toolbar pull-right umb-btn-toolbar">
                    <div class="btn-group">
                        <!-- ACTION: Delete Customer -->
                        <a class="btn-danger btn" data-ng-click="openDeleteCustomerDialog()">Delete</a>

                    </div>
                </div>
            </div>
        </umb-header>
        <merchello-panel class="row-fluid">
            <div class="merchello-pane primary span9">
                <div class="control-group umb-control-group">
                    <div class="merchello-section-label">
                        Order History
                        <small>A list of the customer's orders and their status</small>
                    </div>
                    <div class="merchello-controls">
                        <table class="table table-hover merchello-selectable-table customer-orders">
                            <thead>
                                <tr>
                                    <th><input type="checkbox" /></th> <!-- This needs to allow a user to select all orders and change the status, delete, etc -->
                                    <th>Order</th>
                                    <th>Date</th>
                                    <th>Payment Status</th>
                                    <th>Fulfillment Status</th>
                                    <th>Total</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr data-ng-repeat="invoice in invoices">
                                    <td><input type="checkbox" /></td>
                                    <td>#<a href="#/merchello/merchello/OrderView/{{invoice.key}}">{{invoice.invoiceNumber}}</a></td>
                                    <td>{{invoice.invoiceDate}}</td>
                                    <td><span class="label" data-ng-class="{ 'label-success': invoice.getPaymentStatus()=='Paid', 'label-info': invoice.getPaymentStatus()=='Unpaid' }"><i data-ng-class="{ 'icon-check': invoice.getPaymentStatus()=='Paid', 'icon-loading': invoice.getPaymentStatus()=='Unpaid' }"></i> {{invoice.getPaymentStatus()}}</span></td>
                                    <td><span class="label" data-ng-class="{ 'label-success': invoice.getFulfillmentStatus()=='Fulfilled', 'label-warning': invoice.getFulfillmentStatus()=='Not Fulfilled', 'label-info': invoice.getFulfillmentStatus()=='Partial' }"><i data-ng-class="{ 'icon-check': invoice.getFulfillmentStatus()=='Fulfilled', 'icon-alert': invoice.getFulfillmentStatus()=='Not Fulfilled', 'icon-loading': invoice.getFulfillmentStatus()=='Partial' }"></i> {{invoice.getFulfillmentStatus()}}</span></td>
                                    <td>{{invoice.total | currency : currencySymbol}}</td>
                                </tr>
                                <tr>
                                    <td colspan="4"></td>
                                    <td>Total Spent:</td>
                                    <td>{{invoiceTotal | currency : currencySymbol}}</td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
                <div class="control-group umb-control-group">
                    <label class="merchello-section-label" for="customer-note">
                        Customer Notes
                        <small>Notes about the customer (not order specific)</small>
                    </label>
                    <div class="merchello-controls">
                        <div class="well new-note row-fluid">
                            <div class="form-group col-xs-12 span12">
                                <textarea name="note-message" name="customer-note" rows="8" class="span12" data-ng-model="customer.notes"></textarea>
                            </div>
                            <input type="submit" class="btn btn-primary" value="Save Note" data-ng-click="saveCustomer()" />
                        </div>
                    </div>
                </div>
            </div>
            <div class="merchello-pane secondary span3">
                <!-- Customer Info -->
                <div class="well customer-info">
                    <img class="customer-avatar" data-ng-show="avatarUrl != ''" class="photo pull-left" src="{{avatarUrl}}" />
                    <h4>
                        {{customer.firstName}} {{customer.lastName}}
                        <!-- ACTION: Edit Info -->
                        <a class="btn btn-default btn-action pull-right" data-ng-click="openEditInfoDialog()"><i class="icon icon-edit"></i></a>
                    </h4>
                    <div><a href="mailto:{{customer.email}}">{{customer.email}}</a></div>
                </div>
                <!-- Billing Address -->
                <div class="well billing-address-info">
                    <h3>
                        Billing Address
                        <!-- ACTION: Add or Edit Address -->
                        <a class="btn btn-default btn-action pull-right" data-ng-click="openAddressEditDialog('billing')"><i class="icon icon-edit"></i></a>
                    </h3>
                    <div class="vcard" data-ng-show="defaultBillingAddress != false">
                        <span class="fn" data-ng-show="defaultBillingAddress.fullName != ''">{{defaultBillingAddress.fullName}}</span>
                        <span class="org" data-ng-show="defaultBillingAddress.company != ''">{{defaultBillingAddress.company}}</span>
                        <span class="adr">
                            <span class="street-address">{{defaultBillingAddress.address1}}</span>
                            <span class="extended-address" data-ng-show="defaultBillingAddress.address2 != ''">{{defaultBillingAddress.address2}}</span>
                            <span class="locality">{{defaultBillingAddress.locality}}</span>, <span class="region">{{defaultBillingAddress.region}}</span>, <span class="postal-code">{{defaultBillingAddress.postalCode}}</span>
                            <span class="country-name">{{defaultBillingAddress.countryCode}}</span>
                            <span class="tel" data-ng-show="defaultBillingAddress.phone != ''">Phone: {{defaultBillingAddress.phone}}</span>
                        </span>
                    </div>
                    <div data-ng-show="defaultBillingAddress == false">
                        <h5>No Billing Address</h5>
                    </div>
                </div>
                <!-- Shipping Address -->
                <div class="well shipping-address-info">
                    <h3>
                        Shipping Address
                        <!-- ACTION: Add or Edit Address -->
                        <a class="btn btn-default btn-action pull-right" data-ng-click="openAddressEditDialog('shipping')"><i class="icon icon-edit"></i></a>
                    </h3>
                    <div class="vcard" data-ng-show="defaultShippingAddress != false">
                        <span class="fn" data-ng-show="defaultShippingAddress.fullName != ''">{{defaultShippingAddress.fullName}}</span>
                        <span class="org" data-ng-show="defaultShippingAddress.company != ''">{{defaultShippingAddress.company}}</span>
                        <span class="adr">
                            <span class="street-address">{{defaultShippingAddress.address1}}</span>
                            <span class="extended-address" data-ng-show="defaultShippingAddress.address2 != ''">{{defaultShippingAddress.address2}}</span>
                            <span class="locality">{{defaultShippingAddress.locality}}</span>, <span class="region">{{defaultShippingAddress.region}}</span>, <span class="postal-code">{{defaultShippingAddress.postalCode}}</span>
                            <span class="tel" data-ng-show="defaultShippingAddress.phone != ''">Phone: {{defaultShippingAddress.phone}}</span>
                            <span class="country-name">{{defaultShippingAddress.countryCode}}</span>
                        </span>
                    </div>
                    <div data-ng-show="defaultShippingAddress == false">
                        <h5>No Shipping Address</h5>
                    </div>
                </div>
            </div>
        </merchello-panel>
    </umb-panel>
</form>