<link href="/App_Plugins/Merchello/Common/Css/merchello.css" rel="stylesheet">

<form novalidate name="customerForm" 
      data-ng-controller="Merchello.Editors.Customer.ViewController" 
      data-ng-show="loaded" 
      data-ng-submit="save()">
    <umb-panel val-show-validation>

        <umb-header>

            <div class="span4">
                <div class="umb-headline-editor-wrapper">
                    <h1 class="umb-headline">{{customer.firstName}} {{customer.lastName}}</h1>
                </div>
            </div>


            <div class="span8">
                <div class="btn-toolbar pull-right umb-btn-toolbar">
                    
                    <div class="btn-group">
                        <!-- ACTION: Open Edit Customer View -->
                        <a href="#/merchello/merchello/CustomerEdit/{{customerKey}}" type="submit" class="btn btn-success">Edit</a>

                    </div>
                </div>
            </div>

        </umb-header>
        
        <merchello-panel class="row-fluid">

            <div class="merchello-pane primary span9">

                <div class="control-group umb-control-group">
                
                    <div class="merchello-section-label">
                        Order History
                        <small>A list of the customer's orders and their status</small>
                    </div>
                    
                    <div class="merchello-controls">

                        <table class="table table-hover merchello-selectable-table customer-orders">
                            <thead>
                                <tr>
                                    <th><input type="checkbox" /></th> <!-- This needs to allow a user to select all orders and change the status, delete, etc -->
                                    <th>Order</th>
                                    <th>Date</th>
                                    <th>Payment Status</th>
                                    <th>Fulfillment Status</th>
                                    <th>Total</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <td><input type="checkbox" /></td>
                                    <td>#<a href="#/merchello/merchello/OrderView/keygoeshere">1001</a></td>
                                    <td>Sep 01, 4:33pm PDT</td>
                                    <td><span class="label label-success"><i class="icon-check"></i> Paid</span></td>
                                    <td><span class="label label-success"><i class="icon-check"></i> Fulfilled</span></td>
                                    <td>$20.00</td>
                                </tr>
                                <tr>
                                    <td><input type="checkbox" /></td>
                                    <td>#<a href="#/merchello/merchello/OrderView/keygoeshere">1002</a></td>
                                    <td>Sep 01, 4:57pm PDT</td>
                                    <td><span class="label label-success"><i class="icon-check"></i> Paid</span></td>
                                    <td><span class="label label-success"><i class="icon-check"></i> Fulfilled</span></td>
                                    <td>$45.50</td>
                                </tr>
                                <tr>
                                    <td><input type="checkbox" /></td>
                                    <td>#<a href="#/merchello/merchello/OrderView/keygoeshere">1001</a></td>
                                    <td>Sep 01, 5:11pm PDT</td>
                                    <td><span class="label label-success"><i class="icon-check"></i> Paid</span></td>
                                    <td><span class="label label-success"><i class="icon-check"></i> Fulfilled</span></td>
                                    <td>$210.00</td>
                                </tr>
                                <tr>
                                    <td><input type="checkbox" /></td>
                                    <td>#<a href="#/merchello/merchello/OrderView/keygoeshere">1001</a></td>
                                    <td>Sep 01, 5:36pm PDT</td>
                                    <td><span class="label label-success"><i class="icon-check"></i> Paid</span></td>
                                    <td><span class="label label-success"><i class="icon-check"></i> Fulfilled</span></td>
                                    <td>$25.98</td>
                                </tr>
                                <tr>
                                    <td colspan="4"></td>
                                    <td>Total Spent:</td>
                                    <td>$301.48</td>
                                </tr>
                            </tbody>
                        </table>

                    </div>
                </div>

                <div class="control-group umb-control-group">
                
                    <label class="merchello-section-label" for="customer-note">
                        Customer Notes
                        <small>Notes about the customer (not order specific)</small>
                    </label>
                    <div class="merchello-controls">
                        <div class="well new-note row-fluid">
                            <div class="form-group col-xs-12 span12">
                                <textarea name="note-message" name="customer-note" rows="8" class="span12" data-ng-model="customer.notes"></textarea>
                            </div>
                            <input type="submit" class="btn btn-primary" value="Save Note" data-ng-click="saveCustomer()" />
                        </div>
                    </div>
                </div>
            </div>

            <div class="merchello-pane secondary span3">
                <div class="well customer-info">
                    <img class="customer-avatar" data-ng-show="avatarUrl != ''" class="photo pull-left" src="{{avatarUrl}}" />
                    <h4>{{customer.firstName}} {{customer.lastName}}</h4>
                    <div><a href="mailto:{{customer.email}}">{{customer.email}}</a></div>
                    <div data-ng-show="customer.hasPrimaryAddress">{{primaryAddress.phone}}</div>
                </div>
                <div class="vcard well">
                    <h4 class="fn">{{defaultAddress.fullName}}</h4>
                    <span class="org" data-ng-show="defaultAddress.company!= ''">{{defaultAddress.company}}</span>
                    <span class="adr">
                        <span class="street-address">{{defaultAddress.address1}}</span>
                        <span class="extended-address" data-ng-show="defaultAddress.address2 != ''">{{defaultAddress.address2}}</span>
                        <span class="locality">{{defaultAddress.locality}}</span>, <span class="region">{{defaultAddress.region}}</span>, <span class="postal-code">{{defaultAddress.postalCode}}</span>
                        <span class="country-name">{{defaultAddress.countryCode}}</span>
                    </span>
                    <span class="tel" data-ng-show="defaultAddress.phone != ''">{{defaultAddress.phone}}</span>
                </div>


            </div>

        </merchello-panel>

    </umb-panel>
</form>