<link href="/App_Plugins/Merchello/Common/Css/merchello.css" rel="stylesheet">

<form novalidate name="customerForm" data-ng-controller="Merchello.Editors.Customer.EditController" data-ng-show="loaded" data-ng-submit="saveCustomer()">
    <umb-panel val-show-validation>
        <umb-header>
            <div class="span4">
                <div class="umb-headline-editor-wrapper">
                    <h1 class="umb-headline">{{customer.firstName}} {{customer.lastName}}</h1>
                </div>
            </div>
            <div class="span8">
                <div class="btn-toolbar pull-right umb-btn-toolbar">
                    <div class="btn-group">
                        <!-- ACTION: Save Customer -->
                        <button type="submit" class="btn btn-success">Save</button>
                    </div>
                </div>
            </div>
        </umb-header>
        <merchello-panel class="row-fluid">
            <div class="merchello-pane row-fluid edit-customer">
                <div class="control-group umb-control-group">
                    <label class="merchello-section-label" for="customer-note">Customer Overview</label>
                    <div class="merchello-controls row-fluid">
                        <div class="form-group span12">
                            <label for="firstName">*First Name:</label>
                            <div><span class="error validation-error" data-ng-show="wasFormSubmitted && customerForm.firstName.$invalid">First Name is a required field.</span></div>
                            <input name="firstName" type="text" class="span5" data-ng-model="customer.firstName" required />
                            <label for="lastName">*Last Name:</label>
                            <div><span class="error validation-error" data-ng-show="wasFormSubmitted && customerForm.lastName.$invalid">Last Name is a required field.</span></div>
                            <input name="lastName" type="text" class="span5" data-ng-model="customer.lastName" required />
                            <label for="tel">Phone Number:</label>
                            <input name="tel" type="text" class="span5" />
                            <label for="email">*Login/Email Address:</label>
                            <div><span class="error validation-error" data-ng-show="wasFormSubmitted && customerForm.email.$invalid">Login/Email is a required field and must contain a valid email address.</span></div>
                            <input name="email" type="email" class="span5" data-ng-model="customer.email" required />
                        </div>
                        <div class="gravatar" data-ng-show="isAvatarAvailable()">
                            <img src="{{avatarUrl}}" />
                            <div>Gravatar for this email address</div>
                        </div>
                        <!-- Merchello 2.0 Feature -->
                        <!--
                    <div class="form-group span12">
                        <label for="acceptsMarketing"><input type="checkbox" name="acceptsMarketing" /> Accepts marketing</label>
                    </div>
                    -->
                    </div>
                </div>
                <div class="control-group umb-control-group">
                    <!-- Billing Address -->
                    <label class="merchello-section-label" for="customer-note">Billing Address</label>
                    <div class="merchello-controls row-fluid">
                        <div class="row-fluid span10 col-xs-10">
                            <div class="pull-right btn-group">
                                <a class="btn-standard btn" data-ng-show="billingAddresses.length > 1">Select Address</a>
                                <a class="btn btn-primary"><i class="icon-add"></i> New</a>
                                <a class="btn-warning btn"><i class="icon-trash"></i></a>
                            </div>
                        </div>
                        <div class="form-group span12">
                            <label for="fullName">Full Name:</label>
                            <input name="fullName" type="text" class="span5" data-ng-model="defaultBillingAddress.fullName" />
                            <label for="org">Company:</label>
                            <input name="org" type="text" class="span5" data-ng-model="defaultBillingAddress.company" />
                            <label for="streetAddress">*Address:</label>
                            <input name="streetAddress" type="text" class="span5" data-ng-model="defaultBillingAddress.address1" />
                            <label for="extendedAddress">Address Line 2:</label>
                            <input name="extendedAddress" type="text" class="span5" data-ng-model="defaultBillingAddress.address2" />
                            <label for="locality">*City:</label>
                            <input name="locality" type="text" class="span5" data-ng-model="defaultBillingAddress.locality" />
                            <label for="region">*State:</label>
                            <select name="region" class="span3"><option value="WA">WA</option></select>
                            <label for="postalCode">*Zip Code:</label>
                            <input name="postalCode" type="text" class="span3" data-ng-model="defaultBillingAddres.postalCode" />
                            <label for="countryName">*Country:</label>
                            <select name="countryName" class="span3" data-ng-filter="filters.billingCountry" data-ng-options="country.name for country in countries"></select>
                        </div>
                    </div>
                </div>
                <div class="control-group umb-control-group">
                    <!-- Shipping Address -->
                    <label class="merchello-section-label" for="customer-note">Shipping Address</label>
                    <div class="merchello-controls row-fluid">
                        <div class="form-group span12">
                            <label for="org">Company:</label>
                            <input name="org" type="text" class="span5" />
                            <label for="streetAddress">Address:</label>
                            <input name="streetAddress" type="text" class="span5" />
                            <label for="extendedAddress">Address Line 2:</label>
                            <input name="extendedAddress" type="text" class="span5" />
                            <label for="locality">City:</label>
                            <input name="locality" type="text" class="span5" />
                            <label for="region">State:</label>
                            <select name="region" class="span3"><option value="WA">WA</option></select>
                            <label for="postalCode">Zip Code:</label>
                            <input name="postalCode" type="text" class="span3" />
                            <label for="countryName">Country:</label>
                            <select name="countryName" class="span3"><option>USA</option></select>
                        </div>
                    </div>
                </div>
                <div class="control-group umb-control-group">
                    <label class="merchello-section-label" for="customer-note">
                        Notes
                        <small>Notes about the customer (not order specific)</small>
                    </label>
                    <div class="merchello-controls">
                        <div class="well new-note span10">
                            <div class="form-group col-xs-12 span12">
                                <textarea name="note-message" name="customer-note" rows="8" class="span12" data-ng-model="customer.notes"></textarea>
                            </div>
                        </div>
                        <div class="clearfix"></div>
                    </div>
                </div>
            </div>
        </merchello-panel>
    </umb-panel>
</form>