<link href="/App_Plugins/Merchello/Common/Css/merchello.css" rel="stylesheet">

<div 
    data-ng-controller="Merchello.Dashboards.Settings.NotificationsController"
    data-ng-show="loaded">

    <umb-panel>

        <umb-header>

            <div class="span4">
                <div class="umb-headline-editor-wrapper">
                     <h1 class="umb-headline">Notifications</h1>
                </div>
            </div>


            <div class="span8">
                <div class="btn-toolbar pull-right umb-btn-toolbar">
                    
                    <div class="btn-group">

                    </div>
                </div>
            </div>

        </umb-header>
        
        <merchello-panel>
            
            <div class="merchello-pane row-fluid">

                <div class="control-group umb-control-group">
                    <label class="merchello-control-label">
                        Email Templates
                        <small>Personalize your email templates</small>
                        <a><i class="icon-chat"></i> Add a Notification</a>
                    </label>

                    <div class="merchello-controls row-fluid">

                        <div class="row-fluid col-xs-10 span10">

                            <!-- Flyout when edit is clicked -->
                            <form name="editTemplateForm" class="well" data-ng-class="{ 'open': flyouts.editTemplate, 'closed': !flyouts.editTemplate }">
                                <button class="btn close" data-ng-click="editTemplateFlyout.close()"><i class="icon-delete"></i></button>
                                <h4>Edit <b>{{editTemplateFlyout.model.name}}</b> Notification</h4>
                                <p>You may add basic HTML tags to your email header and footer templates such as &lt;br /&gt; to create a new line of text.</p>

                                <div class="form-group">
                                    <label>Header</label>
                                    <textarea class="col-xs-12 span12" rows="4" data-ng-model="editTemplateFlyout.model.header"></textarea>
                                </div>
                                <div class="form-group">
                                    <label>Footer</label>
                                    <textarea class="col-xs-12 span12" rows="4" data-ng-model="editTemplateFlyout.model.footer"></textarea>
                                </div>

                                <div>
                                    <input type="submit" class="btn" value="Cancel" data-ng-click="editTemplateFlyout.close()" />
                                    <input type="submit" class="btn btn-primary" value="Save"  data-ng-click="editTemplateFlyout.confirm()" />
                                </div>
                            </form>

                            <table class="table table-striped merchello-striped-table settings-table notifications-table form-horizontal">
                                <thead>
                                    <tr>
                                        <th>Notification</th>
                                        <th>Description</th>
                                        <th>Event</th>
                                        <th>Send To</th>
                                        <th>Email Customer</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr data-ng-repeat="template in emailTemplates">
                                        <td>{{template.name}}</td>
                                        <td>{{template.description}}</td>
                                        <td></td>
                                        <td></td>
                                        <td><input type="checkbox" /></td>
                                        <td class="edit"><a class="btn btn-default btn-xs btn-mini" data-ng-href="#/merchello/merchello/NotificationsEdit/{{template.pk}}"><i class="icon-edit"></i></a></td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>

                    </div>
                </div>

                <div class="control-group umb-control-group warning">
                    <h2>This whole section is merging into the notification edit page and emails will be specific to each notification. It goes away!</h2>
                    <label class="merchello-control-label">
                        Email Notifications
                        <small>Set who to send notifications to. Any e-mail added will receive all admin notifications</small>
                        <a data-ng-click="addAddressFlyout.open()"><i class="icon-inbox"></i> Add an Address</a>
                    </label>

                    <div class="merchello-controls row-fluid">

                        <div class="row-fluid col-xs-10 span10">

                            <!-- Flyout when Add an Address is clicked -->
                            <form name="addAddressForm" class="well" data-ng-class="{ 'open': flyouts.addAddress, 'closed': !flyouts.addAddress }">
                                <button class="btn close" data-ng-click="addAddressFlyout.close()"><i class="icon-delete"></i></button>
                                <h4>Add a New Email Address</h4>

                                <div class="form-group">
                                    <input type="email" class="span6 col-xs-6" data-ng-model="addAddressFlyout.model.email" />
                                </div>

                                <div>
                                    <input type="submit" class="btn" value="Cancel" data-ng-click="addAddressFlyout.close()" />
                                    <input type="submit" class="btn btn-primary" value="Save" data-ng-click="addAddressFlyout.confirm()" />
                                </div>
                            </form>

                            <!-- Flyout when Delete an Address is clicked -->
                            <form name="deleteAddressForm" class="well" data-ng-class="{ 'open': flyouts.deleteAddress, 'closed': !flyouts.deleteAddress }">
                                <h4>Are you sure you want to remove the email '{{deleteAddressFlyout.model.email}}'?</h4>
                                <div>
                                    <input type="submit" class="btn" value="No" data-ng-click="deleteAddressFlyout.close()" />
                                    <input type="submit" class="btn btn-primary" value="Yes" data-ng-click="deleteAddressFlyout.confirm()" />
                                </div>
                            </form>


                            <table class="table table-striped merchello-striped-table settings-table notifications-table form-horizontal">
                                <tbody>
                                    <tr data-ng-repeat="subscriber in subscribers">
                                        <td>{{subscriber.email}}</td>
                                        <td><a>send a test email</a></td>
                                        <td class="edit"><a class="btn btn-warning btn-xs btn-mini" data-ng-click="deleteAddressFlyout.open(subscriber)"><i class="icon-trash"></i></a></td>
                                    </tr>
                                </tbody>
                            </table>

                        </div>
                    </div>
                </div>

            </div>
        </merchello-panel>
            
    </umb-panel>
</div>