<div 
    ng-controller="Merchello.Dashboards.Order.ListController"
    ng-show="loaded">

    <umb-panel>

        <umb-header>

            <div class="span4">
                <div class="umb-headline-editor-wrapper">
                     <h1 class="umb-headline">Orders</h1>
                </div>
            </div>


            <div class="span8">
                <div class="btn-toolbar pull-right umb-btn-toolbar">
                    
                    <!-- New Order Button
                    <div class="btn-group">
                        <a href="#/merchello/merchello/OrderEdit/do?create" class="btn btn-success">New Order</a>
                    </div>
                         -->
                </div>
            </div>

        </umb-header>
        
        <merchello-panel>

            <!-- Order Filters -->
            <div class="merchello-pane">
                <form class="form-horizontal">
                    <div class="form-group control-group row-fluid">
                        <label for="orderFilter" class="col-xs-2 control-label">Filter Orders:</label>
                        <div class="col-xs-10 controls">
                            <input id="orderFilter" class="form-control span6" name="orderFilter" data-ng-model="filtertext" placeholder="Start typing an order number or name..." />
                            <button id="orderFilterGo" class="btn" data-ng-click="getFilteredInvoices(filtertext)">Filter</button>
                        </div>
                    </div>
                </form>
                
                <form class="form-horizontal" data-ng-show="invoices.length > 0">
                    <div class="form-group control-group row-fluid">
                        <label for="limitSelect" class="col-xs-2 control-label">Invoices / Page:</label>
                        <div class="col-xs-10 controls">
                            <select name="limitSelect" class="form-control span3 col-xs-3" data-ng-model="limitAmount" data-ng-change="limitChanged(limitAmount)">
                                <option value="3">3</option>
                                <option selected value="10">10</option>
                                <option value="25">25</option>
                                <option value="50">50</option>
                                <option value="100">100</option>
                            </select>
                        </div>
                    </div>
                </form>

                <div class="row warning" data-ng-show="orderIssues.length > 0">
                    <h2><i class="icon-alert"></i> You Have Orders That Require Attention</h2>
                    <p><a href="#">There is 1 payment authorization expiring</a>. You may not receive payment for expired authorization. </p>
                </div>
            </div>

            <!-- Tabular Order List -->
            <div class="merchello-pane">
                
                <div class="pager" data-ng-show="invoices.length > 0">
                    <button class="btn" data-ng-disabled="currentPage == 0" data-ng-click="currentPage=currentPage-1">
                        Previous
                    </button>
                    {{currentPage+1}}/{{numberOfPages()}}
                    <button class="btn" data-ng-disabled="currentPage >= numberOfPages() - 1" data-ng-click="currentPage=currentPage+1">
                        Next
                    </button>
                </div>

                <table class="table table-hover merchello-selectable-table">
                    <thead>
                        <tr>
                            <!--<th><input type="checkbox" /></th>--> <!-- Toggles the bulk action dropdown -->
                            <th>Order #</th>
                            <th>Date</th>
                            <th>Customer</th>
                            <th>Payment Status</th>
                            <th>Fulfillment Status</th>
                            <th>Total</th>
                        </tr>
                        <!-- Displays the bulk action button & dropdown menu when the checkbox is selected, which replaces normal heading TR -->
                        <!--<tr>
                                <th><input type="checkbox" /></th>
                                <th colspan="6">
                                    <div class="btn-group">
                                        <a href="#" class="btn dropdown-toggle" data-toggle="dropdown">Bulk Action (3 Variants) <i class="icon-navigation-down"></i></a>
                                        <ul class="dropdown-menu">
                                            <li><a href="#">Capture Payments</a></li>
                                            <li><a href="#">Print Packing Slips</a></li>
                                            <li><a href="#">Mark as Shipped</a></li>
                                        </ul>
                                    </div>
                                </th>
                            </tr>-->
                    </thead>
                    <tbody>
                        <tr data-ng-repeat="invoice in invoices | orderBy:sortProperty | startfrom:currentPage * limitAmount | limitTo:limitAmount" 
                            data-ng-class="{active: invoice.selected}" data-ng-click="invoice.selected = !invoice.selected">
                            <!--<td><input type="checkbox" data-ng-model="invoice.selected"/></td>-->
                            <td>#<a data-ng-href="#/merchello/merchello/OrderView/{{invoice.key}}">{{invoice.invoiceNumber}}</a></td>
                            <td>{{invoice.invoiceDate | date}}</td>
                            <td>{{invoice.billToName}}</td>
                            <td><span class="label" data-ng-class="{ 'label-success': invoice.getPaymentStatus()=='Paid', 'label-info': invoice.getPaymentStatus()=='Unpaid' }"><i data-ng-class="{ 'icon-check': invoice.getPaymentStatus()=='Paid', 'icon-loading': invoice.getPaymentStatus()=='Unpaid' }"></i> {{invoice.getPaymentStatus()}}</span></td>
                            <td><span class="label" data-ng-class="{ 'label-success': invoice.getFulfillmentStatus()=='Fulfilled', 'label-warning': invoice.getFulfillmentStatus()=='Not Fulfilled', 'label-info': invoice.getFulfillmentStatus()=='Partial' }"><i data-ng-class="{ 'icon-check': invoice.getFulfillmentStatus()=='Fulfilled', 'icon-alert': invoice.getFulfillmentStatus()=='Not Fulfilled', 'icon-loading': invoice.getFulfillmentStatus()=='Partial' }"></i> {{invoice.getFulfillmentStatus()}}</span></td>
                            <td>{{invoice.total | currency : currencySymbol}}</td>
                        </tr>
                    </tbody>
                </table>
                
                <div class="pager well" data-ng-show="invoices.length == 0">
                    You have no orders.
                </div>
                    
            </div>

        </merchello-panel>
            
    </umb-panel>
</div>
