<<link href="/App_Plugins/Merchello/Common/Css/merchello.css" rel="stylesheet">

<form novalidate name="orderForm" 
      data-ng-controller="Merchello.Editors.Order.ViewController" 
      data-ng-show="loaded">
    <umb-panel val-show-validation>

        <umb-header>

            <div class="span4">
                <div class="umb-headline-editor-wrapper">
                    <h1 class="umb-headline">Invoice #{{invoice.invoiceNumber}}</h1>
                </div>
            </div>


            <div class="span8">
                <div class="btn-toolbar pull-right umb-btn-toolbar">
                    <a data-ng-href="#/merchello/merchello/OrderEdit/{{invoice.key}}" type="submit" class="btn btn-success">Edit</a>
                    <a href="#" type="submit" class="btn btn-success">Print</a>
                </div>
            </div>

        </umb-header>
        
        <merchello-panel>

            <!-- Main content area -->
            <div class="merchello-pane row-fluid">

                <div class="control-group umb-control-group">

                    <div class="merchello-section-label">
                        Customer Information
                        <small>Billing and Shipping addresses</small>
                    </div>
                    
                    <div class="merchello-controls">

                        <div class="row-fluid span10 col-xs-10">
                            <div class="vcard span5">
                                <h3>Shipping Address</h3>

                                <h4 class="fn">{{shippingAddress.name}}</h4>
                                <span class="org">{{shippingAddress.organization}}</span>
                                <span class="adr">
                                    <span class="street-address">{{shippingAddress.address1}}</span>
                                    <span class="extended-address">{{shippingAddress.address2}}</span>
                                    <span class="locality">{{shippingAddress.locality}}</span>, <span class="region">{{shippingAddress.region}}</span>, <span class="postal-code">{{shippingAddress.postalCode}}</span>
                                    <span class="country-name">{{shippingAddress.countryCode}}</span>
                                </span>
                                <span class="tel">{{shippingAddress.phone}}</span>
                            </div>

                            <div class="vcard span5 pull-right">
                                <h3>Billing Address</h3>

                                <!--<img class="photo pull-right" src="/media/1001/heather.jpg" />-->
                                <h4 class="fn">{{invoice.billToName}}</h4>
                                <span class="org">{{invoice.billToCompany}}</span>
                                <span class="adr">
                                    <span class="street-address">{{invoice.billToAddress1}}</span>
                                    <span class="extended-address">{{invoice.billToAddress2}}</span>
                                    <span class="locality">{{invoice.billToLocality}}</span>, <span class="region">{{invoice.billToRegion}}</span>, <span class="postal-code">{{invoice.billToPostalCode}}</span>
                                    <span class="country-name">{{invoice.billToCountryCode}}</span>
                                </span>
                                <span class="tel">{{invoice.billToPhone}}</span>
                                <a data-ng-href="mailto:{{invoice.billToEmail}}" class="email">{{invoice.billToEmail}}</a>
                            </div>

                        </div>
                    </div>
                </div>

                <div class="control-group umb-control-group">

                    <div class="merchello-section-label">
                        Order Information
                        <small>Line items & costs</small>
                    </div>
                    
                    <div class="merchello-controls">
                        <div class="row-fluid span10 col-xs-10">
                            <div class="row-fluid">
                                <div class="btn-toolbar pull-right umb-btn-toolbar">
                                    <a class="btn btn-primary" data-ng-click="fulfillShipment()">Fulfill {{invoice.items.length}} Line Items</a>
                                    <a class="btn btn-primary" data-ng-click="capturePayment()">Capture Up To {{invoice.total | currency}}</a>
                                    <a class="btn btn-warning" href="#">Cancel Order</a>
                                </div>
                            </div>

                            <table class="table table-striped merchello-striped-table order-items">
                                <tbody>
                                    <tr data-ng-repeat="lineitem in invoice.getProductLineItems()">
                                        <td><input type="checkbox" data-ng-model="lineitem.selected" /></td>
                                        <td>
                                            <h4>{{lineitem.name}}</h4>
                                            <span>SKU: {{lineitem.sku}}</span>
                                        </td>
                                        <td class="text-right">{{lineitem.quantity}} x <strong>{{lineitem.price | currency}}</strong></td>
                                        <td class="text-right">{{lineitem.quantity * lineitem.price | currency}}</td>
                                    </tr>
                                    <tr>
                                        <td colspan="3" class="text-right">Sales Tax</td>
                                        <td class="text-right">{{invoice.getTaxLineItem().price | currency}}</td>
                                    </tr>
                                    <tr>
                                        <td colspan="3" class="text-right">Shipping</td>
                                        <td class="text-right">{{invoice.getShippingLineItem().price | currency}}</td>
                                    </tr>
                                    <tr>
                                        <td><i class="icon-credit-card"></i></td>
                                        <td>
                                            <span class="card-no">xxxx-xxxx-xxxx-xxxx</span>
                                            <span class="payment-method">Payment processed by: Stripe</span>
                                        </td>
                                        <td class="text-right">Authorized:</td>
                                        <td class="text-right">{{invoice.total | currency}}</td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>

                </div>



            </div>

        </merchello-panel>

    </umb-panel>
</form>