<div 
    ng-controller="Merchello.Dashboards.Order.ListController"
    ng-show="loaded">

    <umb-panel>

        <umb-header>

            <div class="span4">
                <div class="umb-headline-editor-wrapper">
	                <h1 class="umb-headline"><localize key="merchelloOrder_order"/></h1>
                </div>
            </div>


            <div class="span8">
                <div class="btn-toolbar pull-right umb-btn-toolbar">
                    
                    <!-- New Order Button
                    <div class="btn-group">
                        <a href="#/merchello/merchello/OrderEdit/do?create" class="btn btn-success">New Order</a>
                    </div>
                         -->
                </div>
            </div>

        </umb-header>
        
        <merchello-panel>

            <!-- Order Filters -->
            <div class="merchello-pane">
                <form class="form-horizontal">
                    <div class="form-group control-group row-fluid">
	                    <label for="orderFilter" class="col-xs-2 control-label"><localize key="merchelloOrder_filter"/>:</label>
                        <div class="col-xs-10 controls">
	                        <input id="orderFilter"
								   class="form-control span6"
	                               name="orderFilter"
	                               data-ng-model="filtertext"
								   localize="placeholder"
								   placeholder="@merchelloPlaceholders_enterOrder" />
                            <button id="orderFilterGo" class="btn" data-ng-click="getFilteredInvoices(filtertext)"><localize key="merchelloGeneral_filter" /></button>
                        </div>
                    </div>
                </form>
                
                <form class="form-horizontal" data-ng-show="invoices.length > 0">
                    <div class="form-group control-group row-fluid">
	                    <label for="limitSelect" class="col-xs-2 control-label"><localize key="merchelloOrder_invoicesPerPage"/>:</label>
                        <div class="col-xs-10 controls">
                            <select name="limitSelect" class="form-control span3 col-xs-3" data-ng-model="limitAmount" data-ng-change="limitChanged(limitAmount)">
                                <option selected value="10">10</option>
                                <option value="25">25</option>
                                <option value="50">50</option>
                                <option value="100">100</option>
                            </select>
                        </div>
                    </div>
                </form>

                <div class="row warning" data-ng-show="orderIssues.length > 0">
	                <h2><i class="icon-alert"></i> <localize key="merchelloOrder_attentionRequired"/></h2>
	                <p><a href="#">There is 1 payment authorization expiring</a>. <localize key="merchelloOrder_paymentExpirationWarning"/> </p>
                </div>
            </div>

            <!-- Tabular Order List -->
            <div class="merchello-pane">
                
                <merchello-pager></merchello-pager>

                <table class="table table-hover merchello-selectable-table">
                    <thead>
                        <tr>
                            <!--<th><input type="checkbox" /></th>--> <!-- Toggles the bulk action dropdown -->
                            <th data-ng-click="changeSortOrder('invoiceNumber')" data-ng-class="{'sorted': sortProperty == 'invoiceNumber' ||  sortProperty == '-invoiceNumber'}">
                                <i data-ng-class="{'icon-navigation-up': sortProperty == 'invoiceNumber', 'icon-navigation-down': sortProperty == '-invoiceNumber'}"></i> 
                                <localize key="merchelloOrder_orderNumber"/>
                            </th>
                            <th data-ng-click="changeSortOrder('invoiceDate')" data-ng-class="{'sorted': sortProperty == 'invoiceDate' ||  sortProperty == '-invoiceDate'}">
                                <i data-ng-class="{'icon-navigation-up': sortProperty == 'invoiceDate', 'icon-navigation-down': sortProperty == '-invoiceDate'}"></i> 
                                <localize key="general_date"/>
                            </th>
                            <th data-ng-click="changeSortOrder('billToName')" data-ng-class="{'sorted': sortProperty == 'billToName' ||  sortProperty == '-billToName'}">
                                <i data-ng-class="{'icon-navigation-up': sortProperty == 'billToName', 'icon-navigation-down': sortProperty == '-billToName'}"></i> 
                                <localize key="merchelloGeneral_customer" />
                            </th>
                            <th>
                                <localize key="merchelloOrder_paymentStatus" />
                            </th>
                            <th>
                                <localize key="merchelloOrder_fulfillmentStatus" />
                            </th>
                            <th>
                                <localize key="merchelloGeneral_total" />
                            </th>
                        </tr>
                        <!-- Displays the bulk action button & dropdown menu when the checkbox is selected, which replaces normal heading TR -->
                        <!--<tr>
                                <th><input type="checkbox" /></th>
                                <th colspan="6">
                                    <div class="btn-group">
                                        <a href="#" class="btn dropdown-toggle" data-toggle="dropdown">Bulk Action (3 Variants) <i class="icon-navigation-down"></i></a>
                                        <ul class="dropdown-menu">
                                            <li><a href="#">Capture Payments</a></li>
                                            <li><a href="#">Print Packing Slips</a></li>
                                            <li><a href="#">Mark as Shipped</a></li>
                                        </ul>
                                    </div>
                                </th>
                            </tr>-->
                    </thead>
                    <tbody>
                        <tr data-ng-repeat="invoice in invoices | orderBy:sortProperty | startfrom:currentPage * limitAmount | limitTo:limitAmount" 
                            data-ng-class="{active: invoice.selected}" data-ng-click="invoice.selected = !invoice.selected">
                            <!--<td><input type="checkbox" data-ng-model="invoice.selected"/></td>-->
                            <td>#<a data-ng-href="#/merchello/merchello/OrderView/{{invoice.key}}">{{invoice.invoiceNumber}}</a></td>
                            <td>{{invoice.invoiceDate | date}}</td>
                            <td>{{invoice.billToName}}</td>
                            <td><span class="label" data-ng-class="{ 'label-success': invoice.getPaymentStatus()=='Paid', 'label-info': invoice.getPaymentStatus()=='Unpaid' }"><i data-ng-class="{ 'icon-check': invoice.getPaymentStatus()=='Paid', 'icon-loading': invoice.getPaymentStatus()=='Unpaid' }"></i> {{invoice.getPaymentStatus()}}</span></td>
                            <td><span class="label" data-ng-class="{ 'label-success': invoice.getFulfillmentStatus()=='Fulfilled', 'label-warning': invoice.getFulfillmentStatus()=='Not Fulfilled', 'label-info': invoice.getFulfillmentStatus()=='Partial' }"><i data-ng-class="{ 'icon-check': invoice.getFulfillmentStatus()=='Fulfilled', 'icon-alert': invoice.getFulfillmentStatus()=='Not Fulfilled', 'icon-loading': invoice.getFulfillmentStatus()=='Partial' }"></i> {{invoice.getFulfillmentStatus()}}</span></td>
                            <td>{{invoice.total | currency : currencySymbol}}</td>
                        </tr>
                    </tbody>
                </table>

                <merchello-pager></merchello-pager>

                <div class="pager well" data-ng-show="invoices.length == 0">
	                <localize key="merchelloOrder_noOrders"/>
                </div>
                    
            </div>

        </merchello-panel>
            
    </umb-panel>
</div>
