<link href="/App_Plugins/Merchello/Common/Css/merchello.css" rel="stylesheet">
<div ng-controller="Merchello.Dashboards.Order.ListController" ng-show="loaded">
    <umb-panel>
        <umb-header>
            <div class="span4">
                <div class="umb-headline-editor-wrapper">
                    <h1 class="umb-headline"><localize key="merchelloOrder_sales" /></h1>
                </div>
            </div>
            <div class="span8">
                <div class="btn-toolbar pull-right umb-btn-toolbar">
                    <!-- New Order Button -->
                    <div class="btn-group">
                        <a href="#/merchello/merchello/edit/orders?create" class="btn btn-success"><localize key="merchelloOrder_createOrder" /></a>
                    </div>
                </div>
            </div>
        </umb-header>
        <merchello-panel>
            <div class="merchello-pane">
                <form class="form-horizontal row-fluid">
                    <!-- Number of Orders/Invoices Per Page -->
                    <div class="controls pull-right" data-ng-show="invoices.length > 0">
                        <span style="line-height: 30px; margin-left: -2em;">Show:&nbsp;</span>
                        <select name="limitSelect" class="form-control span9 col-xs-9" data-ng-model="limitAmount" data-ng-change="limitChanged(limitAmount)">
                            <option value="10">10</option>
                            <option value="25">25</option>
                            <option value="50">50</option>
                            <option value="100">100</option>
                        </select>
                    </div>
                    <!-- Order Filters -->
                    <div class="form-group control-group">
                        <div class="control-label">
                            <a data-ng-click="filterAction = !filterAction" class="btn"><localize key="merchelloOrder_filter" /> <!--<i class="icon-navigation-down"></i>--></a>
                        </div>
                        <div class="col-xs-10 controls">
                            <input id="orderFilter" class="form-control span6" name="orderFilter" data-ng-model="filterText" localize="placeholder" placeholder="Search by invoice number or customer name" />
                            <!-- ACTION: Filter Orders -->
                            <button id="orderFilterGo" class="btn" data-ng-click="filterWithWildcard(filterText)"><localize key="merchelloGeneral_filter" /></button>
                        </div>
                    </div>
                </form>
                <merchello-slide-open-panel is-open="filterAction" classes="'well row-fluid col-xs-10 span10'">

                    <div>
                        <button class="btn close" data-ng-click="close($event)"><i class="icon-delete"></i></button>
                        <p>Show all invoices where</p>

                        <div class="form-inline">
                            <div>
                                Dates:
                                <div class="input-append date datepicker" id="filterStartDate">
                                    <input name="datepicker" data-format="{{settings.dateFormat}}" type="text"
                                           data-ng-model="filterStartDate" />
                                    <span class="add-on">
                                        <i data-time-icon="icon-time" data-date-icon="icon-calendar"></i>
                                    </span>
                                </div>
                                -
                                <div class="input-append date datepicker" id="filterEndDate">
                                    <input name="datepicker" data-format="{{settings.dateFormat}}" type="text"
                                           data-ng-model="filterEndDate" />
                                    <span class="add-on">
                                        <i data-time-icon="icon-time" data-date-icon="icon-calendar"></i>
                                    </span>
                                </div>
                                <button id="orderFilterDateGo" class="btn" data-ng-click="filterWithDates(filterStartDate,filterEndDate)"><localize key="merchelloGeneral_filter" /></button>
                            </div>
                        </div>
                        <!--<div>Invoice Status: <input type="text" /></div>
                        <div>Order Status: <input type="text" /></div>-->

                    </div>

                </merchello-slide-open-panel>

                <div class="row warning" data-ng-show="orderIssues.length > 0">
                    <h2><i class="icon-alert"></i> <localize key="merchelloOrder_attentionRequired" /></h2>
                    <p><a href="#">There is 1 payment authorization expiring</a>. <localize key="merchelloOrder_paymentExpirationWarning" /> </p>
                </div>

                <div class="form-inline" data-ng-show="currentFilters.length > 0">
                    <strong>Current Filters</strong> <span data-ng-repeat="filter in currentFilters"> <span class="label label-inverse">{{ filter.fieldname }} '{{ filter.value }}'</span>  </span>
                    <button class="btn" data-ng-click="resetFilters()"><localize key="merchelloGeneral_resetFilters" /></button>
                </div>
            </div>
            <!-- Tabular Order List -->
            <div class="merchello-pane">
                <!-- Pagination -->
                <div class="pager" data-ng-show="maxPages > 1">
                    <button class="btn" data-ng-disabled="currentPage == 0" data-ng-click="changePage(currentPage - 1)">
                        <localize key="general_previous" />
                    </button>
                    {{currentPage+1}}/{{maxPages}}
                    <button class="btn" data-ng-disabled="currentPage >= maxPages - 1" data-ng-click="changePage(currentPage + 1)">
                        <localize key="general_next" />
                    </button>
                </div>
                <!-- Loader -->
                <div class="pager" data-ng-show="!salesLoaded">
                    <img src="/umbraco/assets/img/loader.gif" />
                </div>
                <!-- List of Sales -->
                <table class="table table-hover merchello-selectable-table" data-ng-show="salesLoaded">
                    <thead>
                        <tr data-ng-show="!visible.bulkActionDropdown">
                            <th>
                                <input type="checkbox" data-ng-model="selectAllOrders" data-ng-click="updateBulkActionDropdownStatus(true)" />
                            </th>
                            <th data-ng-click="changeSortOrder('invoiceNumber')" data-ng-class="{'sorted': sortProperty == 'invoiceNumber' ||  sortProperty == '-invoiceNumber'}">
                                <i data-ng-class="{'icon-navigation-up': sortProperty == 'invoiceNumber', 'icon-navigation-down': sortProperty == '-invoiceNumber'}"></i>
                                <localize key="merchelloOrder_invoiceNumber" />
                            </th>
                            <th data-ng-click="changeSortOrder('invoiceDate')" data-ng-class="{'sorted': sortProperty == 'invoiceDate' ||  sortProperty == '-invoiceDate'}">
                                <i data-ng-class="{'icon-navigation-up': sortProperty == 'invoiceDate', 'icon-navigation-down': sortProperty == '-invoiceDate'}"></i>
                                <localize key="general_date" />
                            </th>
                            <th data-ng-click="changeSortOrder('billToName')" data-ng-class="{'sorted': sortProperty == 'billToName' ||  sortProperty == '-billToName'}">
                                <i data-ng-class="{'icon-navigation-up': sortProperty == 'billToName', 'icon-navigation-down': sortProperty == '-billToName'}"></i>
                                <localize key="merchelloGeneral_customer" />
                            </th>
                            <th>
                                <localize key="merchelloOrder_paymentStatus" />
                            </th>
                            <th>
                                <localize key="merchelloOrder_fulfillmentStatus" />
                            </th>
                            <th>
                                <localize key="merchelloGeneral_total" />
                            </th>
                        </tr>
                        <!-- Displays the bulk action button & dropdown menu when the checkbox is selected, which replaces normal heading TR -->
                        <tr data-ng-show="visible.bulkActionDropdown">
                            <th><input type="checkbox" data-ng-model="selectAllOrders" data-ng-click="updateBulkActionDropdownStatus(true)" /></th>
                            <th colspan="6">
                                <div class="btn-group">
                                    <a href="#" class="btn dropdown-toggle" data-toggle="dropdown">Bulk Action ({{selectedOrderCount}} orders selected) <i class="icon-navigation-down"></i></a>
                                    <ul class="dropdown-menu">
                                        <li><a href="#">Print Orders</a></li>
                                        <li><a href="#">Print Pull Lists</a></li>
                                        <li><a href="#">Capture Payments</a></li>
                                        <li><a href="#">Fulfill Orders</a></li>
                                        <li><hr /></li>
                                        <li><a href="#">Archive Orders</a></li>
                                        <li><a href="#">Unarchive Orders</a></li>
                                    </ul>
                                </div>
                            </th>
                        </tr>
                    </thead>
                    <tbody>
                        <!-- Invoices -->
                        <tr data-ng-repeat="invoice in invoices | orderBy:sortProperty" data-ng-class="{active: invoice.selected}" data-ng-click="updateBulkActionDropdownStatus(false, invoice.key)">
                            <td><input type="checkbox" data-ng-model="invoice.selected" data-ng-click="invoice.selected = !invoice.selected" /></td>
                            <td>#<a data-ng-href="#/merchello/merchello/OrderView/{{invoice.key}}">{{invoice.invoiceNumber}}</a></td>
                            <td>{{invoice.invoiceDate | date : settings.dateFormat}}</td>
                            <td>{{invoice.billToName}}</td>
                            <td><span class="label" data-ng-class="{ 'label-success': invoice.getPaymentStatus()=='Paid', 'label-info': invoice.getPaymentStatus()=='Unpaid' }"><i data-ng-class="{ 'icon-check': invoice.getPaymentStatus()=='Paid', 'icon-loading': invoice.getPaymentStatus()=='Unpaid' }"></i> {{invoice.getPaymentStatus()}}</span></td>
                            <td><span class="label" data-ng-class="{ 'label-success': invoice.getFulfillmentStatus()=='Fulfilled', 'label-warning': invoice.getFulfillmentStatus()=='Not Fulfilled', 'label-info': invoice.getFulfillmentStatus()=='Partial' }"><i data-ng-class="{ 'icon-check': invoice.getFulfillmentStatus()=='Fulfilled', 'icon-alert': invoice.getFulfillmentStatus()=='Not Fulfilled', 'icon-loading': invoice.getFulfillmentStatus()=='Partial' }"></i> {{invoice.getFulfillmentStatus()}}</span></td>
                            <td>{{invoice.total | currency : currencySymbol}}</td>
                        </tr>
                    </tbody>
                </table>
                <!-- Pagination -->
                <div class="pager" data-ng-show="maxPages > 1">
                    <button class="btn" data-ng-disabled="currentPage == 0" data-ng-click="changePage(currentPage - 1)">
                        <localize key="general_previous" />
                    </button>
                    {{currentPage+1}}/{{maxPages}}
                    <button class="btn" data-ng-disabled="currentPage >= maxPages- 1" data-ng-click="changePage(currentPage + 1)">
                        <localize key="general_next" />
                    </button>
                </div>
                <div class="pager well" data-ng-show="invoices.length == 0">
                    <localize key="merchelloOrder_noOrders" />
                </div>
            </div>
        </merchello-panel>
    </umb-panel>
</div>
