<link href="/App_Plugins/Merchello/Common/Css/merchello.css" rel="stylesheet">

<div 
    ng-controller="Merchello.Editors.Product.EditController"
    ng-show="loaded">

    <umb-panel>

        <umb-header>

            <div class="span4">
                <div class="umb-headline-editor-wrapper">
                     <h1 class="umb-headline">{{product.name}}</h1>
                </div>
            </div>


            <div class="col-xs-8 span8">
                <div class="btn-toolbar pull-right umb-btn-toolbar">
                    <div class="btn-group">
                        <a href="#" class="btn btn-success">Add a Variant</a>
                    </div>
                </div>
            </div>

            <!-- Tabs for Variants & Options -->
            <ul class="nav nav-tabs umb-nav-tabs span12">
                <li class="ng-scope active">
    	            <a href="#tab0" data-toggle="tab" class="ng-binding">Variants</a>
                </li>
                <li class="ng-scope">
                    <a href="#tab1" data-toggle="tab" class="ng-binding">Options</a>
                </li>
    	    </ul>

        </umb-header>
        
        <div class="merchello-panel-body">
            <div class="merchello-pane">
                <!-- Variants Tab -->
                <div class="control-group umb-control-group">
                    <label class="merchello-control-label">
                        Variant Information
                        <small>Edit the variants for this product.</small>
                        <a href="#"><i class="icon-ordered-list"></i> Reorder variants</a>
                    </label>
                    


                    <div class="merchello-controls row-fluid">

                        <!---------------------------------------------------------------------------------------
                            Reorder Variants
                        ----------------------------------------------------------------------------------------->

                        <!-- Appears when Reorder Variants is clicked -->
                        <!--<div class="well row-fluid col-xs-10 span10 open">
                            <button class="btn close"><i class="icon-delete"></i></button>
                            <h3>Drag to Reorder Options and Variants</h3>
                            <p>If you reorder your options and variants, it will change the order in which they appear on your storefront. Drag your options (ie size, style) vertically and variants (ie women's, small) horizontally.</p>

                            <ul class="reorder">
                                <li>
                                    <span class="col-xs-3 span3">
                                        <button class="btn btn-link variant"><i class="icon-thumbnail-list"></i> Style</button>
                                    </span>
                                    <span class="options col-xs-9 span9">
                                        <button class="btn btn-link option"><i class="icon-thumbnail-list"></i> Women's</button>
                                        <button class="btn btn-link option"><i class="icon-thumbnail-list"></i> Men's</button>
                                    </span>
                                </li>
                                <li>
                                    <span class="col-xs-3 span3">
                                        <button class="btn btn-link variant"><i class="icon-thumbnail-list"></i> Size</button>
                                    </span>
                                    <span class="options col-xs-9 span9">
                                        <button class="btn btn-link option"><i class="icon-thumbnail-list"></i> Small</button>
                                        <button class="btn btn-link option"><i class="icon-thumbnail-list"></i> Medium</button>
                                        <button class="btn btn-link option"><i class="icon-thumbnail-list"></i> Large</button>
                                    </span>
                                </li>
                            </ul>

                        </div>-->

                        <!---------------------------------------------------------------------------------------
                            Bulk Action Flyouts
                        ----------------------------------------------------------------------------------------->

                        <!-- Change Prices -->
                        <!--<div class="well col-xs-10 span10">
                            <button class="btn close"><i class="icon-delete"></i></button>
                            <h4>Change Prices For All Selected Items</h4>
                            <div class="form-group row-fluid">
                                <div class="input-prepend col-xs-3 span3">
                                    <label for="new-price">New Price</label>
                                    <span class="add-on">$</span>
                                    <input name="new-price" class="col-xs-10 span10" type="text" />
                                </div>
                            </div>

                            <div>
                                <input type="submit" class="btn" value="Cancel" />
                                <input type="submit" class="btn btn-primary" value="Save" />
                            </div>
                        </div>-->

                        <!-- Update Inventory -->
                        <!--<div class="well col-xs-10 span10">
                            <button class="btn close"><i class="icon-delete"></i></button>
                            <h4>Update Inventory For All Selected Items</h4>
                            <p class="warning">Note: This will update the inventory for <strong>all warehouses</strong> on <strong>all selected variants</strong></p>
                            <div class="form-group row-fluid">
                                <label for="update-inventory">New quantity</label>
                                <input name="update-inventory" class="col-xs-3 span3" type="text" />
                            </div>

                            <div>
                                <input type="submit" class="btn" value="Cancel" />
                                <input type="submit" class="btn btn-primary" value="Save" />
                            </div>
                        </div>-->

                        <!-- Delete Variants -->
                        <!--<div class="well col-xs-10 span10">
                            <button class="btn close"><i class="icon-delete"></i></button>
                            <h4>Delete the Selected Variants</h4>
                            <p class="warning">You cannot recover deleted product variants. Are you sure you want to continue?</p>
                            <div class="form-group row-fluid">
                                <input name="delete-variant" class="col-xs-3 span3" type="text" placeholder="Yes or No" />
                            </div>

                            <div>
                                <input type="submit" class="btn" value="Cancel" />
                                <input type="submit" class="btn btn-warning" value="Delete" />
                            </div>
                        </div>-->

                        <!-- Duplicate Variants -->
                        <!--<div class="well col-xs-10 span10">
                            <button class="btn close"><i class="icon-delete"></i></button>
                            <h4>Duplicate Variants Based on Selected Items</h4>
                            <div class="form-group row-fluid">
                                <label for="new-style">What Size do you want to add to the new variants?</label>--> <!-- Size should be replaced with whatever option name they are choosing to duplicate -->
                                <!--<input name="new-style" class="col-xs-3 span3" type="text" />
                            </div>

                            <div>
                                <input type="submit" class="btn" value="Cancel" />
                                <input type="submit" class="btn btn-primary" value="Save" />
                            </div>
                        </div>-->


                        <!---------------------------------------------------------------------------------------
                            Variants selection and table
                        ----------------------------------------------------------------------------------------->
                        <div class="well col-xs-10 span10">
                            Select: <a href="#">All</a>, <a href="#">None</a>, <a href="#">Women's</a>, <a href="#">Men's</a>, <a href="#">Small</a>, <a href="#">Medium</a>, <a href="#">Large</a>
                        </div>

                        <div class="col-xs-10 span10">
                            <table class="table table-hover merchello-selectable-table sortable">
                                <thead>
                                    <!--<tr>
                                        <th><input type="checkbox" /></th>--> <!-- Swaps out the current TR with headings in it for the bulk action TR -->
                                       <!-- <th>Style</th>
                                        <th>Size</th>
                                        <th>SKU</th>
                                        <th>Price</th>
                                        <th>Total Qty</th>
                                        <th><a href="#">edit</a></th>
                                    </tr>-->
                                    <tr>
                                        <th><input type="checkbox" /></th> <!-- Swaps out the current TR with headings in it for the bulk action TR -->
                                        <th product-options-repeat="product.productOptions"></th>
                                        <th>SKU</th>
                                        <th>Price</th>
                                        <th>Total Qty</th>
                                    </tr>
                                    <!-- Displays the bulk action button & dropdown menu when the checkbox is selected. Replaces the normal header TR -->
                                    <!--<tr>
                                        <th><input type="checkbox" /></th>
                                        <th colspan="6">
                                            <div class="btn-group">
                                                <a href="#" class="btn dropdown-toggle" data-toggle="dropdown">Bulk Action (3 Variants) <i class="icon-navigation-down"></i></a>
                                                <ul class="dropdown-menu">
                                                    <li><a href="#">Change prices</a></li>
                                                    <li><a href="#">Update inventory</a></li>
                                                    <li><a href="#">Delete Variants</a></li>
                                                    <li class="divider"></li>
                                                    <li class="header">Duplicate Variants</li>
                                                    <li><a href="#">In another style</a></li>
                                                    <li class="disabled"><a href="#">In another size</a></li>
                                                </ul>
                                            </div>
                                        </th>
                                    </tr>-->
                                </thead>
                                <tbody>
                                    <tr data-ng-repeat="variant in product.productVariants" data-ng-class="{active: variant.selected}" data-ng-click="variant.selected = !variant.selected">
                                        <td><input type="checkbox" data-ng-model="variant.selected" /></td>
                                        <td product-options-repeat="variant.attributes"></td>
                                        <td>{{variant.sku}}</td>
                                        <td>{{variant.price}}</td>
                                        <td>{{variant.totalInventoryCount}}</td>
                                        <td><a data-ng-href="#/merchello/merchello/ProductVariantEdit/{{variant.productKey}}?variantid={{variant.key}}">edit</a></td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>

                    <div class="control-group umb-control-group">
                        <label class="merchello-control-label">
                            <label><input data-ng-model="debugging" type="checkbox" /> Debug</label>
                            <small>Check to show debugging info</small>
                        </label>

                        <div class="merchello-controls">

                            <div data-ng-show="debugging">
                                <h3>Product</h3>
                                <div>{{product | json}}</div>
                           </div>

                        </div>
                    </div>
                    
                </div>

                <!---------------------------------------------------------------------------------------
                    Edit Options tab
                ----------------------------------------------------------------------------------------->
                <!--<div class="control-group umb-control-group">
                    <label class="merchello-control-label">
                        Edit Options
                        <small>Edit or add options, which will auto-update your variants</small>
                    </label>

                    <div class="merchello-controls row-fluid">
                        <div class="col-xs-10 span10">-->

                            <!-- Content goes here that matches the style, formatting, and function of the multiple options on the Create Product page -->

                        <!--</div>
                    </div>
                <div>-->

            </div>
        </div>

    </umb-panel>
</div>
