<div 
    ng-controller="Merchello.Dashboards.Product.ListController"
    ng-show="loaded">

    <umb-panel>

        <umb-header>

            <div class="span4">
                <div class="umb-headline-editor-wrapper">
                     <h1 class="umb-headline">Catalog</h1>
                </div>
            </div>


            <div class="span8">
                <div class="btn-toolbar pull-right umb-btn-toolbar">
                    
                    <div class="btn-group">
                        <a href="#/merchello/merchello/ProductVariantEdit/do?create" class="btn btn-primary">New Product</a>
                    </div>

                </div>
            </div>

        </umb-header>
        
        <merchello-panel>
            <div class="merchello-pane">
                <form class="form-horizontal">
                    <div class="form-group control-group row-fluid">

                        <div class="col-xs-7 span7 controls">
                            <label for="productFilter">Filter By</label>
                            <input id="productFilter" class="form-control span8" name="productFilter" data-ng-model="filtertext" placeholder="Start typing an item's name..." />
                            <button id="productFilterGo" class="btn" data-ng-click="getFilteredProducts(filtertext)">Filter</button>
                        </div>

                        <div class="col-xs-2 span2" data-ng-show="products.length > 0">
                            <label for="limitSelect">Number of products to display</label>
                            <select name="limitSelect" class="col-xs-12 span12" data-ng-model="limitAmount" data-ng-change="limitChanged(limitAmount)">
                                <option value="3">3</option>
                                <option selected value="10">10</option>
                                <option value="25">25</option>
                                <option value="50">50</option>
                                <option value="100">100</option>
                            </select>
                        </div>
                    </div>
                </form>
            </div>
            <div class="merchello-pane">

                <div class="pager" data-ng-show="products.length > 0">
                    <button class="btn" data-ng-disabled="currentPage == 0" data-ng-click="currentPage=currentPage-1">
                        Previous
                    </button>
                    {{currentPage+1}}/{{numberOfPages()}}
                    <button class="btn" data-ng-disabled="currentPage >= numberOfPages() - 1" data-ng-click="currentPage=currentPage+1">
                        Next
                    </button>
                </div>
                    
                <table class="table table-hover merchello-selectable-table sortable">
                    <thead>
                        <tr>
                            <!--<th></th>-->
                            <th data-ng-click="changeSortOrder('name')" data-ng-class="{'sorted': sortProperty == 'name'}">
                                <i data-ng-class="{'icon-navigation-up': sortProperty == 'name', 'icon-navigation-down': sortProperty != 'name'}"></i> Product
                            </th>
                            <th data-ng-click="changeSortOrder('sku')" data-ng-class="{'sorted': sortProperty == 'sku'}">
                                <i data-ng-class="{'icon-navigation-up': sortProperty == 'sku', 'icon-navigation-down': sortProperty != 'sku'}"></i> SKU
                            </th>
                            <th data-ng-click="changeSortOrder('price')" data-ng-class="{'sorted': sortProperty == 'price'}">
                                <i data-ng-class="{'icon-navigation-down': sortProperty == 'price', 'icon-navigation-up': sortProperty != 'price'}"></i> Price
                            </th>
                            <th>&nbsp;</th>
                        </tr>
                    </thead>
                    <tbody>  <!--data-ng-show="([product] | filter:filtertext).length > 0"-->
                        <tr data-ng-repeat="product in products | orderBy:sortProperty | startfrom:currentPage * limitAmount | limitTo:limitAmount" 
                            data-ng-class="{active: product.selected}" data-ng-click="product.selected = !product.selected">
                            <!--<td><input type="checkbox" data-ng-model="product.selected"/></td>-->
                            <td>{{product.name}}</td>
                            <td>{{product.sku}}</td>
                            <td data-ng-hide="product.hasVariants">{{product.price | currency : currencySymbol}}</td>
                            <td data-ng-show="product.hasVariants">{{product.variantsMinimumPrice() | currency : currencySymbol}} - {{product.variantsMaximumPrice() | currency : currencySymbol}}</td>
                            <td>
                                <a data-ng-hide="product.hasVariants" class="btn btn-default btn-xs btn-mini" data-ng-href="#/merchello/merchello/ProductVariantEdit/{{product.key}}"><i class="icon-edit"></i></a>
                                <a data-ng-show="product.hasVariants" class="btn btn-default btn-xs btn-mini" data-ng-href="#/merchello/merchello/ProductEdit/{{product.key}}"><i class="icon-edit"></i></a>
                            </td>
                        </tr>
                    </tbody>
                </table>
   
                <div class="pager" data-ng-show="products.length > 0">
                    <button class="btn" data-ng-disabled="currentPage == 0" data-ng-click="currentPage=currentPage-1">
                        Previous
                    </button>
                    {{currentPage+1}}/{{numberOfPages()}}
                    <button class="btn" data-ng-disabled="currentPage >= numberOfPages() - 1" data-ng-click="currentPage=currentPage+1">
                        Next
                    </button>
                </div>
                                
                <div class="pager well" data-ng-show="products.length == 0">
                    <h5>You have no products.</h5>
                    <p>How about creating one now?  Simply press the New Product button.</p>
                    <a href="#/merchello/merchello/ProductVariantEdit/do?create" class="btn btn-primary">New Product</a>
                </div>

                                 
            </div>
        </merchello-panel>

    </umb-panel>
</div>
