<form novalidate name="productVariantForm" 
      data-ng-controller="Merchello.Editors.ProductVariant.EditController" 
      data-ng-show="loaded" 
      data-ng-submit="save()">
    <umb-panel val-show-validation>

	    <umb-header>

		    <div class="span4">
			    <umb-content-name ng-model="productVariant.name"
			                      localize="placeholder" placeholder="@merchelloPlaceholders_enterProduct">
			    </umb-content-name>
		    </div>

		    <div class="col-xs-8 span8">
			    <div class="btn-toolbar pull-right umb-btn-toolbar">
				    <div class="btn-group">
                        <!--<a data-ng-click="deleteVariantDialog()" class="btn"><localize key="merchelloVariant_deleteVariant" /></a>-->
					    <a data-ng-disabled="productVariantForm.$invalid" data-ng-click="save(productVariantForm)" class="btn btn-success"><localize key="buttons_save" /></a>
				    </div>
			    </div>
		    </div>

	    </umb-header>

	    <merchello-panel>
		    <div class="tab-content row-fluid">
			    <div class="merchello-pane">
                    
				    <!-- Property classes from Umbraco styles -->
				    <div class="control-group umb-control-group">
					    <label class="merchello-control-label">
						    <localize key="merchelloVariant_variantInfo"/>
						    <small><localize key="merchelloVariant_configVariant" /></small>
					    </label>

				        <div class="merchello-controls">
				            
				            <!-- Form for checkboxes that manage below sections, key fields like SKU, Price, etc -->
				            <product-variant-main-properties product="product" product-variant="productVariant" creating-variant="creatingVariant" editing-variant="editingVariant"></product-variant-main-properties>                            

				        </div>
				    </div>

                    <!-- Digital Downloads Picker -->
			        <merchello-slide-open-panel is-open="productVariant.download">
			            <product-digital-download-section product="product" product-variant="productVariant" ></product-digital-download-section>
			        </merchello-slide-open-panel>

                    <!-- Shipping settings for a product. -->
                    <merchello-slide-open-panel is-open="productVariant.shippable">
                        <product-shipping-section product="product" product-variant="productVariant" default-warehouse="defaultWarehouse" warehouses="warehouses"></product-shipping-section>
                    </merchello-slide-open-panel>

                    <!-- Inventory for a single variant -->
			        <merchello-slide-open-panel is-open="(productVariant.trackInventory && !productVariant.hasOptions)">
			            <product-inventory-section product="product" product-variant="productVariant" default-warehouse="defaultWarehouse" warehouses="warehouses" ></product-inventory-section>
			        </merchello-slide-open-panel>

                    <merchello-debug-section data-props-to-debug="product,productVariant"></merchello-debug-section>


			    </div>
			    <!-- /merchello-pane -->

		    </div>
	    </merchello-panel>
                
        <ul class="umb-panel-footer-nav nav nav-pills">
            <li>
                <a href="#/merchello/merchello/ProductList/manage"><localize key="merchelloHeadline_catalog" /></a>
            </li>
            <li>
                <a href="#/merchello/merchello/ProductEditWithOptions/{{productVariant.productKey}}"><localize key="merchelloVariant_product" /></a>
            </li>
            <li></li>
        </ul>

    </umb-panel>
</form>