<div data-ng-controller="Merchello.Backoffice.MerchelloReportsDashboardController" data-ng-show="loaded">
    <umb-panel>
        <umb-header>
            <div class="span7">
                <div class="umb-headline-editor-wrapper">
                    <h1><localize key="merchelloTree_reports" /></h1>
                </div>
            </div>
            <div class="span5"></div>
            <merchello-tabs tabs="tabs"></merchello-tabs>
        </umb-header>
        <merchello-panel>
            <!-- Tabular Order List -->
            <div class="merchello-pane">
                <div class="btn-group pull-right">
                    <a href="#" class="btn btn-small" data-ng-click="openDateRangeDialog()" prevent-default>{{ dateBtnText }}</a>
                    <a href="#" class="btn btn-small" prevent-default data-ng-click="clearDates()" data-ng-show="startDate !== '' && endDate !== ''">X</a>
                </div>
                <report-widget-top-five-selling ready="preValuesLoaded" start-date="startDate" end-date="endDate" />
            </div>
        </merchello-panel>
    </umb-panel>
</div>
