<div ng-controller="Merchello.Backoffice.SalesListController" ng-show="loaded">
    <umb-panel>
        <umb-header>
            <div class="span4">
                <div class="umb-headline-editor-wrapper">
                    <h1 class="umb-headline"><localize key="merchelloOrder_sales" /></h1>
                </div>
            </div>
            <div class="span8">
                <div class="btn-toolbar pull-right umb-btn-toolbar">
                    <!-- New Order Button
                        <div class="btn-group">
                            <a href="#/merchello/merchello/edit/orders?create" class="btn btn-success"><localize key="merchelloOrder_createOrder" /></a>
                        </div>
                         -->
                </div>
            </div>
            <merchello-tabs tabs="tabs"></merchello-tabs>
        </umb-header>
        <merchello-panel>
            <div class="merchello-pane">
                <form class="form-horizontal row-fluid">
                    <!-- Number of Orders/Invoices Per Page -->
                    <div class="controls pull-right" data-ng-show="invoices.length > 0">
                        <span style="line-height: 30px; margin-left: -2em;">Show:&nbsp;</span>
                        <select name="limitSelect" class="form-control span9 col-xs-9" data-ng-model="limitAmount" data-ng-change="limitChanged(limitAmount)">
                            <option value="10">10</option>
                            <option value="25">25</option>
                            <option value="50">50</option>
                            <option value="100">100</option>
                        </select>
                    </div>
                    <!-- Order Filters -->
                    <div class="form-group control-group">
                        <div class="control-label">
                            <a data-ng-click="filterAction = !filterAction" class="btn" data-ng-show="false"><localize key="merchelloOrder_filter" /></a>
                        </div>
                        <div class="col-xs-10 controls">
                            <input id="salesFilter" class="form-control span6" name="salesFilter" data-ng-model="filterText" localize="placeholder" placeholder="Search by invoice number or customer name" />
                            <!-- ACTION: Filter Sales  -->
                            <button id="salesFilterGo" class="btn" data-ng-click="filterWithWildcard(filterText)"><localize key="merchelloGeneral_filter" /></button>
                        </div>
                    </div>
                </form>
                <merchello-slide-open-panel is-open="filterAction" classes="'well row-fluid col-xs-10 span10'">

                    <div>

                        <p>Show all invoices where</p>

                        <div class="form-inline">
                            <div>
                                Dates:
                                <div class="input-append date datepicker" id="filterStartDate">
                                    <input name="datepicker" data-format="{{settings.dateFormat}}" type="text"
                                           data-ng-model="filterStartDate" />
                                    <span class="add-on">
                                        <i data-time-icon="icon-time" data-date-icon="icon-calendar"></i>
                                    </span>
                                </div>
                                -
                                <div class="input-append date datepicker" id="filterEndDate">
                                    <input name="datepicker" data-format="{{settings.dateFormat}}" type="text"
                                           data-ng-model="filterEndDate" />
                                    <span class="add-on">
                                        <i data-time-icon="icon-time" data-date-icon="icon-calendar"></i>
                                    </span>
                                </div>
                                <button id="orderFilterDateGo" class="btn" data-ng-click="filterWithDates(filterStartDate,filterEndDate)"><localize key="merchelloGeneral_filter" /></button>
                            </div>
                        </div>
                    </div>

                </merchello-slide-open-panel>

                <reset-list-filters></reset-list-filters>
                <!--div class="form-inline" data-ng-show="currentFilters.length > 0">
                    <strong>Current Filters</strong> <span data-ng-repeat="filter in currentFilters"> <span class="label label-inverse">{{ filter.fieldname }} '{{ filter.value }}'</span>  </span>
                    <button class="btn" data-ng-click="resetFilters()"><localize key="merchelloOrder_resetFilters" /></button>
                </div-->
            </div>
            <!-- Tabular Order List -->
            <div class="merchello-pane">

                <merchello-pager></merchello-pager>
                <!-- List of Sales -->
                <table class="table table-hover merchello-selectable-table" data-ng-show="salesLoaded && invoices.length > 0">
                    <thead>
                        <tr data-ng-show="!visible.bulkActionDropdown">
                            <!--<th>
                                <input type="checkbox" data-ng-model="selectAllOrders" data-ng-click="updateBulkActionDropdownStatus(true)" />
                            </th>-->
                            <th data-ng-click="changeSortOrder('invoiceNumber')" data-ng-class="{'sorted': sortProperty == 'invoiceNumber' ||  sortProperty == '-invoiceNumber'}">
                                <i data-ng-class="{'icon-navigation-up': sortProperty == 'invoiceNumber', 'icon-navigation-down': sortProperty == '-invoiceNumber'}"></i>
                                <localize key="merchelloOrder_invoiceNumber" />
                            </th>
                            <th data-ng-click="changeSortOrder('invoiceDate')" data-ng-class="{'sorted': sortProperty == 'invoiceDate' ||  sortProperty == '-invoiceDate'}">
                                <i data-ng-class="{'icon-navigation-up': sortProperty == 'invoiceDate', 'icon-navigation-down': sortProperty == '-invoiceDate'}"></i>
                                <localize key="general_date" />
                            </th>
                            <th data-ng-click="changeSortOrder('billToName')" data-ng-class="{'sorted': sortProperty == 'billToName' ||  sortProperty == '-billToName'}">
                                <i data-ng-class="{'icon-navigation-up': sortProperty == 'billToName', 'icon-navigation-down': sortProperty == '-billToName'}"></i>
                                <localize key="merchelloGeneral_customer" />
                            </th>
                            <th>
                                <localize key="merchelloOrder_paymentStatus" />
                            </th>
                            <th>
                                <localize key="merchelloOrder_fulfillmentStatus" />
                            </th>
                            <th>
                                <localize key="merchelloGeneral_total" />
                            </th>
                        </tr>
                        <!-- Displays the bulk action button & dropdown menu when the checkbox is selected, which replaces normal heading TR -->
                        <tr data-ng-show="visible.bulkActionDropdown">
                            <!--<th><input type="checkbox" data-ng-model="selectAllOrders" data-ng-click="updateBulkActionDropdownStatus(true)" /></th>-->
                            <th colspan="6">
                                <div class="btn-group">
                                    <a href="#" class="btn dropdown-toggle" data-toggle="dropdown">Bulk Action ({{selectedSalesCount}} sales selected) <i class="icon-navigation-down"></i></a>
                                    <ul class="dropdown-menu">
                                        <li><a href="#">Archive Sales</a></li>
                                        <li><a href="#">Unarchive Sales</a></li>
                                    </ul>
                                </div>
                            </th>
                        </tr>
                    </thead>
                    <tbody>
                        <!-- Invoices -->
                        <tr data-ng-repeat="invoice in invoices | orderBy:sortProperty" data-ng-class="{active: invoice.selected}" data-ng-click="updateBulkActionDropdownStatus(false, invoice.key)">
                            <!--<td><input type="checkbox" data-ng-model="invoice.selected" data-ng-click="invoice.selected = !invoice.selected" /></td>-->
                            <td>#<a data-ng-href="#/merchello/merchello/saleoverview/{{invoice.key}}">{{invoice.invoiceNumber}}</a></td>
                            <td>{{invoice.invoiceDateString() | date : settings.dateFormat }}</td>
                            <td>{{invoice.billToName}}</td>
                            <td><span class="label" data-ng-class="{ 'label-success': invoice.getPaymentStatus()=='Paid', 'label-info': invoice.getPaymentStatus()=='Unpaid' }"><i data-ng-class="{ 'icon-check': invoice.getPaymentStatus()=='Paid', 'icon-loading': invoice.getPaymentStatus()=='Unpaid' }"></i> {{invoice.getPaymentStatus()}}</span></td>
                            <td><span class="label" data-ng-class="{ 'label-success': invoice.getFulfillmentStatus()=='Fulfilled', 'label-warning': invoice.getFulfillmentStatus()=='Not Fulfilled', 'label-info': invoice.getFulfillmentStatus()=='Partial' }"><i data-ng-class="{ 'icon-check': invoice.getFulfillmentStatus()=='Fulfilled', 'icon-alert': invoice.getFulfillmentStatus()=='Not Fulfilled', 'icon-loading': invoice.getFulfillmentStatus()=='Partial' }"></i> {{invoice.getFulfillmentStatus()}}</span></td>
                            <td>{{invoice.total | currency : getCurrencySymbol(invoice)}}</td>
                        </tr>
                    </tbody>
                </table>
                <!-- Pagination -->

                <merchello-pager></merchello-pager>

                <!-- Prompt to create products if no products in the catalog -->
                <div class="pager well" data-ng-show="salesLoaded && invoices.length == 0">
                    <h5>You Have No Sales Yet</h5>
                    <p>But you will soon!</p>
                </div>

            </div>
        </merchello-panel>
    </umb-panel>
</div>
