<link href="/App_Plugins/Merchello/Common/Css/merchello.css" rel="stylesheet">
<form novalidate name="storeSettingsForm" 
    data-ng-controller="Merchello.Dashboards.Settings.PageController" 
    data-ng-show="loaded" 
    data-ng-submit="save()">
 
        <umb-panel>

            <umb-header>

                <div class="span4">
                    <div class="umb-headline-editor-wrapper">
                        <h1 class="umb-headline"><localize key="sections_settings" /></h1>
                    </div>
                </div>


                <div class="span8">
                    <div class="btn-toolbar pull-right umb-btn-toolbar">
                    
                        <div class="btn-group">
                            <a class="btn btn-success" data-ng-disabled="storeSettingsForm.$invalid" data-ng-click="save(storeSettingsForm)"><localize key="buttons_save" /></a>
                        </div>
                    </div>
                </div>

            </umb-header>
        
            <merchello-panel>
            
                <div class="merchello-pane row-fluid">

                    <div class="control-group umb-control-group">
                        <label class="merchello-control-label">
                            <localize key="merchelloSettings_storeDefaults"/>
                            <small><localize key="merchelloSettings_setDefaultSettingsHelper" /></small>
                        </label>

                        <div class="merchello-controls">

                            <div class="form-group col-xs-6 span6">
                                <label for="currency"><localize key="merchelloSettings_currency" /></label>
                                <select class="form-control col-xs-8 span8" name="currency" data-ng-change="currencyChanged(selectedCurrency)" data-ng-model="selectedCurrency" data-ng-options="c.name for c in currencies track by c.currencyCode"></select>
                            </div>

                            <div class="form-group col-xs-6 span6">
                                <label for="dateformat"><localize key="merchelloSettings_dateFormat" /></label>
                                <select class="form-control col-xs-8 span8" name="dateformat" data-ng-model="settingsDisplay.dateFormat">
                                    <option value="dd-MM-yyyy">dd-MM-yyyy (ex: 01-01-2014)</option>
                                    <option value="yyyy-MM-dd">yyyy-MM-dd (ex: 2014-01-01)</option>
                                </select>
                            </div>

                        
                            <div class="form-group col-xs-6 span6">
                                <label for="startingorder"><localize key="merchelloSettings_startingOrderNumber" /></label>
                                <input type="number" class="form-control col-xs-8 span8" name="startingorder" Required data-ng-model="settingsDisplay.nextOrderNumber" />
                            </div>

                      
                            <div class="form-group col-xs-6 span6">
                                <label for="timeformat"><localize key="merchelloSettings_timeFormat" /></label>
                                <select class="form-control col-xs-8 span8" name="timeformat" data-ng-model="settingsDisplay.timeFormat">
                                    <option value="am-pm">AM/PM</option>
                                </select>
                            </div>

                            <div class="form-group col-xs-6 span6">
                                <label for="startinginvoice"><localize key="merchelloSettings_startingInvoiceNumber" /></label>
                                <input type="number" class="form-control col-xs-8 span8" name="startinginvoice" Required data-ng-model="settingsDisplay.nextInvoiceNumber" />
                            </div>
                        
                            <!-- Unit System and Time Zone will be included in version 2 -->
                            <div class="form-group col-xs-6 span6">
                                <label for="unit-system"><localize key="merchelloSettings_unitSystem" /></label>
                                <select class="form-control col-xs-8 span8" name="unit-system" data-ng-model="settingsDisplay.unitSystem">
                                    <option value="Imperial">Imperial System (Pound, Inch)</option>
                                    <option value="Metric">Metric System (Centimeter, Meter)</option>
                                </select>
                            </div>
                             <!--<div class="form-group col-xs-6 span6">
                                <label for="time-zone">Time Zone</label>
                                <select class="form-control col-xs-8 span8" name="time-zone">
                                    <option>Pacific Standard (GMT-8)</option>
                                </select>
                            </div>-->

                        </div>

                    </div>
            

                    <div class="control-group umb-control-group">
                        <label class="merchello-control-label">
                            <localize key="merchelloSettings_catalogDefaults" />
                            <small><localize key="merchelloSettings_catalogDefaultsHelper" /></small>
                        </label>

                        <div class="merchello-controls">

                            <div class="row-fluid">
                                <div class="form-group col-xs-6 span6">
                                    <!-- All Digital Goods will be goods will be included in version 2 -->
                                    <!--<label class="label-checkbox"><input name="digital" type="checkbox"> <span>All items have/are digital goods</span></label>-->
                                    <label class="label-checkbox"><input name="taxable" type="checkbox" data-ng-model="settingsDisplay.globalTaxable"> <span><localize key="merchelloSettings_globalTaxable" /></span></label>                                    
                                    <label class="label-checkbox"><input name="shippable" type="checkbox" data-ng-model="settingsDisplay.globalShippable" > <span><localize key="merchelloSettings_globalShippable" /></span></label>
                                </div>
                                <div class="form-group col-xs-6 span6">
                                    <label class="label-checkbox"><input name="trackinventory" type="checkbox" data-ng-model="settingsDisplay.globalTrackInventory"> <span><localize key="merchelloSettings_globalTrackInventory" /></span></label>
                                    <label class="label-checkbox"><input name="taxableshipping" type="checkbox" data-ng-model="settingsDisplay.globalShippingIsTaxable"> <span><localize key="merchelloSettings_globalShippingIsTaxable" /></span></label>
                                </div>
                            </div>

                        </div>
                    </div>

                </div>
            </merchello-panel>
            
        </umb-panel>
</form>