<link href="/App_Plugins/Merchello/Common/Css/merchello.css" rel="stylesheet">

<div 
    data-ng-controller="Merchello.Dashboards.Settings.ShippingController"
    data-ng-show="loaded">

    <umb-panel>

        <umb-header>

            <div class="span4">
                <div class="umb-headline-editor-wrapper">
                     <h1 class="umb-headline">Shipping</h1>
                </div>
            </div>


            <div class="span8">
                <div class="btn-toolbar pull-right umb-btn-toolbar">
                    
                    <div class="btn-group">

                    </div>

                </div>
            </div>

        </umb-header>
        
        <div class="merchello-panel-body">

            <div class="merchello-pane row-fluid" data-ng-class="{ 'open': visible.warehouseListPanel, 'closed': !visible.warehouseListPanel }">
                <div class="control-group umb-control-group">
                    <label class="merchello-control-label">
                        Warehouse Info
                        <small>Edit your warehouse</small>
                        <a data-ng-click="addWarehouseFlyout.open(primaryWarehouse)"><i class="icon-door-open"></i> Edit Warehouse</a>
                    </label>

                    <div class="merchello-controls">

                        <div class="row-fluid span10 col-xs-10">

                            <!-- Add a Warehouse Flyout -->
                            <form name="addWarehouseForm" class="well col-xs-12 span12" data-ng-class="{ 'open': visible.addWarehouseFlyout, 'closed': !flyouts.addWarehouseFlyout }">
                                <button class="btn close" data-ng-click="addWarehouseFlyout.close()"><i class="icon-delete"></i></button>
                                <h4 data-ng-switch="newWarehouse.key">
                                    <span data-ng-switch-when="no key created">Add a Warehouse</span>
                                    <span data-ng-switch-default="">Edit Warehouse</span>
                                </h4>
                                <div class="form-group row-fluid">
                                    <label for="name">Name</label>
                                    <input class="span6" name="name" type="text" data-ng-model="newWarehouse.name" />
                                </div>
                                <div class="form-group row-fluid">
                                    <label for="address">Address</label>
                                    <input class="span6" name="address" type="text" placeholder="Street Address" data-ng-model="newWarehouse.address1" />
                                    <input class="span6" name="extended-address" type="text" placeholder="Extended Address" data-ng-model="newWarehouse.address2" />
                                    <input class="span6" name="city" type="text" placeholder="City" data-ng-model="newWarehouse.locality" />
                                </div>
                                <div class="form-group row-fluid">
                                    <input class="span3" name="state-province" type="text" placeholder="State/Province" data-ng-model="newWarehouse.region" />
                                    <input class="span3" name="postal-code" type="text" placeholder="Zip/Postal Code" data-ng-model="newWarehouse.postalCode" />
                                </div>
                                <div class="form-group row-fluid">
                                    <input class="span6" name="country" type="text" placeholder="Country" data-ng-model="newWarehouse.countryCode" />
                                    <label class="label-checkbox"><input name="primary" type="checkbox" data-ng-model="newWarehouse.isDefault"> <span>Make this my primary warehouse</span></label>
                                </div>

                                <div>
                                    <input type="submit" class="btn" value="Cancel" data-ng-click="addWarehouseFlyout.close()" />
                                    <input type="submit" class="btn btn-primary" value="Save" data-ng-click="addWarehouseFlyout.save()" />
                                </div>
                            </form>

                            <!-- Delete a Warehouse Flyout -->
                            <form name="deleteWarehouseForm" class="well" data-ng-class="{ 'open': visible.deleteWarehouseFlyout, 'closed': !flyouts.deleteWarehouseFlyout }">
                                <h4>Are you sure you want to remove the warehouse '{{deleteWarehouse.name}}'?</h4>
                                <div>
                                    <input type="submit" class="btn" value="No" data-ng-click="deleteWarehouseFlyout.close()" />
                                    <input type="submit" class="btn btn-primary" value="Yes" data-ng-click="deleteWarehouseFlyout.confirm()" />
                                </div>
                            </form>

                            <div>
                                <h3>{{primaryWarehouse.name}}</h3>
                                <div class="adr">
                                    <div class="street-address">{{primaryWarehouse.address1}}</div>
                                    <div class="extended-address">{{primaryWarehouse.address2}}</div>
                                    <span class="locality">{{primaryWarehouse.locality}}</span>, <span class="region">{{primaryWarehouse.region}}</span> <span class="postal-code">{{primary.postalCode}}</span>
                                    <div class="country">{{primaryWarehouse.countryCode}}</div>
                                </div>
                            </div>


                            <!--
                            <table class="table table-striped merchello-striped-table settings-table warehouse-table">
                                <thead>
                                    <tr>
                                        <th>Primary</th>
                                        <th>Name</th>
                                        <th>Address</th>
                                        <th></th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr class="vcard" data-ng-repeat="warehouse in warehouses | orderBy:sortProperty">
                                        <td><input type="radio" name="primary" data-ng-click="changePrimaryWarehouse(warehouse)" data-ng-checked="warehouse.isDefault" /></td>
                                        <td class="org">{{warehouse.name}}</td>
                                        <td class="adr">
                                            <span class="street-address">{{warehouse.address1}}</span>
                                            <span class="extended-address">{{warehouse.address2}}</span>
                                            <span class="locality">{{warehouse.locality}}</span>, <span class="region">{{warehouse.region}}</span> <span class="postal-code">{{warehouse.postalCode}}</span>
                                        </td>
                                        <td class="edit">
                                            <div class="btn-toolbar umb-btn-toolbar">
                                                <a class="btn btn-default btn-xs btn-mini" data-ng-click="addWarehouseFlyout.open(warehouse)">edit</a> <a class="btn btn-warning btn-xs btn-mini" data-ng-click="deleteWarehouseFlyout.open(warehouse)">x</a>
                                            </div>
                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                            -->
                        </div>
                    </div>
                </div>
            </div>

            <div class="merchello-pane row-fluid" data-ng-class="{ 'open': visible.shippingMethodPanel, 'closed': !visible.shippingMethodPanel }">
                    
                <!-- Property classes from Umbraco styles -->
                <div class="control-group umb-control-group">
                    <label class="merchello-control-label">
                        Shipping Methods
                        <small>Add shipping methods to existing regions or create a new region</small>
                        <a data-ng-click="addCountryFlyout.open(countryToAdd)"><i class="icon-map"></i> Add a Country</a>
                    </label>

                    <div class="merchello-controls">

                        <div class="row-fluid span10 col-xs-10">

                            <!-- Add a Country Flyout -->
                            <form  name="addCountryForm" class="well col-xs-12 span12" data-ng-class="{ 'open': visible.addCountryFlyout, 'closed': !visible.addCountryFlyout }">
                                <button class="btn close" data-ng-click="addCountryFlyout.close()"><i class="icon-delete"></i></button>
                                <h4>Add a Country</h4>
                                <div class="form-group row-fluid country-dropdown">
                                    <label for="country-name">Type your Country Name</label>
                                    <div class="input-append col-xs-12 span12">
                                        <!-- A country list should fly out beneath this input when the user starts typing or if they select the dropdown button -->
                                        <dropdown-list selected="addCountryFlyout.model" placeholder="Type a country name" countries="availableCountries"></dropdown-list>
                                    </div>
                                </div>

                                <div>
                                    <input type="submit" class="btn" value="Cancel" data-ng-click="addCountryFlyout.close()" />
                                    <input type="submit" class="btn btn-primary" value="Add Country" data-ng-click="addCountryFlyout.confirm()" />
                                </div>
                            </form>
                            
                            <!-- Add a Provider Flyout -->
                            <form  name="addProviderForm" class="well col-xs-12 span12" data-ng-class="{ 'open': visible.addProviderFlyout, 'closed': !visible.addProviderFlyout }">
                                <button class="btn close" data-ng-click="addProviderFlyout.close()"><i class="icon-delete"></i></button>
                                <h4>Add a Provider</h4>
                                <div class="form-group row-fluid provider-dropdown">
                                    <label for="provider-name">Select Your Provider</label>
                                    <div class="input-append col-xs-12 span12">
                                        <select name="availableProviders" data-ng-model="addProviderFlyout.model" data-ng-options="p.name for p in providers track by p.key"></select>
                                    </div>
                                    <div>{{addProviderFlyout.model.name}}</div>
                                </div>

                                <div>
                                    <input type="submit" class="btn" value="Cancel" data-ng-click="addProviderFlyout.close()" />
                                    <input type="submit" class="btn btn-primary" value="Add Provider" data-ng-click="addProviderFlyout.confirm()" />
                                </div>
                            </form>

                            <!-- Add a Shipping Method Flyout -->
                            <div class="well col-xs-12 span12" data-ng-class="{ 'open': visible.addEditShippingMethodFlyout, 'closed': !visible.addEditShippingMethodFlyout }">
                                <button class="btn close" data-ng-click="addEditShippingMethodFlyout.close()"><i class="icon-delete"></i></button>
                                <h4>Add/Edit a Shipping Method & Rate for {{addEditShippingMethodFlyout.model.name}}</h4>
                                <div class="form-group row-fluid">
                                    <label for="method-name">Name</label>
                                    <input name="method-name" class="col-xs-6 span6" type="text" />
                                </div>

                                <div class="form-group row-fluid">
                                    <label for="method-type">Method</label>
                                    <div class="col-xs-4 span4 row-fluid">
                                        <select name="method-type" class="col-xs-11 span11">
                                            <option>Vary by Weight</option>
                                        </select>
                                    </div>
                                    <!-- The fields below display depending on the selection. Vary by weight will show start/end weight fields. Vary by price will show start/end price fields. Free will show no fields -->
                                    <div class="input-append col-xs-1 span1">
                                        <input type="text" class="col-xs-7 span7" />
                                        <span class="add-on">lbs</span> <!-- This value is pulled in by lbs or g/kg depending on the user's preferred system in settings -->
                                    </div>
                                    <span class="text-center break">-</span>
                                    <div class="input-append col-xs-1 span1">
                                        <input type="text" class="col-xs-7 span7" />
                                        <span class="add-on">lbs</span> <!-- This value is pulled in by lbs or g/kg depending on the user's preferred system in settings -->
                                    </div>
                                </div>

                                <div class="form-group row-fluid">
                                    <label for="shipping-cost">Shipping Cost</label>
                                    <div class="input-prepend col-xs-6 span6">
                                        <span class="add-on">$</span> <!-- This value is pulled in by the user's currency settings -->
                                        <input type="text" class="col-xs-3 span3" />
                                    </div>
                                </div>

                                <h5>Adjust for Individual Regions</h5>

                                <table class="table table-striped merchello-striped-table settings-table adjustment-table">
                                    <thead>
                                        <tr>
                                            <th>Region</th>
                                            <th>Adjust Rate</th>
                                            <th>Final Rate</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr data-ng-repeat="province in addEditShippingMethodFlyout.model.provinces">
                                            <td>{{province.name}}</td>
                                            <td>
                                                <div class="input-prepend">
                                                    <span class="add-on">$</span>
                                                    <input type="number" class="span5" />
                                                </div>
                                            </td>
                                            <td>$25.00</td>
                                        </tr>
                                    </tbody>
                                </table>

                                <div>
                                    <input type="submit" class="btn" value="Cancel" data-ng-click="addEditShippingMethodFlyout.close()" />
                                    <input type="submit" class="btn btn-primary" value="Save" data-ng-click="addEditShippingMethodFlyout.confirm()" />
                                </div>
                            </div>
                            
                            <div data-ng-repeat="country in countries" class="merchello-shipping-country">
                                <h3>{{country.name}}</h3>
                                <a data-ng-click="openProviderFlyout(country)" class="btn btn-primary merchello-button-right">Add a Provider</a>
                                <div data-ng-repeat="shippingGatewayProviders in country.shippingGatewayProviders" class="merchello-shipping-gateway-provider">
                                    <h4>{{shippingGatewayProviders.name}} - {{shippingGatewayProviders.typeFullName}}</h4>
                                    <table data-ng-repeat="fixedRateShipMethod in shippingGatewayProviders.shipMethods" class="table table-striped merchello-striped-table settings-table shipping-table">
                                        <thead>
                                            <tr>
                                                <th colspan="4">{{fixedRateShipMethod.shipMethod.name}}</th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            <!--<tr data-ng-repeat="method in shipMethods">
                                                <td>{{method.name}}</td>
                                                <td></td>
                                                <td></td>
                                                <td></td>
                                                <td class="edit"><a href="#" class="btn btn-default btn-xs btn-mini">edit</a> <a class="btn btn-warning btn-xs btn-mini" href="#">x</a></td>
                                            </tr>-->
                                        </tbody>
                                    </table>
                                </div>
                            </div>

<!--                            <table class="table table-striped merchello-striped-table settings-table shipping-table">
                                <thead>
                                    <tr>
                                        <th colspan="4">United Kingdom</th>
                                        <th><a href="#" class="btn btn-primary">Add a Method</a></th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr>
                                        <td>Standard Shipping</td>
                                        <td>Bramble Berry, Mindfly</td>
                                        <td>0lbs-5lbs</td>
                                        <td>$50.00</td>
                                        <td class="edit"><a href="#" class="btn btn-default btn-xs btn-mini">edit</a> <a class="btn btn-warning btn-xs btn-mini" href="#">x</a></td>
                                    </tr>
                                </tbody>
                            </table>

                            <table class="table table-striped merchello-striped-table settings-table shipping-table">
                                <thead>
                                    <tr>
                                        <th colspan="4">United States</th>
                                        <th><a href="#" class="btn btn-primary">Add a Method</a></th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr>
                                        <td>Standard Shipping</td>
                                        <td>Bramble Berry, Mindfly</td>
                                        <td>0lbs-5lbs</td>
                                        <td>$5.00</td>
                                        <td class="edit"><a href="#" class="btn btn-default btn-xs btn-mini">edit</a> <a class="btn btn-warning btn-xs btn-mini" href="#">x</a></td>
                                    </tr>
                                    <tr>
                                        <td>Heavy Goods Shipping</td>
                                        <td>Bramble Berry, Mindfly</td>
                                        <td>5lbs-20lbs</td>
                                        <td>$10.00</td>
                                        <td class="edit"><a href="#" class="btn btn-default btn-xs btn-mini">edit</a> <a class="btn btn-warning btn-xs btn-mini" href="#">x</a></td>
                                    </tr>
                                </tbody>
                            </table>-->

 <!--                           <table class="table table-striped merchello-striped-table settings-table shipping-table">
                                <thead>
                                    <tr>
                                        <th colspan="4">Everywhere Else</th>
                                        <th><a href="#" class="btn btn-primary">Add a Method</a></th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr>
                                        <td>Standard Shipping</td>
                                        <td>Bramble Berry</td>
                                        <td>0lbs-5lbs</td>
                                        <td>$50.00</td>
                                        <td class="edit"><a href="#" class="btn btn-default btn-xs btn-mini">edit</a> <a class="btn btn-warning btn-xs btn-mini" href="#">x</a></td>
                                    </tr>
                                </tbody>
                            </table>-->

                        </div>

                    </div>
                </div>
            </div>

            <div class="merchello-pane row-fluid">
                <div class="control-group umb-control-group">
                    <label class="merchello-control-label">
                        <label><input data-ng-model="debugging" type="checkbox" /> Debug</label>
                        <small>Check to show debugging info</small>
                    </label>

                    <div class="merchello-controls">

                        <div data-ng-show="debugging">
                            <h3>Warehouse</h3>
                            <div class="jsonInfo">{{warehouses | json}}</div>
                                                
                            <h3>shipCountry</h3>
                            <div class="jsonInfo">{{currentShipCountry | json}}</div>
                                                
                            <h3>providerToAdd</h3>
                            <div class="jsonInfo">{{providerToAdd | json}}</div>
                                                
                            <h3>providers</h3>
                            <div class="jsonInfo">{{providers | json}}</div>
                                                
                            <h3>countryToAdd</h3>
                            <div class="jsonInfo">{{countryToAdd | json}}</div>
                                                
                            <h3>countries</h3>
                            <div class="jsonInfo">{{countries | json}}</div>
                                                
                            <h3>Available Countries</h3>
                            <div class="jsonInfo">{{availableCountries | json}}</div>

                        </div>

                    </div>
                </div>
            </div>

        </div>
           
    </umb-panel>
</div>