<div class="umb-panel merchello-context-panel constraint-product-selector" ng-controller="Merchello.PropertyEditors.MerchelloMultiProductDialogController" data-ng-show="loaded">
    <h4>
        <span data-ng-show="addToCollection"><localize key="merchelloCollections_addEntities" /></span>
        <span data-ng-hide="addToCollection"><localize key="merchelloCollections_removeEntities" /></span>
    </h4>
    <form class="form-horizontal entity-selection-form">
        <div class="merchello-pane">
            <div class="form-group control-group row-fluid">
                <div class="col-xs-7 span7 controls">
                    <label for="entityFilter"><localize key="merchelloGeneral_filterBy"/></label>
                    <input id="entityFilter" class="form-control span8" name="entityFilter" data-ng-model="filtertext" localize="placeholder" placeholder="@placeholders_filter" />
                    <button id="entityFilterGo" class="btn" data-ng-click="getFilteredEntities(filtertext)"><localize key="merchelloGeneral_filter" /></button>
                </div>
                <div class="col-xs-7 span7 control-group padTop">
                    <label>
                        <input type="radio" name="mode" data-ng-model="addToCollection" data-ng-value="true" data-ng-click="toggleMode()" />
                        <localize key="merchelloCollections_addEntities" />
                    </label>
                    <label>
                        <input type="radio" name="mode" data-ng-model="addToCollection"  data-ng-value="false"  data-ng-click="toggleMode()" />
                        <localize key="merchelloCollections_removeEntities" />
                    </label>
                </div>
            </div>
        </div>
    </form>

    <div class="merchello-pane">
        <merchello-pager></merchello-pager>
        <merchello-spinner />
    </div>

    <table class="table table-hover merchello-selectable-table entity-collection-table sortable" data-ng-show="products.length > 0">
        <thead>
        <tr>
            <th data-ng-click="changeSortOrder('name')" data-ng-class="{'sorted': sortProperty == 'name' ||  sortProperty == '-name'}">
                <i data-ng-class="{'icon-navigation-up': sortProperty == 'name', 'icon-navigation-down': sortProperty == '-name'}"></i> <localize key="merchelloVariant_product"/>
            </th>
            <th data-ng-click="changeSortOrder('sku')" data-ng-class="{'sorted': sortProperty == 'sku' ||  sortProperty == '-sku'}">
                <i data-ng-class="{'icon-navigation-up': sortProperty == 'sku', 'icon-navigation-down': sortProperty == '-sku'}"></i> <localize key="merchelloVariant_sku"/>
            </th>
            <th data-ng-click="changeSortOrder('price')" data-ng-class="{'sorted': sortProperty == 'price' ||  sortProperty == '-price'}">
                <i data-ng-class="{'icon-navigation-down': sortProperty == 'price', 'icon-navigation-up': sortProperty == '-price'}"></i> <localize key="merchelloGeneral_price"/>
            </th>
            <th>&nbsp;</th>
        </tr>
        </thead>
        <tbody>
        <tr data-ng-repeat="product in products"
            data-ng-class="{active: product.selected}">
            <td>{{product.name}}</td>
            <td>{{product.sku}}</td>
            <td data-ng-hide="product.hasVariants">{{product.price | currency : currencySymbol}}</td>
            <td data-ng-show="product.hasVariants">{{product.variantsMinimumPrice() | currency : currencySymbol}} - {{product.variantsMaximumPrice() | currency : currencySymbol}}</td>
            <td>
                <a class="btn btn-default btn-xs btn-mini" href data-ng-click="handleEntity(product)">
                    <span data-ng-show="addToCollection"><i class="icon-add" /></span>
                    <span data-ng-hide="addToCollection"><i class="icon-trash" /></span>
                </a>
            </td>
        </tr>
        </tbody>
    </table>


</div>