
// Global Panel - Contains entire contents. All pages should be wrapped in this
.merchello {
    .umb-editor-drawer {
        .umb-button-group {
            .umb-button {
                margin-left: 4px;
            }
        }
    }

    .panel-right-padding {
        padding-right: 20px;
    }

    .panel-left-padding {
        padding-left: 20px;
    }
}

// This covers the main content, not including the header
.merchello-panel-body {
    // Form groups
    .form-group {
        label {
            display: block;
            clear: both;

            small {
                padding-top: 0;
            }
        }
    }
    // Form elements
    .label-checkbox {
        margin: 5px 0;
        display: block;

        input[type=checkbox] {
            float: left;
            margin: 3px 5px 0 0;
            top: auto;
        }
    }
    // This is an overide to stop umbraco hiding the icons on hover
    .umb-listview .table-striped tbody .merchello-icon i:not(.handle):hover {
        display: inline-block !important;
    }
    // Panels Opened and closed
    .closed {
        opacity: 0;
        max-height: 0;
        overflow: hidden;
        @include transition;

        &.control-group {
            margin-bottom: 0 !important;
        }

        &.well {
            padding: 0;
            margin-bottom: 0;
            min-height: 0;
        }
    }

    .open {
        opacity: 1;
        max-height: 99999px;
        @include transition;

        &.control-group {
            padding-bottom: 30px;
        }

        &.well {
            padding: 19px;
            margin-bottom: 20px;
            clear:both;
        }
    }
    // Button bar
    .button-bar {
        margin-bottom: 20px;
    }
    // Tables
    table {
        tr {
            td {
                color: #817f85;
                font-size: 14px;
            }
        }

        tr {
            th {
                font-size: 13px;
                line-height: 13px;
            }
        }
    }
}

// This is the tabs panel
.merchello-tabs {

}

// Forms
.form-group {
    .error {
        color: firebrick;
    }

    .warning {
        color: $warning;
    }
}

// Umbraco overides
.umb-panel-header-content {
    .dropdown-menu {
        left:auto;
        right:0;
    }
}