<?xml version="1.0"?>
<ExamineLuceneIndexSets xmlns:xdt="http://schemas.microsoft.com/XML-Document-Transform">
  <IndexSet  xdt:Transform="InsertIfMissing" SetName="ExternalIndexSet" IndexPath="~/App_Data/TEMP/ExamineIndexes/{machinename}/External/" />
  <IndexSet  xdt:Transform="InsertIfMissing" SetName="MerchelloProductIndexSet" IndexPath="~/App_Data/TEMP/ExamineIndexes/{machinename}/Merchello/Product/" />
  <IndexSet  xdt:Transform="InsertIfMissing" SetName="MerchelloInvoiceIndexSet" IndexPath="~/App_Data/TEMP/ExamineIndexes/{machinename}/Merchello/Invoice/" />
  <IndexSet  xdt:Transform="InsertIfMissing" SetName="MerchelloOrderIndexSet" IndexPath="~/App_Data/TEMP/ExamineIndexes/{machinename}/Merchello/Order/" />
  <IndexSet  xdt:Transform="InsertIfMissing" SetName="MerchelloCustomerIndexSet" IndexPath="~/App_Data/TEMP/ExamineIndexes/{machinename}/Merchello/Customer/" />
</ExamineLuceneIndexSets>