<?xml version="1.0"?>
<configuration xmlns:xdt="http://schemas.microsoft.com/XML-Document-Transform">
    <configSections>
        <section xdt:Transform="InsertIfMissing" name="merchello" type="Merchello.Core.Configuration.Outline.MerchelloSection" />
    </configSections>
    <merchello xdt:Transform="InsertIfMissing"  configSource="App_Plugins\Merchello\Config\merchello.config" />
    <appSettings>
      <!-- If merchelloConfigurationStatus is missing (or set to 0.0.0) will force a Merchello database install -->
      <add xdt:Transform="InsertIfMissing"  key="merchelloConfigurationStatus" value="0.0.0" />
    </appSettings>
</configuration>