<table class="table table-striped merchello-striped-table order-items" data-ng-show="loaded">
    <thead>
        <tr>
            <th><localize key="general_name">Name</localize></th>
            <th><localize key="merchelloGeneral_sku">SKU</localize></th>
            <th class="text-center"><localize key="merchelloGeneral_quantity">Qty</localize></th>
            <th class="text-right"><localize key="merchelloSales_tblInvoiceUnitPrice">Unit Price</localize></th>
            <th class="text-right"><localize key="merchelloSales_tblInvoiceTotalPrice">Total Price</localize></th>
            <th class="text-right" style="width: 30px;"></th>
        </tr>
    </thead>
    <tbody>
    <tr data-ng-repeat="lineItem in itemization.products">
        <td>{{lineItem.name}}</td>
        <td class="break-all">
            <span ng-show="lineItem.extendedData.getValue('merchAdjustment') != ''">
                <small><localize key="merchelloSales_adjustmentAssignedBy"></localize>: {{ lineItem.extendedData.getValue('userName')}}</small>
            </span>
            <span ng-show="lineItem.extendedData.getValue('merchAdjustment') == ''">
                <a href ng-click="lineItemPreview(lineItem.sku)">{{lineItem.sku}}</a>
            </span>
        </td>
        <td class="text-center">{{lineItem.quantity}}</td>
        <td class="text-right">{{lineItem.price | currency : currencySymbol}}</td>
        <td class="text-right">{{lineItem.quantity * lineItem.price | currency : currencySymbol}}</td>
        <td>
            <span class="merchello-icons" ng-show="lineItem.extendedData.getValue('merchAdjustment') == '' && canEditLineItems">
                <a class="merchello-icon merchello-icon-edit" ng-click="editLineItem(lineItem, 'Product')" title="Edit" prevent-default><i class="icon icon-edit"></i></a>
            </span>
        </td>
    </tr>
    <tr data-ng-show="itemization.custom.length > 0" data-ng-repeat="customItem in itemization.custom">
        <td>{{customItem.name}}</td>
        <td class="break-all">{{customItem.sku}}</td>
        <td class="text-center">{{customItem.quantity}}</td>
        <td class="text-right">{{customItem.price | currency : currencySymbol}}</td>
        <td class="text-right">{{customItem.quantity * customItem.price | currency : currencySymbol}}</td>
        <td>
        </td>
    </tr>
    <tr data-ng-show="itemization.adjustments.length > 0">
        <td colspan="6"><strong><localize key="merchelloSales_adjustments"></localize></strong></td>
    </tr>
    <tr data-ng-show="itemization.adjustments.length > 0" data-ng-repeat="adjustmentItem in itemization.adjustments">
        <td class="adjustment-name">
            {{adjustmentItem.name}}            
        </td>
        <td colspan="3">
            <small data-ng-show="adjustmentItem.extendedData.items[0].value !== ''">
                <localize key="merchelloSales_adjustmentAssignedBy"></localize>: {{ adjustmentItem.extendedData.getValue('userName')}}
            </small> 
        </td>
        <td class="text-right">
            <span data-ng-show="adjustmentItem.price < 0">({{adjustmentItem.absPrice() | currency : currencySymbol}})</span>
            <span data-ng-show="adjustmentItem.price >= 0">{{adjustmentItem.absPrice() | currency : currencySymbol}}</span>
        </td>
        <td></td>
    </tr>
    <tr data-ng-show="itemization.discounts.length > 0" data-ng-repeat="discountItem in itemization.discounts">
        <td>{{discountItem.name}}</td>
        <td class="break-all">{{discountItem.sku}}</td>
        <td class="text-center">{{discountItem.quantity}}</td>
        <td class="text-right">({{discountItem.price | currency : currencySymbol}})</td>
        <td class="text-right">({{discountItem.quantity * discountItem.price | currency : currencySymbol}})</td>
        <td></td>
    </tr>
    <tr>
        <td colspan="4" class="text-right"><localize key="merchelloShipping_shipping" /></td>
        <td class="text-right">{{itemization.shippingTotal | currency : currencySymbol}}</td>
        <td></td>
    </tr>
    <tr>
        <td colspan="4" class="text-right"><localize key="merchelloOrderView_salesTax" /></td>
        <td class="text-right">{{itemization.taxTotal | currency : currencySymbol}}</td>
        <td></td>
    </tr>

    <tr>
        <td colspan="4" class="text-right"><localize key="merchelloGeneral_total" /></td>
        <td class="text-right">{{itemization.invoiceTotal | currency : currencySymbol}}</td>
        <td></td>
    </tr>
    <tr data-ng-repeat="payment in payments" data-ng-hide="payments.length == 0">
        <td colspan="2">
            <i data-ng-class="{ 'icon-credit-card': payment.paymentMethodType === 'CreditCard', 'icon-receipt-dollar': payment.paymentMethodType === 'Cash' }"></i>
        </td>
        <td>
            <span data-ng-show="payment.paymentMethodType == 'CreditCard'" class="card-no">xxxx-xxxx-xxxx-xxxx</span>
            <span class="payment-method"><localize key="merchelloOrderView_paymentProcessedBy" /> {{payment.paymentMethodName}}</span>
        </td>
        <td class="text-right">{{authorizedCapturedLabel}}:</td>
        <td class="text-right">{{payment.amount | currency : currencySymbol}}</td>
        <td></td>
    </tr>
    <tr ng-hide="remainingBalance == 0">
        <td colspan="4" class="text-right">Collected:</td>
        <td class="text-right">{{invoice.total - remainingBalance | currency : currencySymbol }}</td>
        <td></td>
    </tr>
    <tr>
        <td colspan="4" class="text-right"><localize key="merchelloSales_balanceDue">Balance due</localize>:
        </td>
        <td class="text-right">{{remainingBalance | currency : currencySymbol }}</td>
        <td></td>
    </tr>
    </tbody>
</table>