<div class="merchello-list-view umb-listview">
    <div data-ng-show="showTitle">
        <h2>{{ title }}</h2>
    </div>
    <table class="table table-striped">
        <thead>
        <tr>
            <td data-ng-repeat="col in config.columns">
                <a href="#" data-ng-click="sort(col.name, !col.resultColumn)" prevent-default data-ng-class="{sortable : !col.resultColumn }">
                    <localize key="{{ col.localizeKey }}" />
                    <i class="icon" ng-class="{'icon-navigation-up': isSortDirection(col.name, 'asc'), 'icon-navigation-down': isSortDirection(col.name, 'desc')}"></i>
                </a>
            </td>
        </tr>
        <tr data-ng-show="enableDateFilter">
            <td colspan="{{ config.columns.length}}">
                <div class="btn-group pull-right">
                    <a href="#" class="btn btn-small" data-ng-click="openDateRangeDialog()" prevent-default>{{ dateBtnText }}</a>
                    <a href="#" class="btn btn-small" prevent-default data-ng-click="clearDates()" data-ng-show="startDate !== '' && endDate !== ''">X</a>
                </div>
            </td>
        </tr>
        </thead>

        <tbody data-ng-show="!preValuesLoaded">
        <tr>
            <td colspan="{{ config.columns.length }}">
                <div class="umb-loader-wrapper">
                    <div class="umb-loader"></div>
                </div>
            </td>
        </tr>
        </tbody>

        <tbody ng-show="listViewResultSet.totalItems === 0 && preValuesLoaded">
        <tr>
            <td colspan="{{ config.columns.length }}">
                <p><localize key="content_listViewNoItems">There are no items show in the list.</localize></p>
            </td>
        </tr>
        </tbody>


        <tbody ng-show="listViewResultSet.totalItems > 0">
        <tr ng-repeat="result in listViewResultSet.items" data-ng-class="{selected:result.selected}">
            <td data-ng-repeat="col in config.columns" data-ng-bind-html="getColumnValue()(result, col)"></td>
        </tr>
        </tbody>

    </table>


</div>