@using Merchello.Core.Configuration
<div class="container">
    <div class="row">
        <div class="col-md-8">
            
        </div>
        <div class="col-md-4">
            <img class="pull-right" src="~/App_Plugins/Merchello/client/img/logo-footer.png"/>
            <span class="merchello-version">Merchello @MerchelloVersion.Current</span>
        </div>
    </div>
</div>