<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <section name="merchello" type="Merchello.Core.Configuration.Outline.MerchelloSection, Merchello.Core" />
  </configSections>
  <appSettings>
    <!--add key="syntax" value="SqlServer" /-->
    <add key="syntax" value="SqlCe" />
    <add key="stripeApiKey" value="sk_test_BQokikJOvBiI2HlWgH4olfQ2" />
  </appSettings>
  <connectionStrings>

    <add name="umbracoDbDsn" connectionString="Data Source=C:\Working Repositories\GitHub\Merchello\Plugin\Payments\Stripe\src\Merchello.Tests.Stripe.Integration\Umbraco.sdf" providerName="System.Data.SqlServerCe.4.0" />


    <!--add name="umbracoDbDSN" connectionString="server=jarjar;database=merchello;user id=merchello;password=merchello"
            providerName="System.Data.SqlClient" /-->

    <!--add name="umbracoDbDSN" connectionString="server=jarjar;database=merchello;user id=merchello;password=merchello" providerName="System.Data.SqlClient" /-->

    <!--add name="umbracoDbDSN" connectionString="server=mordor;database=merchello;user id=merchello;password=merchello"
          providerName="System.Data.SqlClient" /-->

  </connectionStrings>

  <merchello>

    <settings>
      <setting alias="DefaultSkuSeparator" value="-" />

      <!-- 
    Overrides the Payment Method's IPaymentResponse ApproveOrderCreation indicating an order should always be created no matter
    if the payment has been collected or not. 
    -->
      <setting alias="AlwaysApproveOrderCreation" value="true" />

    </settings>

    <strategies>
      <strategy alias="DefaultPackaging" type="Merchello.Core.Strategies.Packaging.DefaultWarehousePackagingStrategy, Merchello.Core" />
      <strategy alias="DefaultShipmentRateQuote" type="Merchello.Core.Gateways.Shipping.DefaultShipmentRateQuoteStrategy, Merchello.Core" />
      <strategy alias="DefaultInvoiceTaxRateQuote" type="Merchello.Core.Gateways.Taxation.FixedRate.FixedRateTaxCalculationStrategy, Merchello.Core" />
    </strategies>

    <taskChains>
      <taskChain alias="SalesPreparationInvoiceCreate">
        <tasks>
          <task type="Merchello.Core.Chains.InvoiceCreation.AddBillingInfoToInvoiceTask, Merchello.Core" />
          <task type="Merchello.Core.Chains.InvoiceCreation.ConvertItemCacheItemsToInvoiceItemsTask, Merchello.Core" />
          <task type="Merchello.Core.Chains.InvoiceCreation.ApplyTaxesToInvoiceTax, Merchello.Core" />
          <task type="Merchello.Core.Chains.InvoiceCreation.ValidateCommonCurrency, Merchello.Core" />
        </tasks>
      </taskChain>
      <taskChain alias="OrderPreparationOrderCreate">
        <tasks>
          <task type="Merchello.Core.Chains.OrderCreation.ConvertInvoiceItemsToOrderItemsTask, Merchello.Core" />
        </tasks>
      </taskChain>
      <taskChain alias="OrderPreparationShipmentCreate">
        <tasks>
          <task type="Merchello.Core.Chains.ShipmentCreation.AddShippableOrderLineItemsToShipmentTask, Merchello.Core" />
          <task type="Merchello.Core.Chains.ShipmentCreation.RemoveShipmentOrderItemsFromInventoryAndPersistShipmentTask, Merchello.Core" />
          <task type="Merchello.Core.Chains.ShipmentCreation.SetOrderStatusTask, Merchello.Core" />
        </tasks>
      </taskChain>
    </taskChains>

    <typeFieldDefinitions />

    <!--    Country provinces are used by Shipping and Taxations providers  -->
    <regionalProvinces>
      <region code="US" requirePostalCode="false">
        <provinces>
          <province name="Alabama" code="AL" />
          <province name="Alaska" code="AK" />
          <province name="Arizona" code="AZ" />
          <province name="Arkansas" code="AR" />
          <province name="California" code="CA" />
          <province name="Colorado" code="CO" />
          <province name="Connecticut" code="CT" />
          <province name="Delaware" code="DE" />
          <province name="Florida" code="FL" />
          <province name="Georgia" code="GA" />
          <province name="Hawaii" code="HI" />
          <province name="Idaho" code="ID" />
          <province name="Illinois" code="IL" />
          <province name="Indiana" code="IN" />
          <province name="Iowa" code="IA" />
          <province name="Kansas" code="KS" />
          <province name="Kentucky" code="KY" />
          <province name="Louisiana" code="LA" />
          <province name="Maine" code="ME" />
          <province name="Maryland" code="MD" />
          <province name="Massachusetts" code="MA" />
          <province name="Michigan" code="MI" />
          <province name="Minnesota" code="MN" />
          <province name="Mississippi" code="MS" />
          <province name="Missouri" code="MO" />
          <province name="Montana" code="MT" />
          <province name="Nebraska" code="NE" />
          <province name="Nevada" code="NV" />
          <province name="New Hampshire" code="NH" />
          <province name="New Jersey" code="NJ" />
          <province name="New Mexico" code="NM" />
          <province name="New York" code="NY" />
          <province name="North Carolina" code="NC" />
          <province name="North Dakota" code="ND" />
          <province name="Ohio" code="OH" />
          <province name="Oklahoma" code="OK" />
          <province name="Oregon" code="OR" />
          <province name="Pennsylvania" code="PA" />
          <province name="Rhode Island" code="RI" />
          <province name="South Carolina" code="SC" />
          <province name="South Dakota" code="SD" />
          <province name="Tennessee" code="TN" />
          <province name="Texas" code="TX" />
          <province name="Utah" code="UT" />
          <province name="Vermont" code="VT" />
          <province name="Virginia" code="VA" />
          <province name="Washington" code="WA" />
          <province name="West Virginia" code="WV" />
          <province name="Wisconsin" code="WI" />
          <province name="Wyoming" code="WY" />
          <province name="American Samoa" code="AS" />
          <province name="District of Columbia" code="DC" />
          <province name="Federated States of Micronesia" code="FM" />
          <province name="Guam" code="GU" />
          <province name="Marshall Islands" code="MH" />
          <province name="Northern Mariana Islands" code="MP" />
          <province name="Palau" code="PW" />
          <province name="Puerto Rico" code="PR" />
          <province name="Virgin Islands" code="VI" />
          <province name="Armed Forces - Africa, Canada, Europe" code="AE" />
          <province name="Armed Forces Americas" code="AA" />
          <province name="Armed Forces Pacific" code="AP" />
        </provinces>
      </region>
      <region code="CA" requirePostalCode="false">
        <provinces>
          <province name="Alberta" code="AB" />
          <province name="British Columbia" code="BC" />
          <province name="Manitoba" code="MB" />
          <province name="New Brunswick" code="NB" />
          <province name="Newfoundland and Labrador" code="NL" />
          <province name="Northwest Territories" code="NT" />
          <province name="Nova Scotia" code="NS" />
          <province name="Nunavut" code="NU" />
          <province name="Ontario" code="ON" />
          <province name="Prince Edward Island" code="PE" />
          <province name="Quebec" code="QC" />
          <province name="Saskatchewan" code="SK" />
          <province name="Yukon" code="YT" />
        </provinces>
      </region>
    </regionalProvinces>

  </merchello>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-6.0.0.0" newVersion="6.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Mvc" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.0.0.0" newVersion="4.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.WebPages" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-2.0.0.0" newVersion="2.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Helpers" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-2.0.0.0" newVersion="2.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.WebPages.Razor" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-2.0.0.0" newVersion="2.0.0.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>