@inherits Umbraco.Web.Mvc.UmbracoTemplatePage
<section class="section section--themed section--header section--content-center-bottom">
    <div class="section__hero-content">
        <h1 class="no-air">@Model.Content.GetPropertyValue("PageTitle")</h1>
    </div>
</section>