<div class="merchello-controls">
        
        <table class="table table-striped merchello-striped-table settings-table shipping-table">
            <thead>
                <th><localize key="merchelloGatewayProvider_providerName" /></th>
                <th colspan="2"><localize key="merchelloNotificationsEdit_description" /></th>
            </thead>
            <tbody>
                <tr data-ng-repeat="gatewayProvider in providerList">
                    <td>{{gatewayProvider.name}}</td>
                    <td>{{gatewayProvider.description}}</td>
                    <td class="edit">
                        <div class="btn-group">
                            <a data-ng-click="activate({provider: gatewayProvider})" data-ng-hide="gatewayProvider.activated" class="btn btn-default btn-xs btn-mini"><localize key="merchelloGatewayProvider_activate"/></a>
                        <a data-ng-click="deactivate({provider: gatewayProvider})" data-ng-show="gatewayProvider.activated" class="btn btn-warning btn-xs btn-mini"><localize key="merchelloGatewayProvider_deactivate" /></a>
                        <a data-ng-click="configure({provider: gatewayProvider})" data-ng-show="gatewayProvider.displayEditor()" class="btn btn-default btn-xs btn-mini"><i class="icon-edit"></i></a>
                        </div>
                    </td>
                    
                </tr>
            </tbody>
        </table>

</div>
