<div ng-controller="Merchello.Backoffice.CustomerListController" ng-show="loaded">
    <umb-panel>
        <umb-header>
            <div class="span7">
                <div class="umb-headline-editor-wrapper">
                    <h1><localize key="merchelloCustomers_customers" /></h1>
                </div>
            </div>
            <div class="span5">

            </div>
            <merchello-tabs tabs="tabs"></merchello-tabs>
        </umb-header>
        <merchello-panel>
            <div class="merchello-pane">

                <merchello-list-view builder="customerDisplayBuilder" load="load" get-column-value="getColumnValue" entity-type="entityType">

            </div>
            <div class="pager well" data-ng-show="preValuesLoaded && customers.length == 0 && collectionKey===''">
                <localize key="merchelloCustomers_noCustomers" />
            </div>
            <div class="pager well" data-ng-show="preValuesLoaded && customers.length == 0 && collectionKey!==''">
                <localize key="merchelloCustomers_emptyCustomerCollection" />
            </div>
        </merchello-panel>
    </umb-panel>
</div>
