<div ng-controller="Merchello.EntityCollections.Dialogs.CreateStaticCollectionController" data-ng-show="loaded">

    <div class="umb-dialog-body with-footer">
        <div class="umb-pane">
            <form name="collectionForm" id="collectionForm">
                <div class="form-group control-group row-fluid">
                    <label for="name"><localize key="general_name" />:</label>
                    <input name="name" type="text" class="span11" data-ng-model="name" required />
                    <div class="error" data-ng-show="collectionForm.name.$invalid && wasFormSubmitted">
                        <localize key="merchelloValidation_nameFieldRequired" />
                    </div>
                </div>
            </form>
        </div>
    </div>

    <div class="umb-dialog-footer btn-toolbar umb-btn-toolbar">

        <!-- ACTION: Cancel -->
        <a href data-ng-click="nav.hideNavigation()" class="btn btn-link"><localize key="general_cancel"></localize></a>
        <!-- ACTION: Submit DialogData -->
        <button class="btn btn-success" data-ng-click="save()"><localize key="buttons_save" /></button>


    </div>

</div>
