<div class="umb-panel merchello-side-panel">

    <div class="umb-overlay umb-overlay-right">
        <div class="umb-overlay__form">

            <div class="umb-overlay-header">
                <h4 class="umb-overlay__title"><localize key="actions_update"></localize> <localize key="merchelloGeneral_quantity"></localize></h4>
            </div>
            
            <div class="umb-overlay-container form-horizontal merchello-panel-body">
                <div class="form-group row-fluid">
                    <label for="quantity"><localize key="merchelloGeneral_quantity"></localize></label>
                    <input name="quantity" type="number" data-ng-model="dialogData.lineItem.quantity" />
                </div>
            </div>

            <div class="umb-overlay-drawer">
                <div class="umb-overlay-drawer__align-right">
                    
                    <div class="umb-button">
                        <a href data-ng-click="close()" class="btn btn-link">
                            <localize key="general_cancel"></localize>
                        </a>
                    </div>

                    <div class="umb-button">
                        <button class="btn btn-success" data-ng-click="submit(dialogData)">
                            <localize key="buttons_save"></localize>
                        </button>
                    </div>

                </div>
            </div>
        </div>
    </div>
</div>

