<div class="umb-panel merchello-side-panel" ng-controller="Merchello.Common.Dialogs.DateRangeSelectionController">

    <div class="umb-overlay umb-overlay-right">
        <div class="umb-overlay__form">

            <div class="umb-overlay-header">
                <h4 class="umb-overlay__title"><localize key="merchelloGeneral_setDateRange" /></h4>
            </div>

            <div class="umb-overlay-container form-horizontal merchello-panel-body">

                <div class="form-group control-group" ng-show="showPreDeterminedDates">
                    <p><localize key="merchelloGeneral_preDeterminedDateRange">Select a pre-determined date range:</localize></p>
                    <ul style="list-style:none;margin:0;padding:0;display:inline;">
                        <li>
                            <a class="btn btn-link" ng-click="preSelectDays(7)"><localize key="merchelloGeneral_lastWeek">Last Week</localize></a>
                        </li>
                        <li>
                            <a class="btn btn-link" ng-click="preSelectMonths(1)"><localize key="merchelloGeneral_lastMonth">Last Month</localize></a>
                        </li>
                        <li>
                            <a class="btn btn-link" ng-click="preSelectMonths(12)"><localize key="merchelloGeneral_lastYear">Last Year</localize></a>
                        </li>
                    </ul>
                </div>  

                <div class="form-group control-group">
                    <p ng-show="showPreDeterminedDates"><localize key="merchelloGeneral_customDateRange">Or choose a custom date range:</localize></p>
                    <div class="input-append date datepicker" id="filterStartDate">
                        <label><localize key="merchelloGeneral_starting">Starting</localize></label>
                        <input name="datepicker" data-ng-format="dateFormat" type="text" data-ng-model="rangeStart" />
                        <span class="add-on">
                            <i data-time-icon="icon-time" data-date-icon="icon-calendar" class="icon-calendar"></i>
                        </span>
                    </div>
                </div>

                <div class="form-group control-group">
                    <div class="input-append date datepicker" id="filterEndDate">
                        <label><localize key="merchelloGeneral_ending">Ending</localize></label>
                        <input name="datepicker" data-ng-format="dateFormat" type="text" data-ng-model="rangeEnd" />
                        <span class="add-on">
                            <i data-time-icon="icon-time" data-date-icon="icon-calendar" class="icon-calendar"></i>
                        </span>
                    </div>
                </div>

            </div>

            <div class="umb-overlay-drawer">
                <div class="umb-overlay-drawer__align-right">
                    
                    <div class="umb-button">
                        <a href data-ng-click="close()" class="btn btn-link">
                            <localize key="general_cancel"></localize>
                        </a>
                    </div>

                    <div class="umb-button">
                        <button class="btn btn-success" data-ng-click="save()">
                            <localize key="buttons_save"></localize>
                        </button>
                    </div>

                </div>
            </div>
        </div>
    </div>
</div>