<div ng-controller="Merchello.EntityCollections.Dialogs.DeleteEntityCollectionController">
    <div class="umb-dialog-body with-footer">
        <div class="umb-pane">
            <div class="row-fluid" style="padding: 1em">
                <h4><localize key="merchelloDelete_deleteConfirmMessage" /> '{{dialogData.name}}'? </h4>
            </div>
        </div>
    </div>

    <div class="umb-dialog-footer btn-toolbar umb-btn-toolbar">

        <a href data-ng-click="nav.hideNavigation()" class="btn btn-link">
            <localize key="general_cancel"></localize>
        </a>

        <button class="btn btn-success" data-ng-click="confirmDelete()">
            <localize key="general_delete"></localize>
        </button>

    </div>
</div>