<div class="umb-panel merchello-side-panel" data-ng-controller="Merchello.Common.Dialogs.ListViewSettingsController" data-ng-show="loaded">
    <div class="umb-overlay umb-overlay-right">
        <div class="umb-overlay__form">

            <div class="umb-overlay-header">
                <h4 class="umb-overlay__title"><localize key="merchelloSettings_listViewSettingsTitle" /> ({{dialogData.entityType}})</h4>
                <!--<p class="umb-overlay__subtitle"></p>-->
            </div>

            <div class="umb-overlay-container form-horizontal merchello-panel-body">
                <p><localize key="merchelloSettings_listViewSettingsDescription" /></p>
                <form>
                    <label class="label-checkbox" style="display: block"><input type="checkbox" data-ng-model="dialogData.settings.stickyList"> <span><localize key="merchelloSettings_stickyListView" /></span></label>
                    <label class="label-checkbox" style="display: block"><input type="checkbox" data-ng-model="dialogData.settings.stickyCollectionList"> <span><localize key="merchelloSettings_stickyCollectionView" /></span></label>
                    <label class="label-checkbox" style="display: block" data-ng-hide="dialogData.entityType === 'Offer'"><input type="checkbox" data-ng-model="dialogData.settings.stickListingTab"> <span data-ng-bind-html="stickListTabTitle"></span></label>
                </form>
                <div id="settingsComponent"></div>
            </div>

            <div class="umb-overlay-drawer">
                <div class="umb-overlay-drawer__align-right">

                    <div class="umb-button">
                        <a href data-ng-click="close()" class="btn btn-link">
                            <localize key="general_cancel"></localize>
                        </a>
                    </div>

                    <div class="umb-button">
                        <button class="btn btn-success" data-ng-click="submit(dialogData)">
                            <localize key="buttons_save"></localize>
                        </button>
                    </div>

                </div>

            </div>
        </div>
    </div>
</div>




