<div ng-controller="Merchello.Marketing.Dialogs.NewOfferProviderSelectionController" data-ng-show="loaded">

    <div class="umb-dialog-body with-footer">
        <div class="umb-pane">
            <div class="merchello-list-view">

            </div>
            <table class="table settings-table col-xs-11 span11">
                <thead>
                    <tr>
                        <th colspan="3"><localize key="merchelloMarketing_offerProvider">Offer Provider</localize></th>
                    </tr>
                </thead>
                <tbody>
                    <tr data-ng-repeat="provider in offerProviders">
                        <td class="col-xs-1 span1"><i data-ng-class="provider.backOfficeTree.icon" data-ng-show="provider.backOfficeTree.icon !== ''"></i></td>
                        <td class="col-xs-9 span9">{{provider.backOfficeTree.title}}</td>
                        <td class="col-xs-2 span2 text-right"><button type="button" class="btn btn-primary" data-ng-click="setSelection(provider)"><localize key="merchelloButtons_select" /></button> </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>


    <div class="umb-dialog-footer btn-toolbar umb-btn-toolbar">

        <a href data-ng-click="nav.hideNavigation()" class="btn btn-link"><localize key="general_cancel"></localize></a>

    </div>

</div>
