<div class="umb-panel merchello-side-panel" ng-controller="Merchello.GatewayProviders.Dialogs.NotificationsProviderSettingsSmtpController">
    <div class="umb-overlay umb-overlay-right">
        <form class="umb-overlay__form" name="editTemplateForm">

            <div class="umb-overlay-header">
                <h4 class="umb-overlay__title"><localize key="general_edit" /> <b>{{dialogData.provider.name}}</b></h4>
            </div>

            <div class="umb-overlay-container form-horizontal merchello-panel-body">

                    <div class="form-group control-group">
                        <label><localize key="merchelloGatewayProvider_host" /></label>
                        <input type="text" data-ng-model="notificationProviderSettings.Host" class="form-control umb-editor"/>
                    </div>
                    <div class="form-group control-group">
                        <label>Port</label><!-- KSW: Need localization for this, not sure how to find it. -->
                        <input type="text" data-ng-model="notificationProviderSettings.Port" class="form-control umb-editor" />
                    </div>
                    <div class="form-group control-group">
                        <label><localize key="user_username" /></label>
                        <input type="text" data-ng-model="notificationProviderSettings.UserName" class="form-control umb-editor" />
                    </div>
                <div class="form-group control-group">
                    <label><localize key="user_password" /></label>
                    <input type="text" data-ng-model="notificationProviderSettings.Password" class="form-control umb-editor" />
                </div>
                <div class="form-group control-group">
                    <label class="label-checkbox">
                        <input type="checkbox" data-ng-model="notificationProviderSettings.EnableSsl"> 
                        <span><localize key="merchelloGatewayProvider_enableSSL" /></span>
                    </label>
                </div>
                <div class="form-group control-group">
                    <label class="label-checkbox">
                        <input type="checkbox" data-ng-model="dialogData.provider.encryptExtendedData">
                        <span><localize key="merchelloGatewayProvider_encryptProviderConfiguration" /></span>
                    </label>
                </div>
            </div>

            <div class="umb-overlay-drawer">
                <div class="umb-overlay-drawer__align-right">
                    
                    <div class="umb-button">
                        <a href data-ng-click="close()" class="btn btn-link">
                            <localize key="general_cancel"></localize>
                        </a>
                    </div>

                    <div class="umb-button">
                        <button class="btn btn-success" data-ng-click="submit(dialogData)">
                            <localize key="buttons_save"></localize>
                        </button>
                    </div>

                </div>
            </div>
        </form>
    </div>
</div>