<div class="umb-panel merchello-side-panel" ng-controller="Merchello.GatewayProviders.Dialogs.PaymentMethodAddEditController">
    <div class="umb-overlay umb-overlay-right">
        <form class="umb-overlay__form" name="addManualPaymentMethodForm">

            <div class="umb-overlay-header">
                <h4 class="umb-overlay__title">
                    <localize key="merchelloPaymentMethod_addEditPayment" />
                </h4>
            </div>

            <div class="umb-overlay-container form-horizontal merchello-panel-body">
                
                <div class="form-group control-group">
                    <label><localize key="general_name"/></label>
                    <input type="text" class="form-control umb-editor" data-ng-model="dialogData.name"/>
                </div>

                <div class="form-group control-group">
                    <label><localize key="merchelloNotificationsEdit_description"/></label>
                    <textarea class="form-control umb-editor" rows="5" data-ng-model="dialogData.description"></textarea>
                </div>

            </div>

            <div class="umb-overlay-drawer">
                <div class="umb-overlay-drawer__align-right">
                    
                    <div class="umb-button">
                        <a href data-ng-click="close()" class="btn btn-link">
                            <localize key="general_cancel"></localize>
                        </a>
                    </div>

                    <div class="umb-button">
                        <button class="btn btn-success" data-ng-click="submit(dialogData)">
                            <localize key="buttons_save"></localize>
                        </button>
                    </div>

                </div>
            </div>
        </form>
    </div>
</div>