<div class="umb-panel merchello-side-panel" ng-controller="Merchello.Product.Dialogs.PickStaticCollectionController">
    <div class="umb-overlay umb-overlay-right">
        <div class="umb-overlay__form">

            <div class="umb-overlay-header">
                <h4 class="umb-overlay__title">{{ pickerTitle }}</h4>
            </div>

            <div class="umb-overlay-container form-horizontal merchello-panel-body">
                <!-- Flyout when Change Prices is clicked -->
                <merch-collection-tree-picker sub-tree-id="getTreeId()" entity-type="dialogData.entityType"></merch-collection-tree-picker>
            </div>

            <div class="umb-overlay-drawer">
                <div class="umb-overlay-drawer__align-right">

                        <div class="umb-button">
                            <a href data-ng-click="close()" class="btn btn-link">
                                <localize key="general_cancel"></localize>
                            </a>
                        </div>

                    <div class="umb-button">
                        <button class="btn btn-success" data-ng-click="submit(dialogData)">
                            <localize key="buttons_save"></localize>
                        </button>
                    </div>

                </div>
            </div>
        </div>
    </div>
</div>

