<div class="umb-panel merchello-side-panel" ng-controller="Merchello.ProductOption.Dialogs.ProductOptionEditController">
    
  
    <div class="umb-overlay umb-overlay-right">
        <div class="umb-overlay__form">

            <div class="umb-overlay-header">
                <h4 class="umb-overlay__title"><localize key="merchelloProductOptions_editProductOption"/></h4>
                <div class="product-option-tabs" data-ng-show="dialogData.showTabs">
                    <merchello-tabs tabs="tabs" data-ng-if="dialogData.showTabs"></merchello-tabs>
                </div>
            </div>

            <div class="umb-overlay-container form-horizontal merchello-panel-body">

                <div data-ng-show="visiblePanel === 'newoption'">
                    <product-options-add-edit option="dialogData.option"></product-options-add-edit>
                </div>

                <div data-ng-show="visiblePanel === 'sharedoption'">
                    <product-options-associate-shared option="dialogData.option" exclude="dialogData.exclude"></product-options-associate-shared>
                </div>

            </div>

            <div class="umb-overlay-drawer">
                <div class="umb-overlay-drawer__align-right">

                    <div class="umb-button">
                        <a href data-ng-click="close()" class="btn btn-link">
                            <localize key="general_cancel"></localize>
                        </a>
                    </div>

                    <div class="umb-button">
                        <button class="btn btn-success" data-ng-click="validate()">
                            <localize key="buttons_save"></localize>
                        </button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>