<div class="umb-panel merchello-side-panel"
     ng-controller="Merchello.ProductOption.Dialogs.ProductOptionChoiceContentController">

    <div class="umb-overlay umb-overlay-right">
            <form class="umb-overlay__form" novalidate name="productAttributeContentForm" data-ng-show="preValuesLoaded" data-ng-submit="save()" val-form-manager>
                
                <div class="umb-overlay-header">
                    <h4 class="umb-overlay__title">Edit Choice ({{choiceName}}) Content</h4>
                    <div class="product-option-tabs">
                        <merchello-tabs tabs="tabs"></merchello-tabs>
                    </div>                    
                </div>

                <div class="umb-overlay-container form-horizontal merchello-panel-body">

                    <umb-property property="property" ng-repeat="property in currentTab.properties">
                        <umb-editor model="property"></umb-editor>
                    </umb-property>

                </div>

                <div class="umb-overlay-drawer">
                    <div class="umb-overlay-drawer__align-right">
                   
                        <div class="umb-button">
                            <a href data-ng-click="close()" class="btn btn-link">
                                <localize key="general_cancel"></localize>
                            </a>
                        </div>

                        <div class="umb-button">
                            <button class="btn btn-success" data-ng-click="save()">
                                <localize key="buttons_save"></localize>
                            </button>
                        </div>
                       
                    </div>
                </div>
            </form>
     
    </div>
</div>