<div class="umb-panel merchello-side-panel">
    
<div class="umb-overlay umb-overlay-right">
    <div class="umb-overlay__form">
        
        <div class="umb-overlay-header">
            <h4 class="umb-overlay__title"><localize key="merchelloProducts_regenSkus" /></h4>
        </div>

        <div class="umb-overlay-container form-horizontal merchello-panel-body">
            
            <h4><localize key="merchelloProducts_regenSkusConfirm"/> '<span data-ng-bind-html="dialogData.name"></span>'? </h4>

        </div>

        <div class="umb-overlay-drawer">
            <div class="umb-overlay-drawer__align-right">

                <div class="umb-button">
                    <a href data-ng-click="close()" class="btn btn-link">
                        <localize key="general_cancel"></localize>
                    </a>
                </div>

                <div class="umb-button">
                    <button class="btn btn-success" data-ng-click="submit()">
                        <localize key="buttons_save"></localize>
                    </button>
                </div>

            </div>
        </div>

    </div>
</div>
</div>

