<div class="umb-panel merchello-side-panel" ng-controller="Merchello.EntityCollections.Dialogs.SelectFilterProviderController" data-ng-show="loaded">
    
    <div class="umb-overlay umb-overlay-right">
        <div class="umb-overlay__form">
            <div class="umb-overlay-header">
                <h4 class="umb-overlay__title">Select {{ dialogData.entityType }} Provider</h4>
            </div>

            <div class="umb-overlay-container form-horizontal merchello-panel-body">
       
                <table class="table settings-table">
                    <tr>
                        <th colspan="2">Collection Provider</th>
                    </tr>
                    <tr data-ng-repeat="provider in dialogData.providers">
                        <td class="col-xs-9 span9">{{provider.name}}</td>
                        <td class="col-xs-2 span2 text-right"><button type="button" class="btn btn-primary" data-ng-click="setSelection(provider)"><localize key="merchelloButtons_select"/></button> </td>
                    </tr>
                </table>

            </div>

            <div class="umb-overlay-drawer">
                <div class="umb-overlay-drawer__align-right">

                    <div class="umb-button">
                        <a href data-ng-click="close()" class="btn btn-link">
                            <localize key="general_cancel"></localize>
                        </a>
                    </div>
                </div>

            </div>
        </div>
    </div>

</div>