<div class="umb-panel merchello-side-panel" ng-controller="Merchello.GatewayProviders.Dialogs.ShippingAddCountryProviderController">

    <div class="umb-overlay umb-overlay-right">
        <div class="umb-overlay__form">

            <div class="umb-overlay-header">
                <h4 class="umb-overlay__title"><localize key="merchelloShippingProvider_addProvider" /></h4>
            </div>

            <div class="umb-overlay-container form-horizontal merchello-panel-body">
                <h4>{{dialogData.selectedProvider.name}}</h4>
                <div class="form-group control-group provider-dropdown" data-ng-show="dialogData.showProvidersDropDown">
                    <label for="provider-name"><localize key="merchelloShippingProvider_selectProvider" /></label>
                    <select class="form-control umb-editor" name="availableProviders" data-ng-model="dialogData.selectedProvider" data-ng-options="p.name for p in dialogData.availableProviders track by p.key"></select>
                </div>
                <div class="form-group control-group">
                    <label for="method-name"><localize key="general_name" /></label>
                    <input name="method-name" data-ng-model="dialogData.shipMethodName" class="form-control umb-editor" type="text" />
                </div>
                <div class="form-group control-group provider-dropdown">
                    <label for="provider-name"><localize key="merchelloShippingProvider_selectResource" /></label>
                    <select class="form-control umb-editor" name="availableResources" data-ng-model="dialogData.selectedResource" data-ng-options="p.name for p in dialogData.selectedProvider.availableResources track by p.serviceCode"></select>
                </div>
            </div>
            <div class="umb-overlay-drawer">
                <div class="umb-overlay-drawer__align-right">
                    
                    <div class="umb-button">
                        <a href data-ng-click="close()" class="btn btn-link">
                            <localize key="general_cancel"></localize>
                        </a>
                    </div>

                    <div class="umb-button">
                        <button class="btn btn-success" data-ng-click="submit(dialogData)">
                            <localize key="buttons_save"></localize>
                        </button>
                    </div>

                </div>
            </div>
        </div>
    </div>
</div>