<div ng-controller="Merchello.EntityCollections.Dialogs.SortStaticCollectionController" data-ng-show="loaded">
    <div class="umb-dialog-body with-footer">
        <div class="umb-pane">

                <div class="merchello-list-view">
                    <table class="table entity-collection-table">
                        <thead>
                        <tr>
                            <th></th>
                            <th><localize key="merchelloTableCaptions_name"/></th>
                            <th><localize key="merchelloTableCaptions_sortOrder"/></th>
                        </tr>
                        </thead>
                        <tbody data-ng-show="entityCollections.length > 0" ui-sortable="sortableCollections" data-ng-model="entityCollections">
                        <tr class="entity-collections sortable" data-ng-repeat="collection in entityCollections">
                            <td><merchello-sort-icon></merchello-sort-icon></td>
                            <td>{{ collection.name }}</td>
                            <td>{{ collection.sortOrder }}</td>
                        </tr>
                        </tbody>
                    </table>
                </div>

        </div>
    </div>

    <div class="umb-dialog-footer btn-toolbar umb-btn-toolbar">

        <!-- ACTION: Cancel -->
        <a href data-ng-click="nav.hideNavigation()" class="btn btn-link"><localize key="general_cancel"></localize></a>
        <!-- ACTION: Submit DialogData -->
        <button class="btn btn-primary" data-ng-click="save()" data-ng-show="entityCollections.length > 0"><localize key="buttons_save" /></button>

    </div>
</div>