<div class="merchello-list-view umb-listview">
    <h4 data-ng-bind-html="title"></h4>

    <table class="table table-striped">
        <thead>
        <tr>
            <th>Item</th>
            <th>Sku</th>
            <th>Quantity</th>
            <th>Price</th>
            <th>Sub Total</th>
        </tr>
        </thead>
        <tbody data-ng-show="items.length === 0">
            <tr>
                <td colspan="5">Contains no items</td>
            </tr>
        </tbody>
        <tbody data-ng-show="items.length > 0">
            <tr data-ng-repeat="item in items">
                <td>{{item.name}}</td>
                <td>{{item.sku}}</td>
                <td>{{item.quantity}}</td>
                <td>{{item.price  | currency : settings.currencySymbol }}</td>
                <td>{{item.price * item.quantity  | currency : settings.currencySymbol}}</td>
            </tr>
            <tr>
                <td colspan="3"></td>
                <td><localize key="merchelloGeneral_total" /></td>
                <td>{{ getTotal() | currency : settings.currencySymbol }}</td>
            </tr>
        </tbody>
    </table>
</div>