@model Merchello.FastTrack.Models.FastTrackCheckoutAddressModel
@using System.Web.Mvc.Html

<div class="panel panel-default">
    <div class="panel-heading">
        <h4>Shipping Address <a href="#"><span class="glyphicon glyphicon-edit pull-right"></span></a></h4>
    </div>
    <div class="panel-body">
        @Html.Partial("_Address", Model)
    </div>
</div>