@inherits Umbraco.Web.Mvc.UmbracoViewPage<Merchello.FastTrack.Models.Membership.ForgotPasswordModel>
@using System.Web.Mvc.Html
@using Merchello.FastTrack.Controllers.Membership
@using Merchello.FastTrack.Ui
@using Umbraco.Web

<div class="panel panel-default">
    <div class="panel-heading"><strong>Change Password</strong></div>
    <div class="panel-body">
        @using (Html.BeginUmbracoForm<CustomerMembershipController>("ForgotPassword", new { area = "FastTrack" }))
        {
            @Html.AntiForgeryToken()
            <div class="form-group">
                <label for="Username">Email</label>
                @Html.TextBoxFor(x => x.Username, new { @placeholder = "Your email address", @class = "form-control" })
                @Html.ValidationMessageFor(x => x.Username)
            </div>
            <div class="row">
                <div class="col-md-12 form-group">
                    <input type="submit" value="Send New Password" class="btn btn-default pull-right" />
                </div>
            </div>
        }
    </div>
</div>
