<div class="umb-panel merchello-side-panel" data-ng-controller="Merchello.Plugin.Payment.SagePayPaymentProviderController">

    <div class="umb-modalcolumn-header">
        <h4><localize key="general_edit" /> <b>{{dialogData.provider.name}}</b></h4>
    </div>

    <div class="umb-panel-body with-header with-footer">       
        
        <div class="control-group row-fluid">
            <div class="input-prepend col-xs-12 span12">
                <label for="vendor-name">Vendor Name</label>
                <input name="vendor-name" class="col-xs-8 span12" type="text" data-ng-model="providerSettings.VendorName" placeholder="Account username">
            </div>
        </div>

        <div class="control-group row-fluid">
            <div class="col-xs-12 span12">
                <label for="encryption-password">Encryption Password</label>
                <input name="encryption-password" class="col-xs-8 span12" type="text" data-ng-model="providerSettings.EncryptionPassword" placeholder="Provided by SagePay">
            </div>
        </div>
        
        <!--<div class="control-group row-fluid">
            <div class="col-xs-12 span12">
                <label for="success-callback-url">Success Callback Url</label>
                <input name="success-callback-url" class="col-xs-8 span12" type="text" data-ng-model="providerSettings.SuccessCallbackUrl" placeholder="Full URL of page or route to handle a success payment notification from Sagepay">
            </div>
        </div>
        
        <div class="control-group row-fluid">
            <div class="col-xs-12 span12">
                <label for="failure-callback-url">Failure Callback Url</label>
                <input name="failure-callback-url" class="col-xs-8 span12" type="text" data-ng-model="providerSettings.FailureCallbackUrl" placeholder="Full URL of page or route to handle a failure payment notification from Sagepay">
            </div>
        </div>-->
        
        <div class="control-group row-fluid">
            <p>Payment receipt page.  Uses %INVOICE% token for invoice key</p>
            <div class="col-xs-12 span12">
                <label for="return-url">Return Url</label>
                <input name="return-url" class="col-xs-8 span12" type="text" data-ng-model="providerSettings.ReturnUrl" placeholder="/receipt?inv=%INVOICE%">
            </div>
        </div>
        
        <div class="control-group row-fluid">
            <p>URL if the customer aborts payment process</p>
            <div class="col-xs-12 span12">
                <label for="return-url">Cancel Url</label>
                <input name="return-url" class="col-xs-8 span12" type="text" data-ng-model="providerSettings.CancelUrl" placeholder="/basket">
            </div>
        </div>

        <div class="control-group row-fluid">
            <div class="col-xs-12 span12">
                <label for="environment">Environment</label>
                <select name="environment" class="col-xs-12 span12" data-ng-model="providerSettings.Environment">
                    <option value="Test">Test</option>
                    <option value="Live">Live</option>
                </select>
            </div>
        </div>
        
        <div class="control-group row-fluid">
            <div class="col-xs-12 span12">
                <label for="api-version">API Version</label>
                <input name="api-version" class="col-xs-8 span12" type="text" data-ng-model="providerSettings.ApiVersion" placeholder="3.00">
            </div>
        </div>

    </div>
    
    <div class="umb-panel-footer">
        <div class="umb-el-wrap umb-panel-buttons">
            <div class="btn-toolbar umb-btn-toolbar pull-right">

                <a href data-ng-click="close()" class="btn btn-link">
                    <localize key="general_cancel"><localize key="general_cancel" /></localize>
                </a>

                <button class="btn btn-primary"
                        data-ng-click="submit(dialogData)">
                    <localize key="buttons_save"><localize key="buttons_save" /></localize>
                </button>

            </div>
        </div>
    </div>

</div>