<div class="row-fluid">

	<div class="warning col-xs-10 span10">
		<i class="icon-alert large"></i>
		<localize key="merchelloVariant_inventoryWarning"/>
	</div>

	<div class="form-group col-xs-6 span6">
		<label for="base-inventory"><localize key="merchelloInventory_base"/>
			<small><localize key="merchelloVariant_startingInventoryWarning" /></small>
		</label>
		<input id="base-inventory" type="text" name="base-inventory" data-ng-model="allVariantInventories" class="form-control col-xs-8 span8"  />
		<a data-ng-click="applyAllVariantInventories(allVariantInventories)" class="btn btn-primary"><localize key="merchelloGeneral_apply"/></a>
	</div>

</div>


