<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <section name="merchello" type="Merchello.Core.Configuration.Outline.MerchelloSection, Merchello.Core" />
      <section name="Examine" type="Examine.Config.ExamineSettings, Examine" requirePermission="false"/>
      <section name="ExamineLuceneIndexSets" type="Examine.LuceneEngine.Config.IndexSets, Examine" requirePermission="false"/>
    </configSections>

  <appSettings>
    <add key="syntax" value="SqlServer"/>
      <!--add key="syntax" value="SqlCe"/-->
  </appSettings>
  <connectionStrings>

      <!--add name="umbracoDbDsn" connectionString="Data Source=|DataDirectory|\Merchello.sdf" 
         providerName="System.Data.SqlServerCe.4.0" /-->

    <!--add name="umbracoDbDSN" connectionString="server=jarjar;database=merchello;user id=merchello;password=merchello"
            providerName="System.Data.SqlClient" /-->

    <add name="umbracoDbDSN" connectionString="server=mordor;database=merchello;user id=merchello;password=merchello"
          providerName="System.Data.SqlClient" />

    <!--add name="umbracoDbDSN" connectionString="server=moria;database=merchello;user id=merchello;password=merchello"
           providerName="System.Data.SqlClient" /-->

  </connectionStrings>

  <Examine>
    <ExamineIndexProviders>
      <providers>
        
        <add name="MerchelloProductIndexer" type="Merchello.Examine.Providers.ProductIndexer, Merchello.Examine" 
             dataService="Merchello.Tests.IntegrationTests.TestHelpers.TestMerchelloDataService, Merchello.Tests.IntegrationTests" runAsync="false" />

      </providers>
    </ExamineIndexProviders>

    <ExamineSearchProviders defaultProvider="MerchelloProductSearcher">
      <providers>
        
        <add name="MerchelloProductSearcher" 
             type="Examine.LuceneEngine.Providers.LuceneSearcher, Examine" 
             />
        
      </providers>
    </ExamineSearchProviders>

    </Examine>
  
  
  <ExamineLuceneIndexSets>
    <IndexSet SetName="MerchelloProductIndexSet" 
              IndexPath="../../App_Data/Merchello/Product/" />
  </ExamineLuceneIndexSets>

  <merchello enableLogging="false" defaultCountryCode="US" version="0.9.3">

        <settings>
            <setting alias="DefaultApplyPaymentStrategy"  value="Merchello.Core.Strategies.Payment.PaymentApplicationStrategy, Merchello.Core" />
            <setting alias="DefaultSkuSeparator" value="-" />
        </settings>
        
        <typeFieldDefinitions>
          
        </typeFieldDefinitions>

    </merchello>

  
    
</configuration>