@inherits Umbraco.Web.Mvc.UmbracoTemplatePage
@{
	Layout = "Master.cshtml";
}

@Html.Partial("_Headline")

<div class="row">

    <div class="col-md-4" data-muitarget="checkoutaddresses">
       @Html.Action("BillingAddressForm", "DefaultCheckoutAddress", new { area = "Merchello" });
    </div>

    <div class="col-md-8">
        <h3>Order Summary</h3>
        @Html.Action("BasketSummary", "DefaultCheckoutSummary", new { area = "Merchello"})
    </div>

</div>