@inherits UmbracoViewPage<IPublishedContent>
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@Model.Name</title>
    <link rel="stylesheet" href="~/Styles/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/Styles/css/bootstrap-theme.css" />
</head>
<body>
	@Html.Partial("_Header")
<div class="container">
    @RenderBody()
</div>
    <!-- MUI dependencies -->
    <script src="~/Scripts/jquery-1.10.2.min.js"></script>
    <script src="~/Scripts/jquery.validate.min.js"></script>
    <script src="~/Scripts/jquery.unobtrusive-ajax.min.js"></script>
    <script src="~/Scripts/jquery.validate.unobtrusive.min.js"></script>
    <script src="~/Scripts/underscore.min.js"></script>
    <!-- new Merchello UI scripts -->
    <script src="~/App_Plugins/Merchello/client/mui.js"></script>
    <script src="~/App_Plugins/Merchello/client/mui.settings.js"></script>
</body>
</html>
