<div data-ng-controller="Merchello.Backoffice.ShippingProvidersController" data-ng-show="loaded">
    <umb-panel>
        <umb-header>
            <div class="span7">
                <div class="umb-headline-editor-wrapper">
                    <h1>{{selectedCatalog.name}}: Shipping Providers & Methods</h1>
                </div>
            </div>
            <div class="span5">
                <div class="btn-toolbar pull-right umb-btn-toolbar">
                    <div class="btn-group">
                        <a class="btn-primary btn" data-ng-click="changeSelectedCatalogOpen()" data-ng-show="primaryWarehouse.warehouseCatalogs.length > 1">Select Catalog</a>
                    </div>
                </div>
            </div>
            <merchello-tabs tabs="tabs"></merchello-tabs>
        </umb-header>
        <merchello-panel class="row-fluid">
            <div class="merchello-pane span9">
                <!-- Shipping Providers & Methods -->
                <div class="control-group umb-control-group">
                    <div class="merchello-section-label">
                        Shipping Countries
                        <small>A list of the catalog's shipping providers and methods, sorted by country.</small>
                        <!-- ACTION: Add Country -->
                        <a class="" data-ng-click="addCountry()"><i class="icon icon-add"></i> Add Country</a>
                    </div>
                    <div class="merchello-controls" data-ng-show="preValuesLoaded">
                        <div>

                        </div>
                    </div>
                </div>
                <div class="control-group umb-control-group">
                    <!-- Shipping Countries -->
                    <div data-ng-repeat="country in countries | orderBy: 'sortHelper'" class="merchello-shipping-country">
                        <ship-country-gateway-providers country="country" reload="loadCountries()" delete="deleteCountryDialog(country)"></ship-country-gateway-providers>
                    </div>
                </div>
            </div>
            <div class="merchello-pane secondary span3">
                <!-- Warehouse(s) -->
                <div class="well warehouse-info" data-ng-show="visible.warehouseListPanel">
                    <h3>
                        Warehouse
                        <!-- ACTION: Edit Warehouse -->
                        <a class="btn btn-default btn-action pull-right" data-ng-click="addEditWarehouseDialogOpen(primaryWarehouse)"><i class="icon-edit"></i></a>
                    </h3>
                    <merchello-address address="primaryWarehouseAddress" data-ng-show="!primaryWarehouseAddress.isEmpty()"></merchello-address>
                </div>
                <!-- Catalogs -->
                <div class="well catalog-info" data-ng-show="visible.catalogPanel">
                    <h3>
                        Current Catalog
                        <!-- ACTION: Delete Catalog -->
                        <a class="btn btn-default btn-trash pull-right" data-ng-show="!selectedCatalog.isDefault" data-ng-click="deleteWarehouseCatalogOpen()"><i class="icon-trash"></i></a>
                        <!-- ACTION: Edit Catalog -->
                        <a class="btn btn-default btn-action pull-right" data-ng-click="addEditWarehouseCatalogDialogOpen(selectedCatalog)"><i class="icon icon-edit"></i></a>
                    </h3>
                    <h4>{{selectedCatalog.name}}</h4>
                    <div>{{selectedCatalog.description}}</div><br />
                    <!-- ACTION: Add Catalog -->
                    <a class="" data-ng-click="addEditWarehouseCatalogDialogOpen()"><i class="icon icon-add"></i> Add Catalog</a>
                </div>
            </div>
        </merchello-panel>
    </umb-panel>
</div>