<div data-ng-controller="Merchello.Backoffice.TaxationProvidersController" data-ng-show="loaded" class="merchello">
    <div class="umb-panel umb-editor-wrapper">

        <div class="umb-editor-header umb-panel-header">
            <div class="umb-panel-header-content-wrapper">

                <div class="umb-panel-header-content">
                    <div class="umb-panel-header-left-side -top-position">
                        <div class="umb-panel-header-title-wrapper">
                            <div class="umb-panel-header-name">
                                <localize key="merchelloTaxation_taxation" />
                            </div>
                        </div>
                    </div>
                </div>

                <merchello-tabs tabs="tabs"></merchello-tabs>
            </div>
        </div>


        <merchello-panel>
            
            
            <div class="umb-property">
                <div class="control-group umb-control-group">
                    <div class="umb-el-wrap">

                        <label class="control-label">
                            <localize key="merchelloTaxation_taxMethods" />
                            <small><localize key="merchelloTaxation_taxMethodsHelper" /></small>
                        </label>

                        <div class="controls merchello-list-view">

                            <table class="table table-striped merchello-striped-table settings-table tax-table">
                                <tbody>
                                    <tr data-ng-repeat="country in availableCountries | orderBy: 'sortOrder'">
                                        <td>
                                            <h5 data-ng-bind="country.name"></h5>
                                        </td>
                                        <td>
                                            <select name="method-type" class="col-xs-12 span12" data-ng-model="country.provider" data-ng-options="p.name for p in taxationGatewayProviders"></select>
                                            <div data-ng-show="settings.globalTaxationApplication === 'Product' && country.provider.taxationByProductProvider" class="product-tax-method">
                                                <input type="checkbox" data-ng-click="ensureSingleProductTaxMethod(country)" class="product-taxation-checkbox" data-ng-model="country.addTaxesToProduct" /> <small><localize key="merchelloTaxation_taxIncludeInProductPrice" /></small>
                                            </div>
                                        </td>
                                        <td>
                                            <div class="input-append" data-ng-show="country.taxMethod.providerKey === 'a4ad4331-c278-4231-8607-925e0839a6cd'">
                                                <input type="number" class="col-xs-6 tax-rate" data-ng-model="country.taxMethod.percentageTaxRate" />
                                                <span class="add-on">%</span>
                                            </div>
                                        </td>
                                        <td class="col-xs-1 span1">
                                            <div data-ng-show="country.taxMethod.hasProvinces()">
                                                <merchello-edit-icon do-edit="editTaxMethodProvinces(country)"></merchello-edit-icon>
                                            </div>
                                        </td>
                                    </tr>

                                </tbody>
                            </table>

                        </div>
                    </div>
                </div>
            </div>


        </merchello-panel>
        
        <merchello-drawer>
            
            <div class="umb-editor-drawer-content__right-side">
                <div class="btn-group umb-button-group">
                    <div class="umb-button">
                        <button type="button" data-ng-click="save()" hotkey="ctrl+s" hotkey-when-hidden="true" class="btn btn-success"><localize key="buttons_save"/></button>
                    </div> 

                </div>
            </div>

        </merchello-drawer>

    </div>
</div>