<div>
    <label class="merchello-control-label">
        <localize key="merchelloShipping_info" />
        <small><localize key="merchelloShipping_setVars" /></small>
    </label>
    <div class="merchello-controls">
        <div class="row-fluid shipping-dimensions" data-ng-show="productVariant.shippable">
            <div class="form-group span6 col-xs-6">
                <label for="weight">
                    <localize key="merchelloShipping_weight" />
                    <small>{{getUnits(settings, 'weight')}}</small>
                </label>
                <div class="form-inline">
                    <input type="text" id="weight" name="weight" class="form-control col-xs-8 span8" data-ng-model="productVariant.weight" />
                </div>
            </div>
            <div class="form-group span5 col-xs-5">
                <label for="length">
                    <localize key="merchelloShipping_dimensions" />
                    <small>{{getUnits(settings, 'dimensions')}}</small>
                </label>
                <div class="form-inline">
                    <div class="input-append col-xs-3 span3"><input type="text" id="length" name="length" class="form-control col-xs-8 span8" data-ng-model="productVariant.length" /><span class="add-on">L</span></div>
                    <div class="input-append  col-xs-3 span3"><input type="text" id="width" name="width" class="form-control col-xs-8 span8" data-ng-model="productVariant.width" /><span class="add-on">W</span></div>
                    <div class="input-append  col-xs-3 span3"><input type="text" id="height" name="height" class="form-control col-xs-8 span8" data-ng-model="productVariant.height" /><span class="add-on">H</span></div>
                </div>
            </div>
        </div>

        <div class="row-fluid">
            <div class="span10 col-xs-10" data-ng-repeat="warehouse in warehouses">
                <h4><localize key="merchelloWarehouse_warehouse" />: {{warehouse.name}}</h4>
                <table class="table">
                    <tr>
                        <td colspan="3"><localize key="merchelloProductEdit_itemLocation" /></td>
                        <td colspan="2" data-ng-hide="!productVariant.trackInventory"><localize key="merchelloInventory_inventory" /></td>
                    </tr>
                    <tr>
                        <th></th>
                        <th class="name"><localize key="merchelloHeadline_catalog" /></th>
                        <th><localize key="merchelloWarehouse_location" /></th>
                        <th data-ng-hide="!productVariant.trackInventory"><localize key="merchelloWarehouse_stock" /></th>
                        <th data-ng-hide="!productVariant.trackInventory"><localize key="merchelloWarehouse_lowCount" /></th>
                    </tr>
                        <tr data-ng-repeat="catalog in warehouse.warehouseCatalogs">
                            <td class="span1 col-xs-1"><input name="incatalog" type="checkbox" data-ng-model="mapToCatalog(catalog).active" data-ng-change="toggleCatalog()"></td>
                            <td class="name">{{catalog.name}}</td>
                            <td><input type="text" class="col-xs-8 span8" data-ng-model="mapToCatalog(catalog).location" /></td>
                            <td data-ng-hide="!productVariant.trackInventory"><input type="text" class="col-xs-8 span8" data-ng-disabled="!productVariant.trackInventory" data-ng-disabled="!productVariant.trackInventory" data-ng-model="mapToCatalog(catalog).count" /></td>
                            <td data-ng-hide="!productVariant.trackInventory"><input type="text" class="col-xs-8 span8" data-ng-disabled="!productVariant.trackInventory" data-ng-model="mapToCatalog(catalog).lowCount" /></td>
                        </tr>
                    </tbody>

                </table>
            </div>

        </div>
    </div>
</div>

