@inherits Umbraco.Web.Mvc.UmbracoViewPage<IPublishedContent>
@{
    Layout = null;
}

<html>
    <head>
        <title>@Model.Name</title>
    </head>    
    <body>
        @RenderBody()
    </body>
</html>