@using Merchello.Web.Models.VirtualContent
@inherits Umbraco.Web.Mvc.UmbracoTemplatePage
@{
    Layout = null;

    var product = (IProductContent)Model.Content;
}

<p>@CurrentPage.brief</p>

<p>@product.ProductVariants.Count()</p>

@foreach (var variant in product.ProductVariants)
{
    if (variant.HasProperty("brief") && variant.HasValue("brief"))
    {
        <p>@variant.GetPropertyValue("brief")</p>
    }


}


