<div class="umb-panel merchello-side-panel" ng-controller="Merchello.Marketing.Dialogs.OfferConstraintCollectionPriceRulesController" data-ng-show="loaded">
    <div class="umb-modalcolumn-header">
        <h4>Set collection total price rules</h4>
    </div>
    <form name="priceConstraintForm" id="priceConstraintForm">
    <div class="umb-panel-body with-header with-footer">
        <!-- Flyout when Change Prices is clicked -->

            <div class="form-group row-fluid input-prepend">
                <label for="new-price">Price of matching items<small>Values should be entered as positive numbers.</small></label>
                <span class="add-on">{{currencySymbol}}</span>
                <input name="new-price" data-ng-model="price" class=" col-xs-5 span5" type="number" />
            </div>
            <div class="form-group row-fluid offer-constraint-controls">
                <comparison-operator-radio-buttons operator="operator"></comparison-operator-radio-buttons>
            </div>
    </div>

    <div class="umb-panel-footer" >
        <div class="umb-el-wrap umb-panel-buttons">
            <div class="btn-toolbar umb-btn-toolbar pull-right">
                <!-- ACTION: Cancel -->
                <a href data-ng-click="close()" class="btn btn-link"><localize key="general_cancel">Cancel</localize></a>

                <button class="btn btn-primary"
                        data-ng-click="save()">
                    <localize key="buttons_save">Save</localize>
                </button>
            </div>
        </div>
    </div>
</form>
</div>
