<div class="umb-panel merchello-side-panel" ng-controller="Merchello.Sales.Dialogs.ManageAdjustmentsController" data-ng-show="loaded">
    <div class="umb-modalcolumn-header">
        <h4><localize key="merchelloSales_manageAdjustments">Manage Adjustments</localize></h4>
    </div>
    <div class="umb-panel-body with-header with-footer">

    </div>
    <div class="umb-panel-footer" >
        <div class="umb-el-wrap umb-panel-buttons">
            <div class="btn-toolbar umb-btn-toolbar pull-right">
                <!-- ACTION: Cancel -->
                <a href data-ng-click="close()" class="btn btn-link"><localize key="general_cancel">Cancel</localize></a>
                <!-- ACTION: Save Button -->
                <button class="btn btn-primary" data-ng-click="save()">
                    <localize key="buttons_save" />
                </button>
            </div>
        </div>
    </div>
</div>