@inherits Umbraco.Web.Mvc.UmbracoViewPage<Merchello.Web.Store.Models.StorePaymentMethodModel>
@using System.Web.Mvc.Html
@using Merchello.FastTrack.Ui
@using Merchello.Web.Models.Ui
@using Merchello.Web.Store.Controllers
@using Umbraco.Web

<h3>Shipping Rate Quote</h3>
@using (Html.BeginUmbracoForm<CheckoutPaymentMethodController>("SetPaymentMethod", new { area = "Merchello" }))
{
    <div class="row">
        <div class="col-md-12 form-group">
            @Html.LabelFor(x => x.PaymentMethods)
            @Html.DropDownListFor(x => x.PaymentMethodKey, Model.PaymentMethods, new { @class = "form-control" })
        </div>
    </div>
    
    <div>
        @Html.AntiForgeryToken()
        <input type="submit" class="btn btn-default pull-right" value="Save" />
    </div>
}